<script>
  var Apo = new Object();
</script>
<?php
if(isset($_GET['option']))
$xgv=$_GET['option'];
else
$xgv="Buy";
?>
<?php $_product = $block->getProduct(); ?>

<?php
/* Subscription attributes fetching */
$blockObj = $block->getLayout()->createBlock('Magento\Customer\Block\Account\Customer');
$cuy =      $block->getLayout()->createBlock('Retail\Subscribe\Block\Rewrite\Customer\Account\Customer');
$cust_id = $cuy->getLoggedinCustomerId();
$cust_log = $blockObj->customerLoggedIn();
    ?>
    <input type="hidden" id="sub_flag" value="">
    <input type="hidden" id="cust_id" value="<?php echo $cust_id; ?>">
    <input type="hidden" id="prod_id" value="<?php echo $_product->getId(); ?>"> 
    <input type="hidden" id="cont_url" value="<?php echo $this->getUrl('subscribe/index/test') ?>"> 

    <!-- Out of stock notify me email alert for customer code starts here -->
                    <?php if($_product->isSaleable()){}else{
                      ?>
                    <div class="bss_productstockaler applied">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input-text" id="stockalert_email" name="stockalert_email" value="" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="actions-toolbar padding">
                            <div>
                                <button class="action notify primary" type="button" value="Notify">
                                    <span>Notify Me</span>
                                </button>
                            </div>
                        </div>
                    </div>
                     <?php } ?>
    <!-- Out of stock notify me email alert for customer code starts here -->

    <?php
    
    $month = array();
    $discount = array();
    $ss_plan = $_product->getResource()->getAttribute('ss_plan')->getFrontend()->getValue($_product);
        if($ss_plan == 'Yes'){
    $max_qty = $_product->getResource()->getAttribute('max_qty_for_s_s')->getFrontend()->getValue($_product);
    $min_qty = $_product->getResource()->getAttribute('min_qty_for_s_s')->getFrontend()->getValue($_product);
    $dis = $_product->getData('discount_month');
    $rty = explode(";",$dis);
    foreach($rty as $val){
      $rty1 = explode("-",$val);
      array_push($month,(int)$rty1[0]);
      array_push($discount,(int)$rty1[1]);
    }
    $discount_percentage = $discount[0];
    ?>
    <script>
    Apo.month = <?php print_r(json_encode($month)) ?>;
    Apo.discount = <?php print_r(json_encode($discount)) ?>;
    </script>
    <input type="hidden" id="discount" value=<?php echo $discount_percentage; ?>>
    <?php }
    /* Subscription attributes fetching ends here */

$gscat="239";
$xstatus=0;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$categories = $product->getCategoryIds(); 
foreach($categories as $category)
{
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
   if($cat->getId()==$gscat)
    $xstatus=1;
 }

 //echo "|".$xstatus."|";
?>

<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
           <input type="hidden" name="ptype" value="<?php echo $xgv ?>" id="ptype" />
     <?php 
     $urlInterface = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\UrlInterface');
     $curr_url = $urlInterface->getCurrentUrl(); 
     $blk = $block->getLayout()->createBlock('Retail\Jiyo\Block\Base\Url');
     $base_url = $blk->siteUrl();
     $match_url = $base_url.'healing-card.html?option=reload'; 
     $match_url2 = $base_url.'healing-card.html';  
     if($_product->getId()=="53923")
     {
     ?>

      <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Enter Amount') ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       max="45000"
                       <?php if($curr_url == $match_url ){ ?> min="500" <?php } else if($curr_url == $match_url2 ){ ?> min="1000" <?php } ?>
                       id="qty"
                       maxlength="12"
                       value=""
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
            </div>
      <?php
      }
      else
      {
      ?>
       <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                    <span class="qty-per-discount-apply" style="padding-left: 20px; font-size: 13px; color: red;"></span>
            </div>
      <?php
      }
      ?>

        <!-- subscribe radio buttons -->
    <?php
     if($ss_plan == 'Yes'){ ?>
     <input type="hidden" value="<?php echo $min_qty ?>" id="min_qty">
     <input type="hidden" value="<?php echo $max_qty ?>" id="max_qty">
     <div id="subscribe" style="padding-top: 0;">
       <div class="subscribe_save">
       <div class="subscribe-bg">
       <input name="subscribe" type="radio" value="ss">Subscribe & Save
         <span class="per_discount"><?php echo $discount_percentage; ?> %</span></div>
          <div class="subscribe-label"><span>
                You save <span class="per_discounts"><?php echo $discount_percentage; ?> %</span> on this product with Subscribe & Save.
    </span></div>
          <?php if($cust_log == 1){ ?>
<div style="display:none;" class="subscribe_period">
        <h4 class="mrg-sb">Delivery frequency: Monthly</h4>
        <h5 class="mrg-0 mrg-sb">Number of months:</h5>
        <select name="period" id="period">
        <?php
         foreach($month as $month_date){
        ?>
         <option onChange="jsfunction()" name="period" value="<?php echo $month_date; ?>"><?php echo $month_date; ?> Month</option>
        <?php
         }
        ?>
        </select>
      </div>
      <?php } ?>

             <div class="actions">
            <span id="alert_msg"></span>
          <!-- Subscribe button -->
          <button type="button" style="display:none;padding:14px 17px;"
                    title="Subscribe"
                    class="action primary"
                    id="subscribe_btn">
                <span>Subscribe Now</span>
            </button>
            </div>
            <div class="one-time-purchase">
              <input name="subscribe" type="radio" value="otp" checked>One time purchase
            </div>
          
     </div>
           <?php
     if($_product->getId()=="53923")
     {
     ?>
      <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart custom_tocart"
                    id="product-addtocart-button" onclick="return submitForm();">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
      <?php
      }
      else
      {
      ?>
      <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart custom_tocart"
                    id="product-addtocart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
      <?php
    }
    ?>

            <?php echo $block->getChildHtml('', true) ?>
        </div>

<?php } else{
  ?>
  <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart custom_tocart"
                    id="product-addtocart-button" onclick="return submitForm();">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
  <?php
}
 ?>
 
        </div>
        <?php endif; ?>

 
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": true
            }
        }
    }
</script>
<?php endif; ?>

<?php if($_product->getId()=="53923") : ?>
<script>
function submitForm()
{
  var max_limit = 45000;
  var re = /[^0-9]/g;
  var cp_val = 499;
  var counter = true;
  var amount_fields = jQuery('#qty').val(); // value of amount entered for hraling card
  var op_type = jQuery("#ptype").val(); //type of healing card
  var card_no = jQuery("#options_10_text").val();
  var pin =     jQuery("#options_11_text").val();
    if(op_type == "Buy"){ // if healing card is buy now
        if(amount_fields){ // if amount is set
           cp_val = 999;
            if(parseInt(amount_fields) > cp_val && amount_fields <= max_limit){
                if(re.test(amount_fields)){
                    jQuery('.qty #qty').after('<div for="qty" style="display:block !important;" generated="true" class="mage-error" id="qty-error">Please enter valid amount</div>');
                    jQuery('#qty-error').delay(3000).fadeOut();   
                    document.getElementById('qty').focus(); 
                    counter = false;
                }
            }else{
                jQuery('.qty #qty').after('<div for="qty" style="display:block !important;" generated="true" class="mage-error" id="qty-error">Please enter value between Rs '+(cp_val+1)+' to Rs '+max_limit+'</div>');
                jQuery('#qty-error').delay(3000).fadeOut();
                counter = false;
            }
        }else{  // if amount is not set
                jQuery('.qty #qty').after('<div for="qty" style="display:block !important;" generated="true" class="mage-error" id="qty-error">This is a required field.</div>');
                jQuery('#qty-error').delay(3000).fadeOut();
                counter = false; 
        }
        if(counter == true){
            productAddToCartForm.submit(this);
        }else{
            return false;
        }
    }else{ // if healing card is reload
        if(card_no == ""){
         jQuery("#options_10_text").after('<div for="card_no" style="display:block !important;" generated="true" class="mage-error" id="card_no-error">This is a required field.</div>');
                  jQuery('#card_no-error').delay(3000).fadeOut();
                   counter = false; 
        }else if(card_no.length < 16){
            jQuery("#options_10_text").after('<div for="card_no" style="display:block !important;" generated="true" class="mage-error" id="card_no-error">Please enter 16 digit valid card number.</div>');
            jQuery('#card_no-error').delay(3000).fadeOut();
            counter = false;
        }
        if(pin == ""){
            jQuery("#options_11_text").after('<div for="pin" style="display:block !important;" generated="true" class="mage-error" id="pin-error">This is a required field.</div>');
            jQuery('#pin-error').delay(3000).fadeOut();
            counter = false;
        }else if(pin.length < 6){
            jQuery("#options_11_text").after('<div for="pin" style="display:block !important;" generated="true" class="mage-error" id="pin-error">Please enter 6 digit valid pin.</div>');
            jQuery('#pin-error').delay(3000).fadeOut();
            counter = false;
        }
        if(amount_fields == ""){
         jQuery('.qty #qty').after('<div for="qty" style="display:block !important;" generated="true" class="mage-error" id="qty-error">This is a required field.</div>');
            jQuery('#qty-error').delay(3000).fadeOut();
             counter = false;
        }else{  
	     	if(parseInt(amount_fields) > cp_val && amount_fields <= max_limit){
	            if(re.test(amount_fields)){
	                jQuery('.qty #qty').after('<div for="qty" style="display:block !important;" generated="true" class="mage-error" id="qty-error">Please enter valid amount</div>');
	                jQuery('#qty-error').delay(3000).fadeOut();   
	                document.getElementById('qty').focus(); 
	                counter = false;
	            }
	        }else{
	                jQuery('.qty #qty').after('<div for="qty" style="display:block !important;" generated="true" class="mage-error" id="qty-error">Please enter value between Rs '+(cp_val+1)+' to Rs '+max_limit+'</div>');
	                jQuery('#qty-error').delay(3000).fadeOut();
	                counter = false;
	        }
        }    
        if(counter == true){
            productAddToCartForm.submit(this);
        }else{
            return false;
        }
    }
}
</script>

<?php endif; ?>

<?php if($_product->getId()=="53923") : ?>
<style type="text/css">
.price-final_price{
display:none !important;
}
.product-info-stock-sku{
float:left !important;
}

.wk-zcv-zipbox{
display:none !important;
}
</style>
  <?php if($xgv!="reload") : ?>
    <style type="text/css">
    label[for="options_4_text"]
    {
      display: none !important;
    }

    label[for="options_5_text"]
    {
    display: none !important;
    }
    #product-options-wrapper{
    display:none;
    }
    </style>
  <?php endif; ?>

  <script>
  var op_type = document.getElementById("ptype").value;

  if(op_type!="reload")
  {
     document.getElementById('product-price-53923').style.visibility='hidden';
     document.getElementById('options_4_text').disabled=true;
         document.getElementById('options_5_text').disabled=true;
     document.getElementById('options_4_text').style.visibility='hidden';
     document.getElementById('options_5_text').style.visibility='hidden';
  }
  else if(op_type=="reload")
  {
     document.getElementById('product-price-53923').style.visibility='hidden';
  }
  </script>

<?php endif; ?>


<?php if($xstatus=="1") : ?>

<style type="text/css">

.product-social-links{
 display: none !important;
}

.product-info-main{
float :left !important;
padding-left: 20px !important;
}

#product-addtocart-button{
 margin-top:-70px !important;margin-left:100px !important;
}
</style>
<?php endif; ?>


<!--21032018*/-->
<!-- Bank wallet functionality -->

<style type="text/css">

.terms_conditions:hover {
   cursor: pointer;
}
.terms_class:hover{cursor: pointer;text-decoration: none;}

.checkoutModal {
    display: none;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    z-index: 9999;
    padding: 11px 30px;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #cccccc;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.checkoutModal ul {list-style-type: square;}

.checkoutModal ul li {
    margin: 4px;
    padding: 2px 0px;
}

.checkoutModal p, .checkoutModal ul li strong {
    padding: 0;
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 400;
}


.checkoutModal .closeCheckoutModal {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #eaeaea;
        cursor: pointer;
}

.checkoutModal .title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}
.checkoutModal .Hunter-wrap {
    position: relative;
    background: #ffffff;
    padding: 8px;
    overflow: auto;
}
#product_dynamic_content{
  margin: 15px 10px;
}
#product_dynamic_content ol, #product_dynamic_content ul{
        margin: 0px;
    padding: 0px;
}
span.notify_error {
    font-weight: 700;
    font-size: 14px;
    color: red;
    padding-left: 8px;
    }
span.notify_error1 {
    font-weight: 700;
    font-size: 14px;
    color: green;
    padding-left: 8px;
    }
</style>

<?php
//$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('wk_grid_records'); //gives table name
//Select Data from table
$sql = $connection->select()->from(
         ["tn" => $tableName]
    );
$result = $connection->fetchAll($sql);
//echo "<pre>"; print_r($result); 
?>
<?php 
    $_product = $block->getProduct();

    $product_id = $_product->getId();

    //$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
    $categoryCollection = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
    $productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');
     
    $productId = $product_id; // YOUR PRODUCT ID
    $product = $productRepository->getById($productId);
     
    $categoryIds = $product->getCategoryIds();
     
    $categories = $categoryCollection->create()
                                     ->addAttributeToSelect('*')
                                     ->addAttributeToFilter('entity_id', $categoryIds);
    
    $product_category_array_list = array();
    foreach ($categories as $category) 
    {
        $product_category_array_list[] = $category->getid();
    }

    $exclude_category_list = array("1179");

    $result = array_intersect($product_category_array_list, 
        $exclude_category_list);
    //print_r($product_category_array_list);
    //echo "<pre>"; print_r($result); exit;
?>

<?php
if(count($result)==0)
{
    $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
    $connection = $resource->getConnection();
    $tableName = $resource->getTableName('wk_grid_records'); //gives table name

    //Select Data from table
    $sql = $connection->select()->from(
             ["tn" => $tableName]
        );
    $result = $connection->fetchAll($sql);
    //echo "<pre>"; print_r($result); 

    $count=0;
    foreach ($result as $tm)
    {
      $count++;
    }    
}    
?>  


<style type="text/css">

  #subscribe {
    padding: 15px;
    border-style: groove;
    width: 56%;
    max-width: 100%;
    margin-top: 8px;
    font-weight: 700;
    border-radius: 4px 4px 0 0;
    line-height: 3em;
    border: 1px solid;
    border-color: #c1c1c1;
    box-sizing: border-box;
}
  
  .per_discount {
    color: #fff;
    min-width: 42px;
    border-radius: 10px;
    background: #1979c3;
    padding: 1px 8px 0 8px;

}


  #period {
    margin-bottom: 15px;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    -ms-appearance: menulist;
    appearance: menulist;
    padding-right: 5px;

}

#product-addtocart-button {
    margin-top: 10px;
    padding: 10px 5px 10px 5px;
}

.subscribe-label{
  line-height: 1.5;
    font-weight: 300;
    margin-left: 20px;
    position: relative;
    text-indent: 0;
    display: inline-block;
}

input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    margin-bottom: -4px;
    box-shadow:0 0 5px 0px gray inset;
}
input[type='radio']:hover {
    box-shadow:0 0 5px 0px orange inset;
}
input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
}
input[type='radio']:checked:before {
    background:orange;
}

.one-time-purchase{
  margin: 0 -15px;
    padding: 0 15px;
    background-color: #f3f3f3;
}

.subscribe-bg{
  margin: 0 -15px;
    padding: 0 15px;
    background-color: #f3f3f3;
}

#subscribe_btn {
    padding: 10px 5px;
    display: block;
    width: 62%;
    font-size: 17px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
     #subscribe {
    padding: 15px;
    border-style: groove;
    width:100%;
    max-width: 100%;
    margin-top: 8px;
    font-weight: 700;
    border-radius: 4px 4px 0 0;
    line-height: 3em;
    border: 1px solid;
    border-color: #c1c1c1;
    box-sizing: border-box;
}
          }

</style>

</script>
<script>
    function toggleCheckoutModal(count)
    { 

        jQuery(".checkoutModal").hide();
        jQuery('#checkoutModal_'+count).fadeToggle('slow', 'linear');
    }

    function closemodel(count)
    { 
        jQuery("#checkoutModal_"+count).hide();
    }

  /* Outr of stock - notify me for customer code javascript starts here */
  require(['jquery', 'jquery/ui'], function() {
    jQuery(document).on('click', '.notify', function(event) {
        var out_of_stock_url = jQuery('#out_of_stock_url').val();
        var stockalert_email = jQuery('#stockalert_email').val();
        var product_id = "<?php echo $_product->getId() ?>";
        if (stockalert_email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var res = regex.test(stockalert_email);
            if (res == true) {
                jQuery.ajax({
                    showLoader: true,
                    url: out_of_stock_url,
                    data: {
                        "stockalert_email": stockalert_email,
                        "product_id": product_id
                    },
                    type: "POST"
                }).done(function(data) {
                    if (data == 'submitted') {
                          jQuery('.bss_productstockaler').html('<span class="notify_error1">You have Successfully subscribed for stock alert</span>');
                    } else {
                          jQuery('.bss_productstockaler').html('<span class="notify_error1">You have already subscribed for stock alert</span>');
                    }
                });
            } else {
                if (jQuery('.notify_error').length === 0) {
                    jQuery('.notify').after('<span class="notify_error">Please enter valid email id.</span>');
                }
                setTimeout(function() {
                    jQuery('.notify_error').remove();
                }, 3000);
            }
        } else {
            if (jQuery('.notify_error').length === 0) {
                jQuery('.notify').after('<span class="notify_error">This is a required field.</span>');
            }
            setTimeout(function() {
                jQuery('.notify_error').remove();
            }, 3000);
        }
    });
});
  /* Outr of stock - notify me for customer code javascript ends here */
</script>

<!-- Quantity per discount code added here. -->
<script  >
require(['jquery'],function($){

    jQuery('#stockalert_email').keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
    jQuery('.notify').trigger("click");
    return false;
    }
});
    
    jQuery('#stockalert_email').keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
        jQuery('.notify').trigger("click");
        return false;
        }
    });
    
    var product_id = $('#prod_id').val();
    var product_qty = '';
    var discount_applied_msg;
    var symbol_inr = "₹";

    $('#qty').on('keyup', function(){

        // healing card product
        if(product_id=="53923"){
            return false;
        }

        // clear the message
        $('.qty-per-discount-apply').html("");

        // if qty is 0 than do not send the request
        if($(this).val()=='' || $(this).val() <= 0){
            return false;
        }
        
        $.ajax({
            showLoader: true,
            url: window.location.origin+'/subscribe/discount/calculate',
            data: {
                "product_id": $('#prod_id').val(),
                "product_qty": $(this).val(),
                "product_sku": ''
            }
        }).done(function(data) {
           
            if(data.discounterPrice !== '') {

                discount_applied_msg = new String('You save '+data.appliedDiscount+' % on this product with '+data.qty+' quantity.');

                if($('.special-price').find('.price').is(':visible')) {
                    $('.special-price').find('.price').html("₹"+data.discounterPrice);
                    $('.qty-per-discount-apply').html(discount_applied_msg);
                }
                else {
                    $('.price').html("₹"+data.discounterPrice);
                    $('.qty-per-discount-apply').html(discount_applied_msg);
                }
            }
        });

    });
});
</script>