<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile 

?>
<style>  
.tagalys-namespace .towishlist span, #tagalys-namespace .tocart span {
   color: #fff !important;
}
.product-link .cart-list .tocart span, .product-link .cart-list .towishlist span {
   color: #fff !important;
}
#tagalys-namespace.tagalys-similar-products{position: relative;}
#tagalys-namespace.tagalys-similar-products .tagalys-header{position: initial;}
#tagalys-namespace.tagalys-similar-products .tagalys-header h1{
    color: #007C9D;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px !important;
    font-weight: 600 !important;
    -webkit-text-fill-color:#007C9D;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
 #tagalys-namespace.tagalys-similar-products .tagalys-header .tagalys-prev-next-links{
    top: 50%;
    z-index: 2;
    left: -7px;
    right: -7px;
 }
#tagalys-namespace .tagalys-prev-next-links .tagalys-prev-next-link-next{
    right: 0;
    position: absolute;
}

.tagalys-namespace .tagalys-product-tile:hover .tocart{
    display: block !important;
    background-color: #1979c3 !important;
    border: 1px solid color !important;
}
.tagalys-namespace .tagalys-product-tile:hover .towishlist{
    display: block !important;
    background-color: #1979c3 !important;
    border: 1px solid color !important;
}

.tagalys-namespace .tagalys-product-tile .product-link .product-name, #tagalys-namespace .tagalys-product-tile .product-link .product-name {
    color: black !important;
}
.tagalys-namespace .tagalys-product-tile .product-link .product-sale-price, #tagalys-namespace .tagalys-product-tile .product-link .product-sale-price {
    color: black !important;
}
  .tagalys-namespace .alink:visited, .tagalys-namespace a , .tagalys-namespace a:hover {color: #fff !important;}
</style>
<script>
    require(['jquery', 'jquery/ui'], function($){ 
        <?php
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $urlInterface = $objectManager->create('\Magento\Framework\UrlInterface');
            $urlEncoder = $objectManager->create('\Magento\Framework\Url\EncoderInterface');
            $uenc = $urlEncoder->encode($urlInterface->getCurrentUrl());
        ?> 
        var tagalysUenc = '<?php echo $uenc; ?>';
        (function($) {
          $.fn.tagalys_templates = $.fn.tagalys_templates || {};
          $.fn.tagalys_templates.product_tile = function(widget, product_details) {
            var $link = $('<a>', { class: 'product-link', href: product_details.link });
            var $image = $('<span>', { class: 'product-image-container' }).append($('<img>', { class: 'product-image', src: product_details.image_url }));
            var $name = $('<span>', { class: 'product-name' }).html(product_details.name);
            var $sale_price = $('<span>', { class: 'product-sale-price' }).html(widget.format_currency(product_details.sale_price));
            if (product_details.price != null && product_details.price > product_details.sale_price) {
              var $price = $('<span>', { class: 'product-price' }).html(widget.format_currency(product_details.price));
              var $prices = $('<span>', { class: 'product-prices sale' }).append($sale_price).append($price);
            } else {
              var $prices = $('<span>', { class: 'product-prices no-sale' }).append($sale_price);
            }
            $link.append($image);
            $link.append($name);
            $link.append($prices);
            var $btns = $('<div>', { class: 'cart-list' });
            $link.append($btns)
            var $add_to_cart_link = $('<button>', { class: 'tocart tocart_span', type: 'button', title: 'Add to cart', 'data-post': JSON.stringify({ action: '/checkout/cart/add/uenc/' + tagalysUenc + '/product/' + product_details.__id, data: { product: product_details.__id + '', uenc: tagalysUenc } }) }).html($('<span>').html('Add to Cart'));
            var $add_to_wishlist_link = $('<button>', { class: 'towishlist towishlist_span', type: 'button', title: 'Add to cart', 'data-post': JSON.stringify({ action: '/wishlist/index/add/', data: { product: product_details.__id + '', uenc: tagalysUenc } }) }).html($('<span>').html('Add to Wishlist'));
            $btns.append($add_to_cart_link).append($add_to_wishlist_link);
            return $link;
          };
        }(jQuery));
    });
</script>
<?php $_product = $block->getProduct(); ?>
<?php 
$gscat="239";
$xstatus=0;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$categories = $product->getCategoryIds(); 
foreach($categories as $category)
{
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
   if($cat->getId()==$gscat)
    $xstatus=1;
 }

$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();

//echo "|".$xstatus."|";
?>

<?php if($xstatus=="1") : ?>

<?php

$tableName = $resource->getTableName('r_drugs');

$drugnx=$_product->getSku();

$sql="select distinct manufacturer,drug,drugid,COMPOSITION,doseform,SUB_DOSEFORM,roa,PACKSIZE from ".$tableName." where drugid='".$drugnx."'";
$result = $connection->fetchAll($sql);

$mf="";
$cp="";
$df="";
$dg="";
$roa="";
$ps="";
$sdf="";

if(count($result)>0)
{
   $mf=$result[0]['manufacturer'];
   $cp=$result[0]['COMPOSITION'];
   $df=$result[0]['doseform'];
   $dg=$result[0]['drug'];
   $roa=$result[0]['roa'];
   $ps=$result[0]['PACKSIZE'];
   $sdf=$result[0]['SUB_DOSEFORM'];
    $cing=$result[0]['COMPOSITION'];
    $rcing=explode("+",$cing);
}



    if(isset($rcing)) {
//print_r($rcing);
?>

<div style="padding-top:-50px !important;">
	<table class="medicine-info" border="0" style="width:100%;">
	<tr>
	<td class="left-info" width="70%">

    <h1 class="expland_in_mobile" content_selector=".medicine-info .table-info">
                Drug Ingredient Information</h1> 
    <div class="table-info">

    <div style="font-size:18px;">
        <?php
          echo $result[0]['COMPOSITION'];
        ?>
    </div>



<?php

    foreach ($rcing as $ingr) {

        $comp = explode("-", $ingr);
        $ig = $comp[0];
        $sd = $sdf;


        $sqldi = "select * from drug_information where ingredientname='" . $ig . "' and sub_doseform ='" . $sd . "'";
        $resultdi = @$connection->fetchAll($sqldi);


        $sqlal = "select * from drug_alert where ingredientname='" . $ig . "' and sub_doseform='" . $sd . "'";
        $resultal = $connection->fetchAll($sqlal);


        $sqldp = "select * from drug_precautions where ingredientname='" . $ig . "' and sub_doseform='" . $sd . "'";
        $resultdp = $connection->fetchAll($sqldp);


        $sqldc = "select * from drug_consumption where ingredientname='" . $ig . "' and sub_doseform='" . $sd . "'";
        $resultdc = $connection->fetchAll($sqldc);

        $sqlse = "select * from drug_side_effects where ingredientname='" . $ig . "' and sub_doseform='" . $sd . "'";
        $resultse = $connection->fetchAll($sqlse);

        $sqlst = "select * from drug_storage where ingredientname='" . $ig . "' and sub_doseform='" . $sd . "'";
        $resultst = $connection->fetchAll($sqlst);


        ?>

        <h4 style="font-size:23px;"><?php echo $ig; ?></h4>
        <table cellpadding="4" border="1" width="100%">
            <tbody>
            <tr style="background-color:#9c9c9c;">
                <td colspan="2" style="color:#ffffff; font-size:20px;font-weight:bold;" align="center">Information for
                    patients
                </td>
            </tr>
            <tr style="background-color:#f2f2f2;">
                <td width="30%">Drug Information</td>
                <td width="70%">
                    <?php
                    if (count($resultdi) > 0)
                        echo $resultdi[0]['Druginformation'];
                    ?>
                </td>
            </tr>
            <tr style="background-color:#9c9c9c;">
                <td colspan="2" style="color:#ffffff; font-size:20px;font-weight:bold;" align="center">Drug Alert</td>
            </tr>
            <tr style="background-color:#ffffff;">
                <td>Alert</td>
                <td><?php
                    if (count($resultal) > 0)
                        echo $resultal[0]['Blackboxwarning'];
                    ?></td>
            </tr>
            <tr style="background-color:#9c9c9c;">
                <td colspan="2" style="color:#ffffff; font-size:20px;font-weight:bold;" align="center">Before Consuming
                    the Medicine
                </td>
            </tr>
            <tr style="background-color:#f2f2f2;">
                <td>Avoid Drug</td>
                <td><?php
                    if (count($resultdp) > 0)
                        echo $resultdp[0]['AvoidDrug'];
                    ?></td>
            </tr>
            <tr style="background-color:#ffffff;">
                <td>Drug Special Care</td>
                <td><?php
                    if (count($resultdp) > 0)
                        echo $resultdp[0]['DrugSpecialCare'];
                    ?></td>
            </tr>
            <tr style="background-color:#f2f2f2;">
                <td>Drug Drug Interactions</td>
                <td><?php
                    if (count($resultdp) > 0)
                        echo $resultdp[0]['DrugDrugInteractions'];
                    ?></td>
            </tr>
            <tr style="background-color:#ffffff;">
                <td>Drug Pregnancy Interaction</td>
                <td><?php
                    if (count($resultdp) > 0)
                        echo $resultdp[0]['DrugPregnancyInteraction'];
                    ?></td>
            </tr>
            <tr style="background-color:#f2f2f2;">
                <td>Drug Breast feeding Interaction</td>
                <td><?php
                    if (count($resultdp) > 0)
                        echo $resultdp[0]['DrugBreastfeedingInteraction'];
                    ?></td>
            </tr>
            <tr style="background-color:#ffffff;">
                <td>Drug Machinery Interaction</td>
                <td><?php
                    if (count($resultdp) > 0)
                        echo $resultdp[0]['DrugMachineryInteraction'];
                    ?></td>
            </tr>
            <tr style="background-color:#f2f2f2;">
                <td>Drug More Information</td>
                <td><?php
                    if (count($resultdp) > 0)
                        echo $resultdp[0]['DrugMoreInformation'];
                    ?></td>
            </tr>
            <tr style="background-color:#9c9c9c;">
                <td colspan="2" style="color:#ffffff; font-size:20px;font-weight:bold;" align="center">How to take the
                    Medicine
                </td>
            </tr>

            <tr style="background-color:#ffffff;">
                <td>Consumption Info</td>
                <td><?php
                    if (count($resultdc) > 0)
                        echo $resultdc[0]['ConsumptionInfo'];
                    ?></td>
            </tr>
            <tr style="background-color:#f2f2f2;">
                <td>Drug quanitty</td>
                <td><?php
                    if (count($resultdc) > 0)
                        echo $resultdc[0]['Drugquanitty'];
                    ?></td>
            </tr>
            <tr style="background-color:#ffffff;">
                <td>Drug Dose</td>
                <td><?php
                    if (count($resultdc) > 0)
                        echo $resultdc[0]['DrugDose'];
                    ?></td>
            </tr>
            <tr style="background-color:#f2f2f2;">
                <td>Excess Drug Consumption</td>
                <td><?php
                    if (count($resultdc) > 0)
                        echo $resultdc[0]['ExcessDrugConsumption'];
                    ?></td>
            </tr>
            <tr style="background-color:#ffffff;">
                <td>Forgot Drug Consumption</td>
                <td><?php
                    if (count($resultdc) > 0)
                        echo $resultdc[0]['ForgotDrugConsumption'];
                    ?></td>
            </tr>
            <tr style="background-color:#f2f2f2;">
                <td>Stop Drug Consumption</td>
                <td><?php
                    if (count($resultdc) > 0)
                        echo $resultdc[0]['StopDrugConsumption'];
                    ?></td>
            </tr>
            <tr style="background-color:#9c9c9c;">
                <td colspan="2" style="color:#ffffff; font-size:20px;font-weight:bold;" align="center">Possible Side
                    Effects
                </td>
            </tr>
            <tr style="background-color:#ffffff;">
                <td>General Information</td>
                <td><?php
                    if (count($resultse) > 0)
                        echo $resultse[0]['generalinfo'];
                    ?></td>
            </tr>
            <tr style="background-color:#f2f2f2;">
                <td>Common Drug Side Effects</td>
                <td><?php
                    if (count($resultse) > 0)
                        echo $resultse[0]['CommonDrugSideEffects'];
                    ?></td>
            </tr>
            <tr style="background-color:#ffffff;">
                <td>Rare Drug Side Effects</td>
                <td><?php
                    if (count($resultse) > 0)
                        echo $resultse[0]['RareDrugSideEffects'];
                    ?></td>
            </tr>
            <tr style="background-color:#f2f2f2;">
                <td>Very Rare Drug Side Effects</td>
                <td><?php
                    if (count($resultse) > 0)
                        echo $resultse[0]['VeryRareDrugSideEffects'];
                    ?></td>
            </tr>
            <tr style="background-color:#ffffff;">
                <td>Drug Side Effects Symptoms</td>
                <td><?php
                    if (count($resultse) > 0)
                        echo $resultse[0]['DrugSideEffectsSymptoms'];
                    ?></td>
            </tr>

            <tr style="background-color:#9c9c9c;">
                <td colspan="2" style="color:#ffffff; font-size:20px;font-weight:bold;" align="center">How to Store the
                    Medicine
                </td>
            </tr>
            <tr style="background-color:#f2f2f2;">
                <td>How to Store the Medicine</td>
                <td><?php
                    if (count($resultst) > 0)
                        echo $resultst[0]['DrugStorage'];
                    ?></td>
            </tr>
            </tbody>
        </table>

        <?php
    }
}
?>

    </div>
   </td>
	 <td class="right-info" width="30%">
			   
					    <h1 class="expland_in_mobile" content_selector=".substitute_drugs">Substitute Drugs</h1>
					     <div>
					     <table border='0' width="100%" class="substitute_drugs">
					    <?php 

					    // substitute drugs
					     $sqlsubd="select * from r_drugs where COMPOSITION='".$cp."'";
					     $resultsubd = $connection->fetchAll($sqlsubd);

					   //  print_r($resultsubd);
					    
					$x=0;

					     foreach($resultsubd as $subd)
					     {

					     $sk=$subd['drugid'];
					     $pn="";
					     $productd=$objectManager->create('Magento\Catalog\Model\Product')->loadByAttribute('sku',$sk);

					     if($productd)
					     {	
					       $pn=$productd->getName();
      					       $xurlb=strtolower(str_replace("'","-",$pn));
					       $xurl=strtolower(str_replace(" ","-",$xurlb));
					       
					       $xurl .=".html";
					     }
					     else
					     {
					      $xurl="#";
					     }

					       if($x==0)
					       {
					         $xcolor="#f2f2f2;";
						 $x=1;
						 }
                                              else
					      {
					         $xcolor="#ffffff;";
						 $x=0;
					      }
					     ?>
					   
						<tr style="background-color:<?php echo $xcolor?>"><td ><a href="<?php echo $xurl?>"><?php echo $subd['drug']; ?></a></td><td><?php echo $subd['mrp']*$subd['PACKSIZE']; ?></td></tr>  					      

					    <?php
					    }
					    ?>
					     </table>
					   
			</td>
		</tr>
	</table>

<!-- manufacturer and composition strts -->
	
<!-- manufacturer  and composition ends -->

</div>
<?php
endif;
?>
<?php
 if($xstatus == 1){
 }else{ ?>
<div id="tagalys-namespace" class="tagalys-namespace"
  data-tagalys-widget="similar_products"
  data-tagalys-widget-opts-product-id="<?php echo $_product->getId(); ?>"
  data-tagalys-widget-opts-heading="More like this"
  data-tagalys-widget-opts-per-page='{"300":2,"600":3,"900":4,"1200":5}'>
</div>
<?php } ?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>
                <div class="data item title"
                     aria-labeledby="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>-title"
                     data-role="collapsible" id="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="switch"
                       href="#<?php /* @escapeNotVerified */ echo $alias; ?>"
                       id="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>-title">
                        <?php /* @escapeNotVerified */ echo $label; ?>
                    </a>
                </div>
                <div class="data item content" id="<?php /* @escapeNotVerified */ echo $alias; ?>" data-role="content">
                    <?php /* @escapeNotVerified */ echo $html; ?>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>
