<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$checkoutSession = $objectManager->get('Magento\Checkout\Model\Session');
$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
$customerRepository = $objectManager->get('\Magento\Customer\Model\ResourceModel\CustomerRepository');
//$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$cart1 = $objectManager->get('\Magento\Checkout\Model\Cart'); // retrieve quote items collection
//echo "<pre>";print_R($cart1->getQuote()->getId());echo "</pre>";
$itemsCollection = $cart1->getQuote()->getItemsCollection(); // get array of all items what can be display directly
$itemsVisible = $cart1->getQuote()->getAllVisibleItems(); // retrieve quote items array 
$items = $cart1->getQuote()->getAllItems(); 
$quote = $cart1->getQuote(); 

$customerSession = $objectManager->create('Magento\Customer\Model\Session');
if(!$customerSession->isLoggedIn()) {
    $redirect->setRedirect($this->getUrl('sociallogin/mobile/login'));
}

$customer= $customerRepository->getById($customerSession->getCustomer()->getId());

$quote->assignCustomer($customer);

$billingAddress = $customer->getDefaultBilling();

$addresses = $customer->getAddresses();
foreach ($addresses as $key => $value) {
    # code...
    //echo $value->getId();
    //print_r($value->__toArray());
    //print_r(get_class_methods(get_class($value))); 
}
$address_array = $value->__toArray();
//print_r($value->__toArray()); die;
$address = [
        'firstname'    => (isset($address_array['firstname'])?$address_array['firstname']:''),
        'lastname'     => (isset($address_array['lastname'])?$address_array['lastname']:''),
        'prefix' => '',
        'suffix' => '',
        'street' => (isset($address_array['street'])?$address_array['street']:''),
        'city' => (isset($address_array['city'])?$address_array['city']:''),
        'country_id' => (isset($address_array['country_id'])?$address_array['country_id']:''),
        'region' => (isset($address_array['region']['region'])?$address_array['region']['region']:''),
        'region_id' => (isset($address_array['region']['region_id'])?$address_array['region']['region_id']:''), // State region id
        'postcode' => (isset($address_array['postcode'])?$address_array['postcode']:''),
        'telephone' => (isset($address_array['telephone'])?$address_array['telephone']:''),
        'fax' => (isset($address_array['fax'])?$address_array['fax']:''),
        'save_in_address_book' => 1
    ];
$quote->getBillingAddress()->addData($address);
$quote->getShippingAddress()->addData($address);

 // set shipping method
$shippingAddress=$quote->getShippingAddress();
$shippingAddress->setCollectShippingRates(true)
                ->collectShippingRates()
                ->setShippingMethod('mphomedelivery'); //shipping method, please verify flat rate shipping must be enable
$quote->setPaymentMethod('cashondelivery');//payment_other_cashondelivery //payment method, please verify checkmo must be enable from admin
$quote->setInventoryProcessed(false); //decrease item stock equal to qty
$quote->save(); //quote save 

//echo "dfgdsfgdgfdf";
$cart_products=$itemsCollection->getData();
//exit;
$pharma_count=0;
foreach ($cart_products as $product) {

    //$orderTypes=getOrderTypes($product['product_id'],$objectManager);
    $productType = $objectManager->create('Apollo\AssignOrders\Observer\Updateorderinfo')->getOrderTypes($product['product_id'], $objectManager);
    //echo $product['name']."--".$productType."--";
   
    
    $orderTypes[] = $productType;
   // echo $orderTypes;
    if($productType=="Pharma")
        $pharma_count++;
    # code...
}

foreach ($orderTypes as $key => $row)
{  
    if($row=="Pharma"){
       // session_start();
       $uploadedPrescriptions = $checkoutSession->getSelectedPrescriptions();
        if(!count($uploadedPrescriptions)){
            $redirect->setRedirect($this->getUrl('checkout/cart/index'));
            $messageManager = $objectManager->get('\Magento\Framework\Message\ManagerInterface');
            $messageManager->addError( __("Please upload prescriptions") ); 
            break;
        }
       
        
    }
}

 
   

// @codingStandardsIgnoreFile
?>
<style type="text/css">
	#opc-shipping_method, #shipping{
		top:-1000px;
		position: relative;
	}
</style>
<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ echo __('Loading...'); ?>"
                 style="position: absolute;">
        </div>
    </div>
    <section>
    <div class="header-part">
        <div class="heading-top">
            <a href="javascript:window.history.back();">
                <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                Checkout
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="payment-method-sec">
           <!--  <div class="white-box white-block-radio selected-border">
                <div class="pm-radio">
                    <div class="radio custom-radio ml-auto">
                        <input type="radio" name="selectAddress" class="px" checked="">
                        <label>
                            <div class="heading-label">
                                Pay Online
                            </div>
                            ( Debit Card, Credit Card, Net Banking )
                        </label>
                    </div>
                </div>
            </div>
            <div class="white-box white-block-radio">
                <div class="pm-radio">
                    <div class="radio custom-radio ml-auto">
                        <input type="radio" name="selectAddress" class="px">
                        <label>
                            <div class="heading-label">
                                Paytm
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="white-box white-block-radio">
                <div class="pm-radio">
                    <div class="radio custom-radio ml-auto">
                        <input type="radio" name="selectAddress" class="px">
                        <label>
                            <div class="heading-label">
                                Cash on Delivery
                            </div>
                            You can pay amount to our delivery executive
                        </label>
                    </div>
                </div>
            </div>
            <div class="white-box white-block-radio">
                <div class="pm-radio">
                    <div class="radio custom-radio ml-auto">
                        <input type="radio" name="selectAddress" class="px">
                        <label>
                            <div class="heading-label">
                                Healing Card Wallet
                            </div>
                        </label>
                    </div>
                </div>
                <div class="form-inner healing-card-box">
                    <form>
                        <div class="row">
                            <div class="form-group col-sm-10 col-11">
                                <input type="text" class="form-control" placeholder="Enter Healing Card Number">
                            </div>
                            <div class="form-group col-12 card-pin-pattern">
                                <input type="" name="pin" pattern="[0-9]{4}" maxlength="4" class="form-control " placeholder="Enter your Pin">
                            </div>
                        </div>
                    </form>
                </div>
            </div> -->


            <!-- ko template: getTemplate() --><!-- /ko -->


        </div>
        
    </div></section>
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
            }
        }
    </script>
    <script> 
        window.checkoutConfig = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getCheckoutConfig()); ?>;
        if(!window.checkoutConfig.isCustomerLoggedIn){
            window.location = '<?php echo $this->getUrl('sociallogin/mobile/login'); ?>';
        }
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
        window.selectedMethodUrl = '<?php echo $this->getUrl('ordermedicine/medicine/selectedmethod') ?>';
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>");
            return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
        })
    </script>
</div>
