<div style="margin: 0px 1% 0% 1%;">
  <span style="float:left;"><a href="{{config path="web/secure/base_url"}}"><img width="62" height="62" src="{{config path="web/secure/base_url"}}/pub/media/email/logo/stores/1/email_logo.jpg" alt="Apollo Pharmacy"></a></span>
</div>
<div style="border-bottom:solid 7px orange;clear:both;padding-top:5px;margin: 0% 1% 1% 1%;"></div>
<div style="margin: 2% 1% 0% 1%">
<table>
    <tr class="email-summary">
        <td>
            <h3>Dear Customer, Please find reply for your raised query below:</h3>
        </td>
    </tr>
    <tr class="email-information">
        <td>            
            <table class="message-info"> 
                <tr>
                   <td align="center" style="text-align:left;width:40%;font-weight:bold;">Query :</td>
                   <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.message}}</td>
                </tr>               
                <tr>
                   <td align="center" style="text-align:left;width:40%;font-weight:bold;">Reply :</td>
                   <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.reply}}</td>
                </tr>
            </table>            
        </td>
    </tr>
</table>
</div>
<div style="margin: 2% 1% 0% 1%;border-bottom:1px solid lightgray;"></div>
<div style="margin: 2% 1% 0% 1%;color:#55544D;">
<p>Regards,<br/><b>Apollo Pharmacy Team</b></p>
<p><a href="{{config path="web/secure/base_url"}}contact" style="text-decoration:none;color:#117A65 !important ;font-weight:bold;">Click here</a> to Contact Our Customer care</p>
</div>
<div style="margin:0.5% 1% 0% 1%;color:#55544D;">
<div style="width:30%;float:left;">
<p style="float:left;line-height:0 !important;">Follow us:</p>
<a style="text-decoartion:none;"  href="https://www.facebook.com/ApolloPharmacy"><img src="{{config path="web/secure/base_url"}}pub/media/magestore/bannerslider/images/b/a/facebook-icon.png" height="20px" width="20px" style="float:left;"/></a>
</div>
  <div style="width:40%;float:left;">Customer Care: 1850 500 0101</div>
  <div style="width:30%;float:left;text-align:right;">Email us: customercare@apollopharmacy.in</div>
</div>
<div style="background-color:#F5F5F5;color:#C2C2C2;clear:both;margin-top:5%;">
<p style="text-align:center;padding-top:20px;">&copy;  Apollo Hospitals Enterprise Limited. All rights reserved</p>
<div style="margin: 2% 1% 0% 1%;border-bottom:1px solid lightgray;"></div>
<p style="text-align:center;margin-top:2%;padding-bottom:20px;">Please do not reply to this message.This email was sent from a<br/> notification-only address that cannot accept incoming email</p>
</div>