 



 <style>



.imgsize{
    width: 63%;
    height: 42%;
}



 </style>



 <?php $categories=$block->getCustomData();

     $i=0; ?>

  <?php while($i < $categories['count']){  ?>

	<div class="row">

    

  	<div class="col-md-4">

  		<center><a href="<?php echo $block->getBaseUrl(); ?>customprodlist/index/index/cat/<?php echo $categories['data'][$i][2]; ?>">

  			<img src="<?php echo $categories['data'][$i][3];?>" class="imgsize"><br>
        <?php echo $categories['data'][$i][0].'<br>Products ('.$categories['data'][$i][1].")"; ?></a></center>

  	</div><?php if  ($i<$categories['count']){$i++;} else{ break;} ?>

  	<div class="col-md-4">

  		<center><a href="<?php echo $block->getBaseUrl(); ?>customprodlist/index/index/cat/<?php echo $categories['data'][$i][2]; ?>">

  			<img src="<?php echo $categories['data'][$i][3];?>" class="imgsize"><br><?php echo $categories['data'][$i][0]. '<br>Products ('.$categories['data'][$i][1].")"; ?> </a></center>

  	</div> <?php if  ($i<$categories['count']){$i++;} else{ break; } ?>





  	<div class="col-md-4">

  		<center><a href="<?php echo $block->getBaseUrl(); ?>customprodlist/index/index/cat/<?php echo $categories['data'][$i][2]; ?>">

  			<img src="<?php echo $categories['data'][$i][3];?>" class="imgsize"><br><?php echo $categories['data'][$i][0].'<br>Products ('.$categories['data'][$i][1].")"; ?> </a></center>

  	</div><?php if  ($i<$categories['count']){$i++;} else { break; } ?>



  	</div>



   <?php  }  ?>

