<?php

/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<?php
  $blockObj= $this->getLayout()->createBlock('Retail\Jiyo\Block\Base\Url');
?>
<section class="jq_sort_bar sort-bar-sec">
  <div class="header-part no-margin-b">
      <div class="heading-top jq_close_sort">
          <a href="javascript:void(0);" class="padding_right10">
              <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
          </a>
          <div class="heading-text">
              <?php /* @escapeNotVerified */ echo __('Close Sort') ?>
          </div>
      </div>
  </div>
  <div class="filter-collapse-box mobile-filter-sec">
    <div class="toolbar-sorter sorter">

      <div class="white-box">
        <div class="sort-sec">
          <div class="">
            <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
            <?php
                if($_order == 'Arrival'){
                  $_key = "created_at";
                  $_order = "New Arrival";
                }
                if($_order == 'Rating'){
                  $_key = "rating_summary";
                }
              if (strpos($blockObj->currentUrl(), 'customprodlist') !== false) {
               if($_order == 'New Coupon'){
                $_key = "new_coupon";
               }

               if($_order == 'Old Coupon'){
                $_key = "old_coupon";
               }

               if($_order == 'Most Used Coupon'){
                $_key = "most_used_coupon";
               }

               if($_order == 'Discount Percent'){
                $_key = "discount_percent";
               }

               if($_order == 'Expiring Coupon'){
                $_key = "expiring_coupon";
               }

              if($_key=='price')continue;
              if($_key=='name')continue;
              if($_key=='rating_summary')continue;
              if($_key=='created_at')continue;
              } else {
                if($_order == 'New Coupon')continue; 
                if($_order == 'Old Coupon')continue; 
                if($_order == 'Most Used Coupon')continue; 
                if($_order == 'Discount Percent') continue;
                if($_order == 'Expiring Coupon') continue; 
              }
            ?>

            <?php if($_key == "name" && strpos($blockObj->currentUrl(), 'customprodlist') !== true){ ?>
            <div class="form-group">
                <div class="pm-radio">
                    <div class="radio custom-radio ml-auto">
                        <input type="radio" name="sorter" data-role="sorter" class="px" value="name&product_list_dir=asc"
                        <?php if($this->isOrderCurrent('name') && $this->getCurrentDirection() == 'asc'): ?> checked="checked"<?php endif; ?> >
                        <label <?php if($this->isOrderCurrent('name') && $this->getCurrentDirection() == 'asc'): ?> class="selected"<?php endif; ?>>
                            <?php echo $block->escapeHtml(__("Products Name A-Z")) ?>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
              <div class="pm-radio">
                  <div class="radio custom-radio ml-auto">
                      <input type="radio" name="sorter" data-role="sorter"
                      <?php if($this->isOrderCurrent('name') && $this->getCurrentDirection() == 'desc'): ?> checked="checked"<?php endif; ?> value="name&product_list_dir=desc" class="px">
                      <label <?php if($this->isOrderCurrent('name') && $this->getCurrentDirection() == 'desc'): ?> class="selected"<?php endif; ?> >
                          <?php echo $block->escapeHtml(__("Products Name Z-A")) ?>
                      </label>
                  </div>
              </div>
            </div>
            <?php } elseif($_key == "price" && strpos($blockObj->currentUrl(), 'customprodlist') !== true){ ?>
            <div class="form-group">
                <div class="pm-radio">
                    <div class="radio custom-radio ml-auto">
                        <input type="radio" name="sorter" data-role="sorter" class="px" value='price&product_list_dir=asc' <?php if($this->isOrderCurrent('price') && $this->getCurrentDirection() == 'asc'): ?> checked="checked"<?php endif; ?>>
                        <label <?php if($this->isOrderCurrent('price') && $this->getCurrentDirection() == 'asc'): ?> class="selected"<?php endif; ?> >
                            <?php echo $block->escapeHtml(__("Price Low - High")) ?>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="pm-radio">
                    <div class="radio custom-radio ml-auto">
                        <input type="radio" name="sorter" data-role="sorter" class="px" value='price&product_list_dir=desc' <?php if($this->isOrderCurrent('price') && $this->getCurrentDirection() == 'desc'): ?> checked="checked"<?php endif; ?> >
                        <label <?php if($this->isOrderCurrent('price') && $this->getCurrentDirection() == 'desc'): ?> class="selected"<?php endif; ?>>
                            <?php echo $block->escapeHtml(__("Price High-Low")) ?>
                        </label>
                    </div>
                </div>
            </div>
            <?php } else { ?>


              <div class="form-group">
                  <div class="pm-radio">
                      <div class="radio custom-radio ml-auto">
                          <input type="radio" name="sorter" data-role="sorter" class="px"
                          value="<?php echo $_key ?>"<?php if($this->isOrderCurrent($_key)): ?> checked="checked"<?php endif; ?>>
                          <label <?php if($this->isOrderCurrent($_key)): ?> class="selected"<?php endif; ?> >
                              <?php echo $_order ?>
                          </label>
                      </div>
                  </div>
              </div>
              <?php } ?>
          <?php endforeach; ?>          
          </div>
    </div>
  </div>
</section>