<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer\Actions\Remove */
?>
<a href="#" 
	title="<?php echo $block->escapeHtml(__('Remove item')); ?>"
   class="action action-delete delete-icon"
   data-post='<?php /* @escapeNotVerified */ echo $block->getDeletePostJson(); ?>'>
   <img width="12" src="<?php echo $this->getViewFileUrl('images/new-images/delete.png'); ?>" />
    Delete
 </a>