<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile 

?>
<style>  
/*.tagalys-namespace .towishlist span, #tagalys-namespace .tocart span {
   color: #fff !important;
}
.product-link .cart-list .tocart span, .product-link .cart-list .towishlist span {
   color: #fff !important;
}
#tagalys-namespace.tagalys-similar-products{position: relative;}
#tagalys-namespace.tagalys-similar-products .tagalys-header{position: initial;}
#tagalys-namespace.tagalys-similar-products .tagalys-header h1{
  color: #007C9D;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px !important;
  font-weight: 600 !important;
  -webkit-text-fill-color:#007C9D;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#tagalys-namespace.tagalys-similar-products .tagalys-header .tagalys-prev-next-links{
  top: 50%;
  z-index: 2;
  left: -7px;
  right: -7px;
}
#tagalys-namespace .tagalys-prev-next-links .tagalys-prev-next-link-next{
  right: 0;
  position: absolute;
}
.tagalys-namespace .tagalys-product-tile:hover .tocart{
  display: block !important;
  background-color: #1979c3 !important;
  border: 1px solid color !important;
}
.tagalys-namespace .tagalys-product-tile:hover .towishlist{
  display: block !important;
  background-color: #1979c3 !important;
  border: 1px solid color !important;
}
.tagalys-namespace .tagalys-product-tile .product-link .product-name, #tagalys-namespace .tagalys-product-tile .product-link .product-name {
  color: black !important;
}
.tagalys-namespace .tagalys-product-tile .product-link .product-sale-price, #tagalys-namespace .tagalys-product-tile .product-link .product-sale-price {
  color: black !important;
}
.tagalys-namespace .alink:visited, .tagalys-namespace a , .tagalys-namespace a:hover {color: #fff !important;}*/

.tagalys-namespace.people-also-link-sec.tagalys-similar-products, 
.tagalys-namespace.people-also-link-sec .tagalys-similar-products, 
#tagalys-namespace.people-also-link-sec.tagalys-similar-products, 
#tagalys-namespace.people-also-link-sec .tagalys-similar-products {
  background: transparent !important;
}
.people-also-link-sec .tagalys-header h1 {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 16px;
  text-align: left;
  margin: 0;
}
.tagalys-prev-next-links  {
  display: none;
}
.people-also-link-sec .product-image {
  max-width: 80px;
}
.people-also-link-sec .product-link {
  background: #fff;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 12px;
  border: none;
}
.tagalys-namespace .tagalys-product-tile .product-link, 
#tagalys-namespace .tagalys-product-tile .product-link {
  background: #fff;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 12px;
  border: none; 
  height: 184px;
}
.tagalys-namespace .tagalys-product-tile .product-link .product-image-container img.product-image, 
#tagalys-namespace .tagalys-product-tile .product-link .product-image-container img.product-image {
  max-width: 100px;
  margin: 0 auto;
}
.tagalys-namespace .tagalys-product-tile .product-link .product-name, 
#tagalys-namespace .tagalys-product-tile .product-link .product-name {
  font-family: 'Nunito', sans-serif;
}
.tagalys-namespace .tagalys-product-tile .product-link .product-image-container, 
#tagalys-namespace .tagalys-product-tile .product-link .product-image-container {
  position: relative;
  height: 117px;
}
.tagalys-prev-next-links {
  display: none !important;
}
.tagalys-namespace h1, #tagalys-namespace h1 {
  margin-bottom: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}
.tagalys-header {
  padding: 0 !important;
}
.tagalys-namespace .tagalys-managed-widths,
#tagalys-namespace .tagalys-managed-widths {
  padding: 0 0 0 15px;
}
.tagalys-namespace .tagalys-managed-widths .tagalys-product-tile,
#tagalys-namespace .tagalys-managed-widths .tagalys-product-tile {
  padding: 10px 5px;
}
.tagalys-namespace .cart-list button.tocart {
  font-size: 12px !important;
  background: #00777f !important;
  border: 0 !important;
  font-weight: bold !important;
  padding: 5px 20px !important;
  color: #fff !important;
  border-radius: 3px !important;
}
.tagalys-namespace .cart-list button.tocart span {
  color: #fff !important; 
}
.tagalys-namespace .cart-list button.towishlist {    
  background-size: 100% !important;
  width: 15px !important;
  height: 15px !important;
  margin-left: 10px !important;
  text-indent: -99999px !important;
  margin-top: 5px !important;
}
.tagalys-namespace .cart-list button.towishlist span {
  text-indent: -99999px !important;
}
</style>
<script>
require(['jquery', 'jquery/ui'], function($){ 
  <?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $urlInterface = $objectManager->create('\Magento\Framework\UrlInterface');
    $urlEncoder = $objectManager->create('\Magento\Framework\Url\EncoderInterface');
    $uenc = $urlEncoder->encode($urlInterface->getCurrentUrl());
  ?> 
  var tagalysUenc = '<?php echo $uenc; ?>';
  (function($) {
    $.fn.tagalys_templates = $.fn.tagalys_templates || {};
    $.fn.tagalys_templates.product_tile = function(widget, product_details) {
      var $link = $('<a>', { class: 'product-link', href: product_details.link });
      var $image = $('<span>', { class: 'product-image-container' }).append($('<img>', { class: 'product-image', src: product_details.image_url }));
      var $name = $('<span>', { class: 'product-name' }).html(product_details.name);
      var $sale_price = $('<span>', { class: 'product-sale-price' }).html(widget.format_currency(product_details.sale_price));
      if (product_details.price != null && product_details.price > product_details.sale_price) {
        var $price = $('<span>', { class: 'product-price' }).html(widget.format_currency(product_details.price));
        var $prices = $('<span>', { class: 'product-prices sale' }).append($sale_price).append($price);
      } else {
        var $prices = $('<span>', { class: 'product-prices no-sale' }).append($sale_price);
      }
      $link.append($image);
      $link.append($name);
      $link.append($prices);
      var $btns = $('<div>', { class: 'cart-list' });
      $link.append($btns)
      var $add_to_cart_link = $('<button>', { class: 'tocart tocart_span', type: 'button', title: 'Add to cart', 'data-post': JSON.stringify({ action: '/checkout/cart/add/uenc/' + tagalysUenc + '/product/' + product_details.__id, data: { product: product_details.__id + '', uenc: tagalysUenc } }) }).html($('<span>').html('Add to Cart'));
      var $add_to_wishlist_link = $('<button>', { class: 'towishlist towishlist_span', type: 'button', title: 'Add to cart', 'data-post': JSON.stringify({ action: '/wishlist/index/add/', data: { product: product_details.__id + '', uenc: tagalysUenc } }) }).html($('<span>').html('Add to Wishlist'));
      $btns.append($add_to_cart_link).append($add_to_wishlist_link);
      return $link;
    };
  }(jQuery));
});
</script>
<?php 
  $_product = $block->getProduct();
  /*echo "<pre>";
  print_r(get_class_methods($_product));die;*/
  $gscat="239";
  $xstatus=0;
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
  $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
  $categories = $product->getCategoryIds(); 
  
  foreach($categories as $category) {
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    if($cat->getId()==$gscat)
    $xstatus=1;
  }

  $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
  $connection = $resource->getConnection();
  /*product collection*/
  $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
  $productPrice = $_product->getPrice();
  $productSpecialPrice = $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount();
  $save = $productPrice-$productSpecialPrice;
  $formattedPrice = $priceHelper->currency($save, true, false);
  $offer = round((($productPrice-$productSpecialPrice)/$productPrice)*100);
  $discountpercent = 0;
  if(isset($productSpecialPrice) && !empty($productSpecialPrice)){
    $discount = $productPrice - $productSpecialPrice;
    $discountpercent = round(($discount/$productPrice) * 100);
  }

  /*get product images*/
  $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId()); 
  $helperImport = $objectManager->get('\Magento\Catalog\Helper\Image');       
  $images = $product->getMediaGalleryImages();

  $block = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\View');

  $tableName = $resource->getTableName('r_drugs');
  $drugnx=$_product->getSku();
  $sql="select distinct manufacturer,drug,drugid,COMPOSITION,doseform,SUB_DOSEFORM,roa,PACKSIZE from ".$tableName." where drugid='".$drugnx."'";
  $result = $connection->fetchAll($sql);
  $mf = $cp = $df = $dg = $roa = $ps = $sdf = "";
  if(count($result)>0) {
    $mf = $result[0]['manufacturer'];
    $cp = $result[0]['COMPOSITION'];
    $df = $result[0]['doseform'];
    $dg = $result[0]['drug'];
    $roa = $result[0]['roa'];
    $ps = $result[0]['PACKSIZE'];
    $sdf = $result[0]['SUB_DOSEFORM'];
    $cing = $result[0]['COMPOSITION'];
    $rcing = explode("+",$cing);
  }
?>
<section class="rows-sec padding_bottom20">
  <div class="container-fluid">
      <div class="rows">
        <div class="white-box product-dtl-box">
            <?php if($xstatus=="1") { ?> <div class="pd-prescription-tab"><span>Prescription Required</span></div> <?php } ?>
            <div class="product-img margin_top30">
              <div class="product-img-slider flexslider thumbnail-tab">
                <ul class="slides">
                  <?php foreach($images as $child) { ?>
                    <li>
                      <?php if (@getimagesize($child->getUrl())) { ?>
                        <img src="<?php echo $child->getUrl(); ?>"/>
                      <?php }  else { ?>
                        <img src="<?php echo $this->getViewFileUrl('images/placeholder_1.jpg'); ?>" />
                      <?php } ?>
                    </li>
                  <?php } ?>
                </ul>
              </div>
              <div class="pd-action-btn">
                <!-- wishlist link -->
                <a href="#" data-post='<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($product) ?>' class="use-ajax action action-towishlist"><img src="<?php echo $this->getViewFileUrl('images/like_4_copy_3.png'); ?>" /></a>
                <?php
                  /*Socialshare block*/
                  echo $this->getLayout()
                  ->createBlock('Magebuzz\Socialshare\Block\Socialshare')
                  ->setTemplate('Magebuzz_Socialshare::socialshare-mobile.phtml')
                  ->toHtml();
                ?>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <div class="pd-title"><?= $_product->getName();?></div>
                <div class="pd-sku">SKU#: <?= $_product->getSku();?></div>
              </div>
              <div class="col-5 text-right">
                <div class="total-price">
                  <?php if($discountpercent && $discountpercent>0): ?>
                    <?= $priceHelper->currency($productSpecialPrice, true, false);?><br/>
                    <span class="market-price"><?= $priceHelper->currency($productPrice, true, false);?></span>
                    <span class="off-percent"><?php echo $discountpercent ."% off";?></span>
                  <?php else:?>
                    <?= $priceHelper->currency($productPrice, true, false);?>
                  <?php endif; ?>
                </div>
              </div>
            </div>
            <div class="row margin_top5">
              <div class="col-12">
                <?php if(count($result)>0) { ?>
                  <div class="pd-sku">
                    <?php if(!empty($mf)){?><strong>Manufacturer</strong> : <?=$mf?> <br/><?php } ?>
                    <?php if(!empty($cp)){?><strong>Composition</strong> : <?=$cp?><?php } ?>
                  </div>
                <?php } ?>
                <?php if($_product->isSaleable()) { ?>
                  <div class="pd-stock margin_top5">In Stock</div>
                <?php } else { ?> 
                  <div class="pd-outstock" style="text-align: left;">Out of Stock
                    <a href="javascript:void(0);" class="noti-me jq_notify_show">Notify Me</a>
                  </div>
                <?php } ?>
              </div>
            </div>
            <?php 
            /*Notify Me Block*/
            echo $this->getLayout()
            ->createBlock('Magento\Catalog\Block\Product\View')
            ->setTemplate('product/view/notify.phtml')
            ->toHtml();
            ?>
            <?php if ($_product->isSaleable()): ?>
            <div class="row margin_top10">
              <div class="col-6">
                <div class="quantity-label">&nbsp;</div>
                <!-- <button class="green-transparent-btn">Select Variant</button> -->
              </div>
              <div class="col-6">
                <div class="pull-right">
                  <div class="quantity-label">Quantity</div>
                  <div class="count-add green-count-add">
                    <span class="minus">-</span>
                    <input type="text" name="qty" readonly="readonly" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" class="count qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                    <span class="plus">+</span>
                  </div>
                </div>
              </div>
            </div>
            <?php endif; ?>
        </div>
      </div>
      <?php
        /*Set Refill Reminder*/
        echo $this->getLayout()
        ->createBlock('Magento\Catalog\Block\Product\View\Description')
        ->setTemplate('product/view/subscribe_product.phtml')
        ->toHtml();
      ?>
      <?php 
        if($xstatus=="0"){
          /*Product description block*/
          echo $this->getLayout()
          ->createBlock('Magento\Catalog\Block\Product\View\Description')
          ->setTemplate('product/view/description.phtml')
          ->toHtml();
        }
      ?>
  </div>
  <?php 
    if($xstatus == "1") {
      echo $this->getLayout()
      ->createBlock('Magento\Catalog\Block\Product\View')
      ->setTemplate('product/view/drugs_description.phtml')
      ->toHtml();
    }
  ?>
  <?php 
  /*Check Delivery Time & COD Availability*/
  echo $this->getLayout()
  ->createBlock('Webkul\ZipCodeValidator\Block\Product\ViewOnProduct')
  ->setTemplate('Webkul_ZipCodeValidator::product/viewonmobileproduct.phtml')
  ->toHtml();
  ?>
  <!--Recommended Products -->
  <?php 
    $relatedProducts = $product->getRelatedProducts();
    if (!empty($relatedProducts)) {
  ?>
  <div class="rows recommended-products-sec padding_bottom10">
    <div class="main-heading padding_lr20">Recommended Products <!-- <a href="#" class="pull-right">VIEW ALL</a> --></div>
    <div class="two-item-slider flexslider thumbnail-tab">
      <ul class="slides">
        <?php 
          foreach ($relatedProducts as $relatedProduct) {
          $_relatedProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($relatedProduct->getId());
          $relatedProductPrice = $_relatedProduct->getPrice();
          $relatedProductSpecialPrice = $_relatedProduct->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount();
          $save = $relatedProductPrice-$relatedProductSpecialPrice;
          $formattedPrice = $priceHelper->currency($save, true, false);
          $relatedDiscountPercent = 0;
          if(isset($relatedProductSpecialPrice) && !empty($relatedProductSpecialPrice)){
            $relatedDiscount = $relatedProductPrice - $relatedProductSpecialPrice;
            $relatedDiscountPercent = round(($relatedDiscount/$relatedProductPrice) * 100);
          }
        ?>
        <li>
          <div class="item">
              <div class="white-box">
                  <div class="cat-icon">
                    <?php 
                      $imageUrl = $helperImport->init($_relatedProduct, 'product_page_image_thumbnail')
                      ->setImageFile($_relatedProduct->getSmallImage()) // image,small_image,thumbnail
                      ->resize(380)
                      ->getUrl();
                      if (@getimagesize($imageUrl)) { ?>
                        <a href="<?php /* @escapeNotVerified */ echo $_relatedProduct->getProductUrl() ?>"><img src="<?php echo $imageUrl; ?>"/></a>
                      <?php }  else { ?>
                        <a href="<?php /* @escapeNotVerified */ echo $_relatedProduct->getProductUrl() ?>"><img src="<?php echo $this->getViewFileUrl('images/placeholder_1.jpg'); ?>" /></a>
                      <?php } ?>
                  </div>
                  <div class="product-name"><a href="<?php /* @escapeNotVerified */ echo $_relatedProduct->getProductUrl() ?>"><?= $_relatedProduct->getName();?></a></div>
                  <?php if($relatedDiscountPercent && $relatedDiscountPercent>0): ?>
                    <div class="product-price"><?= $priceHelper->currency($relatedProductSpecialPrice, true, false);?><span class="offer-price"><?= $priceHelper->currency($_relatedProduct->getPrice(), true, false);?></span></div>
                    <div class="save-text text-center"><?php echo 'SAVE'. $relatedDiscountPercent ."%";?></div>
                  <?php else: ?>
                  <div class="product-price"><?= $priceHelper->currency($_relatedProduct->getPrice(), true, false);?></div>
                  <?php endif; ?>
              </div>
          </div>
        </li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <?php } ?>
  <!-- Product related articles -->
  <?php 
  /*Jiyo product related articles section*/
  echo $this->getLayout()
  ->createBlock('Retail\Jiyo\Block\Home\Jiyo')
  ->setTemplate('Retail_Jiyo::jiyo_product_details.phtml')
  ->toHtml();
  ?>
  <!-- More like this -->
  <?php if($xstatus == 0) { ?>
    <div class="rows padding_top10">
      <div id="tagalys-namespace" class="tagalys-namespace people-also-link-sec"
      data-tagalys-widget="similar_products"
      data-tagalys-widget-opts-product-id="<?php echo $_product->getId(); ?>"
      data-tagalys-widget-opts-heading="People Also Like "
      data-tagalys-widget-opts-per-page='{"300":2,"600":3}'>
      </div>
    </div>
  <?php } ?>
  <?php
  /*get product sku*/
  $sku = $_product->getSku();
  $rating = $objectManager->get("Magento\Review\Model\ResourceModel\Review\CollectionFactory");
  $reviewCollection = $rating->create()
    ->addStatusFilter(\Magento\Review\Model\Review::STATUS_APPROVED)
    ->addEntityFilter(
    'product',
    $product->getId()
    )->setDateOrder();

  $reviewFactory = $objectManager->create('Magento\Review\Model\Review');
  $storeManager  = $objectManager->create('\Magento\Store\Model\StoreManagerInterface');
  $storeId = $storeManager->getStore()->getStoreId();
  $reviewFactory->getEntitySummary($product, $storeId);
  $ratingSummary = $product->getRatingSummary()->getRatingSummary();
  $reviewCount = $product->getRatingSummary()->getReviewsCount();
  ?>
  <div class="rows padding_top10 padding_lr20 product-review-sec">
    <div class="main-heading padding_bottom10">Product <?php echo isset($reviewCount)?'('.$reviewCount.') Reviews':'Review'; ?>  
      <?php if($ratingSummary){ ?>
      <div class="rating-summary">
        <div title="<?php echo (int)$ratingSummary; ?>%" class="rating-result">
          <span style="width:<?php echo (int)$ratingSummary; ?>%"><span><?php echo (int)$ratingSummary; ?>%</span></span>
        </div>
      </div>
      <?php } ?>
      <a href="javascript:void(0);" class="pull-right jq_review_show">Rate Now</a>
    </div>
    <?php if(count($reviewCollection->getData()) > 0) { ?>
    <div class="white-box product-review-box">
      <?php foreach($reviewCollection->getData() as $reviewd) { ?>
      <div class="pr-display-flex">
        <div class="pr-box-left">
          <div class="circle-img">
            <img src="<?php echo $this->getViewFileUrl('images/profile-img.png'); ?>" title="<?php echo $reviewd['nickname'];?>"/>
          </div>
        </div>
        <div class="pr-box-right">
          <p><?= nl2br($reviewd['detail']).'<br/>Review by - '.ucfirst($reviewd['nickname']).' '.date('d/m/Y',strtotime($reviewd['created_at']));; ?></p>
          <!-- <div class="rows">
            <a href="#" class="margin_right15"><img src="<?php //echo $this->getViewFileUrl('images/like_copy_3.png'); ?>" /> Like</a>
            <a href="#"><img src="<?php //echo $this->getViewFileUrl('images/chat_1_copy_3.png'); ?>" /> Comment</a>
          </div> -->
        </div>
      </div>
      <?php } ?>
    </div>
    <?php } else { ?>
      <div class="white-box product-review-box no-review-product">
        <div class="pr-display-flex">
          <p>Be the first to review this product.</p>
        </div>
      </div>
    <?php } ?>
  </div>
  <script>
    (function  () {
        require(['jquery', 'jquery/ui', 'magestore/flexslider'], function($) {
          $(window).load(function(){
            $('.two-item-slider').flexslider({
              animation: "slide",
              animationLoop: false,
              itemWidth: 210,
              itemMargin: 0,
              minItems: 2,
              controlNav: false,
              directionNav: false,
              start: function(slider){
                $('body').removeClass('loading');
              }
            });
            
            $('.product-img-slider').flexslider({
              animation: "slide",
              animationLoop: false,
              itemWidth: 210,
              itemMargin: 0,
              minItems: 1,
              maxItems: 1,
              controlNav: true,
              directionNav: false,
              start: function(slider){
                $('body').removeClass('loading');
              }
            });
          });
         /* $( function() {
            $( "#product_information").tabs();
          });*/
          $(document).ready(function () {
            $('.jq_notify_show').click(function() {
              $('.jq_notify_box').toggle();
            });

            $('.jq_review_show').click(function() {
              $('.jq_review_box').toggle();
            });

            $(".plus").on("click", function(){
              var plusQty = $(this).prev().val();
              $(this).prev().val(parseInt(plusQty)+1);
              $(".jq_update_qty").val(parseInt(plusQty)+1);
            });

            $(".minus").on("click", function(){
              var minusQty = $(this).next().val();
              if(minusQty >= 2){
                $(this).next().val(parseInt(minusQty)-1);
              }
              /*hidden input*/
              if($('.jq_update_qty').val() >=2){
                $(".jq_update_qty").val(parseInt(minusQty)-1);
              }
            });
          });
        });
    })();
  </script>
</section>