<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php $_product = $block->getProduct(); ?>

<?php 

$gscat="239";
$ystatus=0;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$categories = $product->getCategoryIds(); 
foreach($categories as $category)
{
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
   if($cat->getId()==$gscat)
    $ystatus=1;
 }

?>


<?php if($ystatus=="1") : ?>

<?php
/*
$resourcex = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connectionx = $resourcex->getConnection();
$tableNamex = $resourcex->getTableName('r_drugs');

$drugn=$_product->getSku();

$sqlx="select distinct manufacturer,drug,drugid,COMPOSITION,doseform,SUB_DOSEFORM,roa,PACKSIZE from ".$tableNamex." where drugid='".$drugn."'";
$resultx = $connectionx->fetchAll($sqlx);

$mf="";
$cp="";
$df="";
$dg="";
$roa="";
$ps="";
$sdf="";

if(count($resultx)>0)
{
   $mf=$resultx[0]['manufacturer'];
   $cp=$resultx[0]['COMPOSITION'];
   $df=$resultx[0]['doseform'];
   $dg=$resultx[0]['drug'];
   $roa=$resultx[0]['roa'];
   $ps=$resultx[0]['PACKSIZE'];
   $sdf=$resultx[0]['SUB_DOSEFORM'];

}

echo '<div class="product_additional_info" style="padding-top:-100px !important;margin-left:100px">';
echo "<table border='0' style='font-size:14px; font-weight:bold;color:#919191;'>";
echo "<tr style='background-color:#D6D6D6;'><td>Manufacturer : ".$mf."</td></tr>";
echo "<tr style='background-color:#F0F0F0;'><td>Composition : ".$cp."</td></tr>";
echo "<tr style='background-color:#D6D6D6;'><td>Dose Form : ".$df."</td></tr>";
echo "<tr style='background-color:#F0F0F0;'><td>Description : ".$dg."</td></tr>";
echo "<tr style='background-color:#D6D6D6;'><td>Route Of Administration : ".$roa."</td></tr>";
echo "<tr style='background-color:#F0F0F0;'><td>Pack : ".$ps."</td></tr>";
echo "</table>";
echo '</div>'; 
*/
?>
<?php endif;?>

<?php if($ystatus=="0") : ?>
<!--    <?php
    // code added start for offer price
    $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
    $productPrice = $_product->getPrice();
    $productSpecialPrice = $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount();
    $save = $productPrice-$productSpecialPrice;
    $formattedPrice = $priceHelper->currency($save, true, false);
    $offer = round((($productPrice-$productSpecialPrice)/$productPrice)*100);
    $discountpercent = 0;
    if(isset($productSpecialPrice) && !empty($productSpecialPrice)){
        $discount = $productPrice - $productSpecialPrice;
        $discountpercent = round(($discount/$productPrice) * 100);
    } 
    ?>

    
    <?php if($offer > 0){?>
        <div class="offer_detailss"><span class="save_prices"><?php //echo "Save $formattedPrice";?></span></div>
    <?php } ?>
    <?php if($discountpercent && $discountpercent>0): ?>
        <div class="discount_offers"><span class="percentages"><?php //echo $discountpercent ."% OFF";?></span></div>
    <?php endif; ?>
 <div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    <div data-role="loader" class="loading-mask">
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ //echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ //echo __('Loading...') ?>">
        </div>
    </div>
</div> -->
<!--Fix for jumping content. Loader must be the same size as gallery.-->
<script>
    var config = {
            "width": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
            "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                        ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
            "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
            "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height'); ?>
        },
        thumbBarHeight = 0,
        loader = document.querySelectorAll('[data-gallery-role="gallery-placeholder"] [data-role="loader"]')[0];

    if (config.navtype === 'horizontal') {
        thumbBarHeight = config.thumbheight;
    }

    loader.style.paddingBottom = ( config.height / config.width * 100) + "%";
</script>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?php /* @escapeNotVerified */ echo $block->getMagnifier(); ?>,
                "data": <?php /* @escapeNotVerified */ echo $block->getGalleryImagesJson(); ?>,
                "options": {
                    "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/nav"); ?>",
                    <?php if (($block->getVar("gallery/loop"))): ?>
                        "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/loop"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/keyboard"))): ?>
                        "keyboard": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/keyboard"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/arrows"))): ?>
                        "arrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/arrows"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/allowfullscreen"))): ?>
                        "allowfullscreen": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/allowfullscreen"); ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/caption"))): ?>
                        "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/caption"); ?>,
                    <?php endif; ?>
                    "width": "<?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>",
                    "thumbwidth": "<?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'width'); ?>",
                    <?php if ($block->getImageAttribute('product_page_image_small', 'height') || $block->getImageAttribute('product_page_image_small', 'width')): ?>
                        "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                        ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                    <?php endif; ?>
                    <?php if ($block->getImageAttribute('product_page_image_medium', 'height') || $block->getImageAttribute('product_page_image_medium', 'width')): ?>
                        "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height')
                        ?: $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                    <?php endif; ?>
                    <?php if ($block->getVar("gallery/transition/duration")): ?>
                        "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/duration"); ?>,
                    <?php endif; ?>
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/effect"); ?>",
                    <?php if (($block->getVar("gallery/navarrows"))): ?>
                        "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/navarrows"); ?>,
                    <?php endif; ?>
                    "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navdir"); ?>"
                },
                "fullscreen": {
                    "nav": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/nav"); ?>",
                    <?php if ($block->getVar("gallery/fullscreen/loop")): ?>
                        "loop": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/loop"); ?>,
                    <?php endif; ?>
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navdir"); ?>",
                    <?php if ($block->getVar("gallery/transition/navarrows")): ?>
                        "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navarrows"); ?>,
                    <?php endif; ?>
                    "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navtype"); ?>",
                    <?php if ($block->getVar("gallery/fullscreen/arrows")): ?>
                        "arrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/arrows"); ?>,
                    <?php endif; ?>
                    <?php if ($block->getVar("gallery/fullscreen/caption")): ?>
                        "showCaption": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/caption"); ?>,
                    <?php endif; ?>
                    <?php if ($block->getVar("gallery/fullscreen/transition/duration")): ?>
                        "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/duration"); ?>,
                    <?php endif; ?>
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/effect"); ?>"
                },
                "breakpoints": <?php /* @escapeNotVerified */ echo $block->getBreakpoints(); ?>
            }
        }
    }
</script>
<?php endif; ?>
