<?php $_product = $block->getProduct(); ?>
<?php if(!$_product->isSaleable()) { ?>
<div class="row margin_top10 jq_notify_box" style="display: none;">
	<div class="mail-box">
	  <div class="location-pin pd-0">
	    <div class="row mt-0 jq_notify_success">
	      <div class="col-7 no-padding-r">
	        <div>
	        	<input type="text" class="form-control mail jq_notify" id="stockalert_email" name="stockalert_email" value="" placeholder="Your Email">
	        </div>
	      </div>
	      <div class="col-5">
	        <button class="btn green-btn notify" type="button" value="Send">Send</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<style type="text/css">
span.notify_error {
	color: #e02b27;
	font-size: 1.2rem;
}
span.notify_success {
	font-size: 1.2rem;
	color: #006400;
	padding-left: 8px;
}
</style>
<script>
require(['jquery'], function() {
	jQuery(document).on('click', '.notify', function(event) {
		jQuery('.notify_error').remove();
	    var out_of_stock_url = "<?php echo $this->getUrl('outofstocknotify/index/index') ?>";
	    var stockalert_email = jQuery('#stockalert_email').val();
	    var product_id = "<?php echo $_product->getId() ?>";
	    if (stockalert_email) {
	        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	        var res = regex.test(stockalert_email);
	        if (res == true) {
	            jQuery.ajax({
	                showLoader: true,
	                url: out_of_stock_url,
	                data: {
	                    "stockalert_email": stockalert_email,
	                    "product_id": product_id
	                },
	                type: "POST"
	            }).done(function(data) {
	                if (data == 'submitted') {
	            	  	jQuery('#stockalert_email').val('');
	                  	jQuery('.jq_notify_success').after('<span class="notify_success">You have Successfully subscribed for stock alert</span>');
	                  	setTimeout(function() {
		                    jQuery('.notify_success').remove();
		                }, 3000);
	                } else {
	                    jQuery('.jq_notify_success').after('<span class="notify_error">You have already subscribed for stock alert</span>');
	                    setTimeout(function() {
		                    jQuery('.notify_error').remove();
		                }, 3000);
	                }
	            });
	        } else {
	            if (jQuery('.notify_error').length >= 0) {
	                jQuery('.jq_notify').after('<span class="notify_error">Please enter valid email id.</span>');
	            }
	            setTimeout(function() {
	                jQuery('.notify_error').remove();
	            }, 3000);
	        }
	    } else {
	        if (jQuery('.notify_error').length === 0) {
	            jQuery('.jq_notify').after('<span class="notify_error">This is a required field.</span>');
	        }
	        setTimeout(function() {
	            jQuery('.notify_error').remove();
	        }, 3000);
	    }
	});
});
</script>
<?php } ?>
