<?php 
$_product = $block->getProduct();
/* Subscription attributes fetching */
$blockObj = $block->getLayout()->createBlock('Magento\Customer\Block\Account\Customer');
$cuy =      $block->getLayout()->createBlock('Retail\Subscribe\Block\Rewrite\Customer\Account\Customer');
$cust_id = $cuy->getLoggedinCustomerId();
$cust_log = $blockObj->customerLoggedIn();
$month = array();
$discount = array();
$ss_plan = $_product->getResource()->getAttribute('ss_plan')->getFrontend()->getValue($_product);
if($ss_plan == 'Yes'){
	$max_qty = $_product->getResource()->getAttribute('max_qty_for_s_s')->getFrontend()->getValue($_product);
	$min_qty = $_product->getResource()->getAttribute('min_qty_for_s_s')->getFrontend()->getValue($_product);
	$dis = $_product->getData('discount_month');
	$rty = explode(";",$dis);
    foreach($rty as $val){
      $rty1 = explode("-",$val);
      array_push($month,(int)$rty1[0]);
      array_push($discount,(int)$rty1[1]);
    }
	$discount_percentage = $discount[0];
?>
<script>
    var Apo = new Object();
	Apo.month = <?php print_r(json_encode($month)) ?>;
	Apo.discount = <?php print_r(json_encode($discount)) ?>;
</script>
<input type="hidden" id="discount" value="<?php echo $discount_percentage; ?>">
<input type="hidden" id="sub_flag" value="">
<input type="hidden" id="cust_id" value="<?php echo $cust_id; ?>">
<input type="hidden" id="prod_id" value="<?php echo $_product->getId(); ?>"> 
<input type="hidden" id="cust_flag" value="<?php echo $cust_log; ?>">
<input type="hidden" id="cont_url" value="<?php echo $this->getUrl('subscribe/index/test') ?>">
<input type="hidden" id="login_url" value="<?php echo $this->getUrl('sociallogin/mobile/login') ?>">
<input type="hidden" value="<?php echo $min_qty ?>" id="min_qty">
<input type="hidden" value="<?php echo $max_qty ?>" id="max_qty">
<?php } ?>
<?php if($ss_plan == 'Yes'){ ?>
 <div class="rows padding_top20">
    <div class="white-box future-delivery-box">
      <div class="radio custom-radio width-auto">
        <input name="subscribe" type="radio" value="ss" class="px">
        <label>Subscribe and Save for Future Deliveries</label>
      </div>
      <div class="save-text">SAVE <span class="per_discount"><?php echo $discount_percentage; ?>%</span></div>
      <div class="before-subscribe-discount">You <span class="per_discounts">save <?php echo $discount_percentage; ?>%</span> on this product with Subscribe & Save.</div>
      <?php if($cust_log == 1){ ?>
        <div style="display:none;" class="subscribe_period subscribe-label">
          <div class="font-12">Delivery frequency: Monthly</div>
          <div class="row">
            <div class="col-7">
              <select name="period" id="period">
                <?php foreach($month as $month_date) { ?>
                    <option onChange="jsfunction()" name="period" value="<?php echo $month_date; ?>"><?php echo $month_date; ?> Month</option>
                <?php } ?>
              </select>
            </div>
            <div class="col-5">
              <div class="actions">
                <!-- Subscribe button -->
                <button type="button" title="Subscribe" class="btn green-btn" id="subscribe_btn"> <span>Subscribe Now</span></button>
              </div>
            </div>
          </div>
          <div class="sub-info-text">*Subscription will be valid for 6 months.</div>
          <div id="alert_msg"></div>
        </div>
      </div>
      <?php } ?>
</div>
<?php } ?>