<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category layered navigation state
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation\State
 */
?>
<?php $_filters = $block->getActiveFilters() ?>
<?php if (!empty($_filters)): ?>
    <?php foreach ($_filters as $_filter): ?>
        <div class="filter-instock-box">
            <span><?php echo $block->escapeHtml(__($_filter->getName())); ?>:</span> 
            <?php  echo $block->stripTags($_filter->getLabel()) ?>
            <?php
                $clearLinkUrl = $_filter->getClearLinkUrl();
                $currentFilterName = $block->escapeHtml(__($_filter->getName())) . " " . $block->stripTags($_filter->getLabel());
                if ($clearLinkUrl):
                    ?>
                <a class="action remove"
                       title="<?php echo $block->escapeHtml($_filter->getFilter()->getClearLinkText()) ?>"
                       href="<?php  echo $clearLinkUrl ?>">
                    <img width="18" align="right" src="<?php echo $this->getViewFileUrl('images/filter-close.svg'); ?>" />
                </a>
                <?php else: ?>
                <a class="action remove" href="<?php  echo $_filter->getRemoveUrl() ?>"
                       title="<?php  echo $block->escapeHtml(__('Remove')) . " " . $currentFilterName;?>">
                    <img width="18" align="right" src="<?php echo $this->getViewFileUrl('images/filter-close.svg'); ?>" />
                </a>
                <?php endif; ?>
        </div>
    <?php endforeach; ?>
<?php endif; ?>