<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>
<?php if ($block->canShowBlock()): ?>
<section class="jq_filter_bar filter-bar-sec" id="layered-filter-block">
    <?php $filtered = count($block->getLayer()->getState()->getFilters()) ?>
    <div class="header-part no-margin-b">
        <div class="heading-top jq_close_filter">
            <a href="javascript:void(0);" class="padding_right10">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text" data-count="<?php /* @escapeNotVerified */ echo $filtered; ?>">
                <?php /* @escapeNotVerified */ echo __('Close Filter') ?>
            </div>
        </div>
        <?php if ($block->getLayer()->getState()->getFilters()): ?>
        <div class="heading-top-right">
            <a href="<?php /* @escapeNotVerified */ echo $block->getClearUrl() ?>" class="action clear filter-clear clear-all"><span><?php /* @escapeNotVerified */ echo __('Clear All') ?></span></a>
        </div>
        <?php endif; ?>
    </div>
    <?php echo $block->getChildHtml('state') ?>
    <div class="filter-collapse-box mobile-filter-sec">
        <?php $wrapOptions = false; ?>
        <?php foreach ($block->getFilters() as $filter): ?>
            <?php if (!$wrapOptions): ?>
                <!-- <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?php //echo __('Shopping Options') ?></strong> -->
                <div class="padding_lr20">
                    <dl class="filter-options" id="narrow-by-list">
                    <?php $wrapOptions = true; endif; ?>
                    <?php if ($filter->getItemsCount()): ?>
                        <div class="mobile-filter-box collapsable collapsable-accordion">
                            <div class="ca-control">
                                <dt role="heading" aria-level="3" class="filter-options-title collapsed  no-padding"><?php echo $block->escapeHtml(__($filter->getName())) ?></dt>
                            </div>
                            <dd class="ca-box filter-options-content"><?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->render($filter); ?></dd>
                        </div>
                    <?php endif; ?>
                    <?php endforeach; ?>
                    <?php if ($wrapOptions): ?>
                </dl>
            </div> 
        <?php endif; ?>
    </div>
</section>
<script>
    (function  () {
        require(['jquery'], function($) {
            $(document).ready(function($) {
                $('.jq_filter_icon').on('click', function(){
                    $(".jq_filter_bar").addClass('open');
                    $("body").addClass('fix-overlay');
                });
                $('.jq_close_filter').on('click', function(){
                    $(".jq_filter_bar").removeClass('open');
                    $("body").removeClass('fix-overlay');
                });
            });
        });
    })();
</script>
<?php endif; ?>