<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Temlate for \Magento\Customer\Block\Address\Book block
 * @var $block \Magento\Customer\Block\Address\Book
 */
?>
<div class="block block-addresses-default no-margin-b ">
    <div class="container-fluid">
        <div class="breadcrumb-box">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>"><?php /* @escapeNotVerified */ echo __('Home'); ?></a></li>
                <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>customer/account/"><?php /* @escapeNotVerified */ echo __('Profile'); ?></a></li>
                <li class="breadcrumb-item active" aria-current="page"><?php /* @escapeNotVerified */ echo __('My Addresses'); ?></li>
            </ol>
          </nav>
        </div>
    </div>
    <div class="block-content">
        <?php if ($_pAddsses = $block->getDefaultBilling()): ?>
            <div class="box box-address-billing padding_lr20">
                <div class="main-heading padding_bottom10"><?php /* @escapeNotVerified */ echo __('Default Billing Address') ?></div>
                <div class="white-box">
                    <div class="box-content">
                        <div class="order-address-box">
                            <?php echo $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                        </div>
                    </div>
                    <div class="box-actions">
                        <a class="action change edit-icss" href="<?php /* @escapeNotVerified */ echo $block->getAddressEditUrl($_pAddsses) ?>" style="color: #4d4d4d;">
                            <span><?php /* @escapeNotVerified */ echo __('Edit') ?></span>
                        </a>
                    </div>
                </div>
            </div>
        <?php else: ?>
            <div class="box box-billing-address padding_lr20">
                <div class="main-heading padding_bottom10"><?php /* @escapeNotVerified */ echo __('Default Billing Address') ?></div>
                <div class="white-box">
                    <div class="box-content">
                        <div class="no-address-box"><?php /* @escapeNotVerified */ echo __('You have no default billing address in your address book.') ?> </div>
                    </div>
                </div>
            </div>
        <?php endif ?>

        <?php if ($_pAddsses = $block->getDefaultShipping()): ?>
            <div class="box box-address-shipping padding_lr20 no-margin-b">
                <div class="main-heading padding_bottom10"><?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?></div>
                <div class="white-box">
                    <div class="box-content">   
                        <div class="order-address-box">     
                            <?php echo $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                        </div>
                    </div>
                    <div class="box-actions">
                        <a class="action change edit-icss" href="<?php /* @escapeNotVerified */ echo $block->getAddressEditUrl($_pAddsses) ?>" style="color: #4d4d4d;">
                            <span><?php /* @escapeNotVerified */ echo __('Edit') ?></span>
                        </a>
                    </div>
                </div>
            </div>
        <?php else: ?>
            <div class="box box-shipping-address padding_lr20 no-margin-b">
                <div class="main-heading padding_bottom10"><?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?></div>
                <div class="white-box">
                    <div class="box-content">
                        <div class="no-address-box"><?php /* @escapeNotVerified */ echo __('You have no default shipping address in your address book.') ?></div>
                    </div>
                </div>
            </div>
        <?php endif ?>
    </div>
</div>

<div class="block block-addresses-list padding_top20">
    <div class="main-heading padding_bottom5 padding_lr20"><?php /* @escapeNotVerified */ echo __('Additional Address Entries') ?>
        <a href="<?php /* @escapeNotVerified */ echo $block->getAddAddressUrl() ?>" title="<?php /* @escapeNotVerified */ echo __('Add New Address') ?>" class="action add pull-right"><img src="<?php echo $this->getViewFileUrl('images/add_icon.png'); ?>"> <?php /* @escapeNotVerified */ echo __('Add New') ?></a>
    </div>
    <div class="block-content">
        <?php if ($_pAddsses = $block->getAdditionalAddresses()): ?>
            <div class="addresses addresses-slider flexslider">
                <ul class="slides">
                    <?php foreach ($_pAddsses as $_address): ?>
                        <li class="item">
                            <div class="white-box">
                                <div class="order-address-box">
                                    <?php echo $block->getAddressHtml($_address) ?><br />
                                </div>
                                <div class="item actions">
                                    <a class="action change edit-icss" href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/address/edit', ['id' => $_address->getId()]) ?>" style="color: #4d4d4d;"><span><?php /* @escapeNotVerified */ echo __('Edit') ?></span></a>
                                    <a class="action change delete" href="#" role="delete-address" data-address="<?php /* @escapeNotVerified */ echo $_address->getId() ?>"><span><?php /* @escapeNotVerified */ echo __('Delete') ?></span></a>
                                </div>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php else: ?>
            <div class="padding_lr20"><div class="empty white-box text-center no-address-box"><?php /* @escapeNotVerified */ echo __('You have no other address entries in your address book.') ?></div></div>
        <?php endif ?>
    </div>
</div>
<script type="text/x-magento-init">
    {
        ".page-main": {
            "address": {
                "deleteAddress": "li.item a[role='delete-address']",
                "deleteUrlPrefix": "<?php /* @escapeNotVerified */ echo $block->getDeleteUrl() ?>id/",
                "addAddress": "button[role='add-address']",
                "addAddressLocation": "<?php /* @escapeNotVerified */ echo $block->getAddAddressUrl() ?>"
            }
        }
    }
</script>
<script>
(function  () {
    require(['jquery', 'magestore/flexslider'], function($) {
        $(document).ready(function($) {
            $('.addresses-slider').flexslider({
                animation: 'slide',
                animationLoop: true,
                itemWidth: 380,
                slideshow: false,
                controlNav: false,
                itemMargin: 10,
                minItems: 1,
                directionNav:false,
            });
        });
    });
})();
</script>