<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Edit customer address template
 *
 * @var $block \Magento\Customer\Block\Address\Edit
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$customerMobile = "";
$telephone = $block->getAddress()->getTelephone();
if(empty($telephone)){
    if($customerSession->isLoggedIn()) {
        $customerMobile = $customerSession->getCustomer()->getData('mobile_number');
    }
} else {
    $customerMobile = $block->getAddress()->getTelephone();
}
?>
 <section>
    <div class="header-part">
        <div class="heading-top">
            <a href="javascript:window.history.back();">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                <?php echo __('Add New Address'); ?>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="search-field-sec">
            <div class="white-box add-new-address-box">
                <div class="location-box mb-20">
                    <button id="getAddressaCurrLocation" class="btn btn-primary btn-block location-btn"><span></span> Use my current location</button>
                </div>
                <div class="form-inner">
                        <form action="<?php /* @escapeNotVerified */ echo $block->getSaveUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                        <?php echo $block->getBlockHtml('formkey')?>
                        <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */ echo $block->getSuccessUrl() ?>">
                        <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */ echo $block->getErrorUrl() ?>">
                        <input type="hidden" name="ref_url" value="<?php /* @escapeNotVerified */ echo @$_SERVER['HTTP_REFERER']; ?>">
                        <div class="row">
                            <?php //echo $block->getNameBlockHtml(); ?>

                            <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')
                           ->setObject($block->getAddress())
                           ->setTemplate('widget/address-name.phtml')
                           ->toHtml(); ?>
                            
                            <div class="form-group col-12 company">
                                <input type="text" name="company" id="company" placeholder="<?php /* @escapeNotVerified */ echo __('Company') ?>" value="<?php echo $block->escapeHtml($block->getAddress()->getCompany()) ?>" class="form-control <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>">
                            </div>

                            <div class="form-group col-12 telephone required">
                                <input type="text" name="telephone" value="<?php echo $customerMobile;?>" placeholder="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="form-control validate-digits <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>" minlength="10" maxlength="10" id="telephone">
                            </div>

                            <div class="form-group col-12 fax">
                                <input type="text" name="fax" id="fax" placeholder="<?php /* @escapeNotVerified */ echo __('Fax') ?>" value="<?php echo $block->escapeHtml($block->getAddress()->getFax()) ?>" class="form-control <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('fax') ?>">
                            </div>

                            <?php if ($this->helper('Magento\Customer\Helper\Address')->isVatAttributeVisible()) : ?>
                                <div class="form-group col-12 taxvat">
                                    <input type="text" name="vat_id" value="<?php echo $block->escapeHtml($block->getAddress()->getVatId()) ?>" placeholder="<?php /* @escapeNotVerified */ echo __('VAT Number') ?>" class="form-control <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('vat_id') ?>" id="vat_id">
                                </div>
                            <?php endif; ?>

                            <div class="form-group col-12">
                                <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>
                                <input type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getStreetLine(1)) ?>" placeholder="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" id="street_1" class="form-control <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>"  />
                            </div>

                            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                            <?php for ($_i = 1, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i < $_n; $_i++): ?>
                                <div class="form-group col-12">
                                    <input type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getStreetLine($_i+1)) ?>" placeholder="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i+1) ?>" id="street_<?php /* @escapeNotVerified */ echo $_i+1 ?>" class="form-control <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                                </div>
                            <?php endfor; ?>

                            <div class="form-group col-12 city required">
                                <input type="text" id="city" name="city" value="<?php echo $block->escapeHtml($block->getAddress()->getCity()) ?>" placeholder="<?php /* @escapeNotVerified */ echo __('City') ?>" class="form-control <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city">
                            </div>

                            <div class="form-group col-12 region required">
                                 <div class="control">
                                    <select id="region_id" name="region_id" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="form-control validate-select" <?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>>
                                    <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                                    </select>
                                    <input type="text" id="region" name="region" value="<?php echo $block->escapeHtml($block->getRegion()) ?>"  placeholder="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="form-control <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>"<?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>/>
                                </div>
                            </div>

                            <div class="form-group col-12 zip required">
                                <input type="text" id="postcode" name="postcode" value="<?php echo $block->escapeHtml($block->getAddress()->getPostcode()) ?>" placeholder="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>" id="zip" class="form-control validate-zip-international <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
                            </div>

                            <div class="form-group col-12 country required">
                                <?php echo $block->getCountryHtmlSelect() ?>
                            </div>

                            <?php if ($block->isDefaultBilling()): ?>
                                <div class="message info"><?php /* @escapeNotVerified */ echo __("It's a default billing address.") ?></div>
                            <?php elseif ($block->canSetAsDefaultBilling()): ?>
                                <div class="field choice set billing">
                                    <div class="checkbox custom-checkbox">
                                        <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox">
                                        <label class="label" for="primary_billing"><span><?php /* @escapeNotVerified */ echo __('Use as my default billing address') ?></span></label>
                                    </div>
                                </div>
                            <?php else: ?>
                                <input type="hidden" name="default_billing" value="1" />
                            <?php endif; ?>

                            <?php if ($block->isDefaultShipping()): ?>
                                <div class="message info"><?php /* @escapeNotVerified */ echo __("It's a default shipping address.") ?></div>
                            <?php elseif ($block->canSetAsDefaultShipping()): ?>
                                <div class="field choice set shipping">
                                    <div class="checkbox custom-checkbox">
                                        <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                                        <label class="label" for="primary_shipping"><span><?php /* @escapeNotVerified */ echo __('Use as my default shipping address') ?></span></label>
                                    </div>
                                </div>
                            <?php else: ?>
                                <input type="hidden" name="default_shipping" value="1">
                            <?php endif; ?>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fix-button-sec">
        <button type="submit" class="action save btn btn-primary btn-block green-button" data-action="save-address"><?php /* @escapeNotVerified */ echo __('Save Address') ?></button>
    </div>
    </form>
</section>
<script type="text/javascript">
require(['jquery','domReady!'], function ($) {
    $('#getAddressaCurrLocation').on('click', function(){
        if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(
            function(position){
                var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var street = '';
                        results[0].address_components.forEach(function(value,key){
                            if(value.types[0] == "locality"){
                                $('#city').val(value.long_name);
                            }
                            if(value.types[0] == "premise"){
                                street = value.long_name;
                            }
                            if(value.types[0] == "neighborhood"){
                                street = street+','+ value.long_name;
                            }
                            if(value.types[2] == "sublocality_level_2"){
                                street = street+','+ value.long_name;
                            }
                            if(value.types[2] == "sublocality_level_1"){
                                street = street+','+ value.long_name;
                            }
                            if(value.types[0] == "postal_code"){
                                $('#postcode').val(value.long_name);
                            } 
                            if(value.types[0] == "administrative_area_level_1"){
                                $('#region').val(value.long_name);
                            }
                            $('#street_1').val(street);
                        });
                    }
                });
            });
        }
    });
}); 
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ3AyJaoAZnNi1IV3-0AmjgaPJgtiXOGA"></script>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "validation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>