/* The Modal (background) */
#guest-checkout-otp .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#guest-checkout-otp .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#guest-checkout-otp .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#guest-checkout-otp .close:hover,
#guest-checkout-otp .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}