<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
?>
<?php if (count($block->getItems())): ?>
        <?php 
            foreach ($block->getItems() as $item):
            
            $product = $item->getProduct();
            
            $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($item->getProductId());
            $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
            $image_url = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(100, 100)->getUrl();

            $productPrice = $_product->getPrice();
            $productSpecialPrice = $_product->getSpecialPrice();
            $specialPriceFromDate = $_product->getSpecialFromDate();
            $specialPriceToDate = $_product->getSpecialToDate();    
            $today = time();
            $offer = round((($productPrice-$productSpecialPrice)/$productPrice)*100);
            $discountpercent = 0;
            if(isset($productSpecialPrice) && !empty($productSpecialPrice)){
                $discount = $productPrice - $productSpecialPrice;
                $discountpercent = round(($discount/$productPrice) * 100);
            }
        ?>

        <div class="add-cart-box wishlist-card-box">
            <?php if($discountpercent && $discountpercent>0 && $today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)): ?>
                <div class="cart-offer-tag"><?php echo $discountpercent ."% OFF";?></div>
            <?php endif; ?>
            <div class="wishlist-box-flex">
                <div class="wishlist-box-left">
                    <a href="<?php /* @escapeNotVerified */ echo $product->getProductUrl($item) ?>"><img src="<?php echo $image_url; ?>" /></a>
                </div>
                <div class="wishlist-box-right">
                    <?php
                        $wishlistHelper = $this->helper('Magento\Wishlist\Helper\Data');
                        $wishlistItem = $wishlistHelper->getWishlistItemCollection()->getItemByColumnValue('product_id', $product->getId());
                        if($wishlistItem):
                    ?>
                    <div class="wishlist-pos">
                        <a href="#" data-role="remove" data-post-remove='<?= $wishlistHelper->getRemoveParams($wishlistItem) ?>' class="btn-remove action">
                            <img src="<?php echo $this->getViewFileUrl('images/like_5.png'); ?>" />
                        </a>
                    </div>
                    <?php endif; ?>
                    <div class="row">
                        <div class="col-8">
                            <div class="cart-product-name"><a href="<?php /* @escapeNotVerified */ echo $product->getProductUrl($item) ?>"><?php echo $block->escapeHtml($product->getName()) ?></a></div>
                            <!-- <div class="tablet-count">10 tablets in strip</div> -->
                            <?php if($discountpercent && $discountpercent>0 && $today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)): ?>
                            <div class="total-price"><?php echo $priceHelper->currency($productSpecialPrice, true, false);?><span class="market-price"> <?php echo $priceHelper->currency($productPrice, true, false);?></span></div>
                            <?php else: ?>
                            <div class="total-price"><?php echo $priceHelper->currency($productPrice, true, false);?></div>
                            <?php endif; ?>
                        </div>
                    </div>
                            <?php
                                $blockCartObj= $block->getLayout()->createBlock('\Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart');
                                //if ($item->canHaveQty() && $product->isVisibleInSiteVisibility()):
                                ?>
                                <!-- <div class="wishlist-count-box">
                                    <div class="count-add">
                                        <span class="minus">-</span>
                                            <input type="text" data-role="qty" id="qty[<?php //echo $item->getId() ?>]" class="count qty" data-validate="{'required-number':true,'validate-greater-than-zero':true}"
                                            name="qty[<?php //echo $item->getId() ?>]" value="<?php //echo $blockCartObj->getAddToCartQty($item) * 1 ?>">
                                        <span class="plus">+</span>
                                    </div>
                                </div> -->
                                <input type="hidden" name="description[<?php echo $item->getWishlistItemId() ?>]" value="<?php echo($block->escapeHtml($item->getDescription())) ?>">
                            <?php //endif; ?>
                            <?php if ($product->isSaleable()): ?>
                                <button type="button" data-role="tocart" data-post='<?php /* @escapeNotVerified */ echo $blockCartObj->getItemAddToCartParams($item)?>' title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>" data-item-id="<?php /* @escapeNotVerified */ echo $item->getId()?>" class="green-btn wishlist-add-cart-btn"><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></button>
                            <?php else: ?>
                                <?php if ($product->getIsSalable()): ?>
                                    <div class="pd-stock"><?php /* @escapeNotVerified */ echo __('In stock') ?></div>
                                <?php else: ?>
                                    <div class="pd-stock text-red"><?php /* @escapeNotVerified */ echo __('Out of stock') ?></div>
                                <?php endif; ?>
                            <?php endif; ?>
                </div>
            </div>
       </div>
    <?php endforeach; ?>
<?php else: ?>
<div class="message info empty">
    <span><?php /* @escapeNotVerified */ echo __('This Wish List has no Items');?></span>
</div>
<?php endif; ?>