<!-- Feedback Area // START -->
<div id="feedback_holder" class="feedback-logo">
	<span><?php //echo __('FEEDBACK') ?></span> 
</div>
<div id="feedback">
	<div id="formdiv" class="formdiv">

		<div id="feedback-side-logo" class="feedback-logo">
			<span><?php //echo __('FEEDBACK') ?></span> 
		</div>
		<div id="feed_close" class="feed_close">
			<a href="javascript:void(0);"><?php //echo __('Close') ?></a>
		</div>
		
		<div class="box">
			<form method="post" action="<?php echo $block->getControllerUrl('fancyfeedback/index/submit') ?>" id="fdb_form">
                            
                                                                    <div class="form-feed">
                                                                        <label><?php echo __('Name') ?> <span style="color:red">* </span> </label><br/>
                                                                        <input type="text" maxlength="15" name="fdb_name" id="fdb_name"/><br/>
                                                                        <div id="fdb_name_error"></div>
                                                                    </div>
                                                                  <div class="form-feed">
                                                                        <label>Email <span style="color:red">* </span> </label><br/>
                                                                        <input type="text" name="fdb_email" id="fdb_email"/><br/>
                                                                        <div id="fdb_email_error"></div>
                                                                    </div>
                                                                   <div class="form-feed">
                                                                         <label><?php echo __('Phone') ?>:</label><br/>
			      <input type="text" name="fdb_phone" id="fdb_phone"/><br>
                                                                    </div>
                                                                  <div class="form-feed">
                                                                   <label><?php echo __('Message') ?> <span style="color:red">* </span> </label><br/>
			<textarea rows="5" cols="16" name="fdb_msg" id="fdb_msg"></textarea><br>
                                                                    <div id="fdb_msg_error"></div>
                                                                    </div>
                            <div class="form-feed" style="text-align: center;">
                                                                  <input id="fdb_submit_btn" type="submit" value="<?php echo __('Submit') ?>"/><span id="fdb_error"></span>
                                                                  </div>
		</div>
	</div>
</div>
<div class="form_submit"></div>
<!-- Feedback Area // END -->
