<?php $is_enabled = $this->isEnabled() ?>

<?php if ($is_enabled): ?>
<?php
    $asset_repository = $this->assetRepository;
    $js_asset = $asset_repository->createAsset('Quad_Fancyfeedback/js/ws_ff.js');
    $css_asset = $asset_repository->createAsset('Quad_Fancyfeedback/css/ws_ff.css');
?>
<link href="<?php echo $css_asset->getUrl(); ?>" rel="stylesheet" type="text/css" />
<script src="<?php echo $js_asset->getUrl(); ?>"></script>
<?php endif; ?>