<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$_order = $block->getOrder();
$ref = @$_SERVER['HTTP_REFERER'];
$backUrl = 'javascript:window.history.back();';
if(!empty(strpos($ref,"success"))){
  $backUrl = $this->getUrl();
}
?>
<section class="main-sec">
    <div class="header-part no-margin-b">
        <div class="heading-top">
          <a href="<?php echo $backUrl; ?>">
            <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>" />
          </a>
          <div class="heading-text">
            <?php echo __('Track Order'); ?>
          </div>
        </div>
    </div>
    <section class="rows-sec padding_bottom20">
      <div class="order-id-box">
        <div class="row">
          <div class="col-6">
            <?php 
              if($_order->getStatus() != 'canceled'){
                echo __('Order Placed');
              } else {
                echo __('Order '.$_order->getStatusLabel());
              }
            ?>
            </div>
          <div class="col-6 text-right"><?php echo __('Order ID:'); ?> <?php /* @escapeNotVerified */ echo $_order->getRealOrderId() ?></div>
        </div>
      </div>
        <div class="container-fluid ">
            <?php
              if($_order->getStatus() != 'canceled'){
                echo $this->getLayout()
                ->createBlock('Magento\Sales\Block\Order\Info')
                ->setTemplate('Retail_Status::order/order_status_mobile.phtml')
                ->toHtml();
              }
            ?>
            <div class="rows-sec product-composition-sec">
                <div class="rows-sec">
                    <?php echo $block->getChildHtml('order_items') ?>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        require (["jquery","jquery/ui"], function($){
          $('.collapsable-accordion').collapsable({
              accordion: true,
              fx: 'slide',
              fxDuration: 300
          });
        });
    </script>
</section>