body {
	direction:rtl;
}
.top-bar span {
    margin-left: 25px;
    margin-right: 0;
}
.header-1 .logo-wrap {
    float: right
}
.main-navigation { float:left }
.nav-menu .menu li:hover > ul {
    left:auto;
	right:0;
}
.menu .menu-item-has-children ul a::after {
    border-color: transparent rgba(0, 0, 0, 0.2) transparent transparent;
    left: 10px;
    right: auto;
}
.menu .menu-item-has-children > a::after {
    left: 12px;
    right: auto
}
.menu .menu-item-has-children a {
    padding-left: 24px;
    padding-right: 16px
}
.side-sub-menu {
    left: 0 !important;
    right: auto !important
}
.nav-menu .menu li ul {
    left: auto;
    right: 0;
}
.nav-menu .menu li ul ul {
    left: auto;
    right: 180px
}
#navigation .menu li:hover ul {
    right:0
}
#navigation ul.menu li li:hover ul {
    right:180px
}
#navigation ul.menu li {
    text-align:right
}
.menu i {
	margin-left:5px;
	margin-right:0
}
.nav-menu ul.menu li li:hover ul {
	left:auto;
	right:180px;
}
.featuredslider .post-inner {
    text-align: right
}
.tagcloud a,
.comment-form .submit,
.reply,
.s {
    float:left
}
.s {
    padding-left:0;
    padding-right:3%
}
.post-cats span {
    margin-right: 0;
    margin-left: 5px
}
.post-cats a:before {
    left: auto;
    right: -12px
}
.post-cats .post-type {
    margin-left: 9px;
    margin-right: 12px !important;
}
.post-meta > span:before {
	left:auto;
	right:-12px
}
.post-meta-title span:first-child {
    margin-right: 0
}
.post-meta-title span:last-child:before {
    content: '-'
}
.post-meta-title span:first-child:before {
    content: ''
}
.post .post-content ul li:before,
.content-page .post-content ul li:before {
	content:"\f137";
	left:auto;
	right:-18px
}
.post .sd-content ul li:before {
    display: none
}
.post-format-link-content {
	margin-left:0;
	margin-right:62px;
}
.post-format-link .post-format-icon {
	margin-right:10px;
	margin-left:25px
}
.post-navigation .post-nav-links,
.image-navigation .post-nav-links {
    float: right
}
.post-navigation .next-link-wrapper,
.image-navigation .next-link-wrapper {
    float: left
}
.post-navigation .prev-link,
.image-navigation .prev-link {
    margin-left: 15px;
    margin-right: 0
}
.post-navigation .next-link,
.image-navigation .next-link {
    margin-left: 0;
    margin-right: 15px
}
.read-more a,
.more-link {
    padding: 7px 15px 6px 36px
}
.read-more a:before,
.more-link:before {
    content:"\f060";
    left: 15px;
    right: auto
}
.widget li {
    margin-right: 20px;
    margin-left: 0
}
.widget li:before {
    left: auto;
    right: -20px
}
.widget .children,
.widget .sub-menu {
    padding-left: 0
}
.widget .menu .menu-item-has-children a {
    padding-left: 0;
    padding-right: 0
}
.widget .sub-menu .sub-menu .sub-menu .sub-menu li {
    margin-right: 0
}
.post-comments {
    float: left
}
.widget-title span {
	border:0;
	border-right-width:5px;
	border-right-style:solid;
	padding:0 10px 1px 0
}
.widget ul { direction:rtl; }
.thumbnail {
    float:right;
    margin-left:10px;
    margin-right:0;
}
.thumbnail-big {
    float: none;
    margin: 0;
    max-width: 100%;
    width: 100%;
}
.meta span {
    margin-left: 10px;
    margin-right: 0
}
.comment-respond {
    overflow:hidden
}
.fa {
    display:inline
}
.post-meta .post-type i {
    display:inline-block
}
.content-single li,
.content-page li {
	margin-left:0;
	margin-right:2.5%
}
.pagination span,
.pagination a {
    margin:0 0 0 10px
}
.author-box-avtar {
    float:right;
    margin-left:20px;
    margin-right:0;
}
.comments-area .avatar {
    float:right;
    margin-left:2%;
	margin-right:0
}