@charset "UTF-8";
/*
Theme Name: Byblog
Theme URI: http://bloompixel.com/themes/byblog/
Author: BloomPixel
Author URI: http://bloompixel.com/
Description: A premium WordPress theme for food blogs.
Version: 1.1
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags:right-sidebar, custom-menu, featured-images, two-columns, theme-options, custom-background, threaded-comments
Text Domain: byblog
*/
/* -----------------------------------------
	Table of Contents
--------------------------------------------

.. 01. General
.. 02. Helpers
.. 03. Header
.. 04. Navigation Menus
.. 05. Content
.. 06. Featured Section
.. 07. Posts and pages
.. 08. Layouts
.. 09. Navigation
.. 10. Comments
.. 11. Sidebar
.. 12. Widgets Styling
.. 13. Footer
.. 14. Ads
.. 15. Slider
.. 16. External Plugins

*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: inherit;
  vertical-align: baseline; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

select {
  padding: 8px 6px;
  width: 100%; }

input[type="submit"] {
  font-size: 13px; }

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%; }

.clearfix:after {
  clear: both;
  content: "";
  font-size: 0;
  height: 0;
  display: block;
  visibility: hidden; }

body {
  background: #fff;
  line-height: 1;
  color: #020202;
  font-family: "Droid Serif";
  font-size: 14px;
  line-height: 1.6; }

a {
  color: #f58d88;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  a:hover {
    color: #f58d88; }

::-moz-selection {
  background: #222;
  color: white;
  text-shadow: none; }

::selection {
  background: #222;
  color: white;
  text-shadow: none; }

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  color: #000;
  font-family: "PT Serif", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 20px; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  margin-bottom: 20px; }

blockquote {
  font-size: 14px;
  font-style: italic;
  padding: 20px 30px; }

em,
i,
cite {
  font-style: italic; }

strong {
  font-weight: 700; }

img,
video,
object,
embed {
  max-width: 100%; }

img {
  height: auto;
  vertical-align: middle; }

caption,
th,
td {
  text-align: left; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -3px; }

sup {
  top: -4px; }

.section-title {
  border-bottom: 2px solid rgba(0, 0, 0, 0.03);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 30px;
  padding: 0 0 6px;
  position: relative;
  text-transform: uppercase; }
  .section-title:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: #f58d88;
    height: 2px;
    width: 100px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.hide {
  display: none; }

.hidden {
  opacity: 0;
  visibility: hidden; }

.clearfix:before, .clearfix:after,
.widget:before,
.widget:after {
  content: " ";
  display: table; }
.clearfix:after,
.widget:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.last {
  margin-right: 0 !important; }

.center-width {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%; }

.f-normal {
  font-weight: normal; }

.f-bold {
  font-weight: bold; }

.f-italic {
  font-style: italic; }

.t-strike {
  text-decoration: line-through; }

.t-overline {
  text-decoration: overline; }

.t-underline {
  text-decoration: underline; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.t-center {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.transition {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s; }

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.main-header {
  background: #fff;
  color: #000;
  margin: 0 auto 30px;
  width: 100%; }

.header {
  clear: both;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
  position: relative;
  width: 1170px; }
  .header .logo {
    display: inline-block;
    font-size: 40px;
    margin: 0;
    max-width: 100%; }
    .header .logo img {
      float: left; }
  .header a {
    color: #000; }

.logo-wrap {
  margin-top:10px;
  margin-bottom:10px;
  margin: 10px 0;
  max-width: 100%; }

.tagline {
  display: block;
  font-size: 14px; }

/* Header Style 2 */
.header-2 {
  text-align: center; }
  .header-2 .logo-wrap {
    display: inline-block; }
  .header-2 .header-links {
    float: left; }

.header-3 .logo-wrap {
  margin-top: 5px;
  margin-bottom: -65px; }

.header-ad-widget {
  float: right;
  margin: 15px 0;
  max-width: 85%; }

.social-links {
  font-size: 14px; }
  .social-links a {
    color: #000;
    margin: 0 4px; }

.header-links {
  float: right; }
  .header-links a {
    display: inline-block;
    margin: 0;
    padding: 20px 6px; }

header .searchform {
  background: transparent;
  float: right;
  padding: 0;
  width: 100%; }
  header .searchform i {
    position: absolute;
    top: 18px;
    right: 10px;
    z-index: 10; }
  header .searchform fieldset {
    border: 0; }
header .s {
  background: #222;
  float: left;
  height: 60px;
  right: 40px;
  padding: 22px 0;
  position: absolute;
  text-indent: 15px;
  z-index: 20;
  width: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }
header .search-button {
  display: none; }

.header-search {
  float: right;
  margin-left: 5px;
  position: relative; }
  .header-search .searchform .search-submit {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: #000;
    display: block;
    height: 60px;
    padding: 24px 0;
    width: 40px;
    z-index: 99; }

.show-search .s {
  visibility: visible;
  width: 220px; }

.top-bar ::-webkit-input-placeholder,
.st-menu .s::-webkit-input-placeholder {
  color: #ffffff; }

.top-bar :-moz-placeholder,
.st-menu .s:-moz-placeholder {
  color: #ffffff; }

.top-bar ::-moz-placeholder,
.st-menu .s::-moz-placeholder {
  color: #ffffff; }

.top-bar :-ms-input-placeholder,
.st-menu .s:-ms-input-placeholder {
  color: #ffffff; }

.top-bar {
  background: #f58d88;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 0;
  text-align: center; }
  .top-bar span {
    margin-right: 25px; }

.header-subscribe-form {
  display: inline-block;
  vertical-align: middle; }
  .header-subscribe-form form {
    border-bottom: 1px solid #fff;
    font-size: 13px;
    overflow: hidden; }
  .header-subscribe-form .input-group {
    float: left; }
  .header-subscribe-form .email,
  .header-subscribe-form .btn {
    background: transparent;
    border: 0;
    font-size: 13px; }
  .header-subscribe-form .btn {
    cursor: pointer;
    display: block;
    height: 25px;
    position: relative;
    width: 20px; }
    .header-subscribe-form .btn:before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      right: 0;
      color: #fff;
      font-family: "FontAwesome"; }

.header-1 .logo-wrap {
  float: left; }
.header-1 .header-ad {
  float: right;
  margin: 20px 0;
  text-align: center; }

.header-1 .main-navigation,
.header-2 .main-navigation {
  border-top: 1px solid rgba(0, 0, 0, 0.08); }

.header-3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

.author .main-header,
.archive .main-header {
  margin-bottom: 0; }

.header-4 {
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
  .header-4 .header {
    text-align: center; }

.header-5 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  text-align: center; }
  .header-5 .header-links {
    float: left; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.menu,
.menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu .menu ul {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  background: #fff;
  padding: 0;
  position: absolute;
  width: 180px;
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  transform: translate(0px, 20px); }
  .nav-menu .menu ul li {
    width: 100%; }
.nav-menu .menu li ul {
  left: 0;
  top: 60px;
  width: 180px; }
  .nav-menu .menu li ul ul {
    left: 180px;
    top: 0; }
.nav-menu .menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */ }
  .nav-menu .menu li:hover > ul {
    display: block;
    opacity: 1;
    transform: translate(0px, 0);
    /* match top ul list item height */
    visibility: visible; }
.nav-menu .menu a {
  display: block;
  line-height: 22px;
  position: relative; }
.nav-menu ul.menu li li:hover ul {
  border: 0;
  padding: 0;
  left: 180px;
  /* match ul width */
  top: 0px; }

.main-navigation {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 13px;
  line-height: 20px;
  position: relative;
  text-transform: uppercase;
  width: 100%; }

.header-3 .main-navigation {
  border-bottom: 0;
  float: right;
  width: auto; }

.header-3 .main-navigation:before {
  display: none; }

.header-3 .main-nav {
  max-width: 100%; }

.header-3 .header {
  text-align: left; }

.header-3 .social-links {
  display: none; }

.nav-menu {
  display: inline-block;
  position: relative;
  text-align: center; }
  .nav-menu .current-menu-item > a {
    color: #f58d88; }
  .nav-menu a {
    color: #000;
    margin: 0;
    padding: 19px 10px 19px; }
    .nav-menu a:hover {
      color: #f58d88; }
  .nav-menu ul ul a {
    border-right: none;
    margin: 0; }
  .nav-menu ul li {
    display: inline-block;
    float: left;
    list-style: none;
    position: relative; }
    .nav-menu ul li ul {
      text-align: left; }
      .nav-menu ul li ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.09); }
        .nav-menu ul li ul li a {
          background: #fff;
          color: #000;
          padding: 10px 20px;
          line-height: 18px; }
          .nav-menu ul li ul li a:hover {
            background: #3a3a3a;
            border: 0;
            color: #fff; }

.main-nav {
  font-family: "Source Sans Pro";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  margin: 0 auto;
  max-width: 96%;
  text-transform: uppercase; }

.main-nav .nav-menu ul li {
  float: none; }

.menu .menu-item-has-children a {
  padding-right: 24px;
  z-index: 20; }

.menu .menu-item-has-children ul a {
  padding-right: 20px; }

.menu .menu-item-has-children ul a:after {
  top: 16px;
  right: 5px;
  border-color: transparent;
  border-left-color: rgba(0, 0, 0, 0.2); }

.menu .menu-item-has-children > a:after {
  content: '';
  position: absolute;
  top: 28px;
  right: 12px;
  margin-top: 0px;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.menu .fa {
  display: inline-block;
  margin-right: 5px;
  margin-top: -0.265em;
  vertical-align: middle; }

.stickymenu {
  background: #fff;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  max-width: 100%;
  width: 100%;
  opacity: 0.9;
  -webkit-transition: -webkit-transform 250ms ease-out 0s;
  transition: transform 250ms ease-out 0s; }
  .stickymenu .center-width {
    border: 0; }

.nav-up.stickymenu {
  -webkit-transform: translate3d(0px, -60px, 0px);
  -ms-transform: translate3d(0px, -60px, 0px);
  transform: translate3d(0px, -60px, 0px); }

.nav-down.stickymenu {
  top: 0; }

.menu-btn {
  display: none !important; }

#close-button {
  padding: 18px 0 19px;
  text-align: center; }
  #close-button .fa {
    color: #fff;
    cursor: pointer;
    font-size: 22px; }

.st-container {
  position: relative;
  overflow: hidden; }

.menu-pusher {
  float: left;
  height: 100%;
  left: 0;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.st-menu {
  background: #212121;
  display: none;
  position: fixed;
  left: 0;
  overflow-y: auto;
  visibility: hidden;
  width: 300px;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1000; }

/*--------------------------------------------------------------
## Content
--------------------------------------------------------------*/
/*-----------------------*/
/*	5.1 Main Container
/*-----------------------*/
.main-container {
  background: transparent;
  clear: both;
  overflow: hidden;
  width: 100%; }

.main-wrapper {
  clear: both;
  width: 100%; }

#page {
  clear: both;
  margin: 0 auto;
  width: 1170px; }

.container {
  margin: 0 auto;
  width: 1170px; }

.single .post {
  margin-bottom: 30px; }
.single .boxed-layout #page {
  border: none; }

/*-----------------------*/
/*	5.2 Boxed Layout
/*-----------------------*/
.boxed-layout {
  background: #fff;
  float: none;
  margin: 0 auto;
  width: 1170px;
  overflow: hidden; }
  .boxed-layout .header {
    padding-left: 2%;
    padding-right: 2%;
    width: 96%; }
  .boxed-layout .main-wrapper {
    max-width: 1170px; }
  .boxed-layout .header,
  .boxed-layout .top-bar .center-width {
    width: 96%; }
  .boxed-layout .container {
    width: auto; }

/*-----------------------*/
/*	5.3 Main Content
/*-----------------------*/
.main-content {
  clear: both;
  margin: 0 auto 10px;
  max-width: 100%; }
  .main-content #page {
    float: left;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 1170px; }

.content-area {
  float: left;
  width: 71.4%; }

.section-heading {
  color: #000;
  font-family: "PT Serif", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase; }

.cover-box {
  margin: -30px 0 30px;
  overflow: hidden;
  position: relative; }

.cover-image {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  min-height: 500px;
  position: relative; }

.cover-heading {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%; }
  .cover-heading .title {
    color: #fff; }

.cover-text {
  float: left;
  padding: 0 0 20px; }
  .cover-text a {
    color: #ffffff; }

.title {
  margin-bottom: 15px; }
  .title a {
    color: #000000; }

.entry-title {
  margin-bottom: 10px; }

.page-title {
  font-size: 26px;
  margin: 0 0 20px; }

/*-----------------------*/
/*	5.4 Archives Template
/*-----------------------*/
.archive-col {
  float: left;
  margin-bottom: 20px;
  margin-right: 5%;
  width: 47.5%; }

.archive-col:nth-child(2n) {
  margin-right: 0; }

.archive-col ul {
  margin: 0; }

.archive-col ul li {
  font-size: 14px;
  line-height: 28px; }

.archive-col a {
  color: #555; }

/*-----------------------*/
/*	5.5 Archives
/*-----------------------*/
.archive-title {
  margin: 0 !important;
  padding: 15px 30px !important; }

.cat-cover-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
  padding: 45px 10px;
  text-align: center; }

.category-title {
  margin: 0;
  padding: 0; }
  .category-title span {
    color: #f58d88;
    border-bottom: 2px solid #e7e7e7;
    font-weight: 700; }

/*--------------------------------------------------------------
## Featured
--------------------------------------------------------------*/
.featured-section .post-meta {
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase; }
  .featured-section .post-meta span:nth-child(2n) {
    margin-left: 10px; }
.featured-section .post-cats {
  background: #f58d88;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  padding: 2px 8px; }
  .featured-section .post-cats span {
    font-weight: 400;
    text-transform: lowercase; }
.featured-section .post-inner {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.45) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.45) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.45) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
.featured-section .post-author {
  text-transform: uppercase; }
  .featured-section .post-author span {
    color: #fff;
    font-style: italic;
    margin-right: 3px;
    text-transform: lowercase; }
.featured-section .f-title {
  font-size: 20px; }

.featured-post-1 {
  border-right: 1px solid #fff;
  float: left;
  width: 66.75%; }
  .featured-post-1 .f-title {
    font-size: 26px; }

.featured-posts-right {
  float: left;
  width: 33.25%; }

.featured-post-2 {
  border-bottom: 1px solid #fff; }

.featured-post-2,
.featured-post-3 {
  width: 100%; }
  .featured-post-2 .f-title,
  .featured-post-3 .f-title {
    max-height: 45px;
    overflow: hidden; }

.fs-wrap {
  position: relative;
  margin-bottom: 40px;
  max-width: 100%; }

.featured-posts {
  margin-bottom: 15px;
  position: relative; }
  .featured-posts .featured-thumbnail img {
    float: none;
    margin-bottom: 8px; }
  .featured-posts .title {
    font-size: 14px;
    line-height: 1.4;
    -webkit-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s; }
  .featured-posts .post-inner {
    margin: 0 8px; }
  .featured-posts a:hover .title {
    color: #f58d88; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.featured-thumbnail {
  float: left;
  position: relative; }

.featured-thumbnail img {
  float: left;
  width: 100%;
  height: auto; }

.featured-thumb-gallery {
  width: 100%; }

.featured-thumbnail-big {
  margin-bottom: 30px;
  max-width: 35%;
  width: 295px;
  max-width: 100%;
  width: 100%; }
  .featured-thumbnail-big:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.2s ease-in-out; }
  .featured-thumbnail-big:hover:before {
    height: 100%;
    opacity: 1; }
  .featured-thumbnail-big:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-image: url("images/plus.png");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.4s ease-in-out; }
  .featured-thumbnail-big:hover:after {
    height: 100%;
    opacity: 1; }

.featured-single img {
  float: left;
  width: 100%; }

.post .featured-thumbnail-big .fhover {
  background-image: url(images/plus.png);
  background-repeat: no-repeat;
  background-position: center center; }

.post.format-image .featured-thumbnail-big .fhover,
.post .featured-thumb-gallery .fhover {
  background-image: url(images/zoom.png);
  background-repeat: no-repeat;
  background-position: center center; }

.post-box header,
.attachment header {
  position: relative; }

.post-inner {
  clear: both; }

.post-content {
  font-family: "PT Sans";
  font-size: 14px; }

.aside-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 15px 15px 60px;
  position: relative; }
  .aside-content:before {
    border-left: 1px solid #D79F36;
    border-right: 1px solid #D79F36;
    content: '';
    display: block;
    height: 100%;
    top: 0;
    left: 30px;
    width: 1px;
    position: absolute; }

.post-meta {
  color: #777;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase; }
  .post-meta a {
    color: inherit;
    font-style: normal; }
  .post-meta span {
    display: inline-block;
    position: relative; }

.post-date,
.post-comments {
  font-style: normal; }

.post-meta-top {
  margin-bottom: 6px;
  text-transform: uppercase; }
  .post-meta-top .post-date {
    margin-left: 14px; }
    .post-meta-top .post-date:before {
      position: absolute;
      content: '-';
      left: -12px; }

.post-comments {
  background: #fff;
  float: left;
  padding-right: 15px; }

.post-author {
  font-style: italic; }
  .post-author a {
    font-style: normal; }

.slider-meta span:before {
  display: none; }

.post-meta-title {
  border: 0;
  display: inline-block;
  margin-bottom: 15px;
  padding: 0;
  position: relative; }

.post-author a {
  color: #000; }

.post-cats {
  color: #f58d88; }
  .post-cats span {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    margin: 0 5px 0 0;
    text-transform: capitalize; }
  .post-cats a {
    color: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 700; }

.post-author span {
  font-family: 'Droid Serif', serif;
  text-transform: capitalize; }
.post-author a {
  color: #f58d88; }

.cover-container {
  margin: 0;
  position: relative; }

.read-more {
  color: #777;
  display: inline-block;
  margin: 0 0 25px; }

.read-more a,
.more-link {
  border: 1px solid #efefef;
  color: inherit;
  display: inline-block;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 7px 36px 6px 15px;
  position: relative;
  text-transform: uppercase; }
  .read-more a:hover,
  .more-link:hover {
    background: #f58d88;
    color: #fff; }

.read-more a:before,
.more-link:before {
  color: inherit;
  content: "\f061";
  font-family: 'FontAwesome';
  font-size: 10px;
  position: absolute;
  right: 15px;
  top: 6px; }

.post-footer {
  color: #000;
  font-size: 12px;
  position: relative; }
  .post-footer:before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    left: 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    height: 4px; }

.post-tags {
  font-size: 14px;
  margin-bottom: 30px; }
  .post-tags span {
    float: left;
    font-weight: 700;
    margin: 0 12px 0 0; }
  .post-tags a {
    background: rgba(0, 0, 0, 0.04);
    color: #4b4b4b;
    display: inline-block;
    float: left;
    margin: 0 5px 5px 0;
    padding: 2px 10px; }
    .post-tags a:hover {
      background: #f58d88;
      color: #ffffff; }

/*-----------------------*/
/*	Post Formats
/*-----------------------*/
.post-format-link {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  float: none;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  word-wrap: break-word; }

.post-content-format {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center; }

.post-format-icon {
  color: #fff;
  font-size: 26px !important; }

.post-format-quote {
  background: #333;
  color: #fff;
  margin: 0;
  overflow: hidden;
  padding: 20px; }

.post-format-quote-content {
  margin: 0;
  overflow: hidden; }

.post-format-quote-content a,
.post-format-quote-content a:hover {
  color: #fff; }

.post .post-format-quote-content blockquote {
  color: #fff;
  font-size: 24px;
  font-style: italic;
  line-height: 36px;
  margin: 0;
  padding: 0; }

.audio-box {
  margin-bottom: 20px;
  width: 100%; }
  .audio-box iframe {
    float: left; }

.galleryslider {
  margin-bottom: 30px; }

.gallerytiled {
  border: 1px solid rgba(0, 0, 0, 0.11);
  margin-bottom: 20px;
  padding: 15px;
  overflow: hidden; }
  .gallerytiled ul li {
    float: left;
    list-style: none;
    margin: 0 1px 1px 0;
    width: 19.8%; }
    .gallerytiled ul li img {
      float: left; }

.status-box {
  background: #f3f3f3;
  border-bottom: 0;
  margin-bottom: 20px;
  padding: 5px 15px;
  overflow: hidden; }
  .status-box iframe {
    float: none;
    margin: 10px auto !important;
    width: 100%; }

.single .status-box {
  border: 0;
  border-bottom: 1px solid #e3e3e3; }

.fb-status {
  padding-bottom: 15px;
  padding-top: 15px; }

.googlep-status {
  padding-bottom: 15px;
  padding-top: 15px; }
  .googlep-status div {
    display: block !important;
    margin: 0 auto !important; }

.loading {
  display: block;
  height: 200px;
  overflow: hidden; }

.loading .slides {
  opacity: 0; }

.loading div,
.loading ul,
.loading .owl-controls,
.loading .featured-title {
  display: none; }

.loading:before {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 40px auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
.flexslider {
  overflow: hidden;
  position: relative; }

.galleryslider.loading {
  background: #ffffff url(images/loading.gif) no-repeat center center;
  display: block;
  border: 1px solid #e3e3e3;
  overflow: hidden;
  height: 150px; }

.post-box .loading {
  margin-bottom: 20px; }

.post,
.content .page {
  color: #020202;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  width: 100%; }

.post-type {
  margin-right: 4px; }
  .post-type i {
    background: #f58d88;
    color: #fff;
    font-size: 11px;
    padding: 5px 0;
    text-align: center;
    width: 21px; }

/*-----------------------*/
/*	Single
/*-----------------------*/
.full-width {
  margin-bottom: 30px; }
  .full-width .content {
    margin: 0 0 30px;
    padding: 0; }

.content-detail {
  margin-bottom: 30px; }

.error404 .page-content header {
  margin: 0 3%; }

.error-page-content {
  font-size: 16px;
  line-height: 28px;
  padding: 30px;
  text-align: center; }

.error-head {
  border-bottom: 1px solid #CCCCCC;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative; }
  .error-head span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    top: -14px; }

.error-text {
  color: #f58d88;
  font-size: 230px;
  line-height: 200px;
  margin-bottom: 30px; }

.single-title {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 5px; }

.single-post-type {
  clear: both;
  margin: 0;
  width: 100%; }
  .single-post-type img {
    float: left;
    width: 100%; }

.page-links {
  margin-bottom: 20px; }

img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%; }

article img.right,
article img.alignright,
.wp-caption.alignright,
.wp-caption.aligncenter,
.wp-caption.alignnone {
  background: rgba(0, 0, 0, 0.027);
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: block;
  float: right;
  margin: 0.4em 0 1em 1.5em;
  padding: 5px; }

.wp-caption.aligncenter {
  float: none;
  margin: 0 auto 1em;
  max-width: 98%; }

.wp-caption.alignnone {
  float: none;
  margin-left: 0;
  max-width: 98%; }

article img.aligncenter,
article img.alignnone,
.gallery-icon {
  background: rgba(0, 0, 0, 0.027);
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: block;
  clear: both;
  padding: 0.8%;
  max-width: 98.4%;
  box-sizing: border-box; }

article img.left,
article img.alignleft,
.wp-caption.alignleft {
  background: rgba(0, 0, 0, 0.027);
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: block;
  float: left;
  margin: 0.5em 1.5em 1em 0;
  padding: 5px; }

.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
  color: #757575;
  font-size: 11px;
  font-style: italic;
  line-height: 20px;
  margin: 10px 0 5px; }

.wp-caption {
  padding: 4px;
  max-width: 100%; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.entry-content table {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  width: 100%; }

.entry-content th {
  padding: 6px 10px 6px 0;
  text-transform: uppercase; }

.entry-content td,
.entry-content th {
  border-top: 1px solid #e5e5e5;
  padding: 8px 20px; }

.entry-content th {
  background: rgba(0, 0, 0, 0.04); }

.entry-content dl {
  margin: 0 30px; }

.entry-content dt {
  font-weight: 700; }

.entry-content dd {
  margin: 0 0 20px; }

.entry-content ol,
.commentlist .comment ol {
  list-style: none;
  margin-bottom: 20px;
  margin-left: 20px; }
.entry-content ul,
.commentlist .comment ul {
  list-style: none;
  margin-bottom: 20px; }
.entry-content ul ul,
.entry-content ul ol,
.entry-content ol ul,
.entry-content ol ol,
.commentlist .comment ul ul,
.commentlist .comment ul ol,
.commentlist .comment ol ul,
.commentlist .comment ol ol {
  margin-bottom: 0; }

.entry-content li {
  list-style: none;
  margin-left: 22px;
  position: relative; }
.entry-content ol {
  counter-reset: section; }
  .entry-content ol > li {
    margin: 22px 0 22px 36px;
    padding: 10px 0; }
    .entry-content ol > li:before,
    .entry-content ol > li ol li:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -50px;
      background: #f58d88;
      border-radius: 50%;
      counter-increment: section;
      content: counter(section);
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      height: 42px;
      padding: 9px 0;
      text-align: center;
      width: 42px;
      z-index: 1; }
    .entry-content ol > li:after {
      content: "";
      display: block;
      position: absolute;
      top: 30px;
      left: -31px;
      background: rgba(0, 0, 0, 0.07);
      height: 100%;
      width: 4px; }
    .entry-content ol > li:last-child:after {
      display: none; }
    .entry-content ol > li ol li:last-child {
      margin-bottom: 0; }
    .entry-content ol > li ol li:before {
      top: -5px;
      content: counter(section); }
  .entry-content ol ul {
    margin-top: 20px; }
.entry-content ul li {
  list-style: none;
  margin-left: 32px;
  padding: 3px 0; }
  .entry-content ul li:before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: -30px;
    color: #f58d88;
    font-family: 'FontAwesome';
    font-size: 13px;
    text-align: center;
    width: 20px;
    z-index: 1; }
  .entry-content ul li ol li:last-child {
    margin-bottom: 0; }
.entry-content ul ol > li:before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -50px;
  background: #f58d88;
  border-radius: 50%;
  counter-increment: section;
  content: counter(section);
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  height: 42px;
  padding: 9px 0;
  text-align: center;
  width: 42px;
  z-index: 1; }
.entry-content ul ul {
  margin-top: 10px; }
.entry-content ul ol {
  margin-bottom: 20px; }

.entry-content address {
  margin-bottom: 20px; }

.entry-content code {
  font-family: Consolas, Monaco, Lucida Console, monospace; }

.entry-content pre {
  background: #fffdf7;
  border: 1px solid #f0e9c8;
  margin-bottom: 20px;
  padding: 20px;
  overflow: auto; }

/*-----------------------*/
/*	Gallery
/*-----------------------*/
.gallery {
  margin-bottom: 20px; }

.gallery:after {
  clear: both;
  content: "";
  display: block; }

.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  text-align: center; }

.gallery-icon {
  max-width: 100%; }

.gallery-columns-1 .gallery-item {
  max-width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: calc(46%); }

.gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: calc(29.3%); }

.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: calc(21%); }

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: calc(16%); }

.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: calc(12.7%); }

.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: calc(10.28%); }

.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: calc(8.5%); }

.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: calc(7.1%); }

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0; }

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: left; }

.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%; }

.gallery-caption:before {
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.gallery-item:hover .gallery-caption {
  opacity: 1; }

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none; }

.post-content blockquote {
  border-left: 2px solid #f58d88;
  font-size: 16px;
  margin: 10px 0 20px;
  padding: 0 30px; }

.post-format-content {
  margin-bottom: 20px; }
  .post-format-content .wp-video {
    margin: 0 auto; }

.post-navigation,
.image-navigation {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0 0 30px;
  margin: 0 0 30px; }
  .post-navigation a,
  .image-navigation a {
    color: inherit;
    font-size: 14px;
    line-height: 20px; }
  .post-navigation .post-nav-links,
  .image-navigation .post-nav-links {
    float: left;
    position: relative;
    width: 50%; }
  .post-navigation span,
  .image-navigation span {
    color: #000;
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 20px; }
  .post-navigation .prev-link,
  .post-navigation .next-link,
  .image-navigation .prev-link,
  .image-navigation .next-link {
    overflow: hidden;
    position: relative; }
  .post-navigation .prev-link,
  .image-navigation .prev-link {
    margin-right: 15px; }
  .post-navigation .next-link,
  .image-navigation .next-link {
    margin-left: 15px; }
  .post-navigation .next-link-wrapper,
  .image-navigation .next-link-wrapper {
    float: right;
    text-align: right; }
  .post-navigation .post-nav-link-thumb,
  .image-navigation .post-nav-link-thumb {
    float: left;
    margin-right: 15px; }
  .post-navigation .next-link-wrapper .post-nav-link-thumb,
  .image-navigation .next-link-wrapper .post-nav-link-thumb {
    float: right;
    margin-left: 15px;
    margin-right: 0; }

.single-post-ad {
  clear: both;
  margin: 0 0 10px; }

.featured-single {
  margin-bottom: 20px; }

/*---[ Breadcrumbs ]---*/
.breadcrumbs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 0 0 15px; }
  .breadcrumbs a {
    color: #333; }
  .breadcrumbs i {
    margin-right: 4px; }

/*---[ Social Share Buttons ]---*/
.share-buttons {
  background: #fff;
  display: inline-block;
  float: right;
  padding-left: 10px;
  position: relative; }
  .share-buttons span {
    margin-bottom: 0; }
  .share-buttons i {
    cursor: pointer;
    margin: 0 2px; }

.social-btn {
  margin-bottom: 10px; }
  .social-btn .fa {
    color: inherit;
    margin: 0 4px; }
  .social-btn i {
    margin: 0 5px 0 0; }

/*---[ Author Box ]---*/
.author-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 0 10px; }
  .author-box h4 {
    margin: 0; }
  .author-box h5 {
    font-size: 16px; }
  .author-box img {
    border-radius: 50%; }

.author-box-avtar {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
  max-width: 100px;
  width: 14.2%; }

.author-head {
  overflow: hidden; }

.author-info-container {
  margin-left: 0;
  overflow: hidden; }

.author-articles-count {
  color: #999;
  display: inline-block;
  font-size: 12px; }

.author-social {
  margin-bottom: 20px; }
  .author-social a {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    color: #000;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px;
    padding: 13px 0;
    text-align: center;
    border-radius: 50%;
    width: 42px; }
    .author-social a:hover {
      color: #fff; }

.author-website a:hover {
  background: #333; }

.author-fb a:hover {
  background: #395aa1; }

.author-twitter a:hover {
  background: #17a8dd; }

.author-gp a:hover {
  background: #fc5656; }

.author-linkedin a:hover {
  background: #017eb4; }

.author-pinterest a:hover {
  background: #cc2127; }

.author-dribbble a:hover {
  background: #ef5b92; }

.author-desc-box {
  background: #fff;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 1px solid #e3e3e3;
  margin: 0 0 40px;
  padding: 50px 0;
  text-align: center; }
  .author-desc-box h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 5px; }

.author-box-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  padding: 15px 20px; }

.author-box .widget-title:before {
  border: 0; }

.author-avtar {
  margin: 20px auto;
  width: 100px; }
  .author-avtar img {
    float: none; }

.author-page-info {
  color: #333;
  margin: 0 auto;
  max-width: 96%;
  position: relative;
  width: 630px; }

.author-desc {
  margin: 0 0 20px; }

.archive-cover-content.background-dark h5,
.archive-cover-content.background-dark h1,
.archive-cover-content.background-dark .author-social a {
  color: #ffffff; }

.background-dark a {
  background: rgba(0, 0, 0, 0.3); }

.archive-cover-content.background-dark .author-desc {
  border-color: rgba(213, 213, 213, 0.2); }

/*---[ Related Posts ]---*/
.related-posts {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  clear: both;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative; }
  .related-posts .featured-thumbnail {
    margin-bottom: 10px;
    margin-right: 0; }
  .related-posts ul {
    margin: 0;
    padding: 0; }
  .related-posts li {
    float: left;
    list-style: none;
    margin: 0 2.5% 20px 0;
    width: 31.667%; }
    .related-posts li:nth-child(3n) {
      margin-right: 0; }
    .related-posts li:nth-child(3n+1) {
      clear: left; }
  .related-posts .widgettitle {
    margin: 0 0 5px;
    text-align: left; }
  .related-posts .post-meta {
    text-transform: uppercase; }
  .related-posts .related-content {
    clear: both; }

/*--------------------------------------------------------------
## Layouts
--------------------------------------------------------------*/
.cblayout .post-box header,
.bclayout .post-box header {
  text-align: center; }
.cblayout .read-more,
.bclayout .read-more {
  display: block;
  text-align: center; }

.bclayout .content-area {
  float: right; }
.bclayout .sidebar {
  padding-left: 0;
  padding-right: 30px; }

.clayout .content,
.glayout .content {
  margin: 0; }
.clayout .content-area,
.glayout .content-area {
  margin: 0;
  width: 100%; }

.clayout .post {
  float: left;
  margin: 0 2.75% 30px 0;
  width: 31.5%; }
  .clayout .post:nth-child(3n) {
    margin-right: 0; }
  .clayout .post:nth-child(3n+1) {
    clear: left; }
.clayout .has-post-thumbnail .post-inner {
  overflow: visible; }
.clayout .fb-status {
  min-height: 185px; }
.clayout .twitter-status {
  min-height: 285px; }
.clayout .galleryslider {
  min-height: 175px; }
.clayout .gallerytiled {
  border: 1px solid rgba(0, 0, 0, 0.11); }
  .clayout .gallerytiled ul li {
    width: 32.9%; }

.glayout .post {
  float: left;
  margin: 0 2% 30px 0;
  width: 49%; }
  .glayout .post:nth-child(2n) {
    margin-right: 0; }
.glayout .post-inner {
  text-align: center; }
.glayout .fb-status {
  min-height: 290px; }
.glayout .twitter-status {
  min-height: 240px; }
.glayout .galleryslider {
  min-height: 262px; }
.glayout .gallerytiled {
  border: 1px solid rgba(0, 0, 0, 0.11); }
  .glayout .gallerytiled ul li {
    width: 24.7%; }

.gsblayout .content-area {
  float: left; }
.gsblayout .galleryslider {
  min-height: 175px; }

.sglayout .content-area,
.sgblayout .content-area {
  float: right; }
.sglayout .sidebar,
.sgblayout .sidebar {
  padding-left: 0;
  padding-right: 30px; }

.gslayout .post:nth-child(2n),
.gslayout .page:nth-child(2n),
.sglayout .post:nth-child(2n),
.sglayout .page:nth-child(2n) {
  margin-right: 0; }

.gslayout .post,
.gslayout .page,
.gsblayout .post,
.gsblayout .page,
.sglayout .post,
.sglayout .page,
.sgblayout .post,
.sgblayout .page {
  float: left;
  margin: 0 4% 30px 0;
  width: 48%; }
.gslayout .has-post-thumbnail .post-inner,
.gsblayout .has-post-thumbnail .post-inner,
.sglayout .has-post-thumbnail .post-inner,
.sgblayout .has-post-thumbnail .post-inner {
  overflow: visible; }
.gslayout .fb-status,
.gsblayout .fb-status,
.sglayout .fb-status,
.sgblayout .fb-status {
  min-height: 291px; }
.gslayout .twitter-status,
.gsblayout .twitter-status,
.sglayout .twitter-status,
.sgblayout .twitter-status {
  min-height: 285px; }
.gslayout .gallerytiled,
.gsblayout .gallerytiled,
.sglayout .gallerytiled,
.sgblayout .gallerytiled {
  border: 1px solid rgba(0, 0, 0, 0.11); }
  .gslayout .gallerytiled ul li,
  .gsblayout .gallerytiled ul li,
  .sglayout .gallerytiled ul li,
  .sgblayout .gallerytiled ul li {
    width: 32.9%; }

.gsblayout .post:nth-child(2n+1),
.gsblayout .page:nth-child(2n+1),
.sgblayout .post:nth-child(2n+1),
.sgblayout .page:nth-child(2n+1) {
  margin-right: 0; }
.gsblayout .post:first-child,
.gsblayout .page:first-child,
.sgblayout .post:first-child,
.sgblayout .page:first-child {
  width: 100%; }
  .gsblayout .post:first-child .post-inner,
  .gsblayout .page:first-child .post-inner,
  .sgblayout .post:first-child .post-inner,
  .sgblayout .page:first-child .post-inner {
    text-align: center; }
  .gsblayout .post:first-child .post-content p,
  .gsblayout .page:first-child .post-content p,
  .sgblayout .post:first-child .post-content p,
  .sgblayout .page:first-child .post-content p {
    text-align: left; }

.flayout .main-wrapper {
  background: transparent; }
.flayout .content-area {
  margin: 0;
  width: 100%; }
.flayout .content {
  margin: 0 auto; }
.flayout .gallerytiled {
  border: 1px solid rgba(0, 0, 0, 0.11); }
  .flayout .gallerytiled ul li {
    width: 13.8%; }

.glayout .pagination,
.glayout .norm-pagination,
.clayout .pagination,
.clayout .norm-pagination,
.flayout .pagination,
.flayout .norm-pagination {
  border-left: 0; }

.lslayout .featured-thumbnail,
.sllayout .featured-thumbnail {
  margin-right: 25px;
  margin-bottom: 0;
  max-width: 35%;
  width: 295px; }
.lslayout .post-inner,
.sllayout .post-inner {
  clear: none;
  overflow: hidden; }
.lslayout .post:first-child .featured-thumbnail-big,
.sllayout .post:first-child .featured-thumbnail-big {
  margin: 0 0 30px;
  max-width: 100%;
  width: 100%; }
.lslayout .post:first-child .post-inner,
.sllayout .post:first-child .post-inner {
  clear: both;
  overflow: visible;
  text-align: center; }
.lslayout .post:first-child .post-content p,
.sllayout .post:first-child .post-content p {
  text-align: left; }

.sllayout .content-area {
  float: right; }
.sllayout .sidebar {
  padding-left: 0;
  padding-right: 30px; }

.single .flayout .content {
  padding: 0; }

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
/*---[ Post Navigation ]---*/
.navigation {
  clear: both;
  display: block; }

/*---[ Pagination ]---*/
.pagination,
.norm-pagination {
  clear: both;
  font-size: 14px;
  margin: 20px 0 30px;
  text-align: center;
  text-transform: uppercase; }

.single .pagination {
  border: 0;
  margin: 15px 0 20px;
  padding: 0; }

.single .pagination a {
  background: rgba(0, 0, 0, 0.04); }

.single .pagination a:hover {
  color: #fff; }

.norm-pagination .nav-previous a {
  float: left; }

.norm-pagination .nav-next a {
  float: right; }

.pagination span,
.pagination a {
  border: 1px solid #ebebeb;
  color: #333;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 2px 10px; }

.pagination .current,
.pagination a:hover {
  color: #fff; }

.page-links-title {
  display: inline-block;
  font-weight: 400;
  margin: 0 10px 0 0; }

.single .pagination span,
.single .pagination a {
  line-height: 1.6;
  margin: 0 6px 0 0; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	10. Comments
/*-----------------------------------------------------------------------------------*/
.comments-area {
  clear: both;
  margin: 0 0 10px; }
  .comments-area .avatar {
    float: left;
    margin-bottom: 10px;
    margin-right: 2%;
    border-radius: 50%; }

.commentlist {
  margin: 0;
  padding: 0;
  position: relative; }
  .commentlist .comment,
  .commentlist .pingback {
    float: left;
    list-style: none;
    margin: 0;
    width: 100%; }
  .commentlist .pingback .comment-body {
    padding: 0 0 20px; }
  .commentlist .comment-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    margin: 0 0 20px; }
  .commentlist .comment .children {
    float: left;
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
    width: 90%; }
  .commentlist .children li {
    margin: 0;
    position: relative;
    width: 100%; }

.fn {
  font-size: 15px;
  font-style: normal;
  font-weight: 700; }
  .fn a {
    color: #333; }

.comment-meta {
  font-size: 12px;
  margin: 5px 0; }
  .comment-meta a {
    color: #7d7d7d;
    font-style: italic; }

.comment-text {
  overflow: hidden; }

.bypostauthor {
  font-size: 12px; }

.reply i {
  color: #555;
  margin: 0 3px 0 0;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.comment-reply-link {
  color: #f58d88;
  display: inline-block;
  float: right;
  font-size: 11px; }

.comment-reply-title {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase; }

.comment-form {
  margin: 15px 0 0; }
  .comment-form p {
    margin: 0 0 15px;
    position: relative; }
  .comment-form label {
    color: #999;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase; }
  .comment-form .form-submit {
    clear: both; }
  .comment-form .comment-form-comment {
    clear: both;
    overflow: hidden;
    width: 100%; }
  .comment-form .comment-form-author,
  .comment-form .comment-form-email {
    margin-right: 2%; }
  .comment-form input,
  .comment-form textarea {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.11);
    display: block;
    font-size: 14px;
    margin: 4px 0 0;
    padding: 10px 10px; }
  .comment-form textarea {
    width: 100%; }
  .comment-form .required {
    color: #dc0413; }
  .comment-form .submit {
    background-color: #f58d88;
    border: 0;
    color: #fff;
    font-family: "PT Serif", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 32px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .comment-form .submit:hover {
      background: #000;
      color: #fff; }

.comment-form-author,
.comment-form-email,
.comment-form-url {
  float: left;
  width: 32%; }
  .comment-form-author input,
  .comment-form-email input,
  .comment-form-url input {
    width: 100%; }

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	11. Sidebar
/*-----------------------------------------------------------------------------------*/
.sidebar {
  background: transparent;
  float: left;
  padding-left: 30px;
  width: 28.6%; }

.sidebar a {
  color: #333; }
  .sidebar a:hover {
    color: #f58d88; }

.sidebar .search-button {
  float: left; }

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
.widget-title {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  font-family: "PT Serif";
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 15px 0 0;
  text-align: center;
  text-transform: uppercase; }
  .widget-title i {
    margin-right: 5px; }

.widget {
  font-family: "PT Serif";
  line-height: 1.8;
  margin-bottom: 20px; }
  .widget li {
    list-style: none;
    margin: 0 0 5px 20px;
    position: relative; }
    .widget li:before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background: rgba(0, 0, 0, 0.2);
      display: block;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      left: -20px;
      top: 50%;
      margin-top: -2px;
      -webkit-transition: all 0.25s linear 0s;
      transition: all 0.25s linear 0s; }
    .widget li:hover:before {
      background: #f58d88; }
  .widget .children,
  .widget .sub-menu {
    margin-top: 7px;
    padding-left: 20px; }
    .widget .children li:last-child,
    .widget .sub-menu li:last-child {
      border-bottom: 0;
      padding-bottom: 0; }
  .widget .sub-menu
  .sub-menu
  .sub-menu
  .sub-menu {
    padding-left: 0; }
    .widget .sub-menu
    .sub-menu
    .sub-menu
    .sub-menu li {
      margin-left: 0; }
  .widget .menu li {
    float: none; }
  .widget .menu .menu-item-has-children > a:after {
    display: none; }

.sidebar-widget {
  list-style: none;
  margin-bottom: 30px;
  position: relative; }
  .sidebar-widget li:last-child {
    margin-bottom: 0; }

.sidebar-widget:first-child .widget-title {
  border-top: 0;
  padding-top: 0; }

/*-----------------------------------------------------------------------------------*/
/*	12. Widgets
/*-----------------------------------------------------------------------------------*/
/*-----------------------*/
/*	12.1. Default Widgets
/*-----------------------*/
.widget_categories .cat-item a {
  display: block;
  padding: 4px 0; }

.cat-count {
  display: inline-block;
  float: right;
  font-size: 14px;
  line-height: 16px;
  margin: 1px 0 0; }

/*-----------------------*/
/*	12.2. Recent Posts
/*-----------------------*/
.recent-posts-widget {
  clear: both;
  padding: 0; }

.category-posts,
.recent-posts,
.random-posts,
.widget .popular-posts {
  margin: 0 !important;
  padding: 0; }

.category-posts li,
.recent-posts li,
.random-posts li,
.popular-posts li {
  list-style: none;
  margin-bottom: 25px;
  margin-left: 0;
  overflow: hidden; }

/*-----------------------*/
/*	12.3. Search Form
/*-----------------------*/
.searchform {
  padding: 0;
  position: relative;
  width: 100%; }
  .searchform fieldset {
    color: #888; }
  .searchform .search-submit {
    display: none; }

.s {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6) inset;
  background: transparent;
  border: none;
  color: #777;
  float: left;
  height: 35px;
  margin: 0;
  outline: 0;
  padding: 10px 0 9px 3%;
  width: 88%; }

.search-button {
  background: #f58d88;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 700;
  min-width: 13px;
  padding: 0;
  height: 35px;
  text-transform: uppercase;
  width: 12%;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  .search-button:hover {
    background: #000; }

/*-----------------------*/
/*	12.4. Tags Widget
/*-----------------------*/
.sidebar .tagcloud {
  overflow: hidden; }

.tagcloud a {
  background: rgba(0, 0, 0, 0.027);
  color: rgba(0, 0, 0, 0.6) !important;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  padding: 5px 12px 5px 12px;
  position: relative; }
  .tagcloud a:hover {
    background: #3a3a3a;
    color: #fff !important; }

/*-----------------------*/
/*	12.5. Subscribe Widget
/*-----------------------*/
.subscribe-widget {
  background: rgba(0, 0, 0, 0.043);
  clear: both;
  float: left;
  padding: 20px 20px 5px;
  width: 100%; }
  .subscribe-widget form {
    padding: 0;
    overflow: hidden; }
  .subscribe-widget .fa,
  .subscribe-widget p {
    font-size: 18px; }
  .subscribe-widget .fa {
    margin-bottom: 15px; }

.subscribe-widget input[type=text],
.jetpack_subscription_widget input[type=text] {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  color: #777;
  float: left;
  height: 36px;
  margin: 0 0 10px;
  outline: 0;
  padding: 8px 0;
  text-indent: 10px;
  width: 99.1%; }
.subscribe-widget input[type=submit],
.jetpack_subscription_widget input[type=submit] {
  background-color: #000;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 35px;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s; }
  .subscribe-widget input[type=submit]:hover,
  .jetpack_subscription_widget input[type=submit]:hover {
    background-color: #1d1d1d;
    color: #fff; }

.footer .subscribe-widget input[type=text],
.footer .jetpack_subscription_widget input[type=text] {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.11); }

/*-----------------------*/
/*	12.6. Social Widget
/*-----------------------*/
.social-widget li {
  border: 0 !important;
  float: left;
  font-size: 14px;
  list-style-type: none;
  margin-bottom: 4px !important;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0; }
  .social-widget li:before {
    display: none; }
  .social-widget li .fa {
    background: #f2f2f2;
    color: #fff;
    float: left;
    font-size: 16px;
    margin: 0;
    width: 39px;
    padding: 12px 0;
    text-align: center;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .social-widget li:hover .fa {
    color: #fff; }
.social-widget .facebook span {
  color: #3b5999; }
.social-widget .facebook:hover span {
  background: #3b5999; }
.social-widget .twitter span {
  color: #00aced; }
.social-widget .twitter:hover span {
  background: #00aced; }
.social-widget .gplus span {
  color: #ff4444; }
.social-widget .gplus:hover span {
  background: #ff4444; }
.social-widget .rss span {
  color: #ff8800; }
.social-widget .rss:hover span {
  background: #ff8800; }
.social-widget .pinterest span {
  color: #cc2127; }
.social-widget .pinterest:hover span {
  background: #cc2127; }
.social-widget .linkedin span {
  color: #017eb4; }
.social-widget .linkedin:hover span {
  background: #017eb4; }
.social-widget .flickr span {
  color: #fe0084; }
.social-widget .flickr:hover span {
  background: #fe0084; }
.social-widget .instagram span {
  color: #854e3a; }
.social-widget .instagram:hover span {
  background: #854e3a; }
.social-widget .youtube span {
  color: #cc181e; }
.social-widget .youtube:hover span {
  background: #cc181e; }
.social-widget .tumblr span {
  color: #274057; }
.social-widget .tumblr:hover span {
  background: #274057; }
.social-widget .dribble span {
  color: #ea4c89; }
.social-widget .dribble:hover span {
  background: #ea4c89; }
.social-widget .git span {
  color: #333; }
.social-widget .git:hover span {
  background: #333; }
.social-widget .xing span {
  color: #015960; }
.social-widget .xing:hover span {
  background: #015960; }
.social-widget.circular span {
  border-radius: 50%; }

/*-----------------------*/
/*	12.7. 125x125 Ads
/*-----------------------*/
.ad-125-widget {
  clear: both;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0; }
  .ad-125-widget ul,
  .ad-125-widget li {
    border: 0 !important;
    list-style: none;
    margin: 0; }
  .ad-125-widget li {
    max-width: 125px;
    padding: 0;
    width: 42%; }
    .ad-125-widget li.adleft {
      float: left;
      margin: 0 5% 10px 0; }
    .ad-125-widget li.adright {
      float: right;
      margin: 0 0 10px; }

/*-----------------------*/
/*	12.8. 160x600 Ads
/*-----------------------*/
.ad-widget-160 {
  clear: both;
  margin: 0 auto 30px;
  width: 160px; }

/*-----------------------*/
/*	12.9. 300x250 Ads
/*-----------------------*/
.ad-300-widget {
  clear: both;
  margin: 0 auto 30px;
  max-width: 300px;
  width: 100%; }

/*-----------------------*/
/*	12.10. Tabs
/*-----------------------*/
.tabs-widget {
  margin-bottom: 30px; }

.tabs {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  list-style: none;
  margin: 0 0 20px;
  padding-top: 15px;
  overflow: hidden; }
  .tabs li {
    border: 0;
    display: inline;
    float: left;
    width: 50%;
    margin: 0;
    padding: 0 15px 0 0;
    position: relative;
    text-align: right; }
    .tabs li:first-child:before {
      border-right: 1px solid rgba(0, 0, 0, 0.08);
      content: '';
      position: absolute;
      right: -1px;
      top: 0;
      bottom: 0; }
    .tabs li:last-child {
      text-align: left;
      padding: 0 0 0 15px; }
  .tabs span {
    display: block; }
  .tabs a {
    color: #bbb;
    display: block;
    float: right;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    text-transform: uppercase;
    width: 100%; }
  .tabs .active a {
    color: #000; }

.tabs-content ul {
  margin: 0;
  padding: 0; }
.tabs-content li {
  margin: 0 0 15px;
  overflow: hidden; }
  .tabs-content li:last-child {
    margin-bottom: 0; }

.tab-content {
  display: none; }

/*-----------------------*/
/*	12.11. Popular Posts
/*-----------------------*/
.widgetthumb {
  float: left;
  margin: 4px 10px 0 0;
  width: 100%; }

.popular-posts {
  display: block;
  counter-reset: section; }
  .popular-posts .thumbnail-big:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f58d88;
    counter-increment: section;
    content: counter(section);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 4px 10px;
    z-index: 1; }

.thumbnail {
  float: left;
  margin-right: 10px;
  position: relative;
  max-width: 26%;
  width: 68px; }

.thumbnail-big {
  float: none;
  margin: 0;
  max-width: 100%;
  width: 100%; }
  .thumbnail-big .widgetthumb {
    float: left;
    margin: 0 0 10px 0; }

.info {
  overflow: hidden; }

.widgettitle {
  color: #000;
  display: block;
  font-family: "PT Serif", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 5px; }
  .widgettitle a {
    color: inherit; }

.meta,
.r-meta {
  color: #777;
  display: block;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase; }

.meta a {
  color: #777; }
.meta span {
  display: inline-block;
  margin-right: 10px;
  padding-right: 6px;
  position: relative; }
  .meta span:before {
    content: "-";
    display: block;
    position: absolute;
    top: 0;
    right: -6px; }
  .meta span:last-child {
    margin-right: 0;
    padding-right: 0; }
    .meta span:last-child:before {
      display: none; }
.meta .fa {
  margin-right: 2px; }

.style-two .widgettitle,
.style-two .meta {
  text-align: center; }

/*-----------------------*/
/*	12.12. Flickr
/*-----------------------*/
.flickr_badge_image {
  display: inline;
  margin: 0; }
  .flickr_badge_image img {
    float: left;
    margin: 0 0 6px;
    padding: 0 3px; }

/*-----------------------*/
/*	12.13. Calendar Widget
/*-----------------------*/
#wp-calendar {
  background: #f3f3f3;
  width: 100%; }
  #wp-calendar caption,
  #wp-calendar th,
  #wp-calendar td {
    text-align: center; }
  #wp-calendar th {
    background: rgba(255, 136, 16, 0.6);
    color: #fff;
    padding: 10px 0; }
  #wp-calendar td {
    padding: 10px 0; }
  #wp-calendar caption {
    background: #f58d88;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    text-transform: uppercase; }
  #wp-calendar tbody tr:nth-child(2n) {
    background: #f9f9f9; }
  #wp-calendar tfoot a {
    font-weight: 700;
    text-transform: uppercase; }
  #wp-calendar tfoot tr td {
    padding-left: 10px;
    text-align: left; }
  #wp-calendar td#today a {
    color: #ffffff !important; }

/*--------------------------*/
/*	12.14. Pinterest Widget
/*--------------------------*/
.pinterest-widget {
  padding: 0 3px 3px; }

/*--------------------------*/
/*	12.15. Categories Widget
/*--------------------------*/
.categories-widget li {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  float: left;
  margin-bottom: 6px;
  margin-left: 0;
  margin-right: 1%;
  position: relative;
  width: 49%; }
  .categories-widget li:before {
    display: none; }
  .categories-widget li:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .categories-widget li:nth-child(2n) {
    margin-left: 1%;
    margin-right: 0; }

.cats-widget-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.cats-widget-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 6px;
  right: 6px; }

.widget .categories-widget a {
  color: #fff; }
  .widget .categories-widget a:hover {
    color: #fff; }
    .widget .categories-widget a:hover .cats-widget-text {
      background: rgba(0, 0, 0, 0.3); }

/*--------------------------*/
/*	12.16. Author Widget
/*--------------------------*/
.author-info-widget {
  background: rgba(0, 0, 0, 0.043);
  padding: 20px; }
  .author-info-widget .author-avatar {
    margin-bottom: 20px; }
  .author-info-widget img {
    border-radius: 50%; }
  .author-info-widget h4 {
    margin-top: 15px; }
  .author-info-widget .author-social a:hover {
    color: #fff; }

.author-description {
  margin-bottom: 20px; }

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	9. Footer
/*-----------------------------------------------------------------------------------*/
.footer {
  background: #fcfcfc;
  color: #777;
  clear: both;
  overflow: hidden; }
  .footer a {
    color: #777; }
    .footer a:hover {
      color: #fff; }

.footer-top-widget {
  float: left;
  width: 100%; }

.footer-widgets {
  margin: 0 auto;
  padding: 40px 0 20px;
  width: 100%; }

.footer-widget {
  float: left; }
  .footer-widget .widget-title {
    color: #000; }
  .footer-widget .widget {
    margin: 0 0 25px 0; }
    .footer-widget .widget li {
      border-bottom-color: rgba(0, 0, 0, 0.1); }

.footer-columns-4 .footer-widget {
  margin-right: 2%;
  width: 23.5%; }

.footer-columns-3 .footer-widget {
  margin: 0 2% 0 0;
  width: 32%; }

.footer-columns-2 .footer-widget {
  margin: 0 2% 0 0;
  width: 49%; }

.footer-columns-1 .footer-widget {
  margin: 0;
  width: 100%; }

.copyright {
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  color: #aaa;
  padding: 15px 0;
  overflow: hidden;
  width: 100%; }

.copyright-text p {
  margin: 0; }

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 8em;
  right: 25px;
  color: #000;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: 12px;
  padding: 10px 15px;
  display: none;
  border-radius: 40px; }
  .back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.5); }
  .back-to-top .icon-angle-up {
    color: #000;
    font-size: 24px; }

/*---[ Instagram Photos ]---*/
.instagram-photos {
  position: relative;
  text-align: center; }
  .instagram-photos ul {
    overflow: hidden; }
  .instagram-photos li {
    display: block;
    float: left;
    width: 12.5%; }

.instagram-title {
  background: #fff;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 8px 20px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .instagram-title a {
    color: #787878; }

/*---[ Footer Featured Area ]---*/
.footer-feature-posts {
  background: rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin: 20px 0 50px;
  padding: 20px 20px 0; }
  .footer-feature-posts .container {
    max-width: 100%; }
  .footer-feature-posts .featured-thumbnail {
    margin: 0 20px 0 0;
    max-width: 30%; }
  .footer-feature-posts header {
    margin: 20px 0 0;
    overflow: hidden; }
  .footer-feature-posts .footer-featured-post .title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 6px; }
  .footer-feature-posts .post-author span {
    margin: 0 3px 0 0; }

.footer-featured-post {
  background: #fff;
  float: left;
  margin: 0 2% 20px 0;
  padding: 15px;
  width: 49%; }
  .footer-featured-post:nth-child(2n) {
    margin-right: 0; }

.footer-meta {
  margin-bottom: 25px; }

/*--------------------------------------------------------------
## Ads
--------------------------------------------------------------*/
.blog-ad {
  margin-bottom: 40px; }

.ad-below-cs {
  margin: 0 auto 10px;
  max-width: 96%; }

/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
    .owl-carousel .owl-stage:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-controls .owl-nav .owl-prev,
  .owl-carousel .owl-controls .owl-nav .owl-next,
  .owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel .owl-refresh .owl-item {
    display: none; }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .owl-carousel .owl-item img {
      display: block;
      width: 100%;
      -webkit-transform-style: preserve-3d; }
  .owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto; }
  .owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
    .owl-carousel.owl-rtl .owl-item {
      float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }
.owl-carousel .owl-item img {
  transform-style: preserve-3d; }

.owl-controls .owl-dot,
.owl-controls .owl-nav div {
  cursor: pointer; }
.owl-controls .owl-dot {
  display: inline-block; }
  .owl-controls .owl-dot span {
    background: #fff;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 9px;
    margin: 0 3px;
    text-indent: -9999px;
    width: 9px; }
  .owl-controls .owl-dot.active span, .owl-controls .owl-dot:hover span {
    background: #fff; }

.owl-dots {
  bottom: 12px;
  left: 0;
  right: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  z-index: 10; }

.owl-prev,
.owl-next {
  background: #fff;
  color: #000;
  cursor: pointer;
  font-size: 32px;
  line-height: 1;
  padding: 0 12px 3px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.owl-next {
  left: auto;
  right: 0; }

.owl-theme .owl-controls .owl-dot {
  display: inline-block;
  margin: 20px 0 0;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */ }

.slider-meta span {
  color: #fff;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }
.slider-meta .post-cats {
  display: block;
  margin: 0 0 5px;
  padding-left: 7px; }

.slider-cat span {
  font-weight: 700; }

.f-thumb,
.f-thumb:hover {
  color: #848484;
  margin: 0; }

.featuredslider {
  position: relative; }
  .featuredslider .post-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%; }
  .featuredslider .f-title {
    color: inherit; }
  .featuredslider .post-meta {
    color: #fff;
    margin-bottom: 8px;
    text-transform: uppercase; }
    .featuredslider .post-meta span:nth-child(2) {
      margin-left: 10px; }
      .featuredslider .post-meta span:nth-child(2):before {
        content: "-";
        display: block;
        position: absolute;
        top: 0;
        left: -10px; }
  .featuredslider .post-cats span {
    color: #fff; }
  .featuredslider .post-author {
    text-transform: capitalize; }
    .featuredslider .post-author span {
      color: #fff;
      font-style: italic;
      text-transform: lowercase; }
  .featuredslider .post-cats {
    color: #fff; }
  .featuredslider .read-more {
    display: block;
    margin: 15px 0 0; }
    .featuredslider .read-more span {
      border: 1px solid #efefef;
      color: #fff;
      display: inline-block;
      font-size: 12px;
      padding: 7px 25px 6px;
      position: relative;
      text-transform: uppercase; }

.slider-inner {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  margin: 0 auto;
  padding: 60px 30px;
  text-align: center;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.cover-heading .slider-inner {
  background: transparent;
  border: 3px solid #fff; }
.cover-heading .slider-inner .post-meta-title {
  color: #fff; }
  .cover-heading .slider-inner .post-meta-title:before {
    border-color: #fff;
    display: block; }
  .cover-heading .slider-inner .post-meta-title:after {
    border-color: #fff; }
.cover-heading .slider-inner .post-author a {
  color: inherit; }

.f-title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0; }

.carousel .f-title {
  font-size: 22px; }
.carousel .post-inner {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }
.carousel .slider-inner {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 20px 30px; }
.carousel .post-meta {
  color: #fff;
  display: block;
  margin-bottom: 6px; }
  .carousel .post-meta a {
    color: #fff; }
.carousel .post-cats,
.carousel .post-cats span {
  color: #fff; }
.carousel .post-date {
  margin-left: 10px; }
  .carousel .post-date:before {
    content: "-";
    display: block;
    position: absolute;
    left: -10px; }
.carousel .slider-content {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  visibility: hidden;
  height: 0;
  overflow: hidden; }
.carousel .owl-item:hover .slider-inner {
  background: #f58d88; }
.carousel .owl-item:hover .slider-content {
  visibility: visible;
  height: 68px; }

/*--------------------------------------------------------------
## Plugins
--------------------------------------------------------------*/
/*-----------------------*/
/*	11.1. Contact Form 7
/*-----------------------*/
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="date"],
.wpcf7 input[type="number"],
.wpcf7 textarea {
  background: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 10px; }

.wpcf7-submit {
  background: #262626;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 16px;
  text-transform: uppercase; }

.wpcf7-submit:hover {
  background: #000000; }

/*---[ JetPack Infinite Scroll ]---*/
/* Hides navigation links and site footer when infinite scroll is active */
.infinite-scroll .navigation,
.infinite-scroll.neverending #footer {
  display: none; }

/* Shows the footer again in case all posts have been loaded */
.infinity-end.neverending #footer {
  display: block; }

#infinite-handle {
  margin-bottom: 30px;
  text-align: center; }

#infinite-handle span {
  display: inline-block; }

.infinite-loader {
  margin-bottom: 30px !important; }

.infinite-loader .spinner {
  left: 50% !important; }

.infinite-scroll .content {
  margin-bottom: 3px; }

/*---[ JetPack Related Styles ]---*/
.post .sd-content ul li:before {
  content: ''; }

#infinite-footer .container {
  max-width: 100%;
  width: 1170px; }

#disqus_thread {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  padding: 20px; }

/*# sourceMappingURL=style.css.map */
