<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
 <style>
  .container{
  margin-top:20px;
  }
  .jiyo-description-description .container .box-effect iframe {
    width:720px;
    height:440px;
  }
  
  .img-size{
    width:500px;
    height:500px;
    }
   .page-title{
    font-size: 12px;
  }
 @media only screen and (max-width: 480px) and (min-width: 300px) {
  .row.footer-wrapper {
    width: 540px;
}
   .jiyo-description-description .container {
    width: 100%;
    float: left;
  }
  
  .jiyo-description-description .container .box-effect iframe {
    height: 200px !important;
    width: 100%;
  }
 }
 @media only screen and (max-width: 720px) and (min-width: 481px) {
   .jiyo-description-description .container {
    width: 100%;
    float: left;
  }
  
  .jiyo-description-description .container .box-effect iframe {
    height: 300px !important;
    width: 100%;
  }
 }
  </style>
   </head>
   <body>
   <?php
   $article_id = $_GET['id'];
   $api_secret = '14c958c91058b4c6632bc3364340a615';
	 $api_key = 'APOLLO_PHARMACY';
	 $media_type = 'image'; 
	 $ch = curl_init('https://api.jiyo.com/v3/public/article/'.$article_id);
	 curl_setopt($ch, CURLOPT_HTTPHEADER, array(
				'API-KEY: ' . $api_key,
				'API-SECRET: ' . $api_secret
				));
	 curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);
	$response = curl_exec($ch);
	$final_res = json_decode($response);
  ?>
   <div class="container">
	<div  class="row box-effect">
			<center><div class="row form-group">
				<?php
                  $_url = $final_res->data->teaser_image->content;
                  $path  = stristr($_url, 'jpg', true);
                  if($path!= ""){
                  	?>
                <img src="<?php echo $_url; ?>" >
                <?php  }else{ ?>
                <iframe width="720" height="440" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                <?php } ?>
                
			</div></center>
            <div class="row col-sm-12" style="font-size:15px;margin-bottom: 15px;margin-top: 10px;}">
			<span style="font-weight:bold;text-align:justify"><?php echo $final_res->data->title; ?></span><br>
			<p style="line-height: 1.5em;margin-top: 8px; text-align:justify"><?php echo $final_res->data->description; ?></p>
			</div>
			
		</div>
   </div>
	</body>
	</html>
	<script>
	require([ 'jquery', 'jquery/ui'], function($){
	    jQuery(document).ready(function(){
		    var change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="<?php echo $_SERVER['HTTP_REFERER'];  ?>" title="Go to Home Page">< Back</a></li></ul></div>';
		    jQuery(".base").html(change_data);
        })
    })
	</script>