<?php
    $article_id = $_GET['id'];
    $api_secret = '14c958c91058b4c6632bc3364340a615';
     $api_key = 'APOLLO_PHARMACY';
     $media_type = 'image'; 
     $ch = curl_init('https://api.jiyo.com/v3/public/article/'.$article_id);
     curl_setopt($ch, CURLOPT_HTTPHEADER, array(
                'API-KEY: ' . $api_key,
                'API-SECRET: ' . $api_secret
                ));
     curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);
    $response = curl_exec($ch);
    $final_res = json_decode($response);
?>
<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
          <a href="javascript:window.history.back();">
          	<img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>" />
          </a>
          <?php if(!empty($final_res->data->category->title)) { ?>
          <div class="heading-text">
            <?php echo ucfirst($final_res->data->category->title); ?>
          </div>
        <?php } else { ?> 
            <div class="heading-text">
                <?php echo ucfirst($final_res->data->title); ?>
            </div>
        <?php } ?>
        </div>
    </div>
    <div class="rows tips-details-content padding_top20">
        <div class="container-fluid">
            <?php
            $_url = $final_res->data->teaser_image->content;
            $path  = stristr($_url, 'jpg', true);
            if($path!= "") {
            ?>
            <div class="white-box tips-dtl-img">
                <img src="<?php echo $_url; ?>" >
            </div>
            <?php  } else { ?>
            <div class="white-box tips-dtl-img tips-dtl-video">
                <iframe width="100%" height="400" src="<?php echo $_url; ?>" frameborder="0"></iframe>
            </div>
            <?php } ?>
            <div class="rows tips-dtl-content">
                <div class="main-heading padding_top20"><?php echo ucfirst($final_res->data->title); ?></div>
                <p><?php echo nl2br($final_res->data->description); ?></p>
            </div>
        </div>
    </div>
</section>