<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <style>
  .page-title{
  	font-size: 12px;
  }
  .sidenav {
    width: 200px;
    position: absolute;
    top: 252px;
    left: 22px;
    background: transparent;
    overflow-x: hidden;
    /*padding: 210px 0;*/
}

.sidenav a {
   /* padding: 6px 8px 6px 16px;*/
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: white;
}

.main {
    margin-left: 70px; /* Same width as the sidebar + left position in px */
    font-size: 18px; /* Increased text to enable scrolling */
    /*padding: 0px 10px;*/
    /*margin-top: -200px;*/
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.nav-tabs{
  background-color:#CCD1D1;
}

.tab1{

    width: 50%;
    text-align: center;
}

.tab2{
width:50%;
text-align:center;
}

.nav-tabs > li > a:hover{
  background-color:#fff !important;
    border-radius: 5px;
    color:#626567;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #F2F3F4 !important;
    color:#626567;
    
}

		.tab-pane a{
		color:#626567;
		}
	
		.tab-content{
	    margin-top: 30px;
	    font-size: 14px;
        line-height: 18px;
		}
		
		.box-effect{
		box-shadow: 2px 2px 2px lightgrey;;
		}
		
		.icon-size{
			width:100%;
		}
		
		.bits-img-size{
			width:270px;
			height:140px;
			float:right;
		}
		
		.article-img-size{
		float:left;
		width:318px;
		height:140px;
		}
		a.click-me {
		    margin-bottom: 10px;
		}
.page-header {
    padding-bottom: 0px; 
    margin: 0px; 
    border-bottom: none; 
}
.panel{
	-webkit-box-shadow: none;
	box-shadow:none;
	margin-bottom: 0px; 
}
.breadcrumbs{
	 padding-top: 0px; 
	 margin-top: 0px;
}
</style>
<!--  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
   </head>
   <body>
<input type="hidden" id="my_url" value="<?php echo $this->getUrl('jiyo/api/test') ?>">
 <?php
     $api_secret = '14c958c91058b4c6632bc3364340a615';
	 $api_key = 'APOLLO_PHARMACY'; 
	 $category = 'Move';
	 $data = "category=".$category; 
	 $ch = curl_init('https://api.jiyo.com/v3/public/bit-list/?'.$data);
	 curl_setopt($ch, CURLOPT_HTTPHEADER, array(
				'API-KEY: ' . $api_key,
				'API-SECRET: ' . $api_secret
				));
	 curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);
	$response = curl_exec($ch);
	$final_res = json_decode($response);
	$len = count($final_res->data);

	$ch1 = curl_init('https://api.jiyo.com/v3/public/article-list/?'.$data);
	 curl_setopt($ch1, CURLOPT_HTTPHEADER, array(
				'API-KEY: ' . $api_key,
				'API-SECRET: ' . $api_secret
				));
	 curl_setopt($ch1,CURLOPT_RETURNTRANSFER,1);
	$response1 = curl_exec($ch1);
	$final_res1 = json_decode($response1);
	$len1 = count($final_res1->data);
  ?>  
 <div class="container">
   <div class="sidenav">
	  <a href="javascript:void(0)" class="click-me" id="Move"><img src="http://eshoptest.apollopharmacy.org/apollogs/pub/media/jiyo/exercise.jpg" class="icon-size"></a>
	  <a href="javascript:void(0)" class="click-me" id="Meditate"><img src="http://eshoptest.apollopharmacy.org/apollogs/pub/media/jiyo/meditation.jpg" class="icon-size"></a>
	  <a href="javascript:void(0)" class="click-me" id="Nourish"><img src="http://eshoptest.apollopharmacy.org/apollogs/pub/media/jiyo/nutrition.jpg" class="icon-size"></a>
	  <a href="javascript:void(0)" class="click-me" id="Sleep"><img src="http://eshoptest.apollopharmacy.org/apollogs/pub/media/jiyo/sleep.jpg" class="icon-size"></a>
	  <a href="javascript:void(0)" class="click-me" id="Love"><img src="http://eshoptest.apollopharmacy.org/apollogs/pub/media/jiyo/relationships.jpg" class="icon-size"></a>
	  <a href="javascript:void(0)" class="click-me" id="Grow"><img src="http://eshoptest.apollopharmacy.org/apollogs/pub/media/jiyo/personal.jpg" class="icon-size"></a>
	</div>
		<div class="main my-main-content">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
				  <li class="tab1 active"><a href="javascript:void(0)" role="tab" data-toggle="tab">Bits</a></li>
				  <li class="tab2"><a href="javascript:void(0)" role="tab" data-toggle="tab">Articles</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane active" id="bits">
				  	<?php for($i=0; $i<$len; $i++){ ?>
				  <div  class="row box-effect" style="margin-top: 6px;">
				  <div class="col-sm-8">
					<span style="font-weight:bold;"><a href="http://eshoptest.apollopharmacy.org/apollogs/jiyo/description/description/?id=<?php echo $final_res->data[$i]->article_id; ?>"><?php echo $final_res->data[$i]->title; ?></a></span><br>
					<p style="line-height: 1.5em;height: 4.3em;overflow: hidden;margin-top: 8px;"><a style="text-decoration:  none;" href="http://apo.theretailinsights.info/jiyo/description/description/?id=<?php echo $final_res->data[$i]->article_id; ?>">     <?php echo $final_res->data[$i]->description; ?></a></p>
					</div>
					<div class="col-sm-4">
					    <a href="http://eshoptest.apollopharmacy.org/apollogs/jiyo/description/description/?id=<?php echo $final_res->data[$i]->article_id; ?>"><img src="<?php echo $final_res->data[$i]->teaser_image->preview; ?>"  class="bits-img-size img-responsive"></a>
					</div>
					
				</div>
				<?php } ?>
				  </div>
				  <div class="tab-pane" id="articles">
				  <?php for($j=0; $j<$len1; $j++){ ?>
		        <div  class="row box-effect" style="margin-top: 6px;">
				  <div class="col-sm-4">
					<a href="http://eshoptest.apollopharmacy.org/apollogs/jiyo/description/description/?id=<?php echo $final_res1->data[$j]->id; ?>"><img src="<?php echo $final_res1->data[$j]->teaser_image->preview; ?>"  class="article-img-size img-responsive"></a>
					</div>
				  <div class="col-sm-8">
					<span style="font-weight:bold;"><a href="http://eshoptest.apollopharmacy.org/apollogs/jiyo/description/description/?id=<?php echo $final_res1->data[$j]->id; ?>"><?php echo $final_res1->data[$j]->title; ?></a></span><br> 
					<p style="line-height: 1.5em;height: 4.3em;overflow: hidden;margin-top: 8px;">
					<a style="text-decoration:  none;" href="http://eshoptest.apollopharmacy.org/apollogs/jiyo/description/description/?id=<?php echo $final_res1->data[$j]->id; ?>"><?php echo $final_res1->data[$j]->description; ?></a></p>
					</div>
				</div>
				<?php } ?>
				  </div>
				 
				</div>
		</div>
</div>

	</body>
	</html>
	<script>
	require([ 'jquery', 'jquery/ui'], function($){
	    jQuery(document).ready(function(){
	    	function func_name(){
	    		jQuery('.tab2').click(function() {
	    		jQuery('#articles').show();
	    		jQuery('#bits').hide();
	    	});
	    	jQuery('.tab1').click(function() {
	    		jQuery('#articles').hide();
	    		jQuery('#bits').show();
	    	});
	    }
	    func_name();
	    
		    var change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="http://eshoptest.apollopharmacy.org/apollogs/" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Exercise</strong></li></ul></div>';
		    jQuery(".base").html(change_data);

    jQuery(".click-me").click(function() {
    var address = $(this).attr('id');
    var my_url = $("#my_url").val();
    var change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="http://eshoptest.apollopharmacy.org/apollogs/" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Exercise</strong></li></ul></div>';
    if(address == 'Move'){
    change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="http://eshoptest.apollopharmacy.org/apollogs/" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Exercise</strong></li></ul></div>';
    }else if(address == 'Meditate'){
        change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="http://eshoptest.apollopharmacy.org/apollogs/" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Meditation</strong></li></ul></div>';    
    }else if(address == 'Nourish'){
        change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="http://eshoptest.apollopharmacy.org/apollogs/" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Nutrition</strong></li></ul></div>';
    }else if(address == 'Love'){
        change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="http://eshoptest.apollopharmacy.org/apollogs/" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Relationship</strong></li></ul></div>';
    }else if(address == 'Sleep'){
        change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="http://eshoptest.apollopharmacy.org/apollogs/" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Sleep</strong></li></ul></div>';
    }else if(address == 'Grow'){
        change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="http://eshoptest.apollopharmacy.org/apollogs/" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Personal Growth</strong></li></ul></div>';
    }
        $.ajax({
          url: my_url,
          data: {"address":address},
          type: "POST",
          showLoader: true
        }).done(function (data) {
            jQuery(".my-main-content").html(data);
            jQuery(".base").html(change_data);
            func_name();
        });
 });
/* jiyo api call ends here*/

        })
    })
	</script>