<?php
  $cuy = $block->getLayout()->createBlock('Retail\Jiyo\Block\Base\Url');
  $base_url = $cuy->siteUrl();
  $data = "category=Meditate&size=2&page=1"; 

  function getArticales($data){
    $api_secret = '14c958c91058b4c6632bc3364340a615';
    $api_key = 'APOLLO_PHARMACY';
    $ch1 = curl_init('https://api.jiyo.com/v3/public/article-list/?'.$data);
        curl_setopt($ch1, CURLOPT_HTTPHEADER, array(
        'API-KEY: ' . $api_key,
        'API-SECRET: ' . $api_secret
    ));

    curl_setopt($ch1,CURLOPT_RETURNTRANSFER,1);
    $response1 = curl_exec($ch1);
    return json_decode($response1);
  }

  $meditate_res = getArticales($data);
  
  if(count($meditate_res->data)) {
?>
<div class="rows">
  <div class="main-heading padding_lr20">Related Articles <a href="<?php echo $this->getBaseUrl();?>jiyo/health/tips/" class="pull-right">VIEW ALL</a></div>
  <div class="product-related-slider flexslider thumbnail-tab">
    <ul class="slides">
      <?php foreach ($meditate_res->data as $key => $value) { ?>
      <li>
        <div class="item">
          <div class="health-tips-box-inner">
            <a href="<?php echo $base_url; ?>jiyo/health/details/?id=<?php echo $value->id;?>">
              <?php
                $_url = $value->teaser_image->preview;
                $path  = stristr($_url, 'jpg', true);
                if($path!= "") {
              ?>
              <figure>
                <img src="<?php echo $_url; ?>" alt="<?php echo ucfirst($value->title); ?>">
              </figure>
              <?php  } else { ?>
              <div class="video-box">
                <iframe width="100%" height="130px" src="<?php echo $_url; ?>" frameborder="0"></iframe>
              </div>
              <?php } ?>
              <div class="health-tip-detail">
                  <span><?php echo ucfirst($value->title); ?></span>
                  <div class="health-tip-time" style="color: #818080;">
                      <?php 
                        foreach ($value->labels as $key => $lvalue) {
                           if($lvalue->type == 'label_duration'){
                               echo $lvalue->name.' read';
                           }
                        }
                      ?>
                  </div>
                  <!-- <div class="health-tip-date">
                      27 Oct 18
                  </div> -->
              </div>
            </a>
          </div>
        </div>
      </li>
    <?php } ?>
    </ul>
  </div>
</div>
<script>
  (function(){
      require(['jquery', 'jquery/ui', 'magestore/flexslider'], function($) {
        $(window).load(function(){
          $('.product-related-slider').flexslider({
            animation: "slide",
            animationLoop: false,
            itemWidth: 210,
            itemMargin: 0,
            minItems: 2,
            controlNav: false,
            directionNav: false,
            start: function(slider){
              $('body').removeClass('loading');
            }
          });
        });
      });
  })();
</script>
<?php } ?>