<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
.nav-tabs>li>a {
	margin-right: 0px;
	border-radius: 0px !important;
}
.nav-tabs>li.active>a {
	border: 0px solid #ddd !important;
}
.page-title {
	font-size: 12px;
}
.sidenav a {
	text-decoration: none;
	font-size: 15px;
	color: black;
	display: block;
}
.main {
	min-height: 380px;
}
@media screen and (max-height: 450px) {
	/* .sidenav {padding-top: 15px;} */
	.sidenav a {font-size: 18px;}
}
.nav-tabs {background-color: #CCD1D1;}
.tab1, .tab2, .tab3 {
	width: 50%;
	text-align: center;
}
.nav-tabs > li > a:hover {
	color: #fff;
	border-radius: 5px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	color: #fff;
	background-color: #007C9D !important;
}
span.no_data {
	font-size: 20px;
	color: #007C9D;
	padding-left: 5px;
}
.tab-content {
	margin-top: 30px;
	font-size: 14px;
	line-height: 18px;
}
.icon-size {width: 100%;}
.tab-pane a {color: #626567;}
.box-effect {
	padding: 15px 0;
	margin-bottom: 15px;
	box-shadow: 0 0 2px 1px lightgrey
}
.bits-img-size {
	width: 270px;
	float: right;
	height: 140px;
}
.article-img-size {
	float: left;
	width: 318px;
	height: 180px;
}
a.click-me {margin-bottom: 10px;}
.page-header {
	padding-bottom: 0px;
	margin: 0px;
	border-bottom: none;
}
.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 0px;
}
.breadcrumbs {
	padding-top: 0px;
	margin-top: 0px;
}
@media only screen and (max-width: 480px) and (min-width: 300px) {
	.jiyo-index-index .container {
		float: left;
		width: 100%;
		padding: 0px;
	}
	.row.footer-wrapper {width: 540px;}
	.jiyo-index-index .column.main {margin-left: 0px;}
	.sidenav {
		width: 100%;
		position: relative;
		top: 0px;
		left: 0px;
		float: left;
	}
	.jiyo-index-index .container .sidenav a {
		width: 49%;
		float: left;
		margin-right: 1%;
	}
	.jiyo-index-index .my-main-content {
		float: left;
		width: 100%;
		position: relative;
	}
	.jiyo-index-index .bits-img-size {
		width: 100%;
		height: auto;
		float: right;
	}
	.jiyo-index-index .container .col-sm-8 p {
		height: auto !important;
		text-align: justify;
		font-size: 13px;
	}
	.jiyo-index-index .tab-content .tab-pane .row.box-effect {margin-bottom: 20px;}
}
@media only screen and (max-width: 767px) and (min-width: 481px) {
	.jiyo-index-index .container {
		float: left;
		width: 100%;
		padding: 0px;
	}
	.jiyo-index-index .column.main {margin-left: 0px;}
	.sidenav {
		width: 28%;
		position: relative;
		top: 0px;
		left: 0px;
		float: left;
		padding-top: 0px;
	}
	.jiyo-index-index .container .sidenav a {
		width: 100%;
		float: left;
		margin-right: 1%;
	}
	.jiyo-index-index .main.my-main-content {
		float: left;
		position: relative;
		padding-left: 0px;
		margin-left: 3%;
		width: 68%;
	}
	.jiyo-index-index .bits-img-size {
		width: 100%;
		height: auto;
		float: right;
	}
	.jiyo-index-index .container .col-sm-8 p {
		height: auto !important;
		text-align: justify;
		font-size: 13px;
	}
	.jiyo-index-index .tab-content .tab-pane .row.box-effect {
		margin-bottom: 20px;
	}
	.jiyo-index-index .box-effect .col-sm-4 .article-img-size {
		float: left;
		width: 100%;
		max-height: 160px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.jiyo-index-index .columns .column.main {margin-left: 0px;}
	
	.jiyo-index-index .container .main.my-main-content {
		margin-left: 0px;
		float: left;
		width: 74%;
	}
	.jiyo-index-index .container .col-sm-8 p {
		height: auto !important;
		text-align: justify;
		font-size: 13px;
	}
	.jiyo-index-index .tab-content .tab-pane .row.box-effect {margin-bottom: 20px;}
	.tab-content .tab-pane.active .row.box-effect {
		margin-right: 0px;
		margin-left: 0px;
	}
}
@media(max-width: 480px){
	.sidenav a{width: 49%;}
	.sidenav a:nth-of-type(odd){float: left;}
	.sidenav a:nth-of-type(even){float: right;}
}
.modal-content{all: unset;}
.modal-header{border-bottom: 0;}
</style>


   </head>

   <body>

<input type="hidden" id="my_url" value="<?php echo $this->getUrl('jiyo/api/test') ?>">

 <?php

     if(isset($_GET["search"])){

     	$jiyo_id = $_GET["search"];

     	$category = $jiyo_id;

     }else{

     	$category = 'Move';

     }

     if($category == 'Move'){

     $breadcrum = 'Exercise';

     }elseif($category == 'Meditate'){

     $breadcrum = 'Meditation';

     }elseif($category == 'Nourish'){

     $breadcrum = 'Nutrition';

     }elseif($category == 'Sleep'){

     $breadcrum = 'Sleep';

     }elseif($category == 'Love'){

     $breadcrum = 'relationships';

     }elseif($category == 'Grow'){

     $breadcrum = 'Personal';

     }

     $cuy = $block->getLayout()->createBlock('Retail\Jiyo\Block\Base\Url');

     $base_url = $cuy->siteUrl();

     $api_secret = '14c958c91058b4c6632bc3364340a615';

	 $api_key = 'APOLLO_PHARMACY';

	 $data = "category=".$category; 

	 $ch = curl_init('https://api.jiyo.com/v3/public/bit-list/?'.$data);

	 curl_setopt($ch, CURLOPT_HTTPHEADER, array(

				'API-KEY: ' . $api_key,

				'API-SECRET: ' . $api_secret

				));

	 curl_setopt($ch,CURLOPT_RETURNTRANSFER,1);

	$response = curl_exec($ch);

	$final_res = json_decode($response);

	$len = count($final_res->data);



	$ch1 = curl_init('https://api.jiyo.com/v3/public/article-list/?'.$data);

	 curl_setopt($ch1, CURLOPT_HTTPHEADER, array(

				'API-KEY: ' . $api_key,

				'API-SECRET: ' . $api_secret

				));

	 curl_setopt($ch1,CURLOPT_RETURNTRANSFER,1);

	$response1 = curl_exec($ch1);

	$final_res1 = json_decode($response1);

	$len1 = count($final_res1->data);

  ?>  

 <div class="row">
   <div class="sidenav col-xs-2">
	  <a href="javascript:void(0)" class="click-me" id="Move"><img src="<?php echo $base_url; ?>pub/media/jiyo/exercise.jpg" class="icon-size"></a>
	  <a href="javascript:void(0)" class="click-me" id="Meditate"><img src="<?php echo $base_url; ?>pub/media/jiyo/meditation.jpg" class="icon-size"></a>
	  <a href="javascript:void(0)" class="click-me" id="Nourish"><img src="<?php echo $base_url; ?>pub/media/jiyo/nutrition.jpg" class="icon-size"></a>
	  <a href="javascript:void(0)" class="click-me" id="Sleep"><img src="<?php echo $base_url; ?>pub/media/jiyo/sleep.jpg" class="icon-size"></a>
	  <a href="javascript:void(0)" class="click-me" id="Love"><img src="<?php echo $base_url; ?>pub/media/jiyo/relationships.jpg" class="icon-size"></a>
	  <a href="javascript:void(0)" class="click-me" id="Grow"><img src="<?php echo $base_url; ?>pub/media/jiyo/personal.jpg" class="icon-size"></a>
	</div>
		<div class="main my-main-content col-xs-10">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
			<!-- 	 <li  class="tab1 active"><a href="javascript:void(0)" role="tab" data-toggle="tab">Bits</a></li> -->
					<li class="tab2 active" style="border-right: 1px solid #1979c3;border-left: 1px solid #1979c3;"><a href="javascript:void(0)" role="tab" data-toggle="tab">Articles</a></li>
					<li  class="tab3"><a href="javascript:void(0)" role="tab" data-toggle="tab">Videos</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane active" id="articles">
				  <?php for($j=0; $j<$len1; $j++){ ?>
		        <div  class="clearfix box-effect">
				  <div class="col-sm-4">
					<a href="<?php echo $base_url; ?>jiyo/description/description/?id=<?php echo $final_res1->data[$j]->id; ?>"><img src="<?php echo $final_res1->data[$j]->teaser_image->preview; ?>"  class="article-img-size img-responsive"></a>
					</div>
				  <div class="col-sm-8">
					<span style="font-weight:bold;"><a href="<?php echo $base_url; ?>jiyo/description/description/?id=<?php echo $final_res1->data[$j]->id; ?>"><?php echo $final_res1->data[$j]->title; ?></a></span><br> 
					<p style="line-height: 1.5em;height: 4.3em;overflow: hidden;margin-top: 8px;">
					<a style="text-decoration:  none;" href="<?php echo $base_url; ?>jiyo/description/description/?id=<?php echo $final_res1->data[$j]->id; ?>"><?php echo $final_res1->data[$j]->description; ?></a></p>
					</div>
				</div>
				<?php } ?>
				  </div>
                  <div class="tab-pane" id="videos">
				  	<?php for($i=0; $i<$len; $i++){ 
				  		$img_type = $final_res->data[$i]->media_type;
                        if($img_type == "video"){
				  	 ?>
				  <div  class="row box-effect" style="margin-top: 6px;">
				  <div class="col-sm-8">
					<span style="font-weight:bold;"><a href="<?php echo $base_url; ?>jiyo/description/description/?id=<?php echo $final_res->data[$i]->article_id; ?>"><?php echo $final_res->data[$i]->title; ?></a></span><br>
					<p style="line-height: 1.5em;height: 4.3em;overflow: hidden;margin-top: 8px;">
						<a style="text-decoration:  none;" href="<?php echo $base_url; ?>jiyo/description/description/?id=<?php echo $final_res->data[$i]->article_id; ?>">     <?php echo $final_res->data[$i]->description; ?></a></p>
					</div>
					<div class="col-sm-4">
					    <a href="<?php echo $base_url; ?>jiyo/description/description/?id=<?php echo $final_res->data[$i]->article_id; ?>"><img src="<?php echo $final_res->data[$i]->teaser_image->preview; ?>"  class="bits-img-size img-responsive"></a>
					</div>
				</div>

				<?php }
				
				} 
				?>

				  </div>				 

				</div>

		</div>

</div>



	</body>

	</html>

	<script>

	require([ 'jquery', 'jquery/ui'], function($){

		

	jQuery(document).ready(function(){



	function func_name(){

    jQuery('.tab2').click(function() {

    jQuery('.tab2').addClass('active');

    jQuery('.tab1').removeClass('active');

    jQuery('.tab3').removeClass('active');

   	jQuery('#articles').show();

   	jQuery('#bits').hide();

   	jQuery('#videos').hide();

   	});


   jQuery('.tab3').click(function() {

    jQuery('.tab3').addClass('active');

    jQuery('.tab2').removeClass('active');

    jQuery('.tab1').removeClass('active');

   	jQuery('#articles').hide();

   	jQuery('#bits').hide();

   	jQuery('#videos').show();

   	});

   }

   func_name();



		    var change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="<?php echo $base_url; ?>" title="Go to Home Page">Home</a></li><li class="item category14"><strong><?php echo $breadcrum; ?></strong></li></ul></div>';

		    jQuery(".base").html(change_data);



    jQuery(".click-me").click(function() {

    var address = $(this).attr('id');

    var my_url = $("#my_url").val();

    var change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="<?php echo $base_url; ?>" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Exercise</strong></li></ul></div>';

    if(address == 'Move'){

    change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="<?php echo $base_url; ?>" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Exercise</strong></li></ul></div>';

    }else if(address == 'Meditate'){

        change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="<?php echo $base_url; ?>" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Meditation</strong></li></ul></div>';    

    }else if(address == 'Nourish'){

        change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="<?php echo $base_url; ?>" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Nutrition</strong></li></ul></div>';

    }else if(address == 'Love'){

        change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="<?php echo $base_url; ?>" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Relationship</strong></li></ul></div>';

    }else if(address == 'Sleep'){

        change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="<?php echo $base_url; ?>" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Sleep</strong></li></ul></div>';

    }else if(address == 'Grow'){

        change_data = '<div class="breadcrumbs"><ul class="items"><li class="item home"><a href="<?php echo $base_url; ?>" title="Go to Home Page">Home</a></li><li class="item category14"><strong>Personal Growth</strong></li></ul></div>';

    }

        $.ajax({

          url: my_url,

          data: {"address":address},

          type: "POST",

          showLoader: true

        }).done(function (data) {

        	jQuery(".tab2").trigger("click");
   
            jQuery(".tab-content").replaceWith(data);

            jQuery(".base").html(change_data);

        });

 });

/* jiyo api call ends here*/



        })

    })

	</script>