<!--The 'step_code' value from the .js file should be used-->
<li id="guest_checkout" data-bind="fadeVisible: isVisible">
<div class="step-title" data-bind="i18n: 'Guest Checkout'" data-role="title">Guest Checkout</div>
<br>
    <div id="checkout-step-title" class="step-content" data-role="content">
         <form data-bind="submit: navigateToNextStep" id="guest-checkout-otp" method="post">
            <div class="actions-toolbar">
            <div class="field required"  data-bind="fadeVisible: isPresent">
            <label class="label" for="guest-otp">
                <span data-bind="i18n: 'Enter your mobile number'"></span>
            </label>
                <div class="control _with-tooltip">
                <input class="input-text"
                       type="text"
                       name="mobile_otp"
                       data-validate="{required:true}"
                        min-length="10"
                         max-length="13"
                       id="mobile_otp"
                       value="" />
                     <span id="otp-validated-success" style="color:green;display:none;">OTP Validated Successfully</span>

                     <span id="otp-validated-error" style="color:red;display:none;">OTP Validation Failed</span>  
                </div>
            </div>
          <div class="actions-toolbar" data-bind="fadeVisible: isPresent">
                <input name="context" type="hidden" value="checkout" />
                <input name="context" type="hidden" value="guest" />
                <div class="primary">
                    <button type="button" data-bind="event: { click: generateotp}" id="get_otp" style="background:#1979c3;color:#ffff;margin-top:20px;float:left;"><span data-bind="i18n: 'Get Otp'"></span></button>
                </div>
            
                <div class="primary">
                 
                    <button data-role="opc-continue" type="submit" class="button action continue primary" style="margin-top:20px;display:none;" id="next-btn" data-bind="fadeVisible: !isPresent">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                    <button data-role="opc-continue" type="submit" class="button action continue primary" style="margin-left:100px;margin-top:20px;" data-bind="fadeVisible: !isPresent">
                        <span><!-- ko i18n: 'Skip'--><!-- /ko --></span>
                    </button>
                    </div>
                </div>
            </div>

                    <div id="myModal" class="modal">
                      <div class="modal-content">
                        <span class="close" data-bind="event: { click: closepopup}">&times;</span>
                         <p>Enter OTP</p> 
                        <p><input type="number" min-length="6" max-length="6" id="otp_value"></p>
                        
                        <p><button type="button" style="background:#1979c3;color:#ffff;" value="submit" data-bind="event: { click: submitotp}"><!-- ko i18n: 'Validate Otp'--><!-- /ko --></button></p>
                    </div>

</div>
</div>
        </form>
    </div>
</li>
