<?php /**
 * Copyright © 2016 Jake Sharp (http://www.jakesharp.co/) All rights reserved.
 */
?>
<?php $_items = $block->getSliderProductsCollection() ?>
<?php if(count($_items)==0) : ?>
<?php return  ?>
<?php endif ?>

<?php $_helper = $this->helper('Magento\Catalog\Helper\Output') ?>
<?php $sliderId = $block->getSliderDisplayId() ?>
<?php $slider = $block->getSlider()  ?>

<?php $image = 'category_page_grid' ?>
<?php $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW ?>
<?php $viewMode = 'grid' ?>
<?php $class = $slider->getType() ?>
<?php $type = "" ?>
<?php $showWishlist = $slider->getDisplayWishlist() ?>
<?php $showCompare = $slider->getDisplayCompare() ?>
<?php $showCart = $slider->getDisplayCart() ?>
<div class="block block-product-slider slider-list <?php /* @escapeNotVerified */ echo $class; ?>" <?php echo $slider->getRtl() ? 'dir="rtl" ' : "" ?> >
    <?php if($slider->getDisplayTitle()): ?>
        <div class="block-title title">
            <strong id="block-<?php /* @escapeNotVerified */ echo $class?>-heading" role="heading" aria-level="2" style="font-size:24px !important;color:#007C9D;text-transform:uppercase;text-decoration:underline !important;font-weight:200 !important;"><?php /* @escapeNotVerified */ echo $slider->getTitle() ?></strong>
        </div>
    <?php endif ?>
    <div class="block-content content" aria-labelledby="block-<?php /* @escapeNotVerified */ echo $class?>-heading">
        <?php if(!empty($_items)): ?>
            <div class="products wrapper grid products-grid products-<?php /* @escapeNotVerified */ echo $type; ?>">
            <ol class="products list items product-slider<?php echo $sliderId ?>">
                <?php foreach($_items as $collection): ?>
                    <?php $iterator = 1; ?>
                    <?php foreach ($collection as $_item): ?>

                    <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                    <div class="product-item-info<?php echo $slider->getGrid() ? '' : '-'.$class ?>">
                        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product photo product-item-photo">
                            <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                        </a>
                        <div class="product details product-item-details">
                        <strong class="product name product-item-name"><a class="product-item-link" title="<?php echo $block->escapeHtml($_item->getName()) ?>" href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>">
                            <?php echo $block->escapeHtml($_item->getName()) ?></a>
                        </strong>
                        <?php if($slider->getDisplayPrice()): ?>
                            <?php /* @escapeNotVerified */ echo $block->getProductPrice($_item); ?>
                        <?php endif ?>
                            <?php if ($templateType): ?>
                                <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                            <?php endif; ?>

                            <?php if ($showWishlist || $showCompare || $showCart): ?>
                                <div class="product actions product-item-actions">
                                    <?php if ($showCart): ?>
                                        <div class="actions-primary">
                                            <?php if ($_item->isSaleable()): ?>
                                                <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                    <button class="action tocart primary" data-mage-init='{"redirectUrl": {"url": "<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}' type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php else: ?>
                                                    <?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                    ?>
                                                    <button class="action tocart primary"
                                                            data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php endif; ?>
                                            <?php else: ?>
                                                <?php if ($_item->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>

                                    <?php if ($showWishlist || $showCompare): ?>
                                        <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                <a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'  class="action towishlist" data-action="add-to-wishlist" title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                                    <span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
                                                </a>
                                            <?php endif; ?>
                                            <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                <?php
                                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                                ?>
                                                <a href="#" class="action tocompare"
                                                   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'
                                                   data-role="add-to-links"
                                                   title="<?php /* @escapeNotVerified */ echo __('Add to Compare'); ?>">
                                                    <span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
                                                </a>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <?php echo($iterator == count($collection)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                <?php endforeach ?>
            </ol>
        </div>
        <?php endif ?>
    </div>
</div>

<?php if(!$slider->getGrid()): ?>
<script type="text/javascript">
    require(['jquery', 'slick'], function($){
        $(function(){
            $('.product-slider'+<?php echo $sliderId ?>).slick({
                dots: <?php echo var_export((bool)$slider->getNavigation()) ?>,
                infinite: <?php echo var_export((bool)$slider->getInfinite()) ?>,
                slidesToShow: <?php echo $slider->getSlidesToShow() ?>,
                slidesToScroll: <?php echo $slider->getSlidesToScroll() ?>,
                speed: <?php echo $slider->getSpeed() ?>,
                autoplay: <?php echo var_export((bool)$slider->getAutoplay()) ?>,
                autoplaySpeed: <?php echo $slider->getAutoplaySpeed() ?>,
                cssEase: 'linear',
                rtl: <?php echo var_export((bool)$slider->getRtl()) ?>,
                responsive: [
                    {
                     breakpoint: <?php echo $slider->getBreakpointLarge() ?>,
                     settings: {
                       slidesToShow: <?php echo $slider->getLargeSlidesToShow() ?>,
                       slidesToScroll: <?php echo $slider->getLargeSlidesToScroll() ?>
                     }
                   },
                   {
                     breakpoint: <?php echo $slider->getBreakpointMedium() ?>,
                     settings: {
                       slidesToShow: <?php echo $slider->getMediumSlidesToShow() ?>,
                       slidesToScroll: <?php echo $slider->getMediumSlidesToScroll() ?>
                     }
                   },
                   {
                     breakpoint: <?php echo $slider->getBreakpointSmall() ?>,
                     settings: {
                       slidesToShow: <?php echo $slider->getSmallSlidesToShow() ?>,
                       slidesToScroll: <?php echo $slider->getSmallSlidesToScroll() ?>
                     }
                   }
                ]
            })
        })
    });
</script>
<?php endif ?>

