body {
    background: #fff;
    line-height: 1;
    color: $color__text-screen;
    font-family: $font__main;
    font-size: 14px;
    line-height: 1.6;
}
a {
    color: $color__primary;
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    &:hover {
        color: $color__primary;
    }
}
::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}
::selection {
    background: #222;
    color: white;
    text-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
    color: #000;
    font-family: $font__headings;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 20px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
p {
    margin-bottom: 20px;
}
blockquote {
    font-size: 14px;
    font-style: italic;
    padding: 20px 30px;
}
em,
i,
cite {
    font-style: italic;
}
strong {
    font-weight: 700;
}
img,
video,
object,
embed {
    max-width: 100%;
}
img {
    height: auto;
    vertical-align: middle;
}
caption,
th,
td {
    text-align: left;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -3px;
}
sup {
    top: -4px;
}
.section-title {
    border-bottom: 2px solid black(0.03);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 30px;
    padding: 0 0 6px;
    position: relative;
    text-transform: uppercase;
    &:before {
        @include position(absolute,null,null,-2px,0);
        background: $color__primary;
        height: 2px;
        width: 100px
    }
}
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    &:focus {
        background-color: #f1f1f1;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        color: #21759b;
        display: block;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
        /* Above WP toolbar. */
    }
}