body{padding: 0;margin: 0;font-family: Arial;background: #e5e5e5}
.main{border: 0px solid red;width: 960px;margin: auto;height: auto;padding: 10px;}
#logo-div{width: 53%;float: left;background: #3a3a3a;padding: 1%}
#image-div{width: 43%;float: left;background: #3a3a3a;padding: 1%;text-align: right;}
#image-div img{width: 80%}
table{background: #3a3a3a;}
.head1{font-size: 50px;color: #ffffff;margin: 0;padding: 0}
.head2{font-size: 45px;color: #ffffff;margin: 0;padding: 0}
.clrline{clear: both;}


#left-bar{width: 48%;float: left;background: #ffffff;padding: 1%;text-align: left;}
#right-bar{width: 48%;float: left; /*padding: 35% 1% 1% 3%;*/}
#right-bar h2{color: #3e3e3e;font-size: 28px;}
#right-bar h3{color: #3e3e3e;font-weight: 500;font-size: 28px;}

#footer{width: 100%;}


@media only screen and (min-width: 981px) and (max-width: 1024px) {
	#right-bar{width: 40%;float: left;padding: 30% 1% 1% 3%;}	
}


@media only screen and (max-width: 980px) {
.main{border: 0px solid red;width: 98%;margin: auto;height: auto;padding: 1%;}
.head1{font-size: 40px;color: #ffffff;margin: 0;padding: 0}
.head2{font-size: 35px;color: #ffffff;margin: 0;padding: 0}
#right-bar{width: 40%;float: left;padding: 36.5% 1% 1% 3%;}
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
.head1{font-size: 40px;color: #ffffff;margin: 0;padding: 0}
.head2{font-size: 35px;color: #ffffff;margin: 0;padding: 0}
#image-div img{width: 90%}
#right-bar{width: 40%;float: left;padding: 41% 1% 1% 3%;}	
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
.main{border: 0px solid red;width: 98%;margin: auto;height: auto;padding: 1%;}
.head1{font-size: 38px;color: #ffffff;margin: 0;padding: 0}
.head2{font-size: 33px;color: #ffffff;margin: 0;padding: 0}	
#image-div img{width: 100%}
#right-bar{width: 40%;float: left;padding: 48% 1% 1% 3%;}	
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
.head1{font-size: 27px;color: #ffffff;margin: 0;padding: 0}
.head2{font-size: 22px;color: #ffffff;margin: 0;padding: 0}
#image-div img{width: 100%}
#right-bar, #left-bar{padding: 1%;float: none;width: 98%}	
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
.head1{font-size: 25px;color: #ffffff;margin: 0;padding: 0}
.head2{font-size: 22px;color: #ffffff;margin: 0;padding: 0}
#image-div img{width: 100%}
#right-bar, #left-bar{padding: 1%;float: left;width: 48%}	
#right-bar h2{font-size: 18px;}
#right-bar h3{font-size: 18px;}
}
.accordion-tab{padding:5px 0px;}
