<?php
/**
 * Webkul software.
 * @category Webkul
 * @package Webkul_ZipCodeValidator
 * @author Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */ 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$storeManager = $objectManager->create('Magento\Store\Model\StoreManagerInterface');
$catalogSession = $objectManager->get('Magento\Catalog\Model\Session');
$productType = $objectManager->create('Apollo\AssignOrders\Observer\Updateorderinfo')->getOrderTypes($product->getId(),$objectManager);
$existingPincode = $catalogSession->getCustomerPincode();
$checkoutSession = $objectManager->get('Magento\Checkout\Model\Session');
$pincodesession = $checkoutSession->getPincodesession();
if($pincodesession!="") {
    $existingPincode = $pincodesession;
}
?>
<div class="rows padding_bottom20 padding_lr20">
  <div class="main-heading padding_bottom10"><?php echo __('Check Delivery Time & COD Availability');?></div>
  <div class="white-box location-pin-box">
    <div class="location-pin">
      <form class="product_page_cod_check_form" name="product_page_cod_check_form" action="" method="post" data-hasrequired="<?php echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'>
        <div class="row">
          <div class="col-7 no-padding-r">
            <div class="pos-rel">
              <input type="hidden" value="<?php echo $productType; ?>" id="product_type_hidden">
              <input type="hidden" value="<?php echo $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);; ?>" id="application_url">
              <input data-validate="{required:true,minlength:6,digits:true}" type="text" name="cod_pincode" class="pincode-iput form-control" placeholder="Enter Pincode" id="cod_pincode" value="<?php echo $existingPincode; ?>" maxlength="6"/>

              <div class="pincode-icon"><img src="<?php echo $this->getViewFileUrl('images/placeholder_copy_2.png'); ?>" /></div>
            </div>
          </div>
          <div class="col-5">
            <button class="btn green-btn check_pincode_availability" type="submit"><?php echo __('Check');?></button>
          </div>
        </div>
      </form>
    </div>
    <?php 
      if(!empty($existingPincode)){
      $result = $objectManager->create('Apollo\Medicine\Helper\Data')->getCodShippingAvailbility($existingPincode);
      $responseHtml = $objectManager->create('Apollo\Medicine\Controller\Medicine\Productzipcodecheck')->getMessage($productType,$result);
    ?>
    <div id="pincode_check_message">
      <div class="estimated-box">
        <div class="estimated-date">
          <?php echo $responseHtml; ?>
        </div>
      </div>
    </div>
    <?php } else {
        echo  '<div id="pincode_check_message"></div>';
      }
    ?>
  </div>
</div>