<?php  

$data= $block->getCustomData();

 
 $res=$block->getNewData($data['shipping_name']);
 
  
?>
  <form method="post" action="<?php echo $block->getmyUrl();?>reminder/customer/editpost"> 
<div class="edit-box">  
<table border: 1px solid gray;>
<tr>
<td><div><b>Frequency</div></b>
<select class="wth-130" name="frequency">
       <option <?php echo ($data['frequency'] == 10)?"selected":"" ?> >10</option>
       <option <?php echo ($data['frequency'] == 11)?"selected":"" ?> >11</option>
       <option <?php echo ($data['frequency'] == 12)?"selected":"" ?> >12</option>
       <option <?php echo ($data['frequency'] == 13)?"selected":"" ?> >13</option>
 </select>
 <span>days</span>

</td>
</tr>
<tr>
<td> <div class="response-field-date">
        <div class="subtemplate-wrapper">
            <label for="" style="" class=""><div><b>Start Date</b></div></label>
            <div class="row">
                <div class="input-box col-sm-12">
                   <?php echo $data['start_date']; ?>
                </div>
            </div>
        </div>
    </div></td>
</tr>
<tr><!-- 
<td>Next Notify Date:&nbsp;&nbsp;<?php //echo $data['notify_date']; ?></td> -->
</tr>
<tr>
<td><div><b>Quantity<b></div><input class="wth-130" type="text" name="quantity" value="<?php echo $data['quantity']; ?>"></td>
</tr>
</table>
<div class="text-center">
<input type="submit" value="Submit" style="color: #fff !important;
    box-shadow: none !important;
    border-color: #007c9d !important;
    background-color: #007c9d !important;  padding: 5px 15px ; margin-top:5px;margin-bottom:5px; border:none;" >
	</div>
</div>

<input type="hidden" name="product_id" value="<?php echo $data['product_id']; ?>">

<input type="hidden" name="id" value="<?php echo $data['id']; ?>">
</form>

<style>
.edit-box{ border: 1px solid gray;
    width: 240px;
    max-width: 100%;}
	
.edit-box select {
    width: 250px;
    max-width: 100%;
}
.text-center{
	text-align:center;
}
.edit-box .wth-130{
	width:136px;
	max-width:100%;
}

.edit-box table{
	width:100%;
}
.edit-box tr {
    border-bottom: 1px solid;
}

</style>