<?php 
    const PARAM_NAME_BASE64_URL = 'r64';
    const PARAM_NAME_URL_ENCODED = 'uenc';
    use Magento\Framework\App\Action\Action;
    $productCollectionBlock = $block->getProductBySku(); 
    if(!empty($productCollectionBlock) && count($productCollectionBlock) > 0 ) {
 ?>
<section class="recently-products-wrap popular-your-city-wrap no-padding-t">
    <div class="main-heading"><?php echo __('Popular in your City'); ?></div>
    <div class="recently-products-slider flexslider thumbnail-tab">
        <ul class="slides">
            <?php foreach ($productCollectionBlock as $_item) { ?>
            <?php $postParams = $block->getAddToCartPostParams($_item); ?>
            <li>
                <div class="white-box">
                    <div class="cat-icon">
                        <?php 
                            $imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\ListProduct');
                            $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
                            $productImage = $imageBlock->getImage($_item, 'category_page_grid');
                        ?>
                        <a href="<?php echo $_item->getProductUrl(); ?>"><?php echo $productImage->toHtml()  ?></a>
                    </div>
                    <div class="product-name"><a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl(); ?>"><?php echo $_item->getName();?></a></div>
                    <div class="product-price"><?php echo $abstractProductBlock->getProductPrice($_item) ?></div>
                    <?php 
                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                        $listBlock = $objectManager->get('\Magento\Catalog\Block\Product\ListProduct');
                        $addToCartUrl =  $listBlock->getAddToCartUrl($_item);
                    ?>
                    <div class="rows">
                        <form data-role="tocart-form" action="<?php echo $addToCartUrl; ?>" method="post"> 
                         <?php echo $block->getBlockHtml('formkey')?>
                         <button type="submit" data-uenc="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>" data-product="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>" title="Add to Cart" class="ptocart add-cart-btn">
                           <span>Add to Cart</span>
                         </button>
                        </form>
                    </div>
                </div>
            </li>
            <?php } ?>
        </ul>
    </div>
    <script>
        (function  () {
            require(['jquery', 'magestore/flexslider'], function($) {
                $(document).ready(function($) {
                     $('.recently-products-slider').flexslider({
                        animation: 'slide',
                        animationLoop: true,
                        itemWidth: 280,
                        slideshow: false,
                        controlNav: false,
                        itemMargin: 10,
                        minItems: 2,
                        directionNav:false,
                    });



            $(".ptocart").on("click", function(){
                var form_key = $("input[name='form_key']").val();
                /*var form_data = new FormData();*/
                var form_data = {};
                var uenc = $(this).attr("data-uenc");
                var product = $(this).attr("data-product");
                
                /*form_data.append('product', data.data.product);
                form_data.append('uenc', data.data.uenc);
                form_data.append('form_key', form_key);*/
                form_data["product"] = product;
                form_data["uenc"] = uenc;
                form_data["form_key"] = form_key;
                var that = this;
                console.log(form_data);
                $.ajax({
                        url: "<?php echo $this->getUrl('checkout/cart/add') ?>uenc/"+uenc+"/product/"+product,
                        data: form_data,
                        type: 'post',
                        /*dataType: 'json',*/
                        showLoader: true,
                        cache : false,
                        /*processData: false,*/
                        beforeSend: function() {
                           $(that).text("Adding");
                        },
                        success: function(res) {
                            $(that).text("Added");
                            setTimeout(function(){ $(that).text("Add to Cart"); }, 1000);
                            if (res.backUrl) {
                                window.location = res.backUrl;
                                return;
                            }

                            window.ajaxCartTransport = true;


                     
                        }
                    });
            });
                });
            });
        })();
    </script>
</section>
<?php }?>