 <div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
        <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">            
            
            <div class="field required" id="mobile_code">
                <label data-bind="attr: {for: getCode() + '_mobile_result'}" class="label">
                    <span><!-- ko i18n: 'Enter Healingcard Number'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" class="input input-text required-entry" type="text" name="payment[mobile]"  data-bind="attr: {'id': getCode()+'_mobile'}" maxlength="16" minlength="16">
                </div>
            </div>

            <div class="field required" id="pin_code">
                <label data-bind="attr: {for: getCode() + '_mobile_result'}" class="label">
                    <span><!-- ko i18n: 'Enter Pin Number'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <input onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" class="input input-text required-entry" type="text" name="payment[pinn]"  data-bind="attr: {'id': getCode()+'_pinn'}" maxlength="6" minlength="6">
                </div>
            </div>
            
            <div id="message" data-bind="style: {color: 'red'}">
            </div>
            
            
            </fieldset>
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>   

 
            <div class="primary heal_payment">
                <button  class="action primary checkout" id="heal_main_btn"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
      
        
        
    </div>
</div>