<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="rows padding_lr20 padding_top20">
        <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
    </div>
<?php else: ?>
   <!--  <div class="explore-filter-top cat-product-filter padding_top20">
        <?php //echo $block->getToolbarHtml() ?>
        <?php //echo $block->getAdditionalHtml() ?>
    </div> -->
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <section class="rows-sec padding_lr20 explore-all-product-sec padding_top10">
        <?php 
            $headingText = 'Explore All Products';
            $categoryID = $category->getId();
            if(isset($categoryID) && $categoryID == 97){
                $headingText = 'Top Selling Products';
            } else if(isset($categoryID) && $categoryID == 234) {
                $headingText = 'Product Offers';
            }
            if(isset($_GET['q'])=='') { 
        ?>
            <div class="main-heading"><?php echo $headingText;?> <!-- <a href="#" class="pull-right">VIEW ALL</a> --></div>
        <?php } ?>
       <div class="rows product-block-list">
            <ul>
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php 
                    foreach ($_productCollection as $_product):
                    $productPrice = $_product->getPrice();
                    $productSpecialPrice = $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount();
                    $save = $productPrice-$productSpecialPrice;
                    $formattedPrice = $priceHelper->currency($save, true, false);
                    $offer = round((($productPrice-$productSpecialPrice)/$productPrice)*100);
                    $discountpercent = 0;
                    if(isset($productSpecialPrice) && !empty($productSpecialPrice)){
                        $discount = $productPrice - $productSpecialPrice;
                        $discountpercent = round(($discount/$productPrice) * 100);
                    }
                ?>
                <li>
                  <div class="white-box">
                      <?php if($discountpercent && $discountpercent>0): ?>
                        <div class="offer-tag small-tag"><?php echo 'Save<br/>'.$discountpercent."%";?></div>
                      <?php endif; ?>
                      <div class="cat-icon">
                        <?php
                            $productImage = $block->getImage($_product, $image);
                        ?>
                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                            <?php echo $productImage->toHtml(); ?>
                        </a>
                      </div>
                      <div class="product-name">
                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                            <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                        </a>
                      </div>
                      <div class="product-price">
                        <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                      </div>
                      <div class="rows">
                        <!-- <a href="#" class="add-cart-btn">Add To Cart</a> -->
                        <?php if ($_product->isSaleable()): ?>
                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                            <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                <?php echo $block->getBlockHtml('formkey')?>
                                <button type="submit"
                                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                        class="action tocart add-cart-btn">
                                    <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                </button>
                            </form>
                        <?php else: ?>
                            <?php if ($_product->getIsSalable()): ?>
                                <div class="pd-stock"><?php /* @escapeNotVerified */ echo __('In stock') ?></div>
                            <?php else: ?>
                                <div class="pd-outstock"><?php /* @escapeNotVerified */ echo __('Out of stock') ?></div>
                            <?php endif; ?>
                        <?php endif; ?>
                      </div>
                  </div>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </section>
    <div class="explore-filter-bottom cat-product-filter">
        <?php echo $block->getToolbarHtml() ?>
        <?php if (!$block->isRedirectToCartEnabled()) : ?>
    </div>
    <div class="fix-button-sec fs-action-box">
        <div class="row">
            <div class="col-6 fs-left">
                <a href="javascript:void(0);" class="jq_filter_icon filter-icon">Filter <img width="14" src="<?php echo $this->getViewFileUrl('images/filter-icon.png'); ?>" /></a>
            </div>
            <div class="col-6 fs-right">
                <a href="javascript:void(0);" class="jq_sort_icon filter-icon">Sort <img width="14" src="<?php echo $this->getViewFileUrl('images/sort-icon.png'); ?>" /></a>
            </div>
        </div>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <script type="text/x-magento-init">
    {
        "[data-role=tocart-form], .form.map.checkout": {
            "catalogAddToCart": {}
        }
    }
    </script>
    <script>
        (function  () {
            require(['jquery'], function($) {
                $(document).ready(function($) {
                    $('.jq_sort_icon').on('click', function(){
                        $(".jq_sort_bar").addClass('open');
                        $("body").addClass('fix-overlay');
                    });
                    $('.jq_close_sort').on('click', function(){
                        $(".jq_sort_bar").removeClass('open');
                        $("body").removeClass('fix-overlay');
                    });
                });
            });
        })();
    </script>
    <?php endif; ?>
<?php endif; ?>

