<section class="rows-sec category-sec">
  <div class="container-fluid">
    <div class="breadcrumb-box">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>"><?php /* @escapeNotVerified */ echo __('Home'); ?></a></li>
          <li class="breadcrumb-item active" aria-current="page"><?php /* @escapeNotVerified */ echo __('Shop by Brand'); ?></li>
        </ol>
      </nav>
    </div>
  </div>
  <?php 
    echo $this->getLayout()
    ->createBlock('\Ves\Brand\Block\FeaturedBrandList')
    ->setTemplate('Ves_Brand::block/featured_brand_list.phtml')
    ->toHtml();
    $_brandCollection = $block->getBrandCollection();
  ?>
  <?php if ( $_brandCollection->count() ){ ?>
  <section class="rows padding_lr20">
    <div class="main-heading">Explore All Brands</div>
    <?php 
      $fivehars = [];
      $i=1; 
      foreach (range('A', 'Z') as $char) { 
      $fivehars[]= $char;
    ?>
    <?php if(!($i%5 - 1)){ ?> <ul class="explore-brand-list padding_top20"> <?php } ?>
      <li <?php if($i == 1){ ?> class="open" <?php } ?>>
         <a href="javascript:void(0);" class="jq_char"><?php echo $char; ?></a>
      </li>
    <?php if($char == 'Z' ){ ?>
        <li>
           <a href="javascript:void(0);" class="jq_char">1-9</a>
        </li>
      </ul>
       <div class="sub-explore-brand jq_brands jq_brands_1-9 hide" >
        <ul>
          <?php
            foreach ($_brandCollection as $key =>$_brand) {
              $title=$_brand->getName();
              $initial=strtoupper(substr($title,0,1));
              $marks = array('0', '1', '2', '3', '4', '5', '6', '7', '8', '9');
              if (in_array($initial, $marks)) {
                 echo "<li><a href=".$_brand->getBrandUrl().">" . $title. "</a></li>";
              }
            }
           ?>
        </ul>
      </div>
      <?php } ?>
    <?php if(!($i%5)){ ?> </ul> <?php } ?>
    <?php if(!($i%5) || $char == 'Z' ){ ?>
    <?php foreach ($fivehars as $key => $value) { ?>
      <div class="sub-explore-brand jq_brands jq_brands_<?php echo $value; ?> <?php if($value == 'A'){ echo "show"; }else{ echo "hide"; } ?>" >
        <ul>
          <?php
            foreach ($_brandCollection as $key =>$_brand) {
              $title=$_brand->getName();
              $initial=strtoupper(substr($title,0,1));
              if($initial==$value) {
                echo "<li><a href=".$_brand->getBrandUrl().">" . $title. "</a></li>";
              }
            }
           ?>
        </ul>
      </div>
      <?php } $fivehars = []; } $i++; } ?>
  </section>
  <script>
      (function  () {
          require(['jquery'], function($) {
              $(document).ready(function($) {
                  $(".jq_char").on("click", function(){
                    $("li").removeClass('open');
                    $(this).parent().addClass('open');
                    $(".jq_brands").removeClass('show');
                    $(".jq_brands").addClass('hide');
                    $(".jq_brands_"+$(this).text()).removeClass('hide');
                    $(".jq_brands_"+$(this).text()).addClass('show');
                  });
              });
          });
      })();
  </script>
  <?php } ?>
</section>
