<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<?php




$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('fancyfeedback'); //gives table name

//Select Data from table
$sql = $connection->select()->from(
         ["tn" => $tableName]
    );
$result = $connection->fetchAll($sql);
//echo "<pre>"; print_r($result); 




 foreach ($result as $tm):  ?>



        <?php if($tm['status']==0) : ?>  
		
				  
        
        <?php endif; ?>  
		
	

<?php endforeach; ?>  





        
<section id="test-banner">
        <img src="<?php echo $block->getViewFileUrl('Quadone_Feedback::images/testimonial-banner.jpg'); ?>""/>
</section>        
<section id="test-det">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

          </div>
          <div class="col-md-6">
                <h2 class="innerititle">Customer Feedback</h2>
                <div id="carousel-example-generic" class="carousel slide" style="margin-bottom: 8%;">
                        <!-- Indicators --> 
                        <ol class="carousel-indicators carousel-indicators-numbers">
                          <li data-target="#carousel-example-generic" data-slide-to="0" class="active">1</li>
                          <li data-target="#carousel-example-generic" data-slide-to="1">2</li>
                          <li data-target="#carousel-example-generic" data-slide-to="2">3</li>
                          <li data-target="#carousel-example-generic" data-slide-to="3">4</li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                          <div class="item active">
                                <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                          </div>
                            <div class="item">
                                <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                          </div>
                            <div class="item">
                                <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                          </div>
                            
                            <div class="item">
                                <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                          </div>
                            
                            <div class="item">
                                <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                              <div class="col-md-12">
                                    <div class="odd">
                                        <p><?php print $tm['message']; ?></p>
                                        <small><strong><?php print $tm['name']; ?></strong></small>
                                    </div>
                                </div>
                          </div>
                        </div>
                      </div>
          </div>
            <div class="col-md-3">

          </div>
        </div>
        </div>
</section>
        
        
<style>
    #test-banner img{
        width:100%;
    }    
    #test-det .container{
        width: 100%;
        margin: 0 auto;
    }
    .innerititle{
        font-size: 18px;
        color: #007c9d;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .carousel-inner .item.row  .odd p{
    color:#5b5c5e;
}
.carousel-inner .odd p{
        color:#000;
}
.carousel-inner .item p{
    text-align: justify;
    text-indent: 25%;
    margin-bottom: 30px;
}
.carousel-inner .item .odd {
    text-align: right;
    margin-bottom: 30px;
    border-bottom: 2px dotted #000;
    padding-bottom: 10px;
}
.carousel-inner .item small{
    font-size: 16px;
    font-weight: 600;
    color: #007c9d;
}
.item .odd p:before {
    font-family: FontAwesome;
    content: "\f10d ";
    font-size: 8px;
    color: #007c9d;
    padding-right: 5px;
    vertical-align: top;
}
.item .odd p:after {
    font-family: FontAwesome;
    content: "\f10e ";
    font-size: 8px;
    color: #007c9d;
    padding-right: 5px;
    vertical-align: top;
}
      .carousel-indicators .active,
      .carousel-indicators li:hover{
        background-color: #eeeeee;
    }
    .carousel-indicators li:first-child{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .carousel-indicators li{
        /*display: inline-block;*/
        float: left;
        border-right: 1px solid #ccc !important;
    }
    .carousel-indicators li:last-child{
         border-right: 0px  !important;
    }
    .carousel-indicators-numbers li,
    .carousel-indicators .active{
    text-indent: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #339ed4;
    transition: all 0.25s ease;
    margin: 0px;
    padding: 0px;
    border-radius: 0;
        border: 0px;
    }
    .carousel-indicators {
    bottom: -60px;
    left: 0;
    width: auto;
    margin-left: 0px;
    border: 1px solid #ccc;
    background-color: #FFF;
    padding: 0px;
    margin: 0px;
    border-radius: 4px;
    }
  
    .carousel-indicators-numbers li .active,  
    .carousel-indicators-numbers li :hover {
      text-indent: 0;
      margin: 0 2px;
      width: 30px;
      height: 30px;
      border: none;
      line-height: 30px;
      color: #fff;
      background-color: #999;
      transition: all 0.25s ease;
      }
</style>
        <script
              src="https://code.jquery.com/jquery-2.2.4.min.js"
              integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
              crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
