<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
    $connection = $resource->getConnection();
    $tableName = $resource->getTableName('fancyfeedback'); //gives table name

    //Select Data from table
    $sql = $connection->select()->from(["tn" => $tableName]);
    $result = $connection->fetchAll($sql);
?>
<?php if(count($result)>0){?>
<section class="common-you-wrap success-stories-wrap">
    <div class="main-heading">Our Success Stories</div>
    <div class="success-stories-slider flexslider">
        <ul class="slides">
            <?php 
                foreach($result as $tm) {
                    if($tm['status'] == 2) {
            ?>
            <li>
                <div class="white-box">
                    <div class="success-content">
                        <?php
                             $string = strip_tags($tm['message']);
                             if (strlen($string) > 150) {
                                $stringCut = substr($string, 0, 150);
                                $endPoint = strrpos($stringCut, ' ');
                                $string = $endPoint? substr($stringCut, 0, $endPoint):substr($stringCut, 0);

                                print $string.'...';
                             } else {
                                print $string;
                             }
                        ?>
                        </div>
                    <div class="name">- <?php print ucfirst($tm['name']); ?></div>
                </div>
            </li>
            <?php } } ?>
        </ul>
    </div>
    <script>
    (function  () {
        require(['jquery', 'magestore/flexslider'], function($) {
            $(document).ready(function($) {
                 $('.success-stories-slider').flexslider({
                    animation: 'slide',
                    animationLoop: true,
                    slideshow: false,
                    controlNav: true,
                    directionNav:false,
                });

            });
        });
    })();
</script>
<style>
.flex-viewport .slides li{
    margin-bottom: 0px !important;
}
.flex-control-nav {
    bottom: 5px !important;
}
</style>
</section>
<?php } ?>