<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
    $connection = $resource->getConnection();
    $tableName = $resource->getTableName('fancyfeedback'); //gives table name

    //Select Data from table
    $sql = $connection->select()->from(["tn" => $tableName]);
    $result = $connection->fetchAll($sql);
?>
<?php if(count($result)>0){?>
<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
            <a href="<?php echo $block->getBaseUrl();?>">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                <?php /* @escapeNotVerified */ echo __('Testimonials'); ?>
            </div>
        </div>
    </div>
    <div class="testimonial-sec">
        <div class="main-heading"><?php /* @escapeNotVerified */ echo __('Welcome'); ?></div>
        <div class="main-subheading"><?php /* @escapeNotVerified */ echo __('Read what our customers have to say'); ?></div>
        <div class="rows address-slider-row">
            <div class="testimonial-slider mb-20 flexslider">
                <ul class="slides">
                	<?php 
					foreach($result as $tm) {
					    if($tm['status'] == 2) {
					?>
                	<li>
	                    <div class="white-box">
	                        <div class="testimonial-content">
	                            <p><?php echo nl2br(ucfirst($tm['message']));?></p>
	                        </div>
	                        <?php if(!empty($tm['name'])){ ?>
	                        	<div class="name-row"><?php print ucfirst($tm['name']); ?></div>
	                        <?php }?>
	                    </div>
	                </li>
	                <?php } } ?>
                </ul>
            </div>
        </div>
    </div>
    <script>
        (function  () {
            require(['jquery', 'magestore/flexslider'], function($) {
                $(document).ready(function($) {
                     $('.testimonial-slider').flexslider({
                        animation: 'slide',
                        animationLoop: false,
                        slideshow: false,
                        controlNav: true,
                        itemMargin: 10,
                        minItems: 1,
                        directionNav:false
                    });

                });
            });
        })();
    </script>
</section>
<?php } ?>