<?php if(isset($_SESSION["pincheck"])){
    unset($_SESSION["pincheck"]);
}?>
<?php /** @var $block \Vendor\Module\Block\Success */ ?>
<div class="checkout-success">
    <?php if ($block->getOrderId()):?>
        <?php if ($block->getCanViewOrder()) :?>
            <p><?php echo __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
        <?php else: ?>
            <p><?php echo __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
        <?php endif; ?>

        <!-- BEGIN VENDOR_MODULE CUSTOM -->
        <p><?php echo __('You ordered %1 items.', (int) $block->getOrder()->getTotalQtyOrdered()) ?></p>
        <!-- END VENDOR_MODULE CUSTOM -->

        <p><?php /* @escapeNotVerified */ echo __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
    <?php endif; ?>

    <?php echo $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?php /* @escapeNotVerified */ echo $block->getUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span></a>
        </div>
    </div>
</div>


<!--Feedback Form Starts on 23022018 -->
<!--<?php //echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Catalog::Feed.phtml")->toHtml(); ?>-->

<script>
require([ 'jquery', 'jquery/ui'], function($){
    jQuery(document).ready(function(){
     localStorage.removeItem("guest_contact");
     localStorage.removeItem("upload_presc");
     });
})
    require([
        "jquery",
        "Magento_Ui/js/modal/modal"
    ], function($, modal){
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: "Feedback", //write your popup title 
            buttons: [{
                //text: $.mage.__('Submit'),
                //class: 'button',
                click: function () {
                    //alert("here");
                    //return false;
                    //console.log('Do something here......');
                    // Do something here........
                }
            }]
        };
        var popupdata = $('<div />').append($('#formdiv'));
        modal(options, popupdata);
        popupdata.modal('openModal');
    
    });
</script>  


<!--Feedback Form Ends on 26022018 -->
