<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">




<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('fancyfeedback'); //gives table name

//Select Data from table
$sql = $connection->select()->from(
         ["tn" => $tableName]
    );
$result = $connection->fetchAll($sql);

?>

<?php foreach ($result as $tm): ?>
	<!--<div id="carousel-wrap">-->
        <?php if($tm['status']==0) : ?>  
        <?php endif; ?>  
   <?php endforeach; ?> 
<div class="container">
  <div class="row">
    <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <h2 class="testititle"><span>Testimonials</span></h2>
              <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <!-- Quote 1 -->
                    <div class="item active row">
                        <div class="col-md-6">
                            <div class="odd">
                                <p><?php print $tm['message']; ?></p>
                                <small><strong><?php print $tm['name']; ?></strong></small>
                          </div>
                        </div>
                       <div class="col-md-6">
                            <div class="evn">
                                <p><?php print $tm['message']; ?></p>
                                <small><strong><?php print $tm['name']; ?></strong></small>
                            </div>
                         </div>
                    </div>
                    <div class="item row">
                        <div class="col-md-6">
                            <div class="odd">
                                <p><?php print $tm['message']; ?></p>
                                <small><strong><?php print $tm['name']; ?></strong></small>
                          </div>
                        </div>
                       <div class="col-md-6">
                            <div class="evn">
                                <p><?php print $tm['message']; ?></p>
                                <small><strong><?php print $tm['name']; ?></strong></small>
                            </div>
                         </div>
                    </div>
                </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="fa fa-angle-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>                    
    </div>
    <div class="col-md-12" style="text-align: right;margin-top:20px;">
    <a target="_blank" href="custom-feedback " id="music" style="margin-right: 20px;">ViewAll</a>   
    </div> 
  </div>
</div>
<style>
.carousel-inner .item.row {
    width: 100%;
    margin: 0 auto;
}
.testititle{
    color:#007c9d;
    padding-bottom: 10px;
}
.testititle span{
    border-bottom: 2px solid #007c9d;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 20px;
}
.carousel-inner .item.row  .col-md-6{ 
    text-align: right
}
.carousel-inner .item.row  .col-md-6 .odd,
.carousel-inner .item.row  .col-md-6 .evn{
    border: 1px solid #dddddd;
    padding: 60px 30px 30px 30px;
    border-radius: 6px;
    height: 170px;
}
.carousel-inner .item.row  .col-md-6 .odd p{
    color:#5b5c5e;
}
.carousel-inner .item.row  .col-md-6 .evn p{
        color:#000;
}
.carousel-inner .item p{
    text-align: left;
}
.carousel-inner .item small{
    font-size: 16px;
    font-weight: 600;
    color: #007c9d;
}
.item .odd p:before {
    font-family: FontAwesome;
    content: "\f10d ";
    font-size: 12px;
    color: #007c9d;
    padding-right: 5px;
    vertical-align: top;
}
.item .evn p:after {
    font-family: FontAwesome;
    content: "\f10e ";
    font-size: 12px;
    color: #007c9d;
    padding-right: 5px;
    vertical-align: top;
    padding-left: 5px;
}

a.left.carousel-control,
a.right.carousel-control{
    background: none;
    background-color: transparent;
    width: 2%;
    opacity: 1;
    text-shadow: 0 0px 0px rgba(0,0,0,.6);
    color: #FFF;
    top:50%;
}
a.left.carousel-control .fa,
a.right.carousel-control .fa{
    background-color: #404040;
    padding: 4px 10px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
}

</style>
 
<script src="https://code.jquery.com/jquery-2.2.4.min.js" 
   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
              crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">

</script>

