
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet"> -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <link src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"  />
<link src="https://code.jquery.com/jquery-1.12.4.min.js"  /> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"  ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"  ></script> -->

<style>
.slideshow-container .mySlides {
           width: 100%;
    }
.testimodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.myBtn, .myBtn:hover{
    background-color: transparent;
    border: 0px;
    padding: 0px;
    margin: 0px;
    color: #007c9d;
    font-weight: 300;
    font-size: 12px;
}
/* Modal Content */
.testimodal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 60%;
        z-index: 99999;
}
.testimodal h4{
        margin: 0px;
    padding: 10px 0px;
    background-color: #007C9D;
    color: #FFF;
    text-align: center;
    font-size: 20px;
}
.testimodal .modal-body{
        padding: 20px;
}
/* The Close Button */
.testimodal .close {
    padding: 3px 6px;
    color: #4aa8ab;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #4da7b1;
    font-size: 17px;
    border-radius: 100%;
    position: absolute;
    top: -11px;
    right: -8px;
    opacity: 1;
}

.testimodal .close:hover,
.testimodal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.testimodal .modal-header{
        position: relative;
}
.slideshow-container{
    width:90%;
    margin:0 auto;
      position: relative;
      height: 130px;
}
  .mySlides {display: none;}
.slideshow-container .mySlides.row {
    width: 80%;
    margin: 0 auto;
}
.testititle{
    color:#007c9d;
    padding-bottom: 10px;
        margin-bottom: 40px;
}
/* .testititle span{
    border-bottom: 2px solid #007c9d;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 20px;
} */
.slideshow-container .mySlides .odd,
.slideshow-container .mySlides .evn{
text-align: center;
}
.slideshow-container .mySlides p{
color: #000;
    font-size: 16px;
    padding: 10px 0;
    letter-spacing: 0.02em;
    width: 100%;
    margin: 0 auto;
    font-weight: 300;
      line-height: 24px;
}
.slideshow-container .mySlides p a{
        font-size: 12px;
    color: #007c9d;
}
.slideshow-container .mySlides small{
    font-size: 16px;
    color: #007c9d;
}
.slideshow-container .mySlides small strong{
        font-weight: 400;
}
.mySlides p:before {
font-family: FontAwesome;
    content: "\f10d ";
    font-size: 47px;
    color: #eeeeee;
    padding-right: 5px;
    vertical-align: middle;
        display: none;
}
.mySlides p:after {
    font-family: FontAwesome;
    content: "\f10e ";
    font-size: 6px;
    color: #007c9d;
    padding-right: 5px;
    vertical-align: top;
    padding-left: 5px;
    display: none;
}
.mytestibtns{
/*        text-align: center;
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;*/
}
.row.bottom-row a{margin-left: 0;}
a.prev.carousel-control{
    left: -15px;
}
a.next.carousel-control{
    right:-15px;
}
a.prev.carousel-control,
a.next.carousel-control{
    background: none;
    background-color: transparent;
    opacity: 1;
    text-shadow: 0 0px 0px rgba(0,0,0,.6);
    color: #FFF;
    top:30%;
    position: absolute;
}
a.prev.carousel-control .fa, a.next.carousel-control .fa {
    background-color: rgba(0, 124, 157, 0.67);
    padding: 7px 12px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
}
a.prev.carousel-control .fa:hover, a.next.carousel-control .fa:hover{
        background-color: rgb(0, 124, 157);
}
.carousel-indicators {
    bottom:-40px;
}
.carousel {
    height: 300px;
}
.carousel-indicators li {
    border: 1px solid #007c9d;
}
.carousel-indicators .active {
    background-color: #007c9d;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
      margin-top: 30px;
      
}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

</style>

<script>
//$.noConflict();
// Code that uses other library's $ can follow here.
</script>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('fancyfeedback'); //gives table name

//Select Data from table
$sql = $connection->select()->from(
         ["tn" => $tableName]
    );
$result = $connection->fetchAll($sql);
?>

<?php if(count($result)>0){?>
<div class="">
  <div class="row">
    <div class="col-md-12">
        <h2 class="testititle block-title title"><span class="heading1">Testimonials</span></h2>
        <div class="slideshow-container">

          <?php
          $tm_itr = 0; 
          $tm_itr_class = "";
          $mySlides_row_class = "";
          foreach($result as $tm) 
          {
              if($tm['status']==2)
              {
                  if($tm_itr ==0){ $mySlides_row_class = "mySlides fade"; } 
                  else { $mySlides_row_class = "mySlides fade"; }    
                  if($tm_itr%2==0) { $tm_itr_class = "odd"; }
                  else { $tm_itr_class = "evn"; }    
                  ?>
                  <div class="<?php print $mySlides_row_class;?>">
                      <div class="row">
                      <?php //print $tm_itr.":".$tm_itr_class; ?>
                          <div class="<?php print $tm_itr_class;?>">
                              <div class="col-md-2"></div>
<!--                                        <div class="col-md-3">
                                  <img class="" src="http://eshoptest.apollopharmacy.org/webdev/pub/media/custom/testimonial-clinte.png" alt="" width="150" height="150">
                              </div>-->
                              <div class="col-md-8 mytestidiv">
                            <?php
                            $string = strip_tags($tm['message']);
                            if (strlen($string) > 150) 
                            {
                                $stringCut = substr($string, 0, 150);
                                $endPoint = strrpos($stringCut, ' ');

                                $string = $endPoint? substr($stringCut, 0, $endPoint):substr($stringCut, 0);
$string .= "... <button class='myBtn' id='myBtn_".$tm_itr."' name='testname' onclick='viewmorebtn(".$tm_itr.");'>View More</button>";

                                //print $string;
                            ?>
<p id="pmin_<?php print $tm_itr;?>" ><?php print $string; ?></p>
<div id="myModal_<?php print $tm_itr;?>" class="testimodal modal">
<div class="modal-content">
<div class="modal-header">
<button id="<?php print $tm_itr;?>" onclick="btnclose('<?php print $tm_itr;?>');" type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Testimonial</h4>
</div>
<div class="modal-body">
<p><?php print $tm['message']; ?></p>
</div>
</div>
</div>
                            <?php } else { ?>
                              <p><?php print $string; ?></p>
                            <?php } ?>

                              <small><strong><?php print ucfirst($tm['name']); ?></strong></small>

                          </div>
          <div class="col-md-2"></div>
                              
                          </div>
                      </div>
                  </div>
                  <?php 
                  $tm_itr++;
              } 
          } 
          ?>

            <div class="mytestibtns">
              <a class="prev carousel-control" onclick="plusSlides(-1)">
                <span class="fa fa-angle-left"></span>
                <span class="sr-only">Previous</span>
              </a>

              <a class="next carousel-control" onclick="plusSlides(1)">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
</div>
<br/>
<br>

</div>
          


        
        
        
    </div>
    <div class="col-md-12" style="text-align: center;margin-top:15px;margin-bottom: 40px;">
    <a target="_blank" href="custom-feedback " id="music" style="">View all</a>   
    </div> 
  </div>
</div>    
    
<?php } ?>  


 <script>
/*
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
*/

function viewmorebtn(minid)
{
  //alert("minid : "+minid);
  var modal = document.getElementById('myModal_'+minid);
  var btn = document.getElementById("myBtn_"+minid);
  modal.style.display = "block";

}

function btnclose(closeid)
{
  //alert(closeid);
  var modal = document.getElementById('myModal_'+closeid);
  var btn = document.getElementById("myBtn_"+closeid);
  modal.style.display = "none";
}

window.onclick = function(event) 
{
    //alert("here");
    if(event.target.name != 'testname' )
    {
      if(jQuery(event.target).hasClass('testimodal'))
      {
        jQuery(".testimodal").css("display", "none");   
      }  
    }  
        
    
}

</script>

<script  >
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  /*dots[slideIndex-1].className += " active";*/
}



function viewmore(minid)
{
  //alert("minid : "+minid);
  jQuery("#pmin_"+minid).css("display", "none");
  jQuery("#pmax_"+minid).css("display", "block");
}

function viewless(maxid)
{
  //alert("maxid : "+maxid);
  jQuery("#pmax_"+maxid).css("display", "none");
  jQuery("#pmin_"+maxid).css("display", "block");
  
}
/*testimonial auto slider*/
setInterval(function(){plusSlides(1);}, 4000);
</script>


