.hide {
	display:none
}
.field-menu-icon i,
.select2-chosen i,
.select2-result i {
	margin: 0 5px 0 0
}
.rwmb-radio-wrapper .rwmb-label {
    font-style: italic;
    margin: 0 0 8px
}
.rwmb-input label {
    display: block;
    margin: 8px 0
}
#custom_sidebars_box .rwmb-input-list li {
    display: block;
    margin-bottom: 15px
}