.boxed-layout,
#page,
.container {
	max-width:96%;
	width:1170px
}
.boxed-layout .header,
.boxed-layout .top-bar .center-width { width:96% }
@media screen and (max-width:1260px) {
	.boxed-layout,
	.boxed-layout .main-wrapper {
		max-width:980px;
		width:100%
	}
	.cover-image { min-height:400px }
	.comment-form .comment-form-author,
    .comment-form .comment-form-email,
    .comment-form .comment-form-url { margin-bottom:15px; width:80% }
	.comment-form textarea { width:90% }
	#subscribe-widget input[type="text"] {
		margin-bottom:10px;
		width:99%
	}
	.masonry .post .title { font-size:20px; line-height:24px; }
}
@media screen and (max-width:1110px) {
	.back-to-top { right:5px }
}
@media screen and (max-width:1024px) {
	.cover-image { min-height:360px }
	.boxed-layout .header #logo { margin:6px 0 }
	.boxed-layout .main-nav {
		max-width:100%
	}
	.boxed-layout,
	.boxed-layout .header {
		max-width:730px;
		width:100%
	}
	.boxed-layout .header,
	.top-bar .center-width,
	.header,
	#page,
	.footer-widgets,
	.copyright-inner { width:96% }
	.social-widget ul li { margin-right:5% }
	.social-widget ul li span { width:50px }
	.ad-125-widget li.adleft,
    .ad-125-widget li.adright {
        float:left;
        margin:0 5px 10px;
        width:47%
    }
	.footer-widget { width:49% }
	.footer-columns-4 .footer-widget:nth-child(2) { margin-right:0 }
	.footer-columns-4 .footer-widget { width:48.5% }
	.footer-columns-4 .footer-widget:nth-child(3) { clear:left }
    .instagram-photos li {
        width: 25%
    }
}
@media screen and (max-width:768px) {
	.main-wrapper { background:transparent }
	.header { text-align:center }
	.nav-menu { display:none }    
    .off-canvas-search { padding:10px 20px }
    .off-canvas-search .header-search {
        float:none;
        margin:0;
        width:100%
    }
    .off-canvas-search .searchform { background:transparent }
    .off-canvas-search .searchform fieldset { border:0 }
    .off-canvas-search .s {
        color:#fff;
        float:left;
        padding:8px 4%;
        width:78%
    }
    .off-canvas-search .search-button {
        background:transparent;
        color:#fff;
        font-size:14px
    }
	.st-menu { display:block }
	.st-menu ul {
		margin:0;
		padding:0;
	}
	.st-menu ul li {
		display:block;
		position:relative
	}
	.st-menu ul li a {
		display:block;
		padding:13px 15px;
		box-shadow:inset 0 -1px rgba(0,0,0,0.5), 0 1px rgba(255,255,255,0.06);
		color: #fff;
		text-transform:uppercase;
		text-shadow:0 0 1px rgba(255,255,255,0.1);
		letter-spacing:1px;
		font-weight:400;
		line-height:1.4;
		-webkit-transition:background 0.3s, box-shadow 0.3s;
		transition:background 0.3s, box-shadow 0.3s;
	}
	.st-menu ul li ul li a { padding-left:30px }
	.st-menu ul li ul li ul li a { padding-left:45px }
	.st-menu ul li a:hover {
		background:rgba(0,0,0,0.2);
		box-shadow:inset 0 -1px rgba(0,0,0,0);
		color:#fff
	}
	.side-sub-menu {
		cursor:pointer;
		position:absolute;
		top:0;
		right:0;
		height:42px;
		width:46px
	}
	.side-sub-menu .fa {
        background:rgba(255,255,255,0.1);
		color:#fff;
		font-size:22px;
		margin:6px;
		padding:4px 10px
	}
	.openNav .menu-pusher {
		left: 300px;
	}
	.st-menu {
		left: -300px;
	}
	.openNav .st-menu {
		visibility:visible;
		left: 0
	}
    .site-overlay {
        visibility: hidden;
        -webkit-transition:background 0.4s;
		transition:background 0.4s;
    }
    .openNav .site-overlay {
        background: rgba(0,0,0,0.5);
        cursor: pointer;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        visibility: visible;
        z-index: 999;
    }
	.st-menu ul.sub-menu { display:none }
    .menu .menu-item-has-children > a:after { display:none }
	.menu-btn {
		border-right:1px solid rgba(255, 255, 255, 0.3);
		display:inline-block!important;
		float:left;
		cursor:pointer;
		font-size:16px;
		margin-right:5px;
		padding:18px 20px 18px 5px 
	}
    .menu-btn i {
		font-size: 24px;
        vertical-align: middle
    }
	.cover-image { min-height:300px }
    .cover-heading .slider-inner {
        border: none;
        padding: 0
    }
	.boxed-layout,
	.boxed-layout .header,
	.featuredslider,
	.footer .container,
	.copyright-inner {
		max-width:100%;
		width:100%
	}
	.boxed-layout .header { width:96% }
	.header { overflow:hidden }
	#page,
	.boxed-layout .main-wrapper {
		float:none;
		margin:0 auto;
		max-width:96%;
		width:100%;
	}
	.header-1 .logo-wrap {
        float:none
    }
    .header-2 .logo-wrap { max-width:100% }
	.header-2 {
		overflow:visible;
		position:relative;
	}
	.header-ad-widget {
		margin: 0 auto 15px;
		max-width:100%;
		width:728px;
	}
    .featured-post-1,
    .featured-posts-right {
        width: 100%
    }
    .featured-post-1 {
        border-bottom: 1px solid #fff;
        border-right: 0;
    }
    .featured-post-2 {
        border-right: 1px solid #fff;
    }
    .featured-post-2,
    .featured-post-3 {
        float: left;
        width: 50%
    }
	.post .gallerytiled ul li { width:24.6% }
	.content-area {
		clear:both;
		float:none;
		margin:0;
		width:100%;
	}
	.content { margin:0 0 40px }
	.paging-navigation { margin-bottom:0 }
	.sidebar,
    .sllayout .sidebar {
		padding-right: 0;
        padding-left: 0;
		width:100%
	}
	.sidebar-small { display:none }
	.footer-widgets .footer-widget {
		margin:0 0 20px;
		width:100%
	}
	.masonry .post { width:100% }
	.category-posts li, .recent-posts li, .random-posts li, .popular-posts li {
		float:left;
		margin-left:1%;
		margin-right:1%;
		width:48%
	}
	.footer-widgets { padding-top:30px }
    .footer-featured-post {
        margin-right: 0;
        width: 100%;
    }
}
@media screen and (max-width:620px) {
	.cover-image { min-height:270px }
	.footer-subscribe form {
		display:block;
		margin:15px 0 0;
		width:100%;
	}
}
@media screen and (max-width:560px) {
	.category-posts li, .recent-posts li, .random-posts li, .popular-posts li {
		float:left;
		margin-left:0;
		margin-right:0;
		width:100%
	}
    .featured-post-2,
    .featured-post-3 {
        width: 100%
    }
}
@media screen and (max-width:480px) {
	.content { padding-top:20px }
	.cover-image { min-height:200px }
	.cover-heading .title {
		font-size:22px;
		line-height:26px
	}
	.menu-btn { margin-left:5px }
	.header-2 .menu-btn { margin-left:0 }
	.featured-thumbnail { width:100% }
	.content-area { float:left }
	.title {
		font-size:26px;
		line-height:32px
	}
    .f-title { font-size:18px!important }
	.masonry-home .post-home,
	.post-home,
	.breadcrumbs,
	.author-box,
	.post-navigation,
	.relatedPosts,
	.comments-area,
	.comment-respond {
		padding-left:20px;
		padding-right:20px
	}
	.post-meta .post-comments span { display:inline-block }
	.share-buttons {
		padding-left: 20px;
		padding-right: 20px
	}
	.error-text {
		font-size:120px;
		line-height:140px;
		margin-bottom:0
	}
	.error-page-content { font-size:14px }
	.error-head span { padding:0 10px }
	.archive-col {
		margin:0 0 20px;
		width:100%
	}
	.post-navigation .post-nav-links { width:100% }
	.post-navigation .prev-link { border-right:0 }
	.sidebar {
		margin-left:0;
		margin-right:0;
		max-width:100%;
		width:100%
	}
	.footer-widget {
		margin:0 0 20px;
		width:100%
	}
	.footer-widget .widget { margin:0 10px 0 }
	.comment-form textarea { width:92.5% }
	.copyright-text {
		margin-bottom:10px;
		text-align:center;
		width:100%
	}
}