.header-cart {
    color: #333
}
.header-cart a {
    color: inherit
}
.woocommerce .main-header {
    margin-bottom: 30px
}
.header-cart {
    float: right;
    padding: 20px 0 0 8px
}
.header-cart .fa {
    margin-right: 4px
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    border: 1px solid #f2f2f2;
	margin-bottom:25px;
	margin-right:3.2%;
	position:relative;
    text-align: center;
	width:31.2%
}
.woo-header,
.woocommerce ul.products li.product .button {
    margin-left: 20px;
    margin-right: 20px
}
.woocommerce ul.products li.product h3 {
    font-size: 18px;
    line-height: 1.56
}
.woocommerce .products .star-rating {
    color: #ffbb33;
    display: inline-block;
    font-size: 11px
}
.woocommerce ul.products li.product .star-rating {
    font-size: 11px
}
.woocommerce ul.products li.product .button {
    background: #ec5237;
    border-radius: 0;
    color: #fff;
    font-size: 11px;
    height: 34px;
    margin-bottom: 20px;
    text-transform: uppercase
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 15px 0 0
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    font-size: 13px;
    text-align: center;
    text-transform: uppercase
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border: 0
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background: transparent;
    border: 0;
    color: #777;
    padding: 0 20px
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    border: 0
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    box-shadow: none;
    content: "/";
    display: block;
    left: auto;
    position: absolute;
    right: 0;
    top: 6px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child:before {
    content: ''
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: inherit
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: #000
}
.woocommerce div.product form.cart .button {
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    margin: 0;
    padding: 0 0 20px
}
.woocommerce div[itemprop='description'] {
    border-top: 1px solid #e9e9e9;
    padding: 20px 0 0
}
.woocommerce div.product form.cart,
.woocommerce div.product p.cart,
.posted_in,
.tagged_as {
    border-top: 1px solid #e9e9e9;
    color: #000;
    display: block;
    margin: 0;
    padding: 15px 0
}
.posted_in,
.tagged_as {
    font-weight: 700
}
.posted_in a,
.tagged_as a {
    font-weight: 400
}
.woocommerce .star-rating::before,
.woocommerce .star-rating span::before {
    color: #ffbb33;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
    background: #ec5237;
    border-radius: 0;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background: #747474
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background: #292929
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    float: left;
    margin: 0 10px 0 0;
    width: 68px;
}
.woocommerce .quantity .qty { padding: 7px 0 }
.woocommerce ul.cart_list li:before,
.woocommerce ul.product_list_widget li:before {
    background: transparent
}
.woocommerce .woocommerce-breadcrumb {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    margin-bottom: 30px;
    padding-bottom: 15px
}
.woocommerce .woocommerce-breadcrumb a {
    color: #333
}
.woocommerce .entry-content ol > li:before,
.woocommerce .entry-content ol > li ol li:before {
    background: transparent
}
.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
    border: 0;
    margin: 10px 0 12px;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    border: 1px solid #ebebeb;
    color: #333;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 6px 10px;
}
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #9aac62;
    color: #fff
}