<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

?>
<section class="form-sec">
    <div class="header-part">
        <div class="heading-top">
            <a href="<?php echo $block->getBaseUrl();?>">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                <?php /* @escapeNotVerified */ echo __('Forgot Your Password'); ?>
            </div>
        </div>
    </div>
    <div class="form-body">
        <div class="logo-sec">
          <img src="<?php echo $this->getViewFileUrl('images/reset_pass.png'); ?>" />
        </div>
        <form class="form password forget" action="<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/forgotpasswordpost') ?>" method="post" id="form-validate" data-mage-init='{"validation":{}}'>

            <label class="main-form-heading"><?php /* @escapeNotVerified */ echo __('Forgot Your Password'); ?></label>

            <label><?php /* @escapeNotVerified */ echo __('Please enter your email address below to receive a password reset link.'); ?></label>

            <div class="form-group email required">
                    <input type="email" name="email" alt="email" placeholder="<?php /* @escapeNotVerified */ echo __('Email') ?>" id="email_address" class="form-control input-text" value="<?php echo $block->escapeHtml($block->getEmailValue()) ?>" data-validate="{required:true, 'validate-email':true}">
            </div>

            <?php echo $block->getChildHtml('form_additional_info'); ?>
             <button type="submit" class="btn btn-primary btn-block"><?php /* @escapeNotVerified */ echo __('Set a New Password'); ?></button>
        </form>
    </div>
</section>
