/*-----------------------------------------------------------------------------------*/
/*	10. Comments
/*-----------------------------------------------------------------------------------*/
.comments-area {
    clear: both;
    margin: 0 0 10px;
    .avatar {
        float: left;
        margin-bottom: 10px;
        margin-right: 2%;
        border-radius: 50%;
    }
}
.commentlist {
    margin: 0;
    padding: 0;
    position: relative;
    .comment,
    .pingback {
        float: left;
        list-style: none;
        margin: 0;
        width: 100%;
    }
    .pingback .comment-body {
        padding: 0 0 20px;
    }
    .comment-body {
        border-bottom: 1px solid rgba(0, 0, 0, 0.11);
        margin: 0 0 20px;
    }
    .comment .children {
        float: left;
        margin-left: 10%;
        margin-bottom: 0;
        margin-top: 0;
        width: 90%;
    }
    .children li {
        margin: 0;
        position: relative;
        width: 100%;
    }
}
.fn {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    a {
        color: #333;
    }
}
.comment-meta {
    font-size: 12px;
    margin: 5px 0;
    a {
        color: #7d7d7d;
        font-style: italic;
    }
}
.comment-text {
    overflow: hidden;
}
.bypostauthor {
    font-size: 12px;
}
.reply {
    i {
        color: #555;
        margin: 0 3px 0 0;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
    }
}
.comment-reply-link {
    color: $color__primary;
    display: inline-block;
    float: right;
    font-size: 11px;
}
.comment-reply-title {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    text-transform: uppercase;
}
.comment-form {
    margin: 15px 0 0;
    p {
        margin: 0 0 15px;
        position: relative;
    }
    label {
        color: #999;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .form-submit {
        clear: both;
    }
    .comment-form-comment {
        clear: both;
        overflow: hidden;
        width: 100%;
    }
    .comment-form-author,
    .comment-form-email {
        margin-right: 2%;
    }
    input,
    textarea {
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.11);
        display: block;
        font-size: 14px;
        margin: 4px 0 0;
        padding: 10px 10px;
    }
    textarea {
        width: 100%;
    }
    .required {
        color: #dc0413;
    }
    .submit {
        background-color: $color__primary;
        border: 0;
        color: #fff;
        font-family: $font__headings;
        font-size: 14px;
        font-weight: 400;
        padding: 8px 32px;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
        &:hover {
            background: #000;
            color: #fff;
        }
    }
}
.comment-form-author,
.comment-form-email,
.comment-form-url {
    float: left;
    width: 32%;
    input {
        width: 100%;
    }
}