/*-----------------------*/
/*	5.1 Main Container
/*-----------------------*/
.main-container {
    background: transparent;
    clear: both;
    overflow: hidden;
    width: 100%;
}
.main-wrapper {
    clear: both;
    width: 100%;
}
#page {
    clear: both;
    margin: 0 auto;
    width: 1170px;
}
.container {
    margin: 0 auto;
    width: 1170px;
}
.single {
    .post {
        margin-bottom: 30px;
    }
    .boxed-layout #page {
        border: none;
    }
}
/*-----------------------*/
/*	5.2 Boxed Layout
/*-----------------------*/
.boxed-layout {
    background: #fff;
    float: none;
    margin: 0 auto;
    width: 1170px;
    overflow: hidden;
    .header {
        padding-left: 2%;
        padding-right: 2%;
        width: 96%;
    }
    .main-wrapper {
        max-width: 1170px;
    }
    .header,
    .top-bar .center-width {
        width: 96%;
    }
    .container {
        width: auto;
    }
}
/*-----------------------*/
/*	5.3 Main Content
/*-----------------------*/
.main-content {
    clear: both;
    margin: 0 auto 10px;
    max-width: 100%;
    #page {
        float: left;
        margin: 0;
        max-width: 100%;
        padding: 0;
        width: 1170px;
    }
}
.content-area {
    float: left;
    width: 71.4%;
}
.section-heading {
    color: #000;
    font-family: $font__headings;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.content {}
.cover-box {
    margin: -30px 0 30px;
    overflow: hidden;
    position: relative;
}
.cover-image {
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    min-height: 500px;
    position: relative;
}
.cover-heading {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    .title {
        color: #fff;
    }
}
.cover-text {
    float: left;
    padding: 0 0 20px;
    a {
        color: #ffffff;
    }
}
.title {
    margin-bottom: 15px;
    a {
        color: #000000;
    }
}
.entry-title {
    margin-bottom: 10px;
}
.page-title {
    font-size: 26px;
    margin: 0 0 20px;
}
/*-----------------------*/
/*	5.4 Archives Template
/*-----------------------*/
.archive-col {
  float: left;
  margin-bottom: 20px;
  margin-right: 5%;
  width: 47.5%;
}
.archive-col:nth-child(2n) {
  margin-right: 0;
}
.archive-col ul {
  margin: 0;
}
.archive-col ul li {
  font-size: 14px;
  line-height: 28px;
}
.archive-col a {
  color: #555;
}
/*-----------------------*/
/*	5.5 Archives
/*-----------------------*/
.archive-title {
    margin: 0 !important;
    padding: 15px 30px !important;
}
.cat-cover-box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 40px;
    padding: 45px 10px;
    text-align: center;
}
.category-title {
    margin: 0;
    padding: 0;
    span {
        color: $color__primary;
        border-bottom: 2px solid #e7e7e7;
        font-weight: 700;
    }
}