// 4.2 Featured Section
//--------------------------------------------//
.featured-section {
    .post-meta {
        color: #fff;
        margin-bottom: 10px;
        text-transform: uppercase;
        span:nth-child(2n) {
            margin-left: 10px;
        }
    }
    .post-cats {
        background: $color__primary;
        color: #fff;
        font-size: 12px;
        font-style: normal;
        padding: 2px 8px;
        span {
            font-weight: 400;
            text-transform: lowercase
        }
    }
    .post-inner {
        @include position(absolute,null,0,0,0);
        padding: 20px;
        background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to top,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .post-author {
        text-transform: uppercase;
        span {
            color: #fff;
            font-style: italic;
            margin-right: 3px;
            text-transform: lowercase
        }
    }
    .f-title {
        font-size: 20px
    }
}
.featured-post-1 {
    border-right: 1px solid #fff;
    float: left;
    width: 66.75%;
    .f-title {
        font-size: 26px
    }
}
.featured-posts-right {
    float: left;
    width: 33.25%;
}
.featured-post-2 {
    border-bottom: 1px solid #fff;
}
.featured-post-2,
.featured-post-3 {
    width: 100%;
    .f-title {
        max-height: 45px;
        overflow: hidden
    }
}
.featured-title {
}
.fs-wrap {
    position: relative;
    margin-bottom: 40px;
    max-width: 100%;
    .container {
        
    }
}
.featured-posts {
    margin-bottom: 15px;
    position: relative;
    .featured-thumbnail img {
        float: none;
        margin-bottom: 8px
    }
    .title {
        font-size: 14px;
        line-height: 1.4;
        @include transition();
    }
    .post-inner {
        margin: 0 8px
    }
    a:hover .title {
        color: $color__primary
    }
}