/*-----------------------------------------------------------------------------------*/
/*	9. Footer
/*-----------------------------------------------------------------------------------*/
.footer {
    background: #fcfcfc;
    color: #777;
    clear: both;
    overflow: hidden;
    a {
        color: #777;
        &:hover {
            color: #fff;
        }
    }
}
.footer-top-widget {
    float: left;
    width: 100%;
}
.footer-widgets {
    margin: 0 auto;
    padding: 40px 0 20px;
    width: 100%;
}
.footer-widget {
    float: left;
    .widget-title {
        color: #000;
    }
    .widget {
        margin: 0 0 25px 0;
        li {
            border-bottom-color: rgba(0, 0, 0, 0.1);
        }
    }
}
.footer-columns-4 .footer-widget {
    margin-right: 2%;
    width: 23.5%;
}
.footer-columns-3 .footer-widget {
    margin: 0 2% 0 0;
    width: 32%;
}
.footer-columns-2 .footer-widget {
    margin: 0 2% 0 0;
    width: 49%;
}
.footer-columns-1 .footer-widget {
    margin: 0;
    width: 100%;
}
.copyright {
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    color: #aaa;
    padding: 15px 0;
    overflow: hidden;
    width: 100%;
}
.copyright-text {
    p {
        margin: 0;
    }
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 8em;
    right: 25px;
    color: #000;
    background-color: rgba(235, 235, 235, 0.8);
    font-size: 12px;
    padding: 10px 15px;
    display: none;
    border-radius: 40px;
    &:hover {
        background-color: rgba(135, 135, 135, 0.5);
    }
    .icon-angle-up {
        color: #000;
        font-size: 24px;
    }
}

/*---[ Instagram Photos ]---*/
.instagram-photos {
    position: relative;
    text-align: center;
    ul {
        overflow: hidden;
    }
    li {
        display: block;
        float: left;
        width: 12.5%;
    }
}
.instagram-title {
    background: #fff;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 8px 20px;
    text-transform: uppercase;
    @include center(both);
    a {
        color: #787878;
    }
}

/*---[ Footer Featured Area ]---*/
.footer-feature-posts {
    background: black(0.05);
    overflow: hidden;
    margin: 20px 0 50px;
    padding: 20px 20px 0;
    .container {
        max-width: 100%
    }
    .featured-thumbnail {
        margin: 0 20px 0 0;
        max-width: 30%;
    }
    header {
        margin: 20px 0 0;
        overflow: hidden;
    }
    .footer-featured-post .title {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 6px;
    }
    .post-author span { margin: 0 3px 0 0 }
}
.footer-featured-post {
    background: #fff;
    float: left;
    margin: 0 2% 20px 0;
    padding: 15px;
    width: 49%;
    &:nth-child(2n) {
        margin-right: 0;
    }
}
.footer-meta {
    margin-bottom: 25px
}