.main-header {
    background: #fff;
    color: #000;
    margin: 0 auto 30px;
    width: 100%;
}
.header {
    clear: both;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    position: relative;
    width: 1170px;
    .logo {
        display: inline-block;
        font-size: 40px;;
        margin: 0;
        max-width: 100%;
        img {
            float: left;
        }
    }
    a {
        color: #000;
    }
}
.logo-wrap {
    margin: 40px 0;
    max-width: 100%;
}
.tagline {
    display: block;
    font-size: 14px;
}
/* Header Style 2 */
.header-2 {
    text-align: center;
    .logo-wrap {
        display: inline-block
    }
    .header-links {
        float: left
    }
}
.header-3 .logo-wrap {
  float: left;
}
.header-ad-widget {
  float: right;
  margin: 15px 0;
  max-width: 85%;
}
// 3.1 Social Links
//--------------------------------------------//
.social-links {
    font-size: 14px;
    a {
        color: #000;
        margin: 0 4px;
    }
}
.header-links {
    float: right;
    a {
        display: inline-block;
        margin: 0;
        padding: 20px 6px;
    }
}
// 3.2 Header Search
//--------------------------------------------//
header {
    .searchform {
        background: transparent;
        float: right;
        padding: 0;
        width: 100%;
        i {
            position: absolute;
            top: 18px;
            right: 10px;
            z-index: 10;
        }
        fieldset {
            border: 0;
        }
    }
    .s {
        background: #222;
        float: left;
        height: 60px;
        right: 40px;
        padding: 22px 0;
        position: absolute;
        text-indent: 15px;
        z-index: 20;
        width: 0;
        visibility: hidden;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
    }
    .search-button {
        display: none;
    }
}
.header-search {
    float: right;
    margin-left: 5px;
    position: relative;
    .searchform {
        .search-submit {
            background: rgba(255, 255, 255, 0.2);
            cursor: pointer;
            color: #000;
            display: block;
            height: 60px;
            padding: 24px 0;
            width: 40px;
            z-index: 99;
        }
    }
}
.show-search .s {
    visibility: visible;
    width: 220px;
}
.top-bar ::-webkit-input-placeholder,
.st-menu .s::-webkit-input-placeholder {
  color: #ffffff;
}
.top-bar :-moz-placeholder,
.st-menu .s:-moz-placeholder {
  color: #ffffff;
}
.top-bar ::-moz-placeholder,
.st-menu .s::-moz-placeholder {
  color: #ffffff;
}
.top-bar :-ms-input-placeholder,
.st-menu .s:-ms-input-placeholder {
  color: #ffffff;
}
// 3.3 Header Newsletter
//--------------------------------------------//
.top-bar {
    background: $color__primary;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0;
    text-align: center;
    span {
        margin-right: 25px
    }
}
.header-subscribe-form {
    display: inline-block;
    vertical-align: middle;
    form {
        border-bottom: 1px solid #fff;
        font-size: 13px;
        overflow: hidden;
    }
    .input-group {
        float: left;
    }
    .email,
    .btn {
        background: transparent;
        border: 0;
        font-size: 13px;
    }
    .btn {
        cursor: pointer;
        display: block;
        height: 25px;
        position: relative;
        width: 20px;
        &:before {
            @include position(absolute,5px,0,null,null,'\f061');
            color: #fff;
            font-family:'FontAwesome'
        }
    }
}
// 3.4 Header Styles
//--------------------------------------------//
.header-1 {
    .logo-wrap {
        float: left
    }
    .header-ad {
        float: right;
        margin: 20px 0;
        text-align: center
    }
}
.header-1,
.header-2 {
    .main-navigation {
        border-top: 1px solid rgba(0, 0, 0, 0.08)
    }
}
.header-3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08)
}
.author .main-header,
.archive .main-header {
    margin-bottom: 0;
}
.header-4 {
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    .header {
        text-align: center
    }
}
.header-5 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-align: center;
    .header-links {
        float: left;
    }
}