.cblayout,
.bclayout {
    .post-box header {
        text-align: center
    }
    .read-more {
        display: block;
        text-align: center
    }
}
.bclayout {
    .content-area {
        float: right;
    }
    .sidebar {
        padding-left: 0;
        padding-right: 30px;
    }
}
.clayout,
.glayout {
    .content {
        margin: 0;
    }
    .content-area {
        margin: 0;
        width: 100%;
    }
}
.clayout {
    .post {
        float: left;
        margin: 0 2.75% 30px 0;
        width: 31.5%;
        &:nth-child(3n) {
            margin-right: 0
        }
        &:nth-child(3n+1) {
            clear: left
        }
    }
    .has-post-thumbnail .post-inner {
        overflow: visible
    }
    .fb-status {
        min-height: 185px;
    }
    .twitter-status {
        min-height: 285px;
    }
    .galleryslider {
        min-height: 175px;
    }
    .gallerytiled {
        border: 1px solid rgba(0, 0, 0, 0.11);
        ul li {
            width: 32.9%;
        }
    }
}
.glayout {
    .post {
        float: left;
        margin: 0 2% 30px 0;
        width: 49%;
        &:nth-child(2n) {
            margin-right: 0
        }
    }
    .post-inner {
        text-align: center
    }
    .fb-status {
        min-height: 290px;
    }
    .twitter-status {
        min-height: 240px;
    }
    .galleryslider {
        min-height: 262px;
    }
    .gallerytiled {
        border: 1px solid rgba(0, 0, 0, 0.11);
        ul li {
            width: 24.7%;
        }
    }
}
.gsblayout {
    .content-area {
        float: left;
    }
    .galleryslider {
        min-height: 175px;
    }
}
.sglayout,
.sgblayout {
    .content-area {
        float: right;
    }
    .sidebar {
        padding-left: 0;
        padding-right: 30px;
    }
}
.gslayout,
.sglayout {
    .post,
    .page {
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}
.gslayout,
.gsblayout,
.sglayout,
.sgblayout {
    .post,
    .page {
        float: left;
        margin: 0 4% 30px 0;
        width: 48%;
    }
    .has-post-thumbnail .post-inner {
        overflow: visible
    }
    .fb-status {
        min-height: 291px;
    }
    .twitter-status {
        min-height: 285px;
    }
    .gallerytiled {
        border: 1px solid rgba(0, 0, 0, 0.11);
        ul li {
            width: 32.9%;
        }
    }
}
.gsblayout,
.sgblayout {
    .post,
    .page {
        &:nth-child(2n+1) {
            margin-right: 0;
        }
        &:first-child {
            width: 100%;
            .post-inner {
                text-align: center
            }
            .post-content p {
                text-align: left
            }
        }
    }
}
.flayout {
    .main-wrapper {
        background: transparent;
    }
    .content-area {
        margin: 0;
        width: 100%;
    }
    .content {
        margin: 0 auto;
    }
    .gallerytiled {
        border: 1px solid rgba(0, 0, 0, 0.11);
        ul li {
            width: 13.8%;
        }
    }
}
.glayout,
.clayout,
.flayout {
    .pagination,
    .norm-pagination {
        border-left: 0;
    }
}
.lslayout,
.sllayout {
    .featured-thumbnail {
        margin-right: 25px;
        margin-bottom: 0;
        max-width: 35%;
        width: 295px;
    }
    .post-inner {
        clear: none;
        overflow: hidden
    }
    .post {
        &:first-child {
            .featured-thumbnail-big {
                margin: 0 0 30px;
                max-width: 100%;
                width: 100%;
            }
            .post-inner {
                clear: both;
                overflow: visible;
                text-align: center
            }
            .post-content p {
                text-align: left
            }
        }
    }
}
.sllayout {
    .content-area {
        float: right
    }
    .sidebar {
        padding-left: 0;
        padding-right: 30px
    }
}
.single .flayout .content {
    padding: 0;
}