.menu,
.menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu {
    .menu {
        ul {
            @include transition;
            background: #fff;
            padding: 0;
            position: absolute;
            width: 180px;
            opacity: 0;
            z-index: 1000;
            visibility: hidden;
            transform: translate(0px, 20px);
            li {
                width: 100%;
            }
        }
        li {
            ul {
                left: 0;
                top: 60px;
                width: 180px;
                ul {
                    left: 180px;
                    top: 0
                }
            }
            &:hover {
                visibility: inherit;
                /* fixes IE7 'sticky bug' */
                > ul {
                    display: block;
                    opacity: 1;
                    transform: translate(0px, 0);
                    /* match top ul list item height */
                    visibility: visible
                }
                li ul {
                }
            }
        }
        a {
            display: block;
            line-height: 22px;
            position: relative;
        }
    }
    ul.menu li li:hover ul {
        border: 0;
        padding: 0;
        left: 180px;
        /* match ul width */
        top: 0px;
    }
}
.main-navigation {
    background: #fff;
    border-bottom: 1px solid black(0.08);
    font-size: 13px;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}
.header-3 .main-navigation {
  border-bottom: 0;
  float: right;
  width: auto;
}
.header-3 .main-navigation:before {
  display: none;
}
.header-3 .main-nav {
  max-width: 100%;
}
.header-3 .header {
  text-align: left;
}
.header-3 .social-links {
  display: none;
}
.nav-menu {
    display: inline-block;
    position: relative;
    text-align: center;
    .current-menu-item > a {
        color: $color__primary;
    }
    a {
        color: #000;
        margin: 0;
        padding: 19px 16px 19px;
        &:hover {
            color: $color__primary;
        }
    }
    ul {
        ul a {
            border-right: none;
            margin: 0;
        }
        li {
            display: inline-block;
            float: left;
            list-style: none;
            position: relative;
            ul {
                text-align: left;
                li {
                    border-bottom: 1px solid black(0.09);
                    a {
                        background: #fff;
                        color: #000;
                        padding: 10px 20px;
                        line-height: 18px;
                        &:hover {
                            background: #3a3a3a;
                            border: 0;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.main-nav {
    font-family: $font__menu;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    margin: 0 auto;
    max-width: 96%;
    text-transform: uppercase;
}
.main-nav .nav-menu ul li {
  float: none;
}
.menu .menu-item-has-children a {
  padding-right: 24px;
  z-index: 20;
}
.menu .menu-item-has-children ul a {
  padding-right: 20px;
}
.menu .menu-item-has-children ul a:after {
  top: 16px;
  right: 5px;
  border-color: transparent;
  border-left-color: rgba(0, 0, 0, 0.2);
}
.menu .menu-item-has-children > a:after {
  content: '';
  position: absolute;
  top: 28px;
  right: 12px;
  margin-top: 0px;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.menu .fa {
  display: inline-block;
  margin-right: 5px;
  margin-top: -0.265em;
  vertical-align: middle;
}
.stickymenu {
    background: #fff;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    max-width: 100%;
    width: 100%;
    opacity: 0.9;
    -webkit-transition: -webkit-transform 250ms ease-out 0s;
    transition: transform 250ms ease-out 0s;
    .center-width {
        border: 0;
    }
}
.nav-up.stickymenu {
    -webkit-transform: translate3d(0px, -60px, 0px);
    -ms-transform: translate3d(0px, -60px, 0px);
    transform: translate3d(0px, -60px, 0px);
}
.nav-down.stickymenu {
    top: 0;
}
.menu-btn {
    display: none !important;
}
#close-button {
    padding: 18px 0 19px;
    text-align: center;
    .fa {
        color: #fff;
        cursor: pointer;
        font-size: 22px;
    }
}
.st-container {
    position: relative;
    overflow: hidden;
}
.menu-pusher {
    float: left;
    height: 100%;
    left: 0;
    position: relative;
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.st-menu {
    background: #212121;
    display: none;
    position: fixed;
    left: 0;
    overflow-y: auto;
    visibility: hidden;
    width: 300px;
    height: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 1000
}