/*---[ Post Navigation ]---*/
.navigation {
  clear: both;
  display: block;
}
/*---[ Pagination ]---*/
.pagination,
.norm-pagination {
    clear: both;
    font-size: 14px;
    margin: 20px 0 30px;
    text-align: center;
    text-transform: uppercase
}
.single .pagination {
    border: 0;
    margin: 15px 0 20px;
    padding: 0;
}
.single .pagination a {
  background: rgba(0, 0, 0, 0.04);
}
.single .pagination a:hover {
  color: #fff;
}
.norm-pagination .nav-previous a {
  float: left;
}
.norm-pagination .nav-next a {
  float: right;
}
.pagination span,
.pagination a {
    border: 1px solid #ebebeb;
    color: #333;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 2px 10px
}
.pagination .current,
.pagination a:hover {
  color: #fff;
}
.page-links-title {
  display: inline-block;
  font-weight: 400;
  margin: 0 10px 0 0;
}
.single .pagination span,
.single .pagination a {
  line-height: 1.6;
  margin: 0 6px 0 0;
}