.featured-thumbnail {
    float: left;
    position: relative;
}
.featured-thumbnail img {
    float: left;
    width: 100%;
    height: auto;
}
.featured-thumb-gallery {
    width: 100%;
}
.featured-thumbnail-big {
    margin-bottom: 30px;
    max-width: 35%;
    width: 295px;
    max-width: 100%;
    width: 100%;
    &:before {
        @include position(absolute,0,null,null,0);
        height: 0;
        width: 100%;
        background: black(0.2);
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }
    &:hover:before {
        height: 100%;
        opacity: 1;
    }
    &:after {
        @include position(absolute,0,null,null,0);
        height: 0;
        width: 100%;
        background-image: url("images/plus.png");
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
    &:hover:after {
        height: 100%;
        opacity: 1;
    }
}
.featured-single img {
  float: left;
  width: 100%;
}
.post .featured-thumbnail-big .fhover {
  background-image: url(images/plus.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.post.format-image .featured-thumbnail-big .fhover,
.post .featured-thumb-gallery .fhover {
  background-image: url(images/zoom.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.post-box header,
.attachment header {
    position: relative;
}
.post-inner {
    clear: both
}
.post-content {
    font-family: $font__post-content;
    font-size: 14px;
}
.aside-content {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 15px 15px 60px;
    position: relative;
    &:before {
        border-left: 1px solid #D79F36;
        border-right: 1px solid #D79F36;
        content: '';
        display: block;
        height: 100%;
        top: 0;
        left: 30px;
        width: 1px;
        position: absolute;
    }
}
.post-meta {
    color: $color__meta;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    a {
        color: inherit;
        font-style: normal;
    }
    span {
        display: inline-block;
        position: relative;
    }
}
.post-date,
.post-comments {
    font-style: normal
}
.post-meta-top {
    margin-bottom: 6px;
    text-transform: uppercase;
    .post-date {
        margin-left: 14px;
        &:before {
            position: absolute;
            content: '-';
            left: -12px;
        }
    }
}
.post-comments {
    background: #fff;
    float: left;
    padding-right: 15px;
}
.post-author {
    font-style: italic;
    a {
        font-style: normal;
    }
}
.slider-meta span:before {
    display: none;
}
.post-meta-title {
    border: 0;
    display: inline-block;
    margin-bottom: 15px;
    padding: 0;
    position: relative;
}
.post-author a {
    color: #000;
}
.post-cats {
    color: $color__primary;
    span {
        font-family: 'Droid Serif', serif;
        font-style: italic;
        margin: 0 5px 0 0;
        text-transform: capitalize;
    }
    a {
        color: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
    }
}
.post-author {
    span {
        font-family: 'Droid Serif', serif;
        text-transform: capitalize;
    }
    a {
        color: $color__primary
    }
}
.cover-container {
    margin: 0;
    position: relative;
}
.read-more {
    color: #777;
    display: inline-block;
    margin: 0 0 25px
}
.read-more a,
.more-link {
    border: 1px solid #efefef;
    color: inherit;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 7px 36px 6px 15px;
    position: relative;
    text-transform: uppercase;
    &:hover {
        background: $color__primary;
        color: #fff;
    }
}
.read-more a:before,
.more-link:before {
    color: inherit;
    content: "\f061";
    font-family: 'FontAwesome';
    font-size: 10px;
    position: absolute;
    right: 15px;
    top: 6px;
}
.post-footer {
    color: #000;
    font-size: 12px;
    position: relative;
    &:before {
        @include position(absolute,7px,0,null,0);
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
        height: 4px;
    }
}
.post-tags {
    font-size: 14px;
    margin-bottom: 30px;
    span {
        float: left;
        font-weight: 700;
        margin: 0 12px 0 0;
    }
    a {
        background: rgba(0, 0, 0, 0.04);
        color: #4b4b4b;
        display: inline-block;
        float: left;
        margin: 0 5px 5px 0;
        padding: 2px 10px;
        &:hover {
            background: $color__primary;
            color: #ffffff;
        }
    }
}

/*-----------------------*/
/*	Post Formats
/*-----------------------*/
.post-format-link {
    background: black(0.5);
    color: #fff;
    float: none;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    word-wrap: break-word;
}
.post-content-format {
    display: block;
    border: 1px solid white(0.3);
    padding: 20px;
    text-align: center;
}
.post-format-icon {
    color: #fff;
    font-size: 26px !important;
}
.post-format-quote {
    background: #333;
    color: #fff;
    margin: 0;
    overflow: hidden;
    padding: 20px;
}
.post-format-quote-content {
    margin: 0;
    overflow: hidden;
}
.post-format-quote-content a,
.post-format-quote-content a:hover {
    color: #fff;
}
.post .post-format-quote-content blockquote {
    color: #fff;
    font-size: 24px;
    font-style: italic;
    line-height: 36px;
    margin: 0;
    padding: 0;
}
.audio-box {
    margin-bottom: 20px;
    width: 100%;
    iframe {
        float: left;
    }
}
.galleryslider {
    margin-bottom: 30px
}
.gallerytiled {
    border: 1px solid rgba(0, 0, 0, 0.11);
    margin-bottom: 20px;
    padding: 15px;
    overflow: hidden;
    ul li {
        float: left;
        list-style: none;
        margin: 0 1px 1px 0;
        width: 19.8%;
        img {
            float: left;
        }
    }
}
.status-box {
    background: #f3f3f3;
    border-bottom: 0;
    margin-bottom: 20px;
    padding: 5px 15px;
    overflow: hidden;
    iframe {
        float: none;
        margin: 10px auto !important;
        width: 100%;
    }
}
.single .status-box {
    border: 0;
    border-bottom: 1px solid #e3e3e3;
}
.fb-status {
    padding-bottom: 15px;
    padding-top: 15px;
}
.googlep-status {
    padding-bottom: 15px;
    padding-top: 15px;
    div {
        display: block !important;
        margin: 0 auto !important;
    }
}
.loading {
    display: block;
    height: 200px;
    overflow: hidden;
}
.loading .slides {
    opacity: 0;
}
.loading div,
.loading ul,
.loading .owl-controls,
.loading .featured-title {
    display: none;
}
.loading:before {
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 40px auto;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
    animation: sk-rotatePlane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.flexslider {
  overflow: hidden;
  position: relative;
}
.galleryslider.loading {
  background: #ffffff url(images/loading.gif) no-repeat center center;
  display: block;
  border: 1px solid #e3e3e3;
  overflow: hidden;
  height: 150px;
}
.post-box .loading {
  margin-bottom: 20px;
}
.post,
.content .page {
    color: #020202;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.post-type {
    margin-right: 4px;
    i {
        background: $color__primary;
        color: #fff;
        font-size: 11px;
        padding: 5px 0;
        text-align: center;
        width: 21px;
    }
}

/*-----------------------*/
/*	Single
/*-----------------------*/
.full-width {
    margin-bottom: 30px;
    .content {
        margin: 0 0 30px;
        padding: 0;
    }
}
.content-detail {
    margin-bottom: 30px;
}
.page-content,
.single-content {
}
.error404 .page-content header {
  margin: 0 3%;
}
.error-page-content {
  font-size: 16px;
  line-height: 28px;
  padding: 30px;
  text-align: center;
}
.error-head {
    border-bottom: 1px solid #CCCCCC;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
    span {
        background: #fff;
        padding: 0 20px;
        position: relative;
        top: -14px;
    }
}
.error-text {
    color: $color__primary;
    font-size: 230px;
    line-height: 200px;
    margin-bottom: 30px;
}
.single-title {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 5px;
}
.single-post-type {
    clear: both;
    margin: 0;
    width: 100%;
    img {
        float: left;
        width: 100%;
    }
}
.page-links {
    margin-bottom: 20px;
}
img.size-full,
img.size-large,
img.wp-post-image {
    height: auto;
    max-width: 100%;
}
article img.right,
article img.alignright,
.wp-caption.alignright,
.wp-caption.aligncenter,
.wp-caption.alignnone {
    background: rgba(0, 0, 0, 0.027);
    border: 1px solid rgba(0, 0, 0, 0.08);
    display: block;
    float: right;
    margin: 0.4em 0 1em 1.5em;
    padding: 5px;
}
.wp-caption.aligncenter {
    float: none;
    margin: 0 auto 1em;
    max-width: 98%;
}
.wp-caption.alignnone {
    float: none;
    margin-left: 0;
    max-width: 98%;
}
article img.aligncenter,
article img.alignnone,
.gallery-icon {
    background: rgba(0, 0, 0, 0.027);
    border: 1px solid rgba(0, 0, 0, 0.08);
    display: block;
    clear: both;
    padding: 0.8%;
    max-width: 98.4%;
    box-sizing: border-box;
}
article img.left,
article img.alignleft,
.wp-caption.alignleft {
    background: rgba(0, 0, 0, 0.027);
    border: 1px solid rgba(0, 0, 0, 0.08);
    display: block;
    float: left;
    margin: 0.5em 1.5em 1em 0;
    padding: 5px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
    color: #757575;
    font-size: 11px;
    font-style: italic;
    line-height: 20px;
    margin: 10px 0 5px;
}
.wp-caption {
    padding: 4px;
    max-width: 100%;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.entry-content table {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    width: 100%;
}
.entry-content th {
    padding: 6px 10px 6px 0;
    text-transform: uppercase;
}
.entry-content td,
.entry-content th {
    border-top: 1px solid #e5e5e5;
    padding: 8px 20px;
}
.entry-content th {
    background: rgba(0, 0, 0, 0.04);
}
.entry-content dl {
    margin: 0 30px;
}
.entry-content dt {
    font-weight: 700;
}
.entry-content dd {
    margin: 0 0 20px;
}
.entry-content,
.commentlist .comment {
    ol {
        list-style: none;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    ul {
        list-style: none;
        margin-bottom: 20px;
    }
    ul ul,
    ul ol,
    ol ul,
    ol ol {
        margin-bottom: 0;
    }
}
.entry-content {
    li {
        list-style: none;
        margin-left: 22px;
        position: relative;
    }
    ol {
        counter-reset: section;
        > li {
            margin: 22px 0 22px 36px;
            padding: 10px 0;
            &:before,
            ol li:before {
                @include position(absolute,0,null,null,-50px);
                background: $color__primary;
                border-radius: 50%;
                counter-increment: section;
                content: counter(section);
                color: #fff;
                font-size: 13px;
                font-weight: 600;
                height: 42px;
                padding: 9px 0;
                text-align: center;
                width: 42px;
                z-index: 1
            }
            &:after {
                @include position(absolute,30px,null,null,-31px,'');
                background: black(0.07);
                height: 100%;
                width: 4px;
            }
            &:last-child:after {
                display: none
            }
            ol li:last-child {
                margin-bottom: 0
            }
            ol li:before {
                top: -5px;
                content: counter(section);
            }
        }
        ul {
            margin-top: 20px;
        }
    }
    ul {
        li {
            list-style: none;
            margin-left: 32px;
            padding: 3px 0;
            &:before {
                @include position(absolute,3px,null,null,-30px,'\f00c');
                color: $color__primary;
                font-family:'FontAwesome';
                font-size: 13px;
                text-align: center;
                width: 20px;
                z-index: 1
            }
            ol li:last-child {
                margin-bottom: 0
            }
        }
        ol > li:before {
            @include position(absolute,-5px,null,null,-50px);
            background: $color__primary;
            border-radius: 50%;
            counter-increment: section;
            content: counter(section);
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            height: 42px;
            padding: 9px 0;
            text-align: center;
            width: 42px;
            z-index: 1
        }
        ul {
            margin-top: 10px;
        }
        ol {
            margin-bottom: 20px
        }
    }
}
.entry-content address {
    margin-bottom: 20px;
}
.entry-content code {
    font-family: Consolas, Monaco, Lucida Console, monospace;
}
.entry-content pre {
    background: #fffdf7;
    border: 1px solid #f0e9c8;
    margin-bottom: 20px;
    padding: 20px;
    overflow: auto;
}

/*-----------------------*/
/*	Gallery
/*-----------------------*/
.gallery {
    margin-bottom: 20px;
}
.gallery:after {
  clear: both;
  content: "";
  display: block;
}
.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  text-align: center;
}
.gallery-icon {
  max-width: 100%;
}
.gallery-columns-1 .gallery-item {
  max-width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: calc(46%);
}
.gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: calc(29.3%);
}
.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: calc(21%);
}
.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: calc(16%);
}
.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: calc(12.7%);
}
.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: calc(10.28%);
}
.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: calc(8.5%);
}
.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: calc(7.1%);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: left;
}
.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
}
.gallery-caption:before {
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.gallery-item:hover .gallery-caption {
  opacity: 1;
}
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
.post-content blockquote {
    border-left: 2px solid $color__primary;
    font-size: 16px;
    margin: 10px 0 20px;
    padding: 0 30px;
}
.post-format-content {
    margin-bottom: 20px;
    .wp-video {
        margin: 0 auto;
    }
}
.post-navigation,
.image-navigation {
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding: 0 0 30px;
    margin: 0 0 30px;
    a {
        color: inherit;
        font-size: 14px;
        line-height: 20px;
    }
    .post-nav-links {
        float: left;
        position: relative;
        width: 50%;
    }
    span {
        color: #000;
        display: block;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .prev-link,
    .next-link {
        overflow: hidden;
        position: relative;
    }
    .prev-link {
        margin-right: 15px;
    }
    .next-link {
        margin-left: 15px;
    }
    .next-link-wrapper {
        float: right;
        text-align: right;
    }
    .post-nav-link-thumb {
        float: left;
        margin-right: 15px;
    }
    .next-link-wrapper .post-nav-link-thumb {
        float: right;
        margin-left: 15px;
        margin-right: 0;
    }
}
.single-post-ad {
    clear: both;
    margin: 0 0 10px;
}
.featured-single {
    margin-bottom: 20px;
}
/*---[ Breadcrumbs ]---*/
.breadcrumbs {
    border-bottom: 1px solid black(0.1);
    margin-bottom: 30px;
    padding: 0 0 15px;
    a {
        color: #333;
    }
    i {
        margin-right: 4px;
    }
}
/*---[ Social Share Buttons ]---*/
.share-buttons {
    background: #fff;
    display: inline-block;
    float: right;
    padding-left: 10px;
    position: relative;
    span {
        margin-bottom: 0
    }
    i {
        cursor: pointer;
        margin: 0 2px
    }
}
.social-btn {
    margin-bottom: 10px;
    .fa {
        color: inherit;
        margin: 0 4px;
    }
    i {
        margin: 0 5px 0 0;
    }
}
/*---[ Author Box ]---*/
.author-box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 0 10px;
    h4 {
        margin: 0;
    }
    h5 {
        font-size: 16px;
    }
    img {
        border-radius: 50%;
    }
}
.author-box-avtar {
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
    max-width: 100px;
    width: 14.2%;
}
.author-head {
    overflow: hidden;
}
.author-info-container {
    margin-left: 0;
    overflow: hidden;
}
.author-articles-count {
    color: #999;
    display: inline-block;
    font-size: 12px;
}
.author-social {
    margin-bottom: 20px;
    a {
        background: #fff;
        border: 1px solid black(0.09);
        color: #000;
        display: inline-block;
        font-size: 14px;
        margin: 0 5px;
        padding: 13px 0;
        text-align: center;
        border-radius: 50%;
        width: 42px;
        &:hover {
            color: #fff;
        }
    }
}
.author-website a:hover { background: #333; }
.author-fb a:hover { background: #395aa1; }
.author-twitter a:hover { background: #17a8dd; }
.author-gp a:hover { background: #fc5656; }
.author-linkedin a:hover { background: #017eb4; }
.author-pinterest a:hover { background: #cc2127; }
.author-dribbble a:hover { background: #ef5b92; }
.author-desc-box {
    background: #fff;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 1px solid #e3e3e3;
    margin: 0 0 40px;
    padding: 50px 0;
    text-align: center;
    h5 {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 5px;
    }
}
.author-box-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
    padding: 15px 20px;
}
.author-box .widget-title:before {
    border: 0;
}
.author-avtar {
    margin: 20px auto;
    width: 100px;
    img {
        float: none;
    }
}
.author-page-info {
    color: #333;
    margin: 0 auto;
    max-width: 96%;
    position: relative;
    width: 630px;
}
.author-desc {
    margin: 0 0 20px;
}
.archive-cover-content.background-dark {
    h5,
    h1,
    .author-social a {
        color: #ffffff;
    }
}
.background-dark a {
    background: rgba(0, 0, 0, 0.3);
}
.archive-cover-content.background-dark .author-desc {
  border-color: rgba(213, 213, 213, 0.2);
}
/*---[ Related Posts ]---*/
.related-posts {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    .featured-thumbnail {
        margin-bottom: 10px;
        margin-right: 0
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
        list-style: none;
        margin: 0 2.5% 20px 0;
        width: 31.667%;
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-child(3n+1) {
            clear: left;
        }
    }
    .widgettitle {
        margin: 0 0 5px;
        text-align: left
    }
    .post-meta {
        text-transform: uppercase
    }
    .related-content {
        clear: both;
    }
}