/*-----------------------------------------------------------------------------------*/
/*	11. Sidebar
/*-----------------------------------------------------------------------------------*/
.sidebar {
    background: transparent;
    float: left;
    padding-left: 30px;
    width: 28.6%;
}
.sidebar a {
    color: #333;
    &:hover {
        color: $color__primary;
    }
}
.sidebar .search-button {
    float: left;
}