/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel {
    .animated {
        -webkit-animation-duration: 1000ms;
        animation-duration: 1000ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .owl-animated-in {
        z-index: 0;
    }
    .owl-animated-out {
        z-index: 1;
    }
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
    .owl-stage {
        position: relative;
        -ms-touch-action: pan-Y;
        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }
    .owl-stage-outer {
        position: relative;
        overflow: hidden;
        /* fix for flashing background */
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    .owl-controls {
        .owl-nav .owl-prev,
        .owl-nav .owl-next,
        .owl-dot {
            cursor: pointer;
            cursor: hand;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
    &.owl-loaded {
        display: block;
    }
    &.owl-loading {
        opacity: 0;
        display: block;
    }
    &.owl-hidden {
        opacity: 0;
    }
    .owl-refresh .owl-item {
        display: none;
    }
    .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        img {
            display: block;
            width: 100%;
            -webkit-transform-style: preserve-3d;
        }
    }
    &.owl-text-select-on .owl-item {
        -webkit-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
    }
    .owl-grab {
        cursor: move;
        cursor: -webkit-grab;
        cursor: -o-grab;
        cursor: -ms-grab;
        cursor: grab;
    }
    &.owl-rtl {
        direction: rtl;
        .owl-item {
            float: right;
        }
    }
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
    .owl-lazy {
        opacity: 0;
        -webkit-transition: opacity 400ms ease;
        -moz-transition: opacity 400ms ease;
        -ms-transition: opacity 400ms ease;
        -o-transition: opacity 400ms ease;
        transition: opacity 400ms ease;
    }
    img {
        transform-style: preserve-3d;
    }
}
.owl-controls {
    .owl-dot,
    .owl-nav div {
        cursor: pointer;
    }
    .owl-dot {
        display: inline-block;
        span {
            background: #fff;
            border-radius: 20px;
            cursor: pointer;
            display: block;
            height: 9px;
            margin: 0 3px;
            text-indent: -9999px;
            width: 9px;
        }
        &.active span,
        &:hover span {
            background: #fff;
        }
    }
}
.owl-dots {
    bottom: 12px;
    left: 0;
    right: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    z-index: 10;
}
.owl-prev,
.owl-next {
    background: #fff;
    color: #000;
    cursor: pointer;
    font-size: 32px;
    line-height: 1;
    padding: 0 12px 3px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.owl-next {
    left: auto;
    right: 0;
}
.owl-theme .owl-controls .owl-dot {
    display: inline-block;
    margin: 20px 0 0;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
}
.slider-meta {
    span {
        color: #fff;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
    }
    .post-cats {
        display: block;
        margin: 0 0 5px;
        padding-left: 7px;
    }
}
.slider-cat span {
    font-weight: 700;
}
.f-thumb,
.f-thumb:hover {
    color: #848484;
    margin: 0
}
.featuredslider {
    position: relative;
    .post-inner {
        @include center(both);
        width: 75%;
    }
    .f-title {
        color: inherit
    }
    .post-meta {
        color: #fff;
        margin-bottom: 8px;
        text-transform: uppercase;
        span:nth-child(2) {
            margin-left: 10px;
            &:before {
                @include position(absolute,0,null,null,-10px,'-');
            }
        }
    }
    .post-cats {
        span {
            color: #fff;
        }
    }
    .post-author {
        text-transform: capitalize;
        span {
            color: #fff;
            font-style: italic;
            text-transform: lowercase
        }
    }
    .post-cats {
        color: #fff
    }
    .read-more {
        display: block;
        margin: 15px 0 0;
        span {
            border: 1px solid #efefef;
            color: #fff;
            display: inline-block;
            font-size: 12px;
            padding: 7px 25px 6px;
            position: relative;
            text-transform: uppercase;
        }
    }
}
.slider-inner {
    background: black(0.4);
    color: #fff;
    margin: 0 auto;
    padding: 60px 30px;
    text-align: center;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.cover-heading {
    .slider-inner {
        background: transparent;
        border: 3px solid #fff;
    }
    .slider-inner {
        .post-meta-title {
            color: #fff;
            &:before {
                border-color: #fff;
                display: block;
            }
            &:after {
                border-color: #fff;
            }
        }
        .post-author a {
            color: inherit;
        }
    }
}
.f-title {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
}
.slider-content {
}
.carousel {
    .f-title {
        font-size: 22px;
    }
    .post-inner {
        @include position(absolute,null,0,0,0);
    }
    .slider-inner {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        padding: 20px 30px;
    }
    .post-meta {
        color: #fff;
        display: block;
        margin-bottom: 6px;
        a {
            color: #fff;
        }
    }
    .post-cats,
    .post-cats span {
        color: #fff;
    }
    .post-date {
        margin-left: 10px;
        &:before {
            @include position(absolute,null,null,null,-10px,'-');
        }
    }
    .slider-content {
        @include transition();
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    .owl-item:hover {
        .slider-inner {
            background: $color__primary;
        }
        .slider-content {
            visibility: visible;
            height: 68px;
        }
    }
}