.widget-title {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    font-family: $font__widget-title;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 15px 0 0;
    text-align: center;
    text-transform: uppercase;
    i {
        margin-right: 5px;
    }
}
.widget {
    font-family: $font__widget;
    line-height: 1.8;
    margin-bottom: 20px;
    li {
        list-style: none;
        margin: 0 0 5px 20px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            background: rgba(0, 0, 0, 0.2);
            display: block;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            left: -20px;
            top: 50%;
            margin-top: -2px;
            @include transition();
        }
        &:hover:before {
            background: $color__primary;
        }
    }
    .children,
    .sub-menu {
        margin-top: 7px;
        padding-left: 20px;
        li:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
    .sub-menu
    .sub-menu
    .sub-menu
    .sub-menu {
        padding-left: 0;
        li {
            margin-left: 0;
        }
    }
    .menu {
        li {
            float: none;
        }
        .menu-item-has-children > a:after {
            display: none;
        }
    }
}
.sidebar-widget {
    list-style: none;
    margin-bottom: 30px;
    position: relative;
    li:last-child {
        margin-bottom: 0;
    }
}
.sidebar-widget:first-child .widget-title {
    border-top: 0;
    padding-top: 0
}
/*-----------------------------------------------------------------------------------*/
/*	12. Widgets
/*-----------------------------------------------------------------------------------*/
/*-----------------------*/
/*	12.1. Default Widgets
/*-----------------------*/
.widget_categories .cat-item a {
    display: block;
    padding: 4px 0;
}
.cat-count {
    display: inline-block;
    float: right;
    font-size: 14px;
    line-height: 16px;
    margin: 1px 0 0;
}
/*-----------------------*/
/*	12.2. Recent Posts
/*-----------------------*/
.recent-posts-widget {
    clear: both;
    padding: 0;
}
.category-posts,
.recent-posts,
.random-posts,
.widget .popular-posts {
    margin: 0 !important;
    padding: 0;
}
.category-posts,
.recent-posts,
.random-posts,
.popular-posts {
    li {
        list-style: none;
        margin-bottom: 25px;
        margin-left: 0;
        overflow: hidden;
    }
}
/*-----------------------*/
/*	12.3. Search Form
/*-----------------------*/
.searchform {
    padding: 0;
    position: relative;
    width: 100%;
    fieldset {
        color: #888;
    }
    .search-submit {
        display: none
    }
}
.s {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6) inset;
    background: transparent;
    border: none;
    color: #777;
    float: left;
    height: 35px;
    margin: 0;
    outline: 0;
    padding: 10px 0 9px 3%;
    width: 88%;
}
.search-button {
    background: $color__primary;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 700;
    min-width: 13px;
    padding: 0;
    height: 35px;
    text-transform: uppercase;
    width: 12%;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    &:hover {
        background: #000;
    }
}
/*-----------------------*/
/*	12.4. Tags Widget
/*-----------------------*/
.sidebar .tagcloud {
    overflow: hidden;
}
.tagcloud a {
    background: rgba(0, 0, 0, 0.027);
    color: rgba(0, 0, 0, 0.6) !important;
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px 12px 5px 12px;
    position: relative;
    &:hover {
        background: #3a3a3a;
        color: #fff !important;
    }
}
/*-----------------------*/
/*	12.5. Subscribe Widget
/*-----------------------*/
.subscribe-widget {
    background: black(0.043);
    clear: both;
    float: left;
    padding: 20px 20px 5px;
    width: 100%;
    form {
        padding: 0;
        overflow: hidden;
    }
    .fa,
    p {
        font-size: 18px;
    }
    .fa {
        margin-bottom: 15px
    }
}
.subscribe-widget,
.jetpack_subscription_widget {
    input[type=text] {
        background-color: #fff;
        border: 1px solid #e4e4e4;
        color: #777;
        float: left;
        height: 36px;
        margin: 0 0 10px;
        outline: 0;
        padding: 8px 0;
        text-indent: 10px;
        width: 99.1%;
    }
    input[type=submit] {
        background-color: #000;
        border: 0;
        color: #fff;
        cursor: pointer;
        display: block;
        float: left;
        padding: 0;
        text-align: center;
        width: 100%;
        height: 35px;
        @include transition();
        &:hover {
            background-color: #1d1d1d;
            color: #fff;
        }
    }
}
.footer .subscribe-widget input[type=text],
.footer .jetpack_subscription_widget input[type=text] {
    background: transparent;
    border: 1px solid black(0.11);
}
/*-----------------------*/
/*	12.6. Social Widget
/*-----------------------*/
.social-widget {
    li {
        border: 0 !important;
        float: left;
        font-size: 14px;
        list-style-type: none;
        margin-bottom: 4px !important;
        margin-left: 2px;
        margin-right: 2px;
        padding: 0;
        &:before {
            display: none;
        }
        .fa {
            background: #f2f2f2;
            color: #fff;
            float: left;
            font-size: 16px;
            margin: 0;
            width: 39px;
            padding: 12px 0;
            text-align: center;
            -webkit-transition: all 0.25s linear;
            transition: all 0.25s linear;
        }
        &:hover .fa {
            color: #fff;
        }
    }
    .facebook {
        span {
            color: #3b5999;
        }
        &:hover span {
            background: #3b5999;
        }
    }
    .twitter {
        span {
            color: #00aced;
        }
        &:hover span {
            background: #00aced;
        }
    }
    .gplus {
        span {
            color: #ff4444;
        }
        &:hover span {
            background: #ff4444;
        }
    }
    .rss {
        span {
            color: #ff8800;
        }
        &:hover span {
            background: #ff8800;
        }
    }
    .pinterest {
        span {
            color: #cc2127;
        }
        &:hover span {
            background: #cc2127;
        }
    }
    .linkedin {
        span {
            color: #017eb4;
        }
        &:hover span {
            background: #017eb4;
        }
    }
    .flickr {
        span {
            color: #fe0084;
        }
        &:hover span {
            background: #fe0084;
        }
    }
    .instagram {
        span {
            color: #854e3a;
        }
        &:hover span {
            background: #854e3a;
        }
    }
    .youtube {
        span {
            color: #cc181e;
        }
        &:hover span {
            background: #cc181e;
        }
    }
    .tumblr {
        span {
            color: #274057;
        }
        &:hover span {
            background: #274057;
        }
    }
    .dribble {
        span {
            color: #ea4c89;
        }
        &:hover span {
            background: #ea4c89;
        }
    }
    .git {
        span {
            color: #333;
        }
        &:hover span {
            background: #333;
        }
    }
    .xing {
        span {
            color: #015960;
        }
        &:hover span {
            background: #015960;
        }
    }
    &.circular span {
        border-radius: 50%;
    }
}
/*-----------------------*/
/*	12.7. 125x125 Ads
/*-----------------------*/
.ad-125-widget {
    clear: both;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    ul,
    li {
        border: 0 !important;
        list-style: none;
        margin: 0;
    }
    li {
        max-width: 125px;
        padding: 0;
        width: 42%;
        &.adleft {
            float: left;
            margin: 0 5% 10px 0;
        }
        &.adright {
            float: right;
            margin: 0 0 10px;
        }
    }
}
/*-----------------------*/
/*	12.8. 160x600 Ads
/*-----------------------*/
.ad-widget-160 {
    clear: both;
    margin: 0 auto 30px;
    width: 160px;
}
/*-----------------------*/
/*	12.9. 300x250 Ads
/*-----------------------*/
.ad-300-widget {
    clear: both;
    margin: 0 auto 30px;
    max-width: 300px;
    width: 100%;
}
/*-----------------------*/
/*	12.10. Tabs
/*-----------------------*/
.tabs-widget {
    margin-bottom: 30px;
}
.tabs {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    list-style: none;
    margin: 0 0 20px;
    padding-top: 15px;
    overflow: hidden;
    li {
        border: 0;
        display: inline;
        float: left;
        width: 50%;
        margin: 0;
        padding: 0 15px 0 0;
        position: relative;
        text-align: right;
        &:first-child:before {
            border-right: 1px solid rgba(0, 0, 0, 0.08);;
            content: '';
            position: absolute;
            right: -1px;
            top: 0;
            bottom: 0;
        }
        &:last-child {
            text-align: left;
            padding: 0 0 0 15px;
        }
    }
    span {
        display: block;
    }
    a {
        color: #bbb;
        display: block;
        float: right;
        position: relative;
        text-decoration: none;
        overflow: hidden;
        text-transform: uppercase;
        width: 100%;
    }
    .active a {
        color: #000;
    }
}
.tabs-content {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0 0 15px;
        overflow: hidden;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.tab-content {
    display: none;
}

/*-----------------------*/
/*	12.11. Popular Posts
/*-----------------------*/
.widgetthumb {
    float: left;
    margin: 4px 10px 0 0;
    width: 100%;
}
.popular-posts {
    display: block;
    counter-reset: section;
    .thumbnail-big:before {
        @include position(absolute,0,null,null,0);
        background: $color__primary;
        counter-increment: section;
        content: counter(section);
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        padding: 4px 10px;
        z-index: 1
    }
}
.thumbnail {
    float: left;
    margin-right: 10px;
    position: relative;
    max-width: 26%;
    width: 68px;
}
.thumbnail-big {
    float: none;
    margin: 0;
    max-width: 100%;
    width: 100%;
    .widgetthumb {
        float: left;
        margin: 0 0 10px 0;
    }
}
.info {
    overflow: hidden;
}
.widgettitle {
    color: #000;
    display: block;
    font-family: $font__headings;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 5px;
    a {
        color: inherit;
    }
}
.meta,
.r-meta {
    color: #777;
    display: block;
    font-family: $font__widget-meta;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase
}
.meta {
    a {
        color: #777;
    }
    span {
        display: inline-block;
        margin-right: 10px;
        padding-right: 6px;
        position: relative;
        &:before {
            @include position(absolute,0,-6px,null,null,'-');
        }
        &:last-child {
            margin-right: 0;
            padding-right: 0;
            &:before {
                display: none
            }
        }
    }
    .fa {
        margin-right: 2px;
    }
}
.style-two {
    .widgettitle,
    .meta {
        text-align: center
    }
}
/*-----------------------*/
/*	12.12. Flickr
/*-----------------------*/
.flickr_badge_image {
    display: inline;
    margin: 0;
    img {
        float: left;
        margin: 0 0 6px;
        padding: 0 3px;
    }
}
/*-----------------------*/
/*	12.13. Calendar Widget
/*-----------------------*/
#wp-calendar {
    background: #f3f3f3;
    width: 100%;
    caption,
    th,
    td {
        text-align: center;
    }
    th {
        background: rgba(255, 136, 16, 0.6);
        color: #fff;
        padding: 10px 0;
    }
    td {
        padding: 10px 0;
    }
    caption {
        background: $color__primary;
        color: #fff;
        font-size: 14px;
        padding: 10px 0;
        text-transform: uppercase;
    }
    tbody tr:nth-child(2n) {
        background: #f9f9f9;
    }
    tfoot {
        a {
            font-weight: 700;
            text-transform: uppercase;
        }
        tr td {
            padding-left: 10px;
            text-align: left;
        }
    }
    td#today {
        a {
            color: #ffffff !important;
        }
    }
}
/*--------------------------*/
/*	12.14. Pinterest Widget
/*--------------------------*/
.pinterest-widget {
    padding: 0 3px 3px;
}
/*--------------------------*/
/*	12.15. Categories Widget
/*--------------------------*/
.categories-widget {
    li {
        background-color: black(0.2);
        color: #fff;
        float: left;
        margin-bottom: 6px;
        margin-left: 0;
        margin-right: 1%;
        position: relative;
        width: 49%;
        &:before {
            display: none
        }
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        &:nth-child(2n) {
            margin-left: 1%;
            margin-right: 0;
        }
    }
}
.cats-widget-text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.cats-widget-content {
    @include center( vertical );
    left: 6px;
    right: 6px;
}
.widget .categories-widget a {
    color: #fff;
    &:hover {
        color: #fff;
        .cats-widget-text {
            background: black(0.3);
        }
    }
}
/*--------------------------*/
/*	12.16. Author Widget
/*--------------------------*/
.author-info-widget {
    background: black(0.043);
    padding: 20px;
    .author-avatar {
        margin-bottom: 20px;
    }
    img {
        border-radius: 50%
    }
    h4 {
        margin-top: 15px;
    }
    .author-social a:hover {
        color: #fff;
    }
}
.author-description {
    margin-bottom: 20px
}