<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $captcha \Magento\Captcha\Model\DefaultModel */ ?>
<?php /* @var $block \Magento\Captcha\Block\Captcha\DefaultCaptcha */ ?>
<?php $captcha = $block->getCaptchaModel() ?>
<div class="field captcha required">
<!-- <div class="field captcha required" role="<?php /* @escapeNotVerified */ //echo $block->getFormId()?>"> -->
    <label for="captcha_<?php /* @escapeNotVerified */ echo $block->getFormId() ?>" class="label"><span><?php /* @escapeNotVerified */ echo __('Please type the letters below')?></span></label>
    <div class="control captcha">
        <input name="<?php /* @escapeNotVerified */ echo \Magento\Captcha\Helper\Data::INPUT_NAME_FIELD_VALUE ?>[<?php /* @escapeNotVerified */ echo $block->getFormId()?>]" type="text" class="input-text required-entry" data-validate="{required:true}" id="captcha_<?php /* @escapeNotVerified */ echo $block->getFormId() ?>" />
        <div class="nested">
            <div class="field captcha no-label"
                 data-captcha="<?php /* @escapeNotVerified */ echo $block->getFormId()?>"
                 id="captcha-container-<?php /* @escapeNotVerified */ echo $block->getFormId()?>"
                 data-mage-init='{"captcha":{"url": "<?php /* @escapeNotVerified */ echo $block->getRefreshUrl()?>",
                                            "imageLoader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-2.gif') ?>",
                                             "type": "<?php /* @escapeNotVerified */ echo $block->getFormId() ?>"}}'>
                <div class="control captcha-image clearfix">
                    <div class="col-xs-7">
                     <p class="reqt_img">Get Captcha Image</p>
                        <!--  <img alt="<?php /* @escapeNotVerified */ echo __('Please type the letters below')?>" class="captcha-img" height="<?php /* @escapeNotVerified */ echo $block->getImgHeight() ?>" src="<?php /* @escapeNotVerified */ echo $captcha->getImgSrc() ?>"/>  -->
                    </div>
                    <div class="col-xs-5">
                        <button type="button" class="action reload captcha-reload" title="<?php /* @escapeNotVerified */ echo __('Reload captcha') ?>"><span><?php /* @escapeNotVerified */ echo __('Reload captcha') ?></span></button>
                    </div>
                </div>
            </div>
            <?php if ($captcha->isCaseSensitive()) :?>
                <div class="captcha-note note">
                    <?php /* @escapeNotVerified */ echo __('<strong>Attention</strong>: Captcha is case sensitive.') ?>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>

<script>
require(['jquery', 'jquery/ui'], function($) {
    jQuery(document).ready(function() {
        var curr_url = jQuery("#curr_url").val();
        var base_url = jQuery("#base_url").val();
        if (curr_url.indexOf("contact") >= 0){
         jQuery('.reqt_img').html('<img alt="<?php /* @escapeNotVerified */ echo __('Please type the letters below')?>" class="captcha-img" height="<?php /* @escapeNotVerified */ echo $block->getImgHeight() ?>" src="<?php /* @escapeNotVerified */ echo $captcha->getImgSrc()?>"/>');
        }
        });
        jQuery(document).on('click', '#social-form-login .actions-toolbar .create, #tab-label-reviews, .reviews-actions .view, .reviews-actions .add', function() {
            jQuery('.reqt_img').html('<img alt="<?php /* @escapeNotVerified */ echo __('Please type the letters below')?>" class="captcha-img" height="<?php /* @escapeNotVerified */ echo $block->getImgHeight() ?>" src="<?php /* @escapeNotVerified */ echo $captcha->getImgSrc()?>"/>');
                });

});
</script>