<?php

/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<?php
$blockObj= $this->getLayout()->createBlock('Retail\Jiyo\Block\Base\Url');
?>
<div class="toolbar-sorter sorter">
    <label class="sorter-label" for="sorter"><?php /* @escapeNotVerified */ echo __('Sort By') ?></label>

    <select id="sorter" data-role="sorter" class="sorter-options">
        <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>

    <?php if($_order == 'New Arrival'){
                $_key = "created_at";
             }
             if($_order == 'Rating'){
               $_key = "rating_summary";
             }
             if (strpos($blockObj->currentUrl(), 'customprodlist') !== false) {
             
             if($_order == 'New Coupon'){
               $_key = "new_coupon";
             }

             if($_order == 'Old Coupon'){
               $_key = "old_coupon";
             }
             if($_order == 'Most Used Coupon'){
               $_key = "most_used_coupon";
             }
             if($_order == 'Discount Percent'){
               $_key = "discount_percent";
             }
             if($_order == 'Expiring Coupon'){
               $_key = "expiring_coupon";
             }
              if($_key=='price_asc')continue;
              if($_key=='price_desc')continue;
              if($_key=='name')continue;
              if($_key=='created_at')continue;
            }
            else{

                 if($_order == 'New Coupon')continue; 
                 if($_order == 'Old Coupon')continue; 
                   if($_order == 'Most Used Coupon')continue; 

                   if($_order == 'Discount Percent') continue;
                   if($_order == 'Expiring Coupon') continue; 


            }
              ?>
                <?php if($_key == "name" && strpos($blockObj->currentUrl(), 'customprodlist') !== true){ 
                    ?>
                    <option value='name&product_list_dir=asc' <?php if($this->isOrderCurrent('name') && $this->getCurrentDirection() == 'asc'): ?> selected="selected"<?php endif; ?>>
                        <?php echo $block->escapeHtml(__("Products Name A-Z")) ?>
                    </option>

                    <option value='name&product_list_dir=desc' <?php if($this->isOrderCurrent('name') && $this->getCurrentDirection() == 'desc'): ?> selected="selected"<?php endif; ?>>
                   <?php echo $block->escapeHtml(__("Products Name Z-A ")) ?>
                    </option>
                <?php }else{ ?>
             <option value="<?php echo $_key ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
            <?php echo $_order ?>
        </option>
    <?php } ?>
        <?php endforeach; ?>
    </select>
    <?php if ($block->getCurrentDirection() == 'desc'): ?>
        <a title="<?php /* @escapeNotVerified */ echo __('Set Ascending Direction') ?>" href="#" class="action sorter-action sort-desc" data-role="direction-switcher" data-value="asc">
            <span><?php /* @escapeNotVerified */ echo __('Set Ascending Direction') ?></span>
        </a>
    <?php else: ?>
        <a title="<?php /* @escapeNotVerified */ echo __('Set Descending Direction') ?>" href="#" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc">
            <span><?php /* @escapeNotVerified */ echo __('Set Descending Direction') ?></span>
        </a>
    <?php endif; ?>
</div>
