<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<section class="main-sec">
    <div class="header-part no-margin-b">
        <div class="heading-top">
          <a href="<?php echo $block->getBaseUrl();?>">
            <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
          </a>
          <div class="heading-text">
            <?php /* @escapeNotVerified */ echo __('Contact Us') ?>
          </div>
        </div>
    </div>
    <div class="contact-sec">
          <div class="breadcrumb-box">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><?php /* @escapeNotVerified */ echo __('Contact Us') ?></li>
              </ol>
            </nav>
          </div>
          <div class="main-heading"><?php /* @escapeNotVerified */ echo __('Write Us') ?></div>
          <div class="subheading"><?php /* @escapeNotVerified */ echo __('Drop a note and we’ll get back to you as soon as possible.') ?></div>
          <form class="custom-form form-inner" action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>" id="contact-form" method="post" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'>
            <div class="white-box contact-box">
              <div class="form-group">
                <input name="name" id="name" placeholder="<?php /* @escapeNotVerified */ echo __('Name*') ?>" title="<?php /* @escapeNotVerified */ echo __('Name') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="form-control" type="text" data-validate="{required:true}"/>
              </div>
              <div class="form-group">
                <input name="email" id="email_id" placeholder="<?php /* @escapeNotVerified */ echo __('Email*') ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="form-control" type="email" data-validate="{required:true, 'validate-email':true}"/>
              </div>
              <div class="form-group">
                 <input name="telephone" id="telephone" placeholder="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="form-control" type="text" />
              </div>
            </div>
            <div class="white-box contact-box contact-bottom">
              <div class="contact-bottom-t">
                <div class="form-group">
                  <label><?php /* @escapeNotVerified */ echo __('What’s on your mind?') ?></label>
                  <textarea name="comment" id="comment" title="<?php /* @escapeNotVerified */ echo __('What’s on your mind?') ?>" class="form-control" cols="5" rows="3" data-validate="{required:true}"><?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
                </div>
              </div>
              <div class="captcha-code-box">
                <?php echo $block->getChildHtml('form.additional.info'); ?>
              </div>
            </div>
            <div class="fix-button-sec">
                <input type="hidden" name="hideit" id="hideit" value="" />
                <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="btn btn-primary btn-block green-button"><?php /* @escapeNotVerified */ echo __('Submit') ?>
                </button>
            </div>
          </form>
    </div>
</section>
