<section class="form-sec">
            <div class="header-part">
                <div class="heading-top">
                    <a href="#">
                        <img src="img/left-arrow.png">
                    </a>
                    <div class="heading-text">
                        Login
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="logo-sec">
                    <img width="69" src="img/new-img/logo_1.png">
                </div>
                <form>
                    <label class="main-form-heading">Welcome to Apollo Pharmacy</label>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter mobile number">
                    </div>
                    <button formaction="login_next.html" type="submit" class="btn btn-primary btn-block">Continue</button>
                </form>
            </div>
        </section>