<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_ZipCodeValidator
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<span style="padding-left:250px;"><a  href="<?php /* @escapeNotVerified */echo $block->getViewFileUrl('Webkul_ZipCodeValidator::zipcodes.csv');?>"><?php /* @escapeNotVerified */ echo __("Download Example CSV"); ?></a>
</span>
