@media (max-width: 1500px) {
   
}
@media (max-width: 1400px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 600px) {
}
@media (max-width: 500px) {
    .upload_prescription_popup .modal-inner-wrap {
        max-width: 97%;
    }
}
@media (max-width: 480px) {
    .tips-dtl-video iframe {
        height: 175px !important;
        display: block;
    }
}
@media (max-width: 420px) {
    .cat-product-filter .toolbar select {
        width: 110px;
    }
    .cat-product-filter .toolbar .limiter select {
        width: 60px;
    }
}
@media (max-width: 380px) {
    .past-search-list ul.inner-li li:last-child {
        width: 31%;
    }
    .past-search-price img {
        margin-right: 0;
    }
    .search-details:last-child {
        width: 60px;
    }
    .pm-radio {
        padding: 10px 0;
    }
    .pm-radio .radio.custom-radio {
        height: 52px;
    }
}
@media (max-width: 360px) {
    .cat-product-filter .toolbar select {
        width: 82px;
        padding-left: 2px;
            padding-right: 4px;
    }
    .cat-product-filter .toolbar .limiter select {
        width: 50px;
        padding-left: 2px;
        padding-right: 4px;
    }
    .offer-block {
        padding-left: 10px;
    }
    .cat-offer .offer-right {
        width: 41%;
    }
    .search-field .form-control {
        width: 59%;
    }
}