.header-bottom {
    min-height: 113px;
}
.thumbnail-tab.flexslider {
    background: transparent;
    box-shadow: none;
    margin-bottom: 0; 
}
.banner-slider .flexslider .slides {
    padding-left: 0;
}
.thumbnail-tab.flexslider .slides {
    padding-left: 15px;
}
.flex-control-paging li a {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #fff;
    margin: 0 3px;
    border: solid 1px #a7cfe2;
}
.flex-control-paging li a.flex-active {
    display: inline-block;
    border: solid 1px #fff;
}
.thumbnail-tab .flex-viewport .slides li {
    padding: 10px 5px;
}
.banner-slider .flex-viewport .slides li {
    padding: 0; 
}
.banner-slider .flexslider .slides img {
    max-width: 100%;
    margin: 0;
}
.thumbnail-tab.flexslider .slides img {
    width: 100%;
    max-width: 45px;
    margin: 6px auto 0;
    display: block;
}
.shop-category-slider .white-box .cat-title a {
    color: #000000;
}
.success-stories-slider {
    background: transparent;
    box-shadow: none;
}
.success-stories-slider .white-box {
    min-height: 124px;
}
.success-stories-slider .flex-control-nav {
    position: relative;
    bottom: inherit !important;
    margin-top: 10px;
    line-height: 15px;
}
.success-stories-slider .flex-control-nav li {
    line-height: 12px;
}
.flex-control-nav li {
    margin: 0 1px;
}
.main-sec {
    max-width: inherit; 
    margin: 0; 
    overflow-x: inherit; 
    position: inherit; 
}
.search-dropdown .category-menu ul li.cat-dropdown a.plus-parent-link:first-child {
    width: 70%;
    float:left; 
}
.search-dropdown .category-menu ul li.cat-dropdown a.plus-parent-link:last-child {
    width: 30%;
    float:left;
}
.search-dropdown .category-menu ul.cat-submenu li {
    margin-bottom: 0;
}
.subscription-box {
    width: 100%;
    float: left; 
}
.subscription-form {
    position: relative;
    overflow: inherit;
}
.subscription-form #newsletter-error {
    position: absolute;
    top: 20px;
    font-size: 11px;
}
.subscription-form #loading-message {
    position: absolute;
    top: 26px;
    font-size: 11px;
    padding-top: 0 !important;
}
.jq_overlay_toogle {
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;
}
.jq_overlay_toogle.active {
    display: block;
}
.shop-brand-slider.thumbnail-tab.flexslider .slides img {
    max-width: 100%;
    max-height: 40px;
    width: auto;
    margin: 0 auto;
}
.health-tips-wrap .ui-widget {
    padding: 0;
    background: transparent;
    border: none;
}
.health-tips-wrap .ui-state-active, 
.health-tips-wrap .ui-widget-content .ui-state-active, 
.health-tips-wrap .ui-widget-header .ui-state-active {
    background: transparent;
    border: none;
}
.health-tips-wrap .ui-widget-header {
    background: transparent;
    border: none;
    padding: 0 20px;
    white-space: nowrap;
    overflow-x: auto;
    border-bottom: 1px solid #dee2e6;
}
.health-tips-wrap .ui-widget-content .ui-state-default {
    display: inline-block;
    margin-bottom: 0; 
    line-height: 15px;
}
.health-tips-wrap .ui-state-default, 
.health-tips-wrap .ui-widget-content .ui-state-default, 
.health-tips-wrap .ui-widget-header .ui-state-default {
    background: transparent;
    border: none;
}
.health-tips-wrap .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    color: #666666;
    font-size: 15px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid transparent;
    line-height: 15px;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0 8px;
}
.health-tips-wrap .ui-tabs .ui-tabs-nav .ui-state-default:first-child .ui-tabs-anchor {
    padding-left: 0;
}
.health-tips-wrap .ui-tabs .ui-tabs-nav .ui-tabs-active .ui-tabs-anchor {
    color: #00777f;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #00777f;
    font-weight: 700;
}
.health-tips-wrap .ui-tabs .ui-tabs-panel {
    padding: 0;
}

.health-tips-wrap .ui-state-default {
    display: inline-block;
}
.health-tips-wrap .thumbnail-tab.flexslider .slides img {
    max-width: 100%;
    margin: 0 auto;
    max-height: 100px;
    width: auto;
}
.health-tip-detail span {
    min-height: 52px;
    max-height: 52px;
    padding-bottom: 0;
}
.shop-health-slider .white-box a {
    display: block;
    width:100%; 
}
.health-tip-detail .rows {
    padding-top: 10px;
}
.header-bottom .row{
    flex-wrap: inherit;
}

.most-view-wrap .product-image-container {
    width: 100% !important;
}
.most-view-wrap .product-image-wrapper {
    padding-bottom: 0 !important;
    overflow: inherit;
    width: 100% !important;
}
.most-view-wrap .box-table.common-block .box-table-cell.common-left img {
    max-height: 100px;
    width: auto;
    position: relative;
    top: inherit;
    bottom: inherit;
    vertical-align: middle;
}
.most-view-wrap .product-image-wrapper {
    padding-bottom: 0 !important;
    overflow: inherit;
    height: auto;
}
.most-view-wrap .common-list .cat-icon .product-image-container {
    vertical-align: top;
}
.most-view-wrap .common-list .cat-icon img {
    position: relative;
    top: inherit;
    left: inherit;
    transform: inherit;
    max-height: 60px;
    width: auto;
}
.most-view-wrap.common-you-wrap.most-view-wrap .common-list li .white-box {
    padding: 10px 10px;
    min-height: 120px;
}
.most-view-wrap .common-list {
    margin-top: 10px;
}
.add-cart-btn {
    width: 100%;
}
.add-cart-btn:hover,
.add-cart-btn:focus {
    color: #ffffff;
    background: #18767f;
    border: solid 1px #18767f;
}
.most-view-wrap {
    padding-bottom: 20px;
}
.success-stories-wrap {
    padding-top: 0;
}
.flexslider {
    margin: 0;
}
.most-view-wrap .common-list .product-name {
    max-height: 28px;
    min-height: 28px;
}
.no-padding-lr {
    padding-left: 0 !important;
    padding-right: 0 !important;   
}
.most-view-wrap .common-list {
    margin-top: 0;
}
.product-name a,
.product-name a:hover,
.product-name a:focus {
    color: #000000;
}
.login-top-input.padding_left8 input {
    padding-left: 8px !important;
}
.form-sec .form-body .form-group,
.login-modal-form .form-body .form-group {
    margin-bottom: 42px;
    text-align: left;
}
.form-sec .form-body input, 
.login-modal-form .form-body input {
    margin-bottom: 0;
}
.form-sec .form-body input:hover,
.form-sec .form-body input:focus, 
.login-modal-form .form-body input:hover, 
.login-modal-form .form-body input:focus {
    outline: none;
    box-shadow: none;
}
.login-top-input span.right {
    top: 7px;
    transform: inherit;
    -webkit-transform: inherit;
}
button:hover,
button:focus {
    outline: none;
    box-shadow: none;
}
.form-sec .form-body form button:hover,
.form-sec .form-body form button:focus, 
.login-modal-form .form-body form .btn.btn-block:hover,
.login-modal-form .form-body form .btn.btn-block:focus {
    outline: none;
    box-shadow: none;
    color: #fff;
}
.form-password-forget .message.success {
    text-align: left;
}
.form-sec .form-body .otp-form .form-group {
    margin-bottom: 40px;
}
.form-sec .form-body .otp-form input {
    margin-bottom: 0;
    text-align: center;
}
.control.captcha .required-entry {
    margin-top: 20px !important;
}
.control.captcha {
    margin-bottom: 40px;  
}
.control.captcha-image {
    border: 1px solid #a7a7a7;
    margin-top: 0;
}
.control.captcha-image .captcha-img {
    vertical-align: top;
    max-height: 35px;
    display: inline-block;
    margin-bottom: 0; 
}
.control.captcha-image .captcha-reload {
    margin-bottom: 0;
    width: 50%;
    max-width: 100%;
    float: right;
    border: none;
    height: 37px;
    display: block;
    margin-top: -1px;
    position: relative;
    color: #000000 !important;
    font-size: 12px;
    font-weight: 400;
    background: transparent;
    border-left: 1px solid #a7a7a7;
}
.control.captcha-image .captcha-reload img {
    vertical-align: -4px;
    display: inline-block;
    margin-right: 8px;
}
.checkbox.custom-checkbox.width-16 label:before {
    width: 16px;
    height: 16px;
    top: 0px;
}
.checkbox.custom-checkbox.width-16 input[type=checkbox]:checked+label:after{
    font-size: 11px;
    color: #00777f;
    font-family: fontawesome;
    left: 2px;
    top: 1px;
}
.social-login .message-error {
    margin-top: 15px;
}

.product-image-wrapper {
    padding-bottom: inherit !important;
    height: auto !important;
}
.product-image-container {
    width: 100% !important;
    display: block;
}
.product-image-photo {
    position: inherit !important;
}
.popular-your-city-wrap .thumbnail-tab.flexslider .slides .cat-icon img,
.jq_hot_sellers.thumbnail-tab.flexslider .slides .cat-icon img {    
    max-width: 100%;
    max-height: 80px;
    width: auto;
    margin: 0 auto;
}
.recently-products-slider .white-box,
.jq_hot_sellers .white-box {
    min-height: 204px;
}
.jq_hot_sellers .white-box {
    position: relative;
}
.jq_hot_sellers .add-cart-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}

.no-padding-t {
    padding-top: 0 !important;
}

/**FAQ's**/
.faq-accordion-sec {
    width: 100%;
    float: left;
    padding: 0 20px 20px;
}
.faq-content {
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.15);
}
.faq-accordion .ca-control {
    background: transparent; 
    padding: 0;
    border-bottom: none;
}
.faq-accordion .ca-control .ca-link {
    background: #fff;
    color: #000000; 
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    position: relative;
}
.faq-accordion.ca-expanded .ca-control .ca-link {
    background: #00777f; 
    color: #fff;
    border-radius: 0;
    position: relative;
}

.faq-accordion.ca-expanded:first-child .ca-link {
    border-radius: 3px 3px 0 0; 
}

.faq-accordion:last-child .ca-link {
    border-radius: 0 0 3px 3px; 
}

.faq-accordion:last-child .ca-link:before {
    display: none;
}
.faq-accordion .ca-control .ca-link:before {
    border-bottom: solid 1px rgba(204, 204,204, 0.5);
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    content: "";
}
.faq-accordion .ca-control .ca-link:after {
    content: "";
    background:url(../images/bold_add_icon.png) no-repeat left top;
    width: 12px;
    height: 12px;
    background-size: 100%;  
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
}
.faq-accordion.ca-expanded .ca-control .ca-link:after {
    content: "";
    background:url(../images/bold_minus_icon.png) no-repeat left top;
    width: 12px;
    height: 12px;
    background-size: 100%;  
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
}
.faq-accordion .ca-box {
    background: rgba(212, 253, 254, 0.5); 
    font-size: 11.9px;
    color: #484848;
    line-height: 14px;
    font-weight: 400;
    padding: 8px 18px;
}
.faq-accordion .ca-box hr {
    border-color: rgba(204, 204,204, 0.5); 
}
.page-main {
    padding-left: 0;
    padding-right: 0;
}

.captcha-code-box {
    background: rgba(212, 253, 254, 0.5);
    padding: 15px 30px;
}
.captcha-code-box .control.captcha-image .captcha-reload {
    margin-top: 0;
}
.captcha-code-box .control.captcha-image {
    height: 54px;
    background: #fff;
}
.captcha-code-box .control.captcha-image .captcha-reload {
    background: #fff;
    height: 52px;
}
.captcha-code-box .control.captcha-image .captcha-img {
    vertical-align: top;
    max-height: 44px;
    max-width: 100%;
    width: 50%;
    margin-top: 8px;
}
.captcha-code-box .control.captcha .required-entry {
    border-radius: 0;
    border: 0px;
    border-bottom: 0.25px solid #bbbbbb;
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 600;
    padding-left: 0;
    background: transparent;
    line-height: 14px;
    font-size: 14px;
}
.form-inner .form-control,
.captcha-code-box .control.captcha .required-entry::placeholder{
    color:#4d4d4d;
    font-weight: 600 !important;
}

.captcha-code-box .control.captcha {
    margin-bottom: 10px; 
}
input,
input:hover,
input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.contact-sec {
    padding-bottom: 40px;
}


/*tagalys custom css*/
.tagalys-section .tagalys-navigate {
        margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 8px 15px;
}
#tagalys-ss.with-widget-products .tagalys-products .tagalys-product-link .image-container {
    width: 17% !important;
    display: inline-block !important;
    height: 71px !important;
}
#tagalys-ss .tagalys-products li a .image-container .image {
    max-width: 34px !important;
}
#tagalys-ss.with-widget-products .tagalys-products .tagalys-product-link .details {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 20px;
}
#tagalys-ss .tagalys-products li a .details .name {
    padding: 0 10px;
    align-items: center;
    display: inline-block !important;
    font-weight: 600;
    border-color: #d0d0d0;
    width: 50%;
    font-size: 12px;
    color: #000000;
    vertical-align: middle;
}
#tagalys-ss .tagalys-products li a .details .combined-price {
    min-width: 50px;
    /*width: 90px;*/
    padding: 0 5px;
    border-left: 1px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;
    align-items: center;
    display: inline-block !important;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    height: auto !important;
    vertical-align: middle;
    text-align: center;
}
#tagalys-ss.with-widget-products .tagalys-products li {
    width: 100% !important;
    height: auto;
    display: flex !important;
    align-items: center;
    height: 71px;    
    border-bottom: solid 1px #d1d1d1;
    padding: 0;
}
#tagalys-ss.with-widget-products .tagalys-products li:last-child {
    border-bottom: none; 
}
#tagalys-ss.with-widget-products .tagalys-products .tagalys-product-link {
    display: inline-block !important;
    width: 72%;
    height: 71px;
}
#tagalys-ss .tagalys-products li a {
    display: inline-block !important;
    align-items: center;
    line-height: 0px;
}
#tagalys-ss .tagalys-products li a .image-container:before {
    padding-bottom: 0 !important;
}
#tagalys-ss {
    width: 93.4% !important;
    left: 20px !important;
}
/*#tagalys-ss .add-to-cart-qty,
#tagalys-ss .towishlist  {
    display: none !important;
}*/
#tagalys-ss .tocart {
    font-size: 12px;
    background: #00777f!important;
    border: 0;
    font-weight: bold;
    box-shadow: none!important;
    padding: 6px 2px!important;
    max-width: 85px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    margin: 0 auto; 
}
#tagalys-ss .tagalys-section {
    padding: 0 !important;
}
#tagalys-ss .tagalys-powered-by-tagalys {
    display: none;
}
#tagalys-ss a {
    font-size: 13px !important;
    color: #898989 !important;
    display: block;
    padding: 1px 15px !important;
}
#tagalys-ss .tagalys-products li:hover {
    background: #ffffff !important;
}

/**21-12**/
.flexslider{
    background: transparent;
    box-shadow: none;  
}
.testimonial-slider.flexslider .slides {
    padding-left: 15px !important;
}
.testimonial-slider.flexslider .slides li {
    padding: 0 5px; 
}
.breadcrumbs {
    background: transparent;
    padding: 12px 20px;
    margin-bottom: 0;
    clear: both;
}
.breadcrumbs li, 
.breadcrumbs li a,
.breadcrumbs a:visited {
    font-size: 12px;
    color: #8c8c8c;
}
.breadcrumbs .item:not(:last-child):after {
    width: 19px;
    margin-left: -4px;
}
.serach-bar button.left-sec {
    left: 0;
    background: transparent;
    border: none;
    padding: 8px 13px;
}

.out-of-stock-text {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #ff0000;
    text-align: center;
    display: block;
    width: 27%;
}

#tagalys-ss .tagalys-products li a .details .combined-price .sale_price {
    display: inline-block;
}
#tagalys-ss .tagalys-products li a .details .combined-price .price.strike {
    display: inline-block;
    margin-left: 3px;
}
.minicart-wrapper .action.showcart {
    position: relative;
}
.minicart-wrapper .action.showcart .counter.qty {
    position: absolute;
    bottom: 12px;
    right: -5px;
    width: 12px;
    height: 12px;
    display: block;
    line-height: 13px;
    font-size: 8px;
    border-radius: 12px;
    background: #e5a113;
    color: #000000;
    padding: 0;
    margin: 0;
    min-width: inherit;
}

.sales-order-history .page-main .columns {
    display: block;
    width: 100%;
    float: left;
}
.pager {
    clear: both;
    position: relative;
}
.pager .toolbar-amount {
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 12px;
    line-height: 12px;
}
.pager .pages .item {
    margin: 5px 5px 0; 
}
.pager .pages .item strong,
.pager .pages .item a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.07);
    color: #18767f !important;
    display: block;
    border-radius: 30px;
}
.pager .pages .item.current strong {
    background: #18767f;
    color: #fff !important; 
}
.pager .pages .action.next {
}
.pager .pages .action.next:before {
    font-size: 40px;
    margin: 0 0 0 -5px;
}
.green-btn {
    border: solid 1px #18767f;
}
.green-btn:hover,
.green-btn:focus {
    background: #18767f;
    color: #fff;
    border: solid 1px #18767f;
}
.my-order-box .order-block {
    padding: 15px 0 17px;
}
.breadcrumb-box .breadcrumb {
    margin-bottom: 0; 
}
.breadcrumb-box li, 
.breadcrumb-box li a {
    margin-bottom: 0; 
}

.upload_prescription_popup .modal-inner-wrap {
    max-width: 500px;
    margin: 1.75rem auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background: #efefef;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    padding: 5px 5px 20px;
    -webkit-transform: translate(0, -50%) !important;
    transform: translate(0, -50%) !important;
    position: absolute;
    top: 50%;
}
.modal-popup .modal-header {
    padding: 0;
}
.upload_prescription_popup .modal-title {
    color: #000000;
    font-size: 12.5px;
    text-align: center;
    font-weight: 600;
    display: block;
    width: 100%;
    border-bottom: none;
    margin-top: 15px;
}
.upload_prescription_popup .action-close {
    padding: 0 5px;
}
.upload_prescription_popup .modal-content {
    border: none;
    background: transparent;
    padding: 12px 0 0; 
}
.upload_prescription_popup .content {
    width: 100%;
}
.upload_prescription_popup .choose-option {
    margin-top: 0;
}
.minicart-wrapper {
    margin-top: 0;
}
.header-bottom .minicart-wrapper a {
    margin-right: 0;
}
.jiyo-health-tips .page-main .columns {
    display: block;
    width: 100%;
    float: left;
}
.sales-order-view .page-main .columns {
    display: block;
    width: 100%;
    float: left;
}
/**26-12**/
.apply-coupon-box.block .title {
    margin-bottom: 0;
    cursor: pointer;
}

.apply-coupon-box .content {
    background: #fff;
    padding: 15px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.07);
}
.apply-coupon-box .content .input-text {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #bbbbbb;
    color: #4d4d4d;
    font-weight: 400;
    padding-left: 0;
    background: transparent;
    line-height: 14px;
    font-size: 14px;
}
.apply-coupon-box .content .input-text::-webkit-input-placeholder{
    color: #000000;
}
.apply-coupon-box .content .input-text::-moz-placeholder{
    color: #000000;
}
.apply-coupon-box .content .input-text:-ms-input-placeholder{
    color: #000000;
}
.apply-coupon-box .content .input-text:-moz-placeholder {
    color: #000000;
}
.actions-toolbar .action.primary, 
.actions-toolbar .action.primary:hover, 
.actions-toolbar .action.primary:focus {    
    font-size: 14px;
    font-weight: 400;
    background: #00777f!important;
    border: 0;
    box-shadow: none!important;
}

.total-price .price-including-tax .price, 
.total-price .price-excluding-tax .price {
    font-weight: 600;
}

.cart.table-wrapper .add-cart-box .col-1.padding_top3 {
    padding-top: 0;
}
.cart.table-wrapper .add-cart-box .product-item-photo {
    position: relative;
    top: 0;
}
.jiyo-health-details {
    background: #fff;
}
.jiyo-health-details .header-part {
    margin-bottom: 0;
}

.cart-bottom-action-sec .action-towishlist {
    margin-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    height: 19px; 
    vertical-align: middle;
        color: #4d4d4d;
    font-size: 12px;
}
.cart-bottom-action-sec .action-towishlist span {
    background: url(../images/like_4_copy_3.png) no-repeat left center;
    width: 15px;
    height: 15px;
    background-size: 100%; 
    display: inline-block;
        vertical-align: -4px;
    margin-right: 5px;

}
/*.cart-bottom-action-sec .action-towishlist span {
    background: url(../images/like_5.png) no-repeat left top;
}*/

.minicart-wrapper.m-cart-popup .product .actions {
    margin: 0px 0 0;
}
.minicart-wrapper.m-cart-popup .minicart-items .action.delete {
    padding-left: 0;
    width: 15px;
    height: 15px;
}
.minicart-wrapper.m-cart-popup .minicart-items .action.delete:before {
    display: none;
}
.m-cart-popup .product-item-name {
    text-align: left;
    float: left;
    font-weight: 600;
    margin: 0 0;
    font-size: 14px;
    color: #000;
    min-height: 38px;
}
.header-bottom .minicart-wrapper.m-cart-popup a,
.header-bottom .minicart-wrapper.m-cart-popup a:hover,
.header-bottom .minicart-wrapper.m-cart-popup a:focus {
    color: #000;
}
.m-cart-popup .minicart-items .product-item-details {
    padding-left: 0;
}
.m-cart-popup .minicart-items .product-item-details .details-qty {
    float: left;
    margin-top: 0; 
}
.m-cart-popup .minicart-items .product-item-pricing {
    float: right;
}
.m-cart-popup .minicart-price {
    color: #00777f;
    font-size: 14px;
    font-weight: 600;
}
.m-cart-popup .minicart-items .product-item-details .price {
    font-weight: 600;
}
.m-cart-popup .minicart-items .product-item-details .price-excluding-tax {
    margin: 0;
}
.m-cart-popup .label {    
    margin-bottom: 0;
    font-size: 12px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
}
.m-cart-popup .minicart-items .item-qty {
        width: 30px;
    height: 25px;
    border-radius: 2px;
    border: solid 1px #ccc;
    padding: 0;
}
.m-cart-popup .minicart-items .product-item-details .price-excluding-tax {
    margin: 3px 0 0;
}
.minicart-wrapper.m-cart-popup .block-minicart {
    width: 260px;
    border-radius: 4px;
    border: none;
}
.m-cart-popup .minicart-items .update-cart-item {
    display: block;
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    background: #18767F;
    border: 0;
    border-radius: 2px;
    padding: 4px 15px;
    margin-top: 4px;
}

.minicart-wrapper.m-cart-popup .action.showcart.active:before {
    display: none;
}
.m-cart-popup .minicart-items-wrapper {
    padding: 0;
}
.minicart-wrapper.m-cart-popup .block-minicart {
    right: -10px;
}
.minicart-wrapper.m-cart-popup .block-minicart:before {
    right: 15px;
}
.minicart-wrapper.m-cart-popup .block-minicart:after {
    display: none;
}
.minicart-wrapper.m-cart-popup .block-minicart li {
    padding: 20px 20px;
}
.minicart-wrapper.m-cart-popup .action.checkout {
    background: #18767f;
    font-size: 14px !important;
    color: #ffffff;
    text-align: center;
    padding: 5px 25px !important;
    display: inline-block !important;
    margin-left: 10px;
    border-radius: 3px;
    border: solid 1px #18767f;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    width: auto !important;
    font-weight: 600 !important;
}
.minicart-wrapper.m-cart-popup .action.checkout:hover,
.minicart-wrapper.m-cart-popup .action.checkout:focus,
.minicart-wrapper.m-cart-popup .action.checkout:visited {
    color: #ffffff;
}
.margin_bottom5 {
    margin-bottom: 5px !important;
}
.special-offers-wrap {
    padding-bottom: 10px;
}
.special-offers-wrap .main-heading {
    margin-bottom: 5px;
}

.messages {
    clear: both !important;
}
.minicart-wrapper .action.showcart:before {
    display: none;
}
.store-edit,
.store-edit:hover,
.store-edit:focus {
    color: #4d4d4d !important;
    font-weight: 600;
    font-size: 12px;
}

.no-address-box {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-popup.confirm .modal-inner-wrap {
    width: 90%;
    box-shadow: none;
    padding: 25px;
    border-radius: 3px;
}
.modal-popup.confirm .modal-header {
    border: none; 
}
.modal-popup.confirm .action-close {
    padding: 0;
}
.modal-popup.confirm .modal-content {
    box-shadow: none;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    text-align: center; 
}
.modal-popup.confirm .modal-footer {
    border-top: none; 
    text-align: center;
    margin-top: auto;
    padding: 0;
    display: block;
    margin-top: 20px;
}
.modal-popup.confirm .action-dismiss,
.modal-popup.confirm .action-dismiss:hover,
.modal-popup.confirm .action-dismiss:focus,
.modal-popup.confirm .action-dismiss:visited {
    background: #fff;
    border-radius: 3px;
    color: #00777f;
    font-size: 12px;
    text-align: center;
    padding: 5px 15px;
    width: 100px;
    font-weight: 600;
}
.modal-popup.confirm .action-accept,
.modal-popup.confirm .action-accept:hover,
.modal-popup.confirm .action-accept:focus,
.modal-popup.confirm .action-accept:visited {
    background: #18767f;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    padding: 5px 15px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 3px;
    border: solid 1px #18767f;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    width: 100px;
    font-weight: 600;
}

.store-pickup-hidden {
    background: transparent !important;
    border: none !important; 
}


.pincode-input-container.touch .touchwrapper .pincode-input-text {
    border-bottom: none;
    letter-spacing: 20.7px !important;
    margin-right: 0;
    text-align: left;
    padding-left: 4px;
}
.touchtable,
.touchtable tbody,
.touchtable tr,
.touchtable td {
    display: block;
}
.touchtable td {
    float: left;
    width: 10.66%;
    border-right: none !important;
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
    padding: 0;
    height: 32px;
}
.touchtable td:last-child {
    margin-right: 0;
}

.map-store-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: rgba(0, 119, 117, 0.88);
}
.map-store-address {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #333;
    margin: 10px 0;
}
.map-store-phone {
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: #333;
}
.apply-coupon-box a, 
.health-credit-box a {
    display: block;
    padding: 10px 11px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}
.apply-coupon-box.back-home-box {
    padding: 20px 0;
}
.apply-coupon-box.back-home-box a {
    padding: 14px 11px;
}
/*31-12-2018*/
.special-offer-list {
    width: 100%;
    float: left;
}
.special-offer-list img {
    width: 100%;
}
.special-offer-list .white-box {
    padding: 0;
}
.special-offer-list ul {
    padding: 0;
    margin: 5px -3px 0;
    list-style: none;
}
.special-offer-list ul li {
    padding: 0 3px;
    margin: 5px 0;
    width: 50%;
    float: left;
}

.wishlist-card-box .wishlist-box-left img {
    max-width: 66px;
    max-height: 66px;
}
.checkout-cart-index .columns .column.main {
    padding-bottom: 0;
}

.account .page-main, 
.cms-privacy-policy .page-main {
    padding-top: 0;
    clear: both;
}

.form-inner .country .required-entry {
    border-radius: 0;
    border: 0px;
    border-bottom: 0.25px solid #bbbbbb;
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 600;
    padding-left: 0;
    background: transparent;
}
.form-inner .country .required-entry option {
    background: #00777f;
}
input,
select,
input:hover,
select:hover,
input:focus,
select:focus {
    box-shadow: none !important;
    outline: none;
}

.form-inner .choice.billing,
.form-inner .choice.shipping {
    width: 100%;
    float: left;
    padding-left: 15px;
    margin-bottom: 5px; 
}

.account .page.messages {
    margin-bottom: 0; 
}

.add-new-address-box .message.info {
    background: #eefeff;
    color: #323232;
    width: 50%;
    padding-left: 20px;
}

.cat-offer.profile-box .offer-right {
    width: 38%;
}

.profile-edit-form.form-inner .form {
    width: 100%;
}
.profile-edit-form .fieldset > .field > .label, 
.profile-edit-form .fieldset > .fields > .field > .label {
    font-weight: 700;
    line-height: 13px;
    margin-bottom: 0;
    font-size: 13px;
}
.profile-edit-form .fieldset > .field, 
.profile-edit-form .fieldset > .fields > .field {
    margin-bottom: 1rem;
}
.profile-edit-form .fieldset > .legend {
    margin: 0 0 10px;
    font-size: 1.8rem;
}
.profile-edit-form .password-strength-meter {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}
.profile-edit-form .fieldset {
    margin: 0 0 20px;
}
.profile-edit-box {
    margin-bottom: 60px;
}

.hot-seller-slider.thumbnail-tab.flexslider .slides img {
    margin-top: 0;
}
.shop-tbrand-slider.thumbnail-tab.flexslider .slides img {
    margin-top: 0;
    max-width: 60px;
}
.hot-seller-slider .product-name {
    min-height: 32px;
    max-height: 32px;
    overflow: hidden;
}

.cat-product-filter .pages {
    display: block;
}
.cat-product-filter .toolbar-amount {
    display: none;
}
.explore-filter-top .pages {
    display: none;
}
.page-products .explore-filter-top .toolbar .limiter {
    display: block;
    float: left;
    padding-left: 20px;
}
.page-products .explore-filter-top .toolbar .limiter-text {
    display: none;
}
.explore-filter-bottom .toolbar-amount {
    display: block;
}
.page-products .cat-product-filter .sorter {
    position: relative;
    right: inherit;
    top: inherit;
    padding-right: 20px;
}
.cat-product-filter {
    font-size: 13px;
    line-height: 13px;
}
.cat-product-filter .toolbar select { 
    height:29px;
}
.cat-product-filter .toolbar {
    margin-bottom: 15px;

}
.page-products .columns {
    padding-top: 0;
    clear: both;
}
.cat-product-filter .sorter-action {
    display: none;
}
.explore-filter-bottom {
    clear: both;
}
.explore-filter-bottom .toolbar-amount {
    display: none;
}
.page-products .explore-filter-bottom .sorter {
    display: none;
}
.explore-filter-bottom .pages {
    margin-bottom: 0px; 
}
.explore-filter-bottom .pages strong.page,
.explore-filter-bottom .pages a.page,
.explore-filter-bottom .pages .action.next,
.explore-filter-bottom .pages .action.previous {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 30px;
    color: #323232;
}
.explore-filter-bottom .pages strong.page,
.explore-filter-bottom .pages .action.next,
.explore-filter-bottom .pages .action.previous {
    background: #18767f;
    color: #fff;
}
.explore-filter-bottom .pages .item {
    margin: 0 4px 0 0;
}
.explore-filter-bottom .pages .action.next:before,
.explore-filter-bottom .pages .action.previous:before {
    color: #fff;
    font-size: 36px;
    line-height: 28px;
        margin: 0 0 0 -4px;
}
.pd-outstock {
    font-size: 12px;
    font-weight: 400;
    color: #ff0000;
    text-align: center;
}
.cat-product-filter .toolbar select {
    margin-right: 0;
}

.ordermedicine-medicine-setlocation .ui-autocomplete {
    background: #fff;
    padding: 10px;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.15);
    width: 93.5% !important;
}
.ordermedicine-medicine-setlocation .ui-autocomplete li {
        padding: 8px 0;
    font-size: 13px;
    line-height: 15px;
    border-bottom: solid 1px #eaeaea;
}
.ordermedicine-medicine-setlocation .ui-autocomplete li:last-child {
    border-bottom: none; 
}
.ui-helper-hidden-accessible {
        font-size: 12px;
    line-height: 13px;
    display: block;
    margin-bottom: 9px;
}

.explore-all-product-sec .product-block-list ul li .white-box {
    min-height: 205px;
}

.change-location-search .form-control {
    background: #fff url(../images/search-ico.png) no-repeat 15px center;
}

.thumbnail-tab.career-slider .flex-viewport .slides li {
        padding: 7px 0;
    display: flex;
    align-items: center;
}
.career-slider.thumbnail-tab.flexslider .slides img {
    margin: 0 7px 0 0;
    width: 21px;
}
.career-slider.thumbnail-tab.flexslider .slides .download-transparent-btn img {
    width: 10px;
    display: inline-block;
    vertical-align: -1px;
    margin-left: 3px;
}
.thumbnail-tab.career-slider .flex-viewport .slides li .opening-text {
    line-height: 15px;
}
.opening-list {
    min-height: 170px;
}
.thumbnail-tab.flexslider.career-slider .slides {
    padding-left: 20px;
}
.product-price .old-price {
    text-decoration: line-through;
}

/**11-01-2019**/
.mail-box {
    background: rgba(212, 253, 254, 0.5);
    padding: 15px 20px;
    display: block;
    width: 100%;
    margin-bottom: -15px;
}
.form-control.mail {
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #a7a7a7;
    padding: 5px 5px 4px 5px;
    font-size: 12px;
    line-height: 20px;
    color: #919191;
    background-color: #fff0;
}
.noti-me, 
.noti-me:focus, 
.noti-me:hover {
    margin-left: 10px;
    text-decoration: underline;
}
.green-btn.notify,
.green-btn.notify:hover,
.green-btn.notify:focus {
    border: solid 1px #18767f;
}
.product-information-box .readmore {
    margin-left: 10px; 
}
.product-information-box .readmore,
.product-information-box .readmore:hover,
.product-information-box .readmore:focus {
    color: #00777f;
}
.recommended-products-sec .product-name{
        min-height: 32px;
    max-height: 32px;
    overflow: hidden;
}
.estimated-date .fa {
        color: #18767f;
}
.recommended-products-sec .white-box {
    position: relative;
}
.recommended-products-sec .save-text{
    position: absolute;
    width: 100%;
    left: 0
}
.rating-summary {    
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.rating-summary .rating-result > span:before {
    color: #ecd14e;
}
.rating-summary .rating-result:before,
.rating-summary .rating-result > span:before {
    font-size: 18px;
    letter-spacing: -4px;
    height: 18px;
    line-height: 18px;
}

.information-tabs {
        white-space: nowrap;
    overflow-x: auto;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 12px;
}
.information-tabs button {
    font-size: 14px;
    line-height: 20px;
    color: #474747;
    font-weight: 400;
    padding: 0 15px;
    display: inline-block;
    background: transparent; 
    border: none;
}
.information-tabs button:first-child {
    padding-left: 2px;
}
.information-tabs button.active {
        border-bottom: 2px solid #00777f;
    color: #00777f;
    font-weight: 700;
}
.fix-button-sec .control {
    width: 100%;
}
.padding_bottom60 {
    padding-bottom: 60px !important;
}
.no-review-product p {
    text-align: center;
    font-size: 13px;
    display: block;
    width: 100%;
    margin-bottom: 0;
}
.columns .column.main {
    padding-bottom: 0; 
}
.breadcrumbs .item:not(:last-child):after {
    line-height: 20px;
}

.social-menu {
    position: relative;
    display: block;
}
.social-menu-drop {
    background: #fff;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.14);
    padding: 6px;
    width: 150px;
    min-height: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}
.social-menu-drop:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #fff;
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -5px;
}
.social-menu-drop li {
    display: inline-block;
    margin-bottom: 5px;
}
.social-menu-drop li .social-button {
    height: 24px;
}
.social-menu-drop li:nth-child(2) {
    margin-right: 5px;
}
.social-menu-drop li:nth-child(2),
.social-menu-drop li:nth-child(3) {
    margin-bottom: 0;
}
.social-menu-drop li .twitter_button,
.social-menu-drop li .google_button {
    height: 20px;
    margin-top: 4px;
}
.social-menu-drop li .pinit_button {
    margin-top: -5px;
}

.social-menu a:hover + .social-menu-drop  {
    visibility: visible;
    opacity: 1;
}
.before-subscribe-discount {
    font-size: 14px;
    color: #000000;
    padding-left: 0;
}
.before-subscribe-discount .per_discounts {
    color: #d35a24;
}
.subscribe_period select {
    padding: 2px 2px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0;
    background: transparent;
    border-radius: 2px;
    border: solid 1px #00777f;
    font-size: 12px;
    height: auto;
}
.error-message {
    color: #e02b27;
    font-size: 1.2rem;
}
.success-message {
    font-size: 1.2rem;
    color: #006400;
    padding-left: 8px;
}

.tagalys-namespace .cart-list button.towishlist {
    background: url(../images/like_4_copy_3.png) no-repeat left top !important;
}
.fix-alert-danger {
    display: block;
    position: fixed;
    bottom: 61px;
    left: 0;
    right: 0;
    margin-bottom: 0;
    border: none;
    font-size: 13px;
    padding: 6px 15px 4px;
}

.checkout-index-index .payment-group .step-title {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 16px;
}
.checkout-index-index .payment-method {
    font-size: 14px;
    color: #000000;
    padding: 7px 0;
}
.checkout-payment-method .payment-method-title {
    padding: 0;
    position: relative;
}
.checkout-payment-method .checkout-billing-address .billing-address-details {
    line-height: 20px;
}
.checkout-payment-method .payment-methods {
    padding: 0 20px;
}
.checkout-payment-method .input-text,
.checkout-payment-method .select {
    border-radius: 0;
    border: 0px;
    border-bottom: 0.25px solid #bbbbbb;
    color: #4d4d4d;
    font-weight: 600;
    padding-left: 0;
    background: transparent;
    line-height: 14px;
    font-size: 14px;
}
.checkout-payment-method .payment-group {
    background: #fff;
    padding: 15px 20px;
    border-radius: 3px;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.15);
}
.checkout-payment-method .payment-method + .payment-method {
    border-top: 1px solid #cccccc;
}
.checkout-payment-method .payment-method + .payment-method .payment-method-title {
    border-top: none;
}
.checkout-payment-method .payment-method-title input {
    margin: 0 0 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 19px;
    opacity: 0;
    left: -3px;
    right: 0;
    top: -2px;
    bottom: 0;
}
.checkout-payment-method .payment-method-title label {
    padding-left: 20px;
}
.checkout-payment-method .payment-method-title label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 4px;
    background-color: #fff;
    border: 1px solid #00777f;
    border-radius: 12px;
    display: block;
}
.checkout-payment-method .payment-method-title input[type=radio]:checked+label:after {
    content: "";
    background: #00777f;
    display: block;
    padding-left: 1.3px;
    position: absolute;
    left: 3px;
    top: 7px;
    width: 6px;
    height: 6px;
    border-radius: 8px;
}


.checkout-payment-method .checkout-billing-address,
.checkout-payment-method .form-chkbox {
    position: relative;
}
.checkout-payment-method .billing-address-same-as-shipping-block input,
.checkout-payment-method .form-chkbox input {
    margin: 0 0 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 19px;
    opacity: 0;
    left: -3px;
    right: 0;
    top: -2px;
    bottom: 0;
}
.checkout-payment-method .billing-address-same-as-shipping-block label,
.checkout-payment-method .form-chkbox label {
    padding-left: 20px;
}
.checkout-payment-method .billing-address-same-as-shipping-block label:before,
.checkout-payment-method .form-chkbox label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 4px;
    background-color: #fff;
    border: 1px solid #00777f;
    border-radius: 0;
    display: block;
}
.checkout-payment-method .billing-address-same-as-shipping-block input[type=checkbox]:checked+label:after,
.checkout-payment-method .form-chkbox input[type=checkbox]:checked+label:after {
        content: "\f00c";
    display: block;
    padding-left: 1.3px;
    position: absolute;
    left: 0px;
    top: 4px;
    width: 6px;
    height: 6px;
    border-radius: 8px;
    color: #00777f;
    font: normal normal normal 10px/1 FontAwesome;
}
.checkout-payment-method .actions-toolbar {
    margin-top: 15px;
}
.checkout-payment-method .actions-toolbar .action-update,
.checkout-payment-method .actions-toolbar .action-update:hover,
.checkout-payment-method .actions-toolbar .action-update:focus {
    font-size: 14px;
    font-weight: 400;
    background: #00777f!important;
    border: 0;
    box-shadow: none!important;
    width: 48%;
    float: left;
    margin: 0 2% 0 0;
    color: #fff;
}
.checkout-payment-method .actions-toolbar .action-cancel,
.checkout-payment-method .actions-toolbar .action-cancel:hover,
.checkout-payment-method .actions-toolbar .action-cancel:focus {
    font-size: 14px;
    font-weight: 400;
    background: transparent !important;
    border: solid 1px #323232;
    box-shadow: none!important;
    color: #323232; 
    width: 48%;
    float: left;
    margin: 0 0 0 2%;
    height: 35px;
}
.checkout-payment-method .actions-toolbar .action.primary, 
.checkout-payment-method .actions-toolbar .action.primary:hover, 
.checkout-payment-method .actions-toolbar .action.primary:focus {
    font-size: 14px !important;
}
.checkout-payment-method .billing-address-form .label {
    line-height: 14px;
    margin-bottom: 0; 
}

.checkout-payment-method .checkout-billing-address {
    margin-bottom: 0; 
}

.checkout-payment-method .field-tooltip .field-tooltip-content:before {
    border-bottom-color: #ffffff;
}
.checkout-payment-method .field-tooltip .field-tooltip-content:after {
    border-bottom-color: #ffffff;
}
.checkout-payment-method .field-tooltip .field-tooltip-content {
    background: #ffffff;
    border: 1px solid #ffffff;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.14);
}
.checkout-payment-method .actions-toolbar .checkout {
    line-height: normal !important;
    padding: 9px !important;
    border-radius: 3px;
}

.serach-bar.setlocation-search input {
    background: #fff url(../images/search-ico.png) no-repeat 14px center;
}
.text-upper {
    text-transform: uppercase;
}
.checkout-success .actions-toolbar .action.primary, 
.checkout-success .actions-toolbar .action.primary:hover, 
.checkout-success .actions-toolbar .action.primary:focus {
    font-size: 13px;
}

.modal-popup._inner-scroll.order-mobile-feedback {
    overflow-y: auto;
}
.modal-popup._inner-scroll.order-mobile-feedback .modal-inner-wrap {
    max-height: inherit;
    max-width: 650px;
    width: 100%;
}
.modal-popup.order-mobile-feedback .modal-title {
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    font-weight: 600;
    border-bottom: none; 
}
.order-mobile-feedback .modal-header {
    border-bottom: none; 
}
.modal-popup._inner-scroll.order-mobile-feedback .modal-content {
    border-bottom: none;
    border-top: none;
    border-left: none;
}
.modal-slide._inner-scroll.order-mobile-feedback .modal-footer {
    display: none;
}

.modal-slide._inner-scroll.order-mobile-feedback input[type="text"],
.modal-slide._inner-scroll.order-mobile-feedback textarea {
    border-radius: 0;
    border: 0px;
    border-bottom: 0.25px solid #bbbbbb;
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 600;
    padding-left: 0;
    background: transparent; 
}
.modal-slide._inner-scroll.order-mobile-feedback textarea {
    height: 60px;
    resize: none;
}
.modal-slide._inner-scroll.order-mobile-feedback .box {
    margin-top: 5px;
}
.modal-slide._inner-scroll.order-mobile-feedback .form-feed {
    margin-bottom: 15px;
}
.modal-slide._inner-scroll.order-mobile-feedback label {
    line-height: 13px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
}
.modal-slide._inner-scroll.order-mobile-feedback input[type="submit"] {
    height: 37px;
    line-height: 37px;
    padding: 0;
    max-width: 133px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    background: #00777f!important;
    border: 0;
    box-shadow: none!important;
    width: 100%;
    color: #fff;
    border-radius: 2px;
}
.modal-slide._inner-scroll.order-mobile-feedback .modal-content {
    overflow-y: inherit;
}

.prescriptions-uploaded-list {
    background: #fff;
    font-weight: 600;
    line-height: 14px;
    font-size: 12px;
    color: #000;
    margin-top: 2px;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}
.prescriptions-uploaded-list li {
    border-bottom: solid 1px #d2d2d2;
    display: table;
    align-items: center;
    padding: 7px 15px;
    width: 100%;
}
.prescriptions-uploaded-list li:last-child {
    border-bottom: none; 
}
.prescriptions-uploaded-list li div {
    display: table-cell;
    vertical-align: middle;
}
.prescriptions-uploaded-list li .psu-left {
    /*width: 25%;*/
}
.prescriptions-uploaded-list li .psu-mid {
    width: 65%;
}
.prescriptions-uploaded-list li .psu-right {
    width: 20%;
    text-align: right;
}
.prescriptions-uploaded-list .psu-left img {
    max-width: 25px;
}
.prescriptions-uploaded-box .title img.pull-right {
    margin-top: 9px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.prescriptions-uploaded-box .title.active img.pull-right {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.prescriptions-uploaded-box .title {
    padding: 12px 20px 9px 12px;
}
.modal-popup.modal-slide.order-mobile-feedback {
    left: 0;
}
.modal-popup.modal-slide.order-mobile-feedback .modal-inner-wrap {
    background: #fff; 
}
.apply-coupon-box .prescriptions-uploaded-heading a {
    padding: 0 0 10px;
    color: #00777f;
    font-size: 12px;
}
.prescriptions-uploaded-heading {
    width: 100%;
    float: left;
}
.prescriptions-uploaded-box .white-box {
    clear: both;
}
.search-field button[disabled] {
    opacity: 1;
}

.change {
    color:#4d4d4d;
    font-weight: 600;
    font-size: 12px;
}
.no-margin-b {
    margin-bottom: 0 !important; 
}
.customer-address-index .block-addresses-default,
.customer-address-index .box-address-shipping {
    margin-bottom: 0 !important; 
}
.addresses-slider .slides {
    padding-left: 15px !important;
}
.addresses-slider .slides li {
    padding: 5px;
}
.addresses-slider .white-box .order-address-box {
    min-height: 120px;
}
.addresses-slider .item.actions .edit-icss {
    margin-right: 10px;
}
.padding_bottom5  {
    padding-bottom: 5px !important;
}
.actions-toolbar {
    padding: 0 20px;
}
.actions-toolbar .primary,
.actions-toolbar .secondary {
    padding: 0 5px;
    width: 50%;
    float: left;
}
.block-addresses-default .no-address-box {
    font-size: 14px;
    padding: 20px;
    line-height: 17px;
    text-align: center;
}

/*25-01-2019*/
.product-dtl-box .row, 
.fix-button-sec .control .row, 
.location-pin .product_page_cod_check_form .row, 
.cart-bottom-action-sec .row, 
.fix-button-sec .row, 
.add-cart-box .row{
    flex-wrap: inherit;
}
.checkout-delivery-textarea-box{
    padding-bottom: 80px;
}
.padding_bottom40{
    padding-bottom: 40px !important;
}

/*28-01-2019*/

.review-form{
    padding: 0px 20px;
}
.review-form .field {
    margin-bottom: 15px;
}
.font-15{
    font-size: 15px;
}
.margin-left-6{
    margin-left: -6px;
}
.review-form-btn button {
    width: 150px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    height: 37px;
    line-height: 37px;
    font-weight: 400;
}
.padding_left0{
    padding-left: 0px !important;
}
.review-form.custom-form.form-inner textarea.form-control{
    line-height: 10px;
}
.review-form .control.captcha{
    margin-bottom: 25px;
}
.review-form .review-field-ratings .mage-error{
    margin-top: 20px;
    padding-left: 6px;
}

/*29-01-2018*/
.cart-apply-code-sec{
    padding: 0px;
    width: 100%;
    float: left;
    text-align: center;
}
.cart-apply-code-sec .primary{
    float: none;
    display: inline-block;
}
.cart-apply-code-sec button.apply {
    margin: 0 auto;
    width: 170px !important;
    padding: 4px 10px 3px;
}
.store-pickup-sec .f-store-box{
    width: 100%;
}
.modal-popup.modal-slide.instructions-popup-modal {
    width: 100%;
    left: inherit;
}
.modal-popup.modal-slide.instructions-popup-modal .modal-inner-wrap {
    background: transparent;
    box-shadow: none;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 96%;
    height: initial;
    min-height: auto;
    border-radius: 3px;
}
.instructions-popup-modal._inner-scroll .modal-content {
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    padding: 25px 15px;
}
.instructions-popup-modal button.action-close {
    padding: 0;
    z-index: 9;
}
.instructions-popup-modal .modal-header{
    border: 0px;
}
.instructions-popup-modal._inner-scroll .modal-content #jq_instructions_modal{
    text-align: center;
}
.modal-popup.modal-slide.instructions-popup-modal .action-close:before{
    color: #fff;
    text-shadow: none;
    background: #000;
    border-radius: 50px;
    border: 2px solid #fff;
}
/**29-01-2019**/

.filter-toggle-and-sorter .filter-toggle:after {
    background: url(../images/filter-filled-tool-symbol.svg) no-repeat left top;
}
.review-form {
    max-width: 100%;
}

.actions-toolbar .primary.fix-button-sec, 
.actions-toolbar .secondary.fix-button-sec {
    width: 100%;
    padding: 12px 0;
    float: none;
    text-align: center;
}

.actions-toolbar .primary, 
.actions-toolbar .secondary {
    float: none;
    width: 100%;
}

.store-result-box .green-button {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
}
.store-pickup-sec .f-store-box {
    padding-right: 80px;
    position: relative;
}
.store-result-box .green-button {
    visibility: hidden;
    opacity: 0;
}
.store-result-box a.result-box {
    color: #212529;
}
.store-result-box a.result-box:hover + .green-button,
.store-result-box a.result-box:focus + .green-button, 
.store-result-box a.result-box:visited + .green-button {
    visibility: visible;
    opacity: 1;
}
.store-pickup-sec .f-store-box:hover:after,
.store-pickup-sec .f-store-box:focus:after, 
.store-pickup-sec .f-store-box:visited:after {
    content: "";
    border-bottom: solid 4px #e2a51d;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 2px 2px;
}
.store-result-box .green-button {
    border-radius: 3px;
    padding: 2px 10px 5px !important;
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -12px;
}
.minicart-wrapper {
    width: 19px;
}
.delivery-option-box .row {
    display: inherit;
    display: -webkit-box;
}

/**31-01-2019**/
.cms-no-route .page-title-wrapper {
    clear: both;
    padding: 20px 20px 0;
}
.cms-no-route .columns {
    padding: 20px;
    font-size: 14px;
}
.cms-no-route .page-title {
    font-size: 16px;
    color: #323232;
    font-weight: 600;
}

.cms-no-route .columns dt {
    font-weight: 600;
}
.not-found-action {
    text-align: center;
    margin-top: 15px;
}
.not-found-action .green-button {
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0 3px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
}

.review-list .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr td, 
.review-list .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr th {
    border-bottom: none;
    display: block;
    padding: 5px 0 5px 42%;
}
.review-list .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > thead > tr > th {
    display: none;
}
.review-list .table:not(.cart):not(.totals) > thead > tr > th, 
.review-list .table:not(.cart):not(.totals) > tbody > tr > th, 
.review-list .table:not(.cart):not(.totals) > tfoot > tr > th, 
.review-list .table:not(.cart):not(.totals) > thead > tr > td, 
.review-list .table:not(.cart):not(.totals) > tbody > tr > td, 
.review-list .table:not(.cart):not(.totals) > tfoot > tr > td {
    border: none;
}
.review-list .table > thead > tr > th,
.review-list .table > tbody > tr > td {
    font-size: 14px;
    position: relative;
}
.review-list .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr td:before, 
.review-list .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr th:before {
    padding-right: 10px;
    content: attr(data-th) ': ';
    display: inline-block;
    color: #111111;
    font-weight: 600;
    position: absolute;
    left: 0;
}

.fix-button-sec.review-btm-action {
    padding: 12px 0;
}
.fix-button-sec.review-btm-action .green-button  {
    display: inline-block; 
}
.fix-button-sec.review-btm-action .green-button:visited {
    color: #fff;
}

.action.more,
.action.more:hover,
.action.more:focus {
    color: #00777f;
    font-weight: 600;
}

.products-reviews-toolbar .limiter-label {
    display: none; 
}
.account .column.main .toolbar.products-reviews-toolbar .limiter-options {
    font-size: 12px;
    height: 28px;
    background: transparent;
}

.customer-review .product-details {
    margin-bottom: 0 !important;
}
.customer-review .product-details .product-reviews-summary {
    margin-bottom: 0;
    margin-top: 5px; 
}
.customer-review .rating-average-label {
    font-size: 13px;
}
.customer-review .product-reviews-summary .reviews-actions {
    line-height: 16px;
}
.customer-review .review-count a {
    font-size: 12px;
    color: #00777f;
    font-weight: 600;
    display: inline-block;
}
.review-details {
    font-size: 14px;
}
.review-details .review-title {
    margin-bottom: 5px;
}
.customer-review .review-details .title {
    font-size: 16px;
}
.customer-review .review-details .title strong {
    font-weight: 600;
}
.customer-review .review-details .review-title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}
.customer-review .review-details .customer-review-rating {
    margin-bottom: 5px;
}
.customer-review .review-details .customer-review-rating .rating-label {
    vertical-align: middle;
    margin-right: 4px;
}
.customer-review .rating-summary {
    margin-left: 0;
}
.customer-review .review-details .review-content {
    margin-bottom: 10px;
}
.customer-review hr {
    margin-top: 8px;
    margin-bottom: 5px;  
}

.success-sign-out {
    line-height: 16px;
    margin-top: 12px; 
}
.success-sign-out p {
    margin-top: 10px; 
}
.page-products .explore-filter-top .toolbar .filter-sec .limiter {
    padding-left: 10px;
}
.page-products .cat-product-filter .filter-sec .sorter {
    padding-top: 0;
    padding-right: 10px;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}

.mobile-filter-box {
	background: #fff;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
.mobile-filter-box dd {
	border-top: solid 1px #d4d4d4;
    padding: 20px 20px 12px;
    margin-bottom: 20px !important;
}
.filter-options .mobile-filter-box .filter-options-title {
	padding: 15px;
    margin-bottom: 0 !important;
    font-size: 16px;
    color: #000000;
    padding: 11px 20px;
    display: block;
    position: relative;
    font-weight: normal;
}
.mobile-filter-sec .block-subtitle {
	border-radius: 3px;
    padding: 20px 20px 0;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    display: block;
    line-height: 16px;
}
.filter-options .mobile-filter-box .filter-options-content .item a{
	line-height: 19px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    display: block;
    padding: 4px 0;
}
.mobile-filter-box .filter-set {
	text-align: center;
}
.mobile-filter-box .filter-set div {
	display: inline-block;
    padding: 0 10px;
}
.mobile-filter-box .filter-set .slider-text-box {
	color: #4d4d4d;
    font-size: 14px;
    font-weight: 600;
    border: solid 1px #959595;
    border-radius: 2px;
    line-height: 25px;
    padding: 0 10px;
    width: 80px;
    height: 25px !important;
    background: #fff;
    display: inline-block;
}
.filter-slider-box {
	/*    */
    border: none;
    margin: 0 auto;
    width: 250px;
    position: relative;
}
.filter-slider-box .ui-slider-horizontal {
	height: 2px;
	background: #959595;
}
.filter-slider-box .ui-slider-range{   
	height: 4px;
    background: #00777f;
    z-index: 1;
    margin-top: -1px;
}
.filter-slider-box .ui-slider .ui-slider-handle{
	background: #ffffff;
    border: solid 1px #b7b7b7;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    top: -9px;
    margin-left: -.6em;
    z-index: 2;
}

.clear-all:hover,
.clear-all:focus,
.clear-all:visited {
	color: #fff;
}
.filter-slider-sec {
	padding-top: 25px;
    padding-bottom: 15px;
}
.filter-options .filter-options-content .item {
	margin-bottom: 0;
}
.filter-instock-box span {
	font-weight: 700;
}

.fs-action-box .fs-left,
.fs-action-box .fs-right {
    text-align: center;
}
.fs-action-box .fs-left {
    border-right: solid 1px #b7b7b7;
}
.fs-action-box .fs-left a,
.fs-action-box .fs-right a {
    font-size: 16px;
    color: #000000;
    text-align: center;
    font-weight: 600;
    display: block;
    padding: 18px 0;
}
.fix-button-sec.fs-action-box {
    padding: 0;
}

.sort-bar-sec .filter-sec .toolbar-sorter .sorter-label {
        font-size: 16px;
    color: #000000;
    padding: 11px 0 3px;
    display: block;
    position: relative;
}
.sort-bar-sec .filter-sec {
    margin-top: 20px;
}
.sort-bar-sec .filter-sec .pull-left {
    display: none;
}
.sort-bar-sec .filter-sec .pull-right {
    width: 100%;
}
.sort-bar-sec .filter-sec .toolbar-sorter,
.sort-bar-sec .filter-sec .toolbar-sorter .sorter-label {
    width: 100%;
    display: block;
    text-align: left;
}
.sort-bar-sec .filter-sec .sorter-options {
    margin: 0 0 0 0;
    width: 100%;
        padding: 0 10px;
}
.sort-bar-sec .filter-sec .toolbar-sorter {
    background: #fff;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 0 20px 15px;
}
.sort-bar-sec .toolbar-amount {
    display: none;
}

.sb-offer-value .save-text {
    width: 120px;
    display: inline-block;
    text-align: left;
    padding-left: 25px;
    margin-bottom: 0;
}
.display-flex-row {
    white-space: nowrap;
    line-height: 20px;
}
.display-scroll-x {
        overflow-x: auto;
    padding-bottom: 5px;
}

.sort-sec .pm-radio .radio.custom-radio label {
    font-size: 14px;
    font-weight: 700;
}
.sort-sec .form-group {
    border-bottom: 1px solid #959595;
    margin-bottom: 0px;
}
.sort-sec .form-group:last-child {
    border-bottom: none; 
}
.filter-collapse-box .toolbar-sorter.sorter {
    padding: 20px;
    text-align: left;
}
.toolbar.toolbar-products {
    margin-bottom: 10px;
}