<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Wishlist\Block\Customer\Wishlist */
?>
<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
<section class="main-sec">
  <div class="header-part">
      <div class="heading-top">
          <a href="<?php echo $block->getBaseUrl();?>">
            <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>" />
          </a>
          <div class="heading-text">
            <?php /* @escapeNotVerified */ echo __('My Wishlist') ?>
          </div>
      </div>
  </div>
  <?php if ($block->hasWishlistItems()): ?>
  <form class="form-wishlist-items" id="wishlist-view-form"
  data-mage-init='{"wishlist":{
  "addToCartUrl":<?php /* @escapeNotVerified */ echo $block->getItemAddToCartParams("%item%");?>,
  "addAllToCartUrl":<?php /* @escapeNotVerified */ echo $block->getAddAllToCartParams(); ?>,
  "commentString":""},
  "validation": {}}' action="<?php /* @escapeNotVerified */ echo $block->getUrl('wishlist/index/update', ['wishlist_id' => $block->getWishlistInstance()->getId()]) ?>" method="post">
    <div class="container-fluid ">
        <div class="my-cart-sec wishlist-cart-sec">
          <div class="add-cart-sec">
            <?php echo $block->getBlockHtml('formkey');?>
            <?php $block->getChildBlock('items')->setItems($block->getWishlistItems()); ?>
            <?php echo $block->getChildHtml('items');?>
            <?php echo $block->getChildHtml('bottom'); ?>
            <?php echo $block->getChildHtml('control_buttons');?>
          </div>
          <div class="wishlist-shopping-box">
              <a href="<?php echo $block->getBaseUrl();?>" class="white-box">
                  <img width="26" src="<?php echo $this->getViewFileUrl('images/cart-icon.png'); ?>" /> <?php /* @escapeNotVerified */ echo __('Continue Shopping'); ?>
                  <img class="pull-right" src="<?php echo $this->getViewFileUrl('images/green-right-arrow.png'); ?>"/>
              </a>
          </div>
        </div>
    </div>
  </form>
  <script>
    (function  () {
        require(['jquery'], function($) {
            $(document).ready(function($) {
              
              $(".plus").on("click", function(){
                $(this).prev().val(parseInt($(this).prev().val())+1);
                 setTimeout(function(){ $("#jq_update_cart_action").click(); }, 2000);
              });

              $(".minus").on("click", function(){
                //alert(parseInt($(this).next().val()));
                 $(this).next().val(parseInt($(this).next().val())-1);
                 setTimeout(function(){ $("#jq_update_cart_action").click(); }, 2000);
              });

            });
        });
    })();
  </script>
  <script id="form-tmpl" type="text/x-magento-template">
    <form id="wishlist-hidden-form" method="post" action="<%- data.url %>" class="no-display">
        <% if (data.qty) { %>
        <input name="qty" value="<%- data.qty %>">
        <% } %>
        
        <% if (data.item) { %>
        <input name="item" value="<%- data.item %>">
        <% } %>
        
        <% if (data.entity) { %>
        <input name="entity" value="<%- data.entity %>">
        <% } %>
    </form>
  </script>
  <?php else: ?>
    <div class="wishlist-empty-sec">
        <div class="wishlist-empty-icon">
          <img src="<?php echo $this->getViewFileUrl('images/shopping.png'); ?>" />
        </div>
        <div class="main-heading"><?php /* @escapeNotVerified */ echo __('Hey, Your Wishlist is empty!') ?></div>
        <div class="main-subheading"><?php /* @escapeNotVerified */ echo __('Let’s start adding items') ?></div>
        <div class="rows text-center">
            <a href="#" class="btn green-btn green-shop-now-btn"><?php /* @escapeNotVerified */ echo __('Shop Now') ?></a>
        </div>
    </div>
  <?php endif ?>
</section>
<?php endif ?>