<?php 
/** 
 * Filter block 
 */
$brand_block = $block->getLayout()->createBlock('Retail\Customfeed\Block\Adminhtml\Customfeed\Filter\Brand');
$brands = $brand_block->getBrands();
$filter_clear_url = $brand_block->filterClearUrl();
$urlParams = $brand_block->urlParams();

# variables for query params
$brand_query = '';
$stock_query = '';
$category_query = '';

if (array_key_exists('query', $urlParams)) {
  # code...
  parse_str($urlParams['query'], $query);
  if (array_key_exists('brand', $query)) {
      $brand_query = $query['brand'];
  }
  if (array_key_exists('stock', $query)) {
      $stock_query = $query['stock'];
  }
  if (array_key_exists('category', $query)) {
      $category_query = $query['category'];
  }
}

?>


<style type="text/css">
  .main-feed .noted{margin-bottom: 5px}
  .abs-action-primary, button.primary, .page-actions > button.action-primary, .page-actions .page-actions-buttons > button.action-primary, .page-actions > button.primary, .page-actions .page-actions-buttons > button.primary, .block-footer .action-add.primary, .page-actions > .block-footer .action-add.action-primary, .page-actions .page-actions-buttons > .block-footer .action-add.action-primary, .page-actions > .block-footer .action-add.primary, .page-actions .page-actions-buttons > .block-footer .action-add.primary {
     margin-right: 5px; 
    background-color: #eb5202;
    border-color: #eb5202;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    float: left;
}
.main-feed{
  padding:0px;
 }
.filters {
      display: inline-flex;
  }
.filters-padding {
    padding-right: 9px;
}
</style>

<!-- filters -->
<div class="filters">
  <div class="selected-filters">
    <input type="hidden" class="selected-band" value="<?php echo $brand_query; ?>"/>
    <input type="hidden" class="selected-stock" value="<?php echo $stock_query; ?>"/>
    <input type="hidden" class="selected-category" value="<?php echo $category_query; ?>"/>    
  </div>
  <div class="brand filters-padding">
    <select name="product-brand" id="product-brand" class="admin__control-select">
      <option value="">Select a Brand</option>
        <?php foreach ($brands as $brand): ?>
          <option value='<?php echo $brand["value"]?>'>
            <?php echo $brand["label"]; ?>
          </option>        
        <?php endforeach; ?>
      </select>
  </div>
  <div class="stock filters-padding">
    <select name="product-stock" id="product-stock" class="admin__control-select">
      <option value="">Select a Stock</option>
      <option value="in">In Stock</option>
      <option value="out">Out of Stock</option>        
      </select>
  </div> 
  <div class="category filters-padding">
    <select name="product-category" id="product-category" class="admin__control-select">
      <option value="">Select a Category</option>
      <?php $categories = $brand_block->storeCategory(); ?>
        <?php foreach ($categories as $category): ?>
          <option value="<?php echo $category->getId()?>"> <?php echo $category->getName() ?></option>
          <?php $categoryObj = $brand_block->categoryRepository($category->getId()); ?>
          <?php $subcategories = $categoryObj->getChildrenCategories(); ?>
          <?php foreach ($subcategories as $subcategory): ?>
            <option value="<?php echo $subcategory->getId()?>">  --> <?php echo $subcategory->getName() ?></option>
          <?php endforeach; ?>
        <?php endforeach; ?>      
    </select>
  </div>  
</div>

<script>
  require([ 'jquery', 'jquery/ui'], function($){ 

    $(document).on('change', '#product-brand', function(event){        
        var brand_name;

        if ($(this).val() !== '') {
            brand_name = $(this).val();
            console.log($(this).val());
            window.location.href = window.location.pathname + "?brand=" +brand_name;
        }
        
    });

    $(document).on('change', '#product-stock', function(event){        
        var stock;

        if ($(this).val() !== '') {
            stock = $(this).val();
            console.log($(this).val());
            window.location.href = window.location.pathname + "?stock=" +stock;
        }
        
    });

    $(document).on('change', '#product-category', function(event){        
        var category;

        if ($(this).val() !== '') {
            category = $(this).val();
            console.log($(this).val());
            window.location.href = window.location.pathname + "?category=" +category;
        }
        
    });

    $(document).ready(function(){
      $('#product-brand').val($('.selected-band').val());
      $('#product-stock').val($('.selected-stock').val());
      $('#product-category').val($('.selected-category').val());
    });


  });
</script>

<script>
    require([ 'jquery', 'jquery/ui'], function($){ $(document).ready(function($) {
   $(".noted").focus(function(){
      var id = this.id.match(/\d+/);
       $("#button"+id).css("display","inline-block"); 
       $("#delete"+id).css("display","inline-block");
      });
        $(".main-feed").mouseleave(function(){
      var id = this.id.match(/\d+/);
       $("#button"+id).css("display","none");  
       $("#delete"+id).css("display","none");
         $("#noted"+id).blur();  
    
    });
   //save to database 
   $(".savefeed").click(function(){
   	  var id = this.id.match(/\d+/);
   	   var noted_text=$("#noted"+id).val();
       if(id != null && noted_text!=null){
   	       $.ajax({
                url : "<?php  echo $block->getUrl('customfeed/customfeed/savenotes'); ?>",
                type : 'POST',
                data: {
                    id: id,
                    note: noted_text,
                },
                success : function(data) {              
                    if(data==1){
                       alert('Saved Successfully');
                       $("#delete"+id).css("display","inline-block");
                       $("#button"+id).css("display","none");

                    }
                },
                error : function(request,error)
                {
                    alert(error);
                }
            });
         }
         else{
           alert("There is an error");
         }
});
  //delete from database
  $(".deletefeed").click(function(){
      var id = this.id.match(/\d+/);
      if (confirm("Are you sure you want to Delete?")) {
    
       if(id != null){
           $.ajax({
                url : "<?php  echo $block->getUrl('customfeed/customfeed/deletenotes'); ?>",
                type : 'POST',
                data: {
                    id: id,
                },
                success : function(data) {              
                    if(data==1){
                       $("#noted"+id).val("");

                       alert("Deleted Successfully");

                    }
                },
                error : function(request,error)
                {
                    alert(error);
                }
            });
         }
         else{
           alert("There is an error");
         }
       }
       else{
            return;
       }
});
  $(".editfeed").click(function(){
      var id = this.id.match(/\d+/);
        $('#noted'+id).attr("readonly",false);

        $('#edit'+id).css("display","none");
        $('#button'+id).css("display","block");
        $('#noted'+id).focus();
});


});

 });

</script>