<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();

/* Subscription attributes fetching */
$blockObj = $block->getLayout()->createBlock('Magento\Customer\Block\Account\Customer');
$cuy =      $block->getLayout()->createBlock('Retail\Subscribe\Block\Rewrite\Customer\Account\Customer');
$cust_id = $cuy->getLoggedinCustomerId();
$cust_log = $blockObj->customerLoggedIn();
    ?>
    <input type="hidden" id="cust_id" value="<?php echo $cust_id; ?>">
    <input type="hidden" id="prod_id" value="<?php echo $_product->getId(); ?>"> 
    <input type="hidden" id="cont_url" value="<?php echo $this->getUrl('subscribe/index/test') ?>">   
<?php
$ss_plan = $_product->getResource()->getAttribute('ss_plan')->getFrontend()->getValue($_product);
        if($ss_plan == 'Yes'){
    $max_qty = $_product->getResource()->getAttribute('max_qty_for_s_s')->getFrontend()->getValue($_product);
    $min_qty = $_product->getResource()->getAttribute('min_qty_for_s_s')->getFrontend()->getValue($_product);
    $min_sub_period = $_product->getResource()->getAttribute('min_sub_period')->getFrontend()->getValue($_product);
    $max_sub_period = $_product->getResource()->getAttribute('max_sub_period')->getFrontend()->getValue($_product);
    $discount_percentage = $_product->getResource()->getAttribute('discount_percentage')->getFrontend()->getValue($_product);
            ?>
    <input type="hidden" id="discount" value="<?php echo $discount_percentage; ?>">
            <?php
        }
/* Subscription attributes fetching ends here */

$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>
    <!-- subscribe radio buttons -->
    <?php
     if($ss_plan == 'Yes'){ ?>
     <input type="hidden" value="<?php echo $min_qty ?>" id="min_qty">
     <input type="hidden" value="<?php echo $max_qty ?>" id="max_qty">
<div id="subscribe">
    <input  name="subscribe" type="radio" value="otp" checked>One time purchase 
    <input  name="subscribe" type="radio" value="ss">Subscribe & Save
    <span id="discount"><?php echo $discount_percentage ?>%</span>
</div>
<?php } 
 ?>
<?php if ($_attributeValue): ?>

<div class="product attribute <?php /* @escapeNotVerified */ echo $_className?>">
    <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
    <div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>><?php /* @escapeNotVerified */ echo $_attributeValue; ?></div>
</div>
<?php endif; ?> 

<style>
.custom-total{
    width: 100%;
    float: left;
}
span#discount{
    position: absolute;
    right: 2px;
    border-radius: 15px;
    background-color: #006bb4;
    color: white;
    height: 19px;
    font-weight: normal;
    width: 115px;
    text-align: center;
}
#cust_val{
    position: absolute;
    padding-left: 105px;
    padding-top: 15px;
}
#subscribe{
    font-weight: bold;
    position: absolute;
    right: 250px;
}
#alert_msg{
    float: left;
    width: 100%;
    padding-bottom: 5px;
    font-size: 13px;
    color: red;
}  
.price-box{
    padding-top: 53px;
}  
.price{
    font-weight: 300 !important;
}
</style>