<?php
$cuy = $block->getLayout()->createBlock('Magecomp\Mycard\Block\Rewrite\Customer\Account\Customer');
$product= $block->getLayout()->createBlock('Magecomp\Mycard\Block\Product');
$cust_id = $cuy->getLoggedinCustomerId();
$blo = $block->getLayout()->createBlock('Magecomp\Mycard\Block\Index\Index');
$_gridrecords = $this->getHelloCollection();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
if ($_gridrecords && count($_gridrecords)): ?>
    <section class="rows-sec padding_bottom20">
      <div class="container-fluid ">
          <div class="breadcrumb-box">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>"><?php /* @escapeNotVerified */ echo __('Home'); ?></a></li>
                <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>customer/account/"><?php /* @escapeNotVerified */ echo __('Profile'); ?></a></li>
                <li class="breadcrumb-item active" aria-current="page"><?php /* @escapeNotVerified */ echo __('My Subscribed Products'); ?></li>
              </ol>
            </nav>
          </div>
          <div class="rows-sec sp-detail-sec">
              <div class="main-heading padding_bottom10">My Subscribed Products</div>
              <div class="rows">
                <div id="subscribed_products" class="custom-tabs design-tabs">
                  <ul>
                    <li><a href="#activesub">Active Subscription</a></li>
                    <li><a href="#inactivesub">Inactive Subscription</a></li>
                  </ul>
                  <div id="activesub" class="">
                    <div class="rows-sec">
                      <?php 
                        foreach ($_gridrecords as $_gridrecord){
                        if($_gridrecord['customer_id'] == $cust_id && $_gridrecord['start_date']!= ""){
                        $prod_obj = $product->getProduct($_gridrecord['product_id']);
                        $prod_url = $prod_obj->getProductUrl();

                        $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_gridrecord['product_id']);
                        $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                        $image_url = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(100, 100)->getUrl();
                      ?>
                      <div class="white-box spd-box">
                        <div class="spd-box-flex">
                            <div class="spd-box-left">
                                <a href="<?php /* @escapeNotVerified */ echo $prod_url; ?>"><img src="<?php echo $image_url; ?>" /></a>
                            </div>
                            <div class="spd-box-right">
                                <div class="spd-pos">
                                  <?php if ($_gridrecord['flag']==1){
                                      echo "<a href=".$this->getUrl('mycard/grid/index')."?id=".$_gridrecord['product_id']."><img width='15' src=".$this->getViewFileUrl('images/new-images/delete.png')."></a>";
                                      }
                                    ?>
                                </div>
                                <div class="">
                                    <div class="cart-product-name"><a href="<?php /* @escapeNotVerified */ echo $prod_url; ?>"><?php echo $prod_obj->getName() ?></a></div>
                                    <div class="tablet-count">Quantity - <?php echo $_gridrecord['qty'] ?></div>
                                    <div class="total-price"><?php echo $priceHelper->currency($prod_obj->getPrice(), true, false);?></div>
                                    <?php if($_gridrecord['flag'] == 0) { ?>
                                      <a href="<?php /* @escapeNotVerified */ echo $prod_url; ?>"><button class="green-btn wishlist-add-cart-btn">Order Now</button></a>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                        <div class="subscribed-period-box">
                          <div class="sub-period-title">Subscribed Period</div>
                          <div class="sub-period-date">Subscribed Date - <span><?php echo $_gridrecord['start_date'].' - '.$_gridrecord['end_date']; ?></span></div>
                          <div class="sub-duration"><?php echo $_gridrecord['sub_period']." Months" ?>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php /* @escapeNotVerified */ echo $prod_url; ?>">Change</a></div>
                        </div>
                      </div>
                      <?php } } ?>
                    </div>
                  </div>
                  <div id="inactivesub" class="">
                    <div class="rows-sec">
                      <div class="white-box spd-box">
                          <!-- <div class="spd-box-flex">
                              <div class="spd-box-left">
                                  <img src="<?php echo $this->getViewFileUrl('images/packshot.png'); ?>" />
                              </div>
                              <div class="spd-box-right">
                                  <div class="spd-pos">
                                      <img width="13" src="<?php echo $this->getViewFileUrl('images/new-images/delete.png'); ?>" />
                                  </div>
                                  <div class="">
                                      <div class="cart-product-name">Pampers Baby Diaper 2</div>
                                      <div class="tablet-count">10 tablets in strip</div>
                                      <div class="total-price">Rs.110</div>
                                      <button class="green-btn wishlist-add-cart-btn">Order Now</button>
                                  </div>
                              </div>
                          </div>
                          <div class="subscribed-period-box">
                            <div class="sub-period-title">Subscribed Period <a href="#" class="pull-right"><img width="15" src="<?php echo $this->getViewFileUrl('images/resume_icon.png'); ?>" /> Resume</a></div>
                            <div class="sub-period-date">Subscribed Date - <span>22 Nov 2018</span></div>
                            <div class="sub-duration">2 Weeks &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Change</a></div>
                          </div>
                          <div class="spd-period-dtl">
                            <div class="display-flex">
                              <div class="pd-reminder">
                                <div class="radio custom-radio width-auto">
                                    <input type="radio" name="spd-period" class="px" checked="">
                                    <label>2 Weeks <br/><span class="save-text">SAVE 5%</span></label>
                                </div>
                              </div>
                              <div class="pd-reminder">
                                <div class="radio custom-radio width-auto">
                                    <input type="radio" name="spd-period" class="px">
                                    <label>1 Month <br/><span class="save-text">SAVE 5%</span></label>
                                </div>
                              </div>
                              <div class="pd-reminder">
                                <div class="radio custom-radio width-auto">
                                    <input type="radio" name="spd-period" class="px">
                                    <label>2 Months <br/><span class="save-text">SAVE 5%</span></label>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-right spd-btn-sec">
                                    <button class="btn btn-block cancel-btn">Cancel</button>
                                    <button class="btn btn-primary btn-block green-button apply-btn">Save</button>
                                </div>
                            </div>
                          </div> -->
                          <div class="no-review-product padding_bottom20">
                            <p>No subscribed data available.</p>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </section>
    <script type="text/javascript">
        require([
            'jquery',
            'jquery/ui'
        ], function($){
            $("#subscribed_products").tabs();
        });
    </script>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); // for display pager block which we create in block file.   ?></div>
    <?php endif ?>
<?php else: ?>
<section class="rows-sec category-sec">
  <div class="container-fluid">
    <div class="breadcrumb-box">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>"><?php /* @escapeNotVerified */ echo __('Home'); ?></a></li>
          <li class="breadcrumb-item"><a href="<?php echo $block->getBaseUrl();?>customer/account/"><?php /* @escapeNotVerified */ echo __('Profile'); ?></a></li>
          <li class="breadcrumb-item active" aria-current="page"><?php /* @escapeNotVerified */ echo __('My Subscribed Products'); ?></li>
        </ol>
      </nav>
    </div>
  </div>
  <section class="rows-sec subscribe-product-box">
    <div class="sp-icon text-center">
      <img src="<?php echo $this->getViewFileUrl('images/3.png'); ?>" />
    </div>
    <div class="main-heading text-center"><?php /* @escapeNotVerified */ echo __('Hey, You are not subscribed to <br/> any product!'); ?> 
    </div>
    <a href="<?php echo $block->getBaseUrl();?>" class="subscribe-btn" style="color: #fff;"><?php /* @escapeNotVerified */ echo __('Subscribe Now'); ?></a>
  </section>
</section>
<?php endif ?>