<section class="subscription-wrap">
<div class="white-box subscription-box">
    <div class="main-heading"><?php /* @escapeNotVerified */ echo __('Get free article subscription') ?></div>
        <form class="form subscribe subscription-form"
    novalidate
    action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
    method="post"
    data-mage-init='{"validation": {"errorClass": "mage-error"}}'
    id="newsletter-validate-detail">
        <div class="control">
            <input name="email" type="email" class="form-control" id="newsletter"
                            placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address') ?>"
                            data-validate="{required:true, 'validate-email':true}"/>
        </div>                    
        <button class="blue-btn" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit"><?php /* @escapeNotVerified */ echo __('Subscribe') ?></button>
    </form>
</div>
</section>