<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Customer\Block\Account\AuthorizationLink */
$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>
<li class="authorization-link auth_link" data-label="<?php echo $block->escapeHtml(__('')); ?>">
    <a href="#social-login-popup" class="social-login my-main" data-effect="mfp-move-from-top"
	    <?php /* @escapeNotVerified */ //echo $block->getLinkAttributes(); ?>
	    <?php /* @escapeNotVerified */ echo $dataPostParam; ?>
	>
        <?php echo $block->escapeHtml($block->getLabel()); ?>

    </a>
</li>

<script>
	require(['jquery'], function ($) {
		jQuery(document).ready(function(){
			var guest_log  = localStorage.getItem('guest_contact');
			if(jQuery(window).width() > 767 ){ /* desktop */
			     if(guest_log == '' || guest_log == null){}else{
			    jQuery(".welcome").prepend('<a class="user-name" href="#"><span>Welcome, Guest</span></a>');
			    jQuery(".header .links .auth_link").attr("style", "display: none !important");
			    jQuery(".header .links .authorization-link").after('<li class="sing" style="display:inline-block !important;"><a href="#" class="guest_logout">Sign Out</a></li>');
				}
			}
			else{ /* Mobile */
			     if(guest_log == '' || guest_log == null){}
			     else{
			     	jQuery('.header .authorization-link .social-login.m-login').css("pointer-events","none");
			     	jQuery('.action.nav-toggle.m-nav-icon.m-top-nav-col').click(function(){
			     	jQuery(".auth_link").attr("style", "display: none !important");
			     	jQuery('.section-item-content .welcome').html('<a class="user-name" href="#"><span>Welcome, Guest</span></a><a href="tel:Call : 1860 500 0101">Call : 1860 500 0101</a>');
			     	if (jQuery('.sing1').length) {}else{
                     jQuery('.section-item-content .authorization-link').after('<li class="sing1" style="display:block !important;"><a href="#" class="guest_logout">Sign Out</a></li>');
			     	}
				    jQuery('.section-item-content .header li:last-child').hide();
			     	});
			    }
			}    
		});
	});
</script>