<?php if(!empty($block->getHealthareas())) { ?>
<section class="shop-cat-wrap">
    <div class="main-heading"><?php echo __('Shop by Health Areas'); ?></div>
    <div class="shop-health-slider flexslider thumbnail-tab">
          <ul class="slides">
            <?php foreach ($block->getHealthareas() as $healtharea):?>
            <li>
                <div class="white-box">
                    <a href="<?php echo $healtharea->getUrl(); ?>">
                        <div class="box-table">
                            <div class="box-table-cell cat-icon">
                                <img width="36px" src="<?php echo $block->getImageUrl($healtharea->getImage()); ?>" />
                            </div>
                            <div class="box-table-cell cat-title"><?php echo $healtharea->getTitle(); ?></div>
                        </div>
                    </a>
                </div>
            </li>
          <?php endforeach; ?>
          </ul>
    </div>
    <script>
        (function  () {
            require(['jquery', 'magestore/flexslider'], function($) {
                $(document).ready(function($) {
                     $('.shop-health-slider').flexslider({
                        animation: 'slide',
                        animationLoop: true,
                        itemWidth: 280,
                        slideshow: false,
                        controlNav: false,
                        itemMargin: 10,
                        minItems: 2,
                        directionNav:false,
                    });

                });
            });
        })();
    </script>
</section>
<?php } ?>