<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
$subcats = $category->getChildrenCategories();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$categoryLevel = $category->getLevel();
?>
<div class="rows padding_bottom10 padding_lr20">
    <div class="main-heading"><?php echo $category->getName(); ?> <a href="javascript:void(0);" class="jq_filter_icon filter-icon pull-right">Filter <img width="20" src="<?php echo $this->getViewFileUrl('images/filter-filled-tool-symbol.svg'); ?>" /></a></div>
</div>
<?php 
    $categoryID = $category->getId();
    if(isset($categoryID) && $categoryID == 97) {
        $subCatsText = 'Shop by Category';
        /*Static Block for Holland & Barrett*/
        echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('mobile_holland_barrett')->toHtml();
        if(isset($categoryLevel) && $categoryLevel <= 2 ){
            /*Categories slider*/
            echo $this->getLayout()->createBlock('Apollo\Healthareas\Block\CategorisCollection')->setTemplate('Apollo_Healthareas::storecategories.phtml')->toHtml();
        }
    } else {
        /*Static Block for Diwali Offer*/
        echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category-page-top-banner')->toHtml();
        if(isset($categoryLevel) && $categoryLevel <= 2 && $categoryID != 234){
            /*Sub categories slider*/
            echo $this->getLayout()->createBlock('Apollo\Healthareas\Block\CategorisCollection')->setTemplate('Apollo_Healthareas::getsubcategories.phtml')->toHtml();
            /*Static Block for Top Brands*/
            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category-page-top-brands')->toHtml();
            /*Static Block for Extra 20% off on Visa Cards*/
            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category-page-banner-two')->toHtml();
        }
    }
?>
<style type="text/css">
.rows{float: unset;}
</style>
<script>
(function() {
    require(['jquery', 'magestore/flexslider'], function($) {
        $(document).ready(function($) {
            $('.recently-products-slider').flexslider({
                animation: 'slide',
                animationLoop: true,
                itemWidth: 280,
                slideshow: false,
                controlNav: false,
                itemMargin: 10,
                minItems: 2,
                directionNav:false,
            });
            $('.shop-tbrand-slider').flexslider({
                animation: 'slide',
                animationLoop: true,
                itemWidth: 180,
                slideshow: false,
                controlNav: false,
                itemMargin: 5,
                minItems: 3,
                directionNav:false,
            });
        });
    });
})();
</script>