<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
$subcats = $category->getChildrenCategories();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$categoryLevel = $category->getLevel();
/*get category banner image*/
$fileSystem = $objectManager->create('\Magento\Framework\Filesystem');
$mediaAbsolutePath = $fileSystem->getDirectoryRead(\Magento\Framework\App\Filesystem\DirectoryList::MEDIA)->getAbsolutePath();
$imageRelativePath = $this->getUrl('pub/media/catalog/');
$bannerImageName = $category->getBannerImage();
$imageUrl = $imageRelativePath.'category/'.$bannerImageName;
$bannerImageUrl = 'javascript:void(0)';
if(!empty($category->getBannerUrl())){
    $bannerImageUrl = $category->getBannerUrl();
}
?>
<div class="rows padding_bottom10 padding_lr20">
    <div class="main-heading"><?php echo $category->getName(); ?> <!-- <a href="javascript:void(0);" class="jq_filter_icon filter-icon pull-right">Filter <img width="20" src="<?php //echo $this->getViewFileUrl('images/filter-filled-tool-symbol.svg'); ?>" /></a> --></div>
</div>
<?php
    $categoryID = $category->getId();
    if(isset($categoryID) && $categoryID == 97) {
        /*Category Banner Image*/
        if(!empty($bannerImageName) && file_exists($mediaAbsolutePath.'catalog/category/'.$bannerImageName)){
           echo '<div class="category-banner padding_lr20 padding_bottom20"><a href="'.$bannerImageUrl.'"><img style="width:100%;" src="'.$imageUrl.'" /></a> </div>';
        }
        $subCatsText = 'Shop by Category';
        /*Static Block for Holland & Barrett*/
        echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('mobile_holland_barrett')->toHtml();
        if(isset($categoryLevel) && $categoryLevel <= 2 ){
            /*Categories slider*/
            echo $this->getLayout()->createBlock('Apollo\Healthareas\Block\CategorisCollection')->setTemplate('Apollo_Healthareas::storecategories.phtml')->toHtml();
        }
    } else {
        /*Category Banner Image*/
        if(!empty($bannerImageName) && file_exists($mediaAbsolutePath.'catalog/category/'.$bannerImageName)){
           echo '<div class="category-banner padding_lr20 padding_bottom20"><a href="'.$bannerImageUrl.'"><img style="width:100%;" src="'.$imageUrl.'" /></a></div>';
        }
        if(isset($categoryLevel) && $categoryLevel <= 2 && $categoryID != 234){
            /*Static Block for Diwali Offer*/
            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category-page-top-banner')->toHtml();
            /*Sub categories slider*/
            echo $this->getLayout()->createBlock('Apollo\Healthareas\Block\CategorisCollection')->setTemplate('Apollo_Healthareas::getsubcategories.phtml')->toHtml();
            /*Static Block for Top Brands*/
            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category-page-top-brands')->toHtml();
            /*Static Block for Extra 20% off on Visa Cards*/
            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category-page-banner-two')->toHtml();
        }

        /*Block for Special Offers Brand & Category*/
        if(isset($categoryID) && $categoryID == 234 ){
            echo $this->getLayout()->createBlock('\Apollo\CategoryOffers\Block\OffersCategorisCollection')->setTemplate('Apollo_CategoryOffers::/storeofferscategories.phtml')->toHtml();
            echo $this->getLayout()->createBlock('\Ves\Brand\Block\SpecialOffersBrandList')->setTemplate('Ves_Brand::block/special_offers_brand_list.phtml')->toHtml();
        }
    }
?>
<style type="text/css">
.rows{float: unset;}
</style>
<script>
(function() {
    require(['jquery', 'magestore/flexslider'], function($) {
        $(document).ready(function($) {
            $('.recently-products-slider').flexslider({
                animation: 'slide',
                animationLoop: true,
                itemWidth: 280,
                slideshow: false,
                controlNav: false,
                itemMargin: 10,
                minItems: 2,
                directionNav:false,
            });
            $('.shop-tbrand-slider').flexslider({
                animation: 'slide',
                animationLoop: true,
                itemWidth: 180,
                slideshow: false,
                controlNav: false,
                itemMargin: 5,
                minItems: 3,
                directionNav:false,
            });
        });
    });
})();
</script>