<?php
$categories = $this->getStoreCategories(true,false,true);
$categoryHelper = $this->getCategoryHelper();
?>
 <section class="shop-cat-wrap">
    <div class="main-heading">Shop by Category</div>
    <div class="shop-category-slider flexslider thumbnail-tab">
        <ul class="slides">
    	<?php
		foreach($categories as $category):
		     if (!$category->getIsActive()) {
		        continue;
		     }
        $category_url = $categoryHelper->getCategoryUrl($category);
        ?>
         <li>
            <div class="white-box">
            	<?php if(!empty($this->getImageUrl($category))) { ?>
	                <div class="cat-icon">
	                    <a href="<?php echo $category_url ?>">
                            <img width="45px" src="<?php echo $this->getImageUrl($category) ?>">
                        </a>
	                </div>
            	<?php } else { ?>
                    <div class="cat-icon">
                        <a href="<?php echo $category_url ?>">
                            <img width="45px" src="<?php echo $this->getViewFileUrl('images/apollo_default-img.png'); ?>">
                        </a>
                    </div>
                <?php } ?>
                <div class="cat-title"><a href="<?php echo $category_url ?>"><?php echo $category->getName() ?></a></div>
            </div>
        </li>
    <?php endforeach; ?>
        </ul>
    </div>
    <script>
    (function  () {
        require(['jquery', 'magestore/flexslider'], function($) {
            $(document).ready(function($) {
                 $('.shop-category-slider').flexslider({
                    animation: 'slide',
                    animationLoop: true,
                    itemWidth: 180,
                    slideshow: false,
                    controlNav: false,
                    itemMargin: 5,
                    minItems: 3,
                    directionNav:false,
                });

            });
        });
    })();
</script>
</section>