<style type="text/css">
	.wk_za_samplecsv{
		margin-left: 26%;
	}
</style>
<?php
	$helper = $this->helper("Apollo\Medicine\Helper\Data");
	$sampleCsv = $helper->getSampleCsv();
	$data = json_encode([]);
?>
<div class="wk_za_samplecsv">
	<a href="<?php echo $sampleCsv; ?>"><?php echo __("Sample Csv File"); ?></a>
</div>
<script type="text/x-magento-init">
{
"body": {
"Apollo_Medicine/js/ordermedicineadmin": <?php echo $data ?>
}
}
</script>