<section>
    <div class="header-part">
        <div class="heading-top">
          <a href="javascript:window.history.back();">
            <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
          </a>
          <div class="heading-text">
            Upload Prescription
          </div>
        </div>
    </div>
    <div class="container-fluid">
          
        <div class="search-field-sec">
            <div class="form-group">
                <div class="serach-bar">
                    <?php 
                       echo $this->getLayout()
                      ->createBlock('Magento\Framework\View\Element\Template')
                      ->setTemplate('Magento_Search::form.mini.assistive.search.phtml')
                      ->toHtml();
                    ?>
                </div>
            </div>
        </div>
        <div class="fix-button-sec padding_lr_15">
            <div class="row">
                <div class="col-6">
                    <div class="add-item-count"><span id="added-item-count" >0 Item</span> added <br/>to cart</div>
                </div>
                <div class="col-6">
                    <a href="<?php echo $this->getUrl('checkout/cart') ?>" class="btn btn-primary btn-block green-button pull-right">View Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>