<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
?>
<div class="jq_overlay_toogle"></div>
<section class="jq_sider_bar">
  <div class="sidebar-nav ">
    <div class="navbar-header">
        <div class="profile-sec">
          <div class="profile-pic">
            <img src="<?php echo $this->getViewFileUrl('images/profile-img.png'); ?>">
            <!-- <span class="profile-stats">Plus</span> -->
          </div>
          <div class="profile-detail">
            <div class="user-name">
            <?php
              if ($customerSession->isLoggedIn()) {
                  echo '<a href="'.$this->getUrl()."customer/account/".'" style="color: #fff;">'.$customerSession->getCustomer()->getName().'</a>';
              } else { ?>
                  Hello,<a href="<?php echo $this->getUrl('sociallogin/mobile/login'); ?>" style="color: #fff;"> Sign in!</a>
             <?php } ?>
            </div>
            <div class="user-detail" >
              <a id="service-locater-link" href="<?php echo $this->getUrl('ordermedicine/medicine/setlocation'); ?>" style="color: #fff;" >
              <?php echo $this->getSelectedStore();
                 ?></a>
            </div>
          </div>
        </div>
    </div>
    <div class="navbar-items">
        <ul class="list">
          <?php 
          $categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
          $categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
          $categories = $categoryHelper->getStoreCategories();
          if(isset($categories) && !empty($categories)) { 
          ?>
          <li id="jq_category" class="category-sec collapsable collapsable-accordion">
            <h4 class="ca-control">
              <a class="start collapsed" href="#jq_category">
                <span class="list-icon">
                  <img src="<?php echo $this->getViewFileUrl('images/category-icon.png'); ?>">
                </span>
                <?php echo __('Category'); ?>
                <span class="arrow_drop"></span>
              </a>
            </h4>
            <div class="ca-box multi-collapse">
              <div class="card card-body">
                <ul class="list">
                  <?php
                    foreach ($categories as $category) {
                    if (!$category->getIsActive()) {
                      continue;
                    }
                  ?>
                  <li>
                    <a href="<?php echo $categoryHelper->getCategoryUrl($category) ?>"><?php echo $category->getName(); ?></a>
                  </li>
                  <?php } ?>
                </ul>
              </div>
            </div>
          </li>
          <?php } ?>
          <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('mobile-home-left-side-menu')->toHtml();?>
          <?php
            if ($customerSession->isLoggedIn()) { ?>
          <hr>
          <!-- <li>
            <a href="#">
              <span class="list-icon">
                <img src="<?php //echo $this->getViewFileUrl('images/notification.png'); ?>">
              </span>
              <div class="badge_main">
                <?php //echo __('Notification'); ?>
                <span class="badge">2</span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="list-icon">
                <img src="<?php //echo $this->getViewFileUrl('images/refill.png'); ?>">
              </span>
              <?php //echo __('Refill Order'); ?>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="list-icon">
                <img src="<?php //echo $this->getViewFileUrl('images/apollo_plus.png'); ?>">
              </span>
              <?php //echo __('Apollo Plus'); ?>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="list-icon">
                <img src="<?php //echo $this->getViewFileUrl('images/health_credit.png'); ?>">
              </span>
              <?php //echo __('Health Credits'); ?>
            </a>
          </li> -->
          <li>
            <a href="<?php echo $this->getUrl()."wishlist/"; ?>">
              <span class="list-icon">
                <img src="<?php echo $this->getViewFileUrl('images/wishlist.png'); ?>">
              </span>
              <?php echo __('Wishlist'); ?>
            </a>
          </li>
          <li>
            <a href="<?php echo $this->getUrl()."customer/account/"; ?>">
              <span class="list-icon">
                <img src="<?php echo $this->getViewFileUrl('images/my_account.png'); ?>">
              </span>
              <?php echo __('My Account'); ?>
            </a>
          </li>
          <li>
            <a href="<?php echo $this->getUrl()."customer/account/logout/"; ?>">
              <span class="list-icon">
                <img src="<?php echo $this->getViewFileUrl('images/logout.png'); ?>">
              </span>
              <?php echo __('Log Out'); ?>
            </a>
          </li>
          <?php } else { ?> 
          <li> 
            <a href="<?php echo $this->getUrl('sociallogin/mobile/login'); ?>">
              <span class="list-icon">
                <img src="<?php echo $this->getViewFileUrl('images/logout.png'); ?>">
              </span>
              <?php echo __('Log In'); ?>
            </a>
          </li>
          <?php } ?>
        </ul>
    </div>
  </div>
</section>

<script>
    (function  () {
        
        require(['jquery', 'magestore/flexslider'], function($) {

            $(document).ready(function($) {
                
            $.ajax({
                url: '<?php echo $this->getUrl('ordermedicine/medicine/getservicelocation'); ?>',
                type: 'GET'
            }).done(function (response) {
              console.log(response);
              $('#service-locater-link').text(response.result);
              
            }).fail(function () {
               console.log("Error");
              
            });


            });
        });
    })();

</script>