


<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
          <a href="javascript:window.history.back();">
            <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>" />
          </a>
          <div class="heading-text">
            My Prescription
          </div>
        </div>
    </div>

        <section class="added-prescription-wrap my-prescription-wrap">
            <div class="main-heading">My Prescriptions <a href="#uploadYourPrescription" data-toggle="modal" data-target="#uploadYourPrescription" class="pull-right uploadYourPrescriptionLink" ><img src="<?php echo $this->getViewFileUrl('images/add_icon.png'); ?>" /> Add New</a></div>
            <div style="display:none;color:red;font-size:13px; margin-top:5px;" class="text-center select_atleast_one">Please select atleast one Prescription.</div>
            <?php 

             $prescriptions =  $this->getPrescriptions();
            if($prescriptions && $prescriptions->rowCount()){
              
                while ($row = $prescriptions->fetch()) {
                 //print_r($row); die;
                 ?>

                 <div class="white-box added-prescription-box my-prescription-box" data-id="<?php echo $row["id"]; ?>" >
                    <div class="prescription-box-block">
                        <div class="prescription-box-left">
                            <div class="rx-box">
                              <img src="<?php echo $this->getMediaUrl(); ?><?php echo "medicine_prescription/".$row["uploaded_file"]; ?>" />
                            </div>
                        </div>
                        <div class="prescription-box-right">
                            <div class="ps-title"><?php echo $row["id"]; ?></div>
                            <div class="ps-date-time"><?php echo date('d.m.Y', strtotime($row["created_at"])); ?> <br/> <?php echo date('h:m a', strtotime($row["created_at"])); ?></div>
                        </div>
                    </div>
                    <a href="<?php echo $this->getUrl("ordermedicine/medicine/deleteprescription"); ?>?id=<?php echo $row["id"]; ?>" class="ps-delete"><img width="12" src="<?php echo $this->getViewFileUrl('images/new-images/delete.png'); ?>" /> Delete</a>
                </div>

                 <?php


              }
            }else{

              echo "Please upload prescription file.";
            }
            //echo $_SESSION['refered_url'];
            //echo strpos('heckou', $_SESSION['refered_url']);
            ?>
            <?php if (strpos($_SESSION['refered_url'],'heckou') !== false) { ?>
            <input type="hidden" id="added_prescriptions_url" value="<?php echo $_SESSION['refered_url'] ?>">
            <?php }else{ ?>
            <input type="hidden" id="added_prescriptions_url" value="<?php echo $this->getUrl('ordermedicine/medicine/uploadedprescriptionsmobile') ?>">
            <?php } ?>
            <input type="hidden" id="select_prescription_url" value="<?php echo $this->getUrl('ordermedicine/medicine/selectprescription') ?>">
        </section>
        <div class="fix-button-sec">
            <button class="btn btn-primary btn-block green-button select-prescription">Continue</button>
        </div>
    </section>
     <div class="custom-modal upload-ps-modal" id="uploadYourPrescription" style="display: none;">
      <div class="modal-dialog-centered" role="document">
        <div class="content">
          <div class="body">
           
            <div class="choose-option">
                <ul>
                    <li>
                        <a href="#">
                            <div class="white-box upload-with-camera">
                                <img src="<?php echo $this->getViewFileUrl('images/upload-icon1.png'); ?>" />
                                <div class="option-title">Click and Upload <br/>Picture</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="white-box upload-from-gallery">
                                <img src="<?php echo $this->getViewFileUrl('images/upload-icon2.png'); ?>" />
                                <div class="option-title">Choose Picture <br/>from Gallery</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="white-box choose-from-uploaded">
                                <img src="<?php echo $this->getViewFileUrl('images/upload-icon3.png'); ?>" />
                                <div class="option-title">Choose from <br/>already uploaded</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <form  id="form1" enctype="multipart/form-data" method="post" >
                
            <div style="display: none;">
            <input type="hidden" id="upload_url" value="<?php echo $this->getUrl('ordermedicine/medicine/uploadprescriptionsmobile') ?>">
            <input type="hidden" id="next_url" value="<?php echo $this->getUrl('ordermedicine/medicine/uploadedprescriptionsmobile') ?>">
            <input type="hidden" id="login_url" value="<?php echo $this->getUrl('sociallogin/mobile/login') ?>"> 
            <input type="hidden" id="choose_prescriptions_url" value="<?php echo $this->getUrl('ordermedicine/medicine/myprescriptions') ?>">
         
              <label for="fileToUpload">Take or select photo(s)</label><br />
         
              <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*" capture="camera" />
              <input type="file" name="fileToUpload1" id="fileToUpload1" accept="image/*"  />
         
            </div>
         
            <div id="details"></div>
         
            <div>
         
         
            </div>
         
            <div id="progress"></div>
         
          </form>

          </div>
        </div>
      </div>
    </div>

    <div class="loading" style="display: none;">Loading&#8230;</div>
<style type="text/css">/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}</style>

<script type="text/x-magento-init">
    {"*": {"Apollo_Medicine/js/mobile": {}}}
</script>