<!DOCTYPE html>
    <html>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<!--         <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
        <body>
            <?php
            $om = \Magento\Framework\App\ObjectManager::getInstance();
            $storeManager = $om->get('Magento\Store\Model\StoreManagerInterface');
            $base_url = $storeManager->getStore()->getBaseUrl();
            $customerSession = $om->get('Magento\Customer\Model\Session');
            if($customerSession->isLoggedIn()) {
                $id= $customerSession->getCustomer()->getId();  // get Customer Id
                $name= $customerSession->getCustomer()->getName();  // get  Full Name
                $email= $customerSession->getCustomer()->getEmail(); // get Email Name
             ?>
            <?php  }  ?>
            <section id="myupldpr">
                <form method="POST" enctype="multipart/form-data" id="regForm" action="<?php echo $this->getUrl('ordermedicine/medicine/post'); ?>">
                    <h1> Order Medicine Online</h1>
                    <div class="row">   <!-- One "tab" for each step in the form: -->
                        <div class="col-md-12">
                        <!--    <div class="bottmsteps">
                                    <span class="step"></span>
                                    <span class="step"></span>
                                    <span class="step"></span>
                                </div>  -->
                            <ul class="bottmsteps">
                                <li  class="step">Upload Prescription</li>
                                <li  class="step">Name</li>
                                <li  class="step">Address</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab">  
                        <div class="row">
                            <div class="col-md-12">
                                <div class="upbtn">
                                    <input type="button" id="get_file_add1" class="ybtn" value="UPLOAD PRESCRIPTION">
                                    <input type="button" id="get_file_add2" class="ybtn" value="UPLOAD PRESCRIPTION"> 
                                    <input type="button" id="get_file_add3" class="ybtn" value="UPLOAD PRESCRIPTION"> 
                                    <input type="button" id="get_file_add4" class="ybtn" value="UPLOAD PRESCRIPTION">
                                    <input type="hidden" id="baseurl" name="baseurl" value="<?php echo $base_url; ?>" />
                                    <div id="errors" class="col-md-12" style="text-align:center;margin: 10px 0px;">
                                        <div class="error-scroll" id="inputfiles4" style="color:red">Maximum 3 files are allowed </div>
                                        <div class="error-scroll" id="error1" style="color:red">Please select Upload Prescription</div>
                                        <div class="error-scroll" id="error2" style="color:red">Please select delivery type</div>
                                        <div class="error-scroll" id="error3" style="color:red">Please enter valid pincode </div>
                                        <div id="error5" style="color:red">Supported files jpg, png, pdf , doc, docx</div>
                                        <div class="unsupported-file-type" style="color:red; font-size: 13px; display: none;">* Un-supported file type uploaded. Please provide a valid file.</div>
                                    <!--<div id="error6" style="color:red">Supported files jpg, png, pdf </div>-->
                                        <div id="storepickup-pincode-input" class="error" style="color: red; font-size: 13px;"></div>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-md-12">
                                <div id="main_images" class="choosefile closebtn" style="display:none;">    
                                    <h1>Your Uploaded Prescriptions</h1>                        
                                        <div id="inputfiles1" class="choosefile-list row" style="display:none;">
                                            <div class="col-md-12"><input type="text" id="check_file_add"></div>
                                            <div class="col-md-3">
                                                <img id="load1" src="#" alt="Image1" style="display:none;"/>
                                            </div>
                                            <div class="col-md-6">
                                                <span id="one_add_file1" style="display:none;"></span><br>
                                                <a id="one_add_file_view" style="display:none;">View</a>
                                            </div>
                                            <div class="col-md-1">
                                                <span id="delete1" onclick="delete11(this.value);">X</span>
                                            </div>
                                        </div>
                                        <div id="inputfiles2" class="choosefile-list row" style="display:none;">                           
                                            <div class="col-md-3">
                                                <img id="load2" src="#" alt="Image2" style="display:none;"/>
                                            </div>
                                            <div class="col-md-6">
                                                 <span id="one_add_file2" style="display:none;"></span>
                                                <br>
                                                <a id="one_add_file_view" style="display:none;">View</a>
                                            </div>
                                            <div class="col-md-1">
                                               <a id="delete2" onclick="delete22(this.value);">X</a>
                                            </div>
                                        </div>
                                        <div id="inputfiles3" class="choosefile-list row" style="    border: none;padding: 0px;" style="display:none;">
                                            <div class="col-md-3">
                                                <img id="load3" src="#" alt="Image3" style="display:none;"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div id="one_add_file3" style="display:none;"></div>
                                                <br>
                                                <a id="one_add_file_view" style="display:none;">View</a>
                                            </div>
                                            <div class="col-md-1">
                                                <div id="delete3" onclick="delete33(this.value);">X</div>
                                            </div>
                                        </div>
                                    </div>       
                            </div>
                        </div>      
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="homebtn">
                                    <div class="row">
                                        <div class="col-sm-6" style="text-align: left;float: left;"><input type="button" id="get_homedelivery" value="Home Delivery"></div>
                                         <div class="col-sm-6" style="text-align: right;float: right;"><input type="button" id="get_storepickup" value="Store Pickup"></div>
                                         <div class="col-md-12"><input type="text" id="odeliverytype" name="odeliverytype"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" id="homebtn">
                                <div class="homebtn">
                                    <!--<input id="storpickup_pincode" type="text" name="storpickup_pincode" data-validate="{required:true}" placeholder="Enter Pincode" class="search" onkeyup="search(this)" style="display:none;"/> -->
                                    <input type="text" id="storpickup_pincode" name="storpickup_pincode" onkeyup="search(this)" placeholder="Enter valid pincode">
                                    
                                    <div id="regTitle"></div>
                                </div>
                            </div>
                        </div>
                        <p></p>    
                    </div>
                    <div class="tab">
                        <div class="row form-fields">
                            <div class="col-md-6">
                                <input name="oname" 
                                    id="oname" 
                                    title="<?php echo __('Name') ?>" 
                                    value="<?php if(isset($name)){echo $name;}?>" 
                                    class="input-text" 
                                    type="text" 
                                    data-validate="{required:true}" 
                                    placeholder="Name" 
                                    onchange="validName()" />
                                <div id="error-name" style="color:red; font-size: 13px; display: none; padding-bottom: 10px;">Please enter Valid Name.</div>
                            </div>
                            <div class="col-md-6">
                                <input name="oemail" id="oemail" title="<?php echo __('Email') ?>" value="<?php if(isset($email)){echo $email;}?>"  type="text"  placeholder="Email" onchange="validemail()" />
                                <div id="error7" style="color:red; font-size: 13px; padding-bottom: 10px;">Please enter valid email.</div>
                            </div>
                            <div class="col-md-12">
                                <input name="ocontact" id="ocontact" title="<?php echo __('Contact No.') ?>" value="" class="input-text"  type="number" data-validate="{required:true}" onchange="phonenumber(this.value)" placeholder="Contact No" />
                                <input type="hidden" name="filerun" id="filerun" value=""/>
                                <div id="error10" style="color:red; font-size: 13px;">Please enter valid contact number.</div>
                            </div>
                        </div>
                        <div class="notice" style="color: red; font-size: 13px; padding: 10px 0;">
                            <p>Note: All fields are mandatory</p>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="row form-fields">
                            <div class="col-md-4">
                                <input name="opincode" 
                                    id="opincode" 
                                    title="<?php echo __('Pincode') ?>" 
                                    value="" 
                                    class="input-text" 
                                    type="text" 
                                    data-validate="{required:true}" 
                                    placeholder="Pincode"  
                                    onchange="mainInfo(this.value);"/>
                                <div id="error9" style="color:red; font-size: 13px;">Please enter valid pincode </div>
                                <div id="error-pin-serviceable" style="color:red; font-size: 13px; display: none; padding-bottom: 10px; padding-bottom: 5px;">Pincode is not serviceable.</div>
                            </div>
                            <div class="col-md-4">
                                <input name="ocity" id="ocity" title="<?php echo __('City') ?>" value="" class="input-text" type="text" data-validate="{required:true}" placeholder="City" onchange="validCity()"/>
                                <div id="error-city" style="color:red; font-size: 13px; display: none; padding-bottom: 10px;">Please enter valid city.</div>
                            </div>
                            <div class="col-md-4">
                                <input name="ostate" id="ostate" title="<?php echo __('State') ?>" value="" class="input-text" type="text" data-validate="{required:true}" placeholder="State" onchange="validState()"/>
                                <div id="error-state" style="color:red; font-size: 13px; display: none; padding-bottom: 10px;">Please enter valid state.</div>
                            </div>
                            <div class="col-md-12">
                                <textarea rows="2" cols="50" data-validate="{required:true}" class="input-text" name="oaddress" id="oaddress" title="<?php echo __('Address') ?>" placeholder="Address" onChange="validAddress()"></textarea>
                                <!-- <input type="file" accept=".jpg,.jpeg,.png,.pdf,.JPG,.JPEG,.PNG,.PDF" />-->
                                <div id="error-address" style="color:red; font-size: 13px; display: none;">Please enter valid address.</div>
                            </div>
                        </div>
                        <div class="notice header_note" style="color: red; font-size: 13px; padding: 10px 0;">
                            <p>Note: All fields are mandatory</p>
                        </div>
                        <div class="header_note" style="font-size:11px !important;">
                            <b>Important Instructions:</b><br>
                            1. You are required to send a scan copy of valid prescription from an authorized Doctor which is mandatory<br>
                            2. Kindly display the original prescription at the time of picking up medicines from Apollo Pharmacy Stores<br>
                            3. Please show original prescription at the time of delivery at your place.<br>
                            4. Min order amount Rs. 200 for free home delivery<br>
                            5. Payment method only COD (Cash on Delivery) is available<br>
                            6. For all in stock items the delivery time is within 12 to 48 hours of order being confirmed subject to the availability of Apollo Pharmacy store near the delivery address.<br>
                        </div>
                    </div>
                    <div class="row " id="pleasewait" style="display:none;">
                        <div class="col-md-12" style="text-align:center">
                            <p><b>Please Wait</b></p><br>
                            <p><img src="<?php echo $base_url?>./pub/media/logo/6.gif"/></p>
                        </div>
                    </div>
                    <div class="row " id="pre_order">
                        <div class="col-md-12">
                            <div id="pn-btns">
                                <button type="button" id="prevBtn" class="action-button" onclick="nextPrev(-1)">Previous</button>
                                <button type="button" id="nextBtn" class="action-button" onclick="nextPrev(1)">Next</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        <script>
            var currentTab = 0; // Current tab is set to be the first tab (0)
            showTab(currentTab); // Display the crurrent tab
            function showTab(n) {
                // This function will display the specified tab of the form...file1
                var x = document.getElementsByClassName("tab");
                x[n].style.display = "block";
                //... and fix the Previous/Next buttons:
                if (n == 0) {
                    document.getElementById("prevBtn").style.display = "none";
                } else {
                    document.getElementById("prevBtn").style.display = "inline";
                }
                if (n == (x.length - 1)) {
                    document.getElementById("nextBtn").innerHTML = "Submit";
                } else {
                    document.getElementById("nextBtn").innerHTML = "Next";
                }
                //... and run a function that will display the correct step indicator:
                fixStepIndicator(n)
            }

            function nextPrev(n) {
                /*multi issue start*/
                
                console.log("insdie nextPrev() n => " + n);
                console.log("delivery Type => " + jQuery('#odeliverytype').val());

                console.log("oname => " + jQuery("#oname").val());
                console.log("oemail => " + jQuery("#oemail").val());
                console.log("oname-valid => " + isNameValid(jQuery("#oname").val()));
                console.log("oemail-valid => " + isEmailValid(jQuery("#oemail").val()));
                /* if delicery type is not store pickup than remove readonly attribute */
                if (jQuery('#odeliverytype').val() !== 'Store') {
                    jQuery("#ocity").removeAttr('readonly');
                    jQuery("#opincode").removeAttr('readonly');
                    jQuery("#ostate").removeAttr('readonly');
                    jQuery("#oaddress").removeAttr('readonly');

                }

                var pausecontent = new Array();
                if (document.getElementById('one_add_file3').innerHTML) {
                    pausecontent.push(document.getElementById('one_add_file3').innerHTML);
                    document.getElementById('filerun').value = pausecontent;
                }
                if (document.getElementById('one_add_file1').innerHTML) {
                    pausecontent.push(document.getElementById('one_add_file1').innerHTML);
                    document.getElementById('filerun').value = pausecontent;
                }
                if (document.getElementById('one_add_file2').innerHTML) {
                    pausecontent.push(document.getElementById('one_add_file2').innerHTML);
                    document.getElementById('filerun').value = pausecontent;
                }
                /*multi issue end*/
                if (document.getElementById("check_file_add").value == '') {
                    document.getElementById("error1").style.display = "block";
                } else {
                    document.getElementById("error1").style.display = "none";
                }
                if (document.getElementById("odeliverytype").value == '') {
                    if (document.getElementById("check_file_add").value != '') {
                        document.getElementById("error2").style.display = "block";
                        document.getElementById("error3").style.display = "none";
                    }
                }
                if (document.getElementById("storpickup_pincode").value != '') {
                    if (document.getElementById("storpickup_pincode").value != 'Store') {
                        var pin = document.getElementById("storpickup_pincode").value;
                        document.getElementById('opincode').value = pin;
                    }
                }

                // This function will figure out which tab to display
                var x = document.getElementsByClassName("tab");
                
                // Exit the function if any field in the current tab is invalid:                
                if (n == 1 && !validateForm()){
                    console.log('insdie form validation ');
                    jQuery('html, body').animate({
                        scrollTop: jQuery('#maincontent').offset().top
                    }, 200);
                    return false;  
                }
                console.log('outside form validation');
                // Hide the current tab:
                x[currentTab].style.display = "none";
                // Increase or decrease the current tab by 1:
                currentTab = currentTab + n;

                // Scroll to upper div element
                jQuery('html, body').animate({
                    scrollTop: jQuery('#maincontent').offset().top
                }, 200);

                // if you have reached the end of the form...
                if (currentTab >= x.length) {

                    if (currentTab == 3) {
                        document.getElementById("pre_order").style.display = "none";
                        document.getElementById("pleasewait").style.display = "block";
                    }

                    // ... the form gets submitted:
                    document.getElementById("regForm").submit();                   

                    return false;
                }
                // Otherwise, display the correct tab:
                showTab(currentTab);
            }

            function validateForm() {
                console.log("validate form()");
                // This function deals with validation of the form fields
                var name_fields = ['oname','ocity','ostate'];
                var number_fields = ['ocontact','opincode'];
                var file_input_field_id = ['add_file1','add_file2','add_file3'];

                var x, y, i, valid = true;
                x = document.getElementsByClassName("tab");
                y = x[currentTab].getElementsByTagName("input");

                console.log("========="); 
                console.log("x");
                console.log(x);
                console.log("*********");
                console.log("y");
                console.log(y);
                console.log("=========");
                // A loop that checks every input field in the current tab:
                for (i = 0; i < y.length; i++) {

                    console.log("--- input field ----");
                    console.log(y[i]);
                    console.log(y[i].id);
                    console.log(y[i].name);
                    console.log(y[i].value);
                    console.log("--- ----------- ----");
                    
                    /* validate all the fields with */
                    /* remove the invalid class from input elements */
                    jQuery("#"+y[i].id).removeClass("invalid");

                    // If a field is empty...basically the first page when user clicks after uploading the prescription.                   
                    if (y[i].value == "") {

                        /* if existing file input's have empty value than ignore it. */
                        if (!file_input_field_id.includes(y[i].id)) {
                            // add an "invalid" class to the field:
                            y[i].className += " invalid";
                            // and set the current valid status to false
                            valid = false;
                        }

                        /*// add an "invalid" class to the field:
                        y[i].className += " invalid";
                        // and set the current valid status to false
                        valid = false;*/
                    }

                    /* name, city, state validation */
                    if (y[i].id == "oname" || y[i].id == "ocity" || y[i].id == "ostate") {
                        if (!isNameValid(y[i].value)) {
                            y[i].className += " invalid";
                            valid = false;
                        }
                    }

                    /* email validation */
                    if (y[i].id == "oemail") {
                        if (!isEmailValid(y[i].value)) {
                            y[i].className += " invalid";
                            valid = false;
                        }
                    }
                    
                    /* mobile validation */
                    if (y[i].id == "ocontact") {
                        if (!isMobileValid(y[i].value)) {
                            y[i].className += " invalid";
                            valid = false;
                        }
                    }

                    /* Pincode validation*/
                    if (y[i].id == "opincode") {
                        if (!isPincodeValid(y[i].value)) {
                            y[i].className += " invalid";
                            valid = false;
                        }
                    }

                    /* Pincode validation for store pincode */
                    if (y[i].id == "storpickup_pincode" && jQuery('#odeliverytype').val() == 'Store') {
                        if (!isPincodeValid(y[i].value)) {
                            y[i].className += " invalid";
                            valid = false;
                            jQuery("#storepickup-pincode-input").html("Please provide a valid pincode or choose another delivery type.");
                        }
                    }

                }

                // text area validation 
                z = x[currentTab].getElementsByTagName("textarea");
                for (i = 0; i < z.length; i++) {

                    /* remove exixting invalid class */
                    jQuery('#oaddress').removeClass('invalid');

                    // If a field is empty...
                    if (z[i].value == "") {
                        // add an "invalid" class to the field:
                        z[i].className += " invalid";
                        // and set the current valid status to false
                        valid = false;
                    }
                }

                /* if delivery type is store and input value is not equales to 6 */
                if (jQuery('#odeliverytype').val() == 'Store' && jQuery("#storpickup_pincode").val().length < 6) {
                    // validate the store pickup input and restrict the user to going forward.
                    console.log("Please provide a valid pincode or choose another delivery type.");
                    jQuery("#storepickup-pincode-input").html("Please provide a valid pincode or choose another delivery type.");
                    valid = false;
                }

                console.log("#error-pin-serviceable => " + jQuery('#error-pin-serviceable').is(':visible'));
                /* if is pincode serviceable invalid than */
                if (jQuery('#error-pin-serviceable').is(':visible')===true) {
                    valid = false;
                }
                
                // If the valid status is true, mark the step as finished and valid:
                if (valid) {
                    document.getElementsByClassName("step")[currentTab].className += " finish";
                }               

                
                console.log("valid => " + valid);

                return valid; // return the valid status
            }

            function fixStepIndicator(n) {
                // This function removes the "active" class of all steps...
                var i, x = document.getElementsByClassName("step");
                for (i = 0; i < x.length; i++) {
                    x[i].className = x[i].className.replace(" active", "");
                }
                //... and adds the "active" class on the current step:
                x[n].className += " active";
            }
            document.getElementById('get_homedelivery').onclick = function () {

                // hide store pickup error msg
                jQuery("#storepickup-pincode-input").html("");
                console.log("#storepickup-pincode-input => html");

                document.getElementById('odeliverytype').value = "Home";
                document.getElementById('regTitle').innerHTML = " ";
                document.getElementById('regTitle').style.display = "none";
                document.getElementById('storpickup_pincode').value = "Store";
                document.getElementById('ocity').value = "";
                document.getElementById('ostate').value = "";
                document.getElementById('oaddress').value = "";
                document.getElementById('opincode').value = "";
                document.getElementById("storpickup_pincode").style.display = "none";
                document.getElementById("error3").style.display = "none";
                document.getElementById('store_select').value = " ";

            };
            document.getElementById('get_storepickup').onclick = function () {
                document.getElementById("storpickup_pincode").style.display = "block";
                document.getElementById('odeliverytype').value = "Store";
                document.getElementById('storpickup_pincode').value = "";
                document.getElementById("regTitle").style.display = "block";
                document.getElementById("error2").style.display = "none";
            }
            document.getElementById('get_file_add1').onclick = function () {
                
                console.log("get_file_add1 clicked!");
                document.getElementById('inputfiles1').style.display = "block";
                document.getElementById('inputfiles2').style.display = "block";
                document.getElementById('inputfiles3').style.display = "block";

                var file1 = '<input type="file" id="add_file1" name="add_file1[]" onchange="Iload1(this);" multiple="multiple" visbility="hidden" style="display:none;">';
                document.getElementById('inputfiles1').innerHTML += file1;
                document.getElementById('add_file1').click();
              

                /* if file type is not valid than do not show the file list block */
                /*if (!jQuery("#error5").is(":visible")) {

                    document.getElementById('inputfiles1').style.display = "block";
                    document.getElementById('inputfiles2').style.display = "block";
                    document.getElementById('inputfiles3').style.display = "block";
                }*/
            }
            document.getElementById('get_file_add2').onclick = function () {
                console.log("get_file_add2 clicked!");
                document.getElementById('inputfiles1').style.display = "block";
                document.getElementById('inputfiles2').style.display = "block";
                // document.getElementById('inputfiles3').style.display = "block";

                var file1 = '<input type="file" id="add_file2" name="add_file2[]" onchange="Iload1(this);" multiple="multiple" visbility="hidden" style="display:none;">';
                document.getElementById('inputfiles2').innerHTML += file1;
                document.getElementById('add_file2').click();
            }
            document.getElementById('get_file_add3').onclick = function () {
                console.log("get_file_add3 clicked!");
                document.getElementById('inputfiles1').style.display = "block";
                document.getElementById('inputfiles2').style.display = "block";
                document.getElementById('inputfiles3').style.display = "block";
                var file1 = '<input type="file" id="add_file3" name="add_file3[]" onchange="Iload1(this);" multiple="multiple" visbility="hidden" style="display:none;">';
                document.getElementById('inputfiles3').innerHTML += file1;
                document.getElementById('add_file3').click();
            }
            document.getElementById('get_file_add4').onclick = function () {
                document.getElementById('inputfiles4').style.display = "block";
            }

            function mainInfo(id) {

                var pincodeServiceable;
                
                console.log("inside main info");
                console.log(id);
                console.log("isPincodeValid()");
                console.log(isPincodeValid(id));

                // show error msg
                jQuery('#error-pin-serviceable').hide();

                var pinc = id.length;
                if (pinc == 6) {
                    jQuery('#error9').hide();

                    jQuery.ajax({
                        type: "POST",
                        url: "<?php echo $this->getUrl('ordermedicine/medicine/post'); ?>",
                        data: "mainid =" + id,
                        success: function (result) {
                            var tl = result;
                            var res = tl.split("&");

                            console.log("res[0] => " + res[0]);
                            console.log("res[1] => " + res[1]);

                            jQuery('#ocity').val(res[0]);
                            jQuery('#ostate').val(res[1]);

                            // jQuery("#ocity").prop('readonly', true);
                            // jQuery("#ostate").prop('readonly', true);

                            //alert(JSON.stringify(result));
                            // alert(tl[0]['slno']);
                            //console.log( tl.join(', ') );
                        }
                    });

                    /* check for pincode Servicible */
                    pincodeServiceable = isPostcodeServiceable(jQuery('#opincode').val());
                    if (!pincodeServiceable) {
                        jQuery('#error-pin-serviceable').show();
                    }

                } else {
                    // jQuery('#opincode').val("");
                    jQuery('#error9').show();
                    jQuery('#opincode').addClass('invalid');
                }
            };

            function phonenumber(id) {
                var phoneid = id.length;

                /* old condition */
                // if (phoneid >= 10 && phoneid <= 12) {

                if (isMobileValid(id)) {
                    jQuery('#error10').hide();
                    jQuery('#ocontact').val(id);
                } else {
                    // jQuery('#ocontact').val("");
                    jQuery('#error10').show();
                }
            }

            function search(ele) {

                /* check order delivery type and pincode length */

                /* check if element length is > than or == 6 */
                if (ele.value.length >= 6 && jQuery('#odeliverytype').val() == "Store") {

                    jQuery("#storepickup-pincode-input").html("");
                    jQuery("#regTitle").show();
                    jQuery.ajax({
                    type: "POST",
                    url: "<?php echo $this->getUrl('ordermedicine/medicine/post'); ?>",
                    data: "pincode=" + ele.value,
                        success: function (result) {

                            console.log(" ======== result ====== ");
                            console.log(result);
                            console.log("------------------------")
                            var tl = result;
                            var res = tl.split("%");
                            //jQuery("#regTitle").html(result);
                            jQuery("#regTitle").html(res[0]);
                            jQuery('#ocity').val(res[1]);
                            jQuery('#ostate').val(res[2]);
                            var add = jQuery('.store_selection').val();
                            jQuery('#oaddress').val(add);
                            if (res[3]) {
                                jQuery('#store_select').val('checked');
                                jQuery("#ocity").prop('readonly', true);
                                jQuery("#opincode").prop('readonly', true);
                                jQuery("#ostate").prop('readonly', true);
                                jQuery("#oaddress").prop('readonly', true);
                                jQuery('#error3').hide();
                            } else {
                                jQuery('#error3').show();
                            }
                        }
                    });
                }
                else
                {
                    jQuery("#regTitle").hide();
                }

            }

            function categoryswitch(e) {
                var addid = e.target.id;
                var addres = jQuery('#' + addid).val();
                jQuery('#oaddress').val(addres);
            }

            function delete11(val) {
                if (document.getElementById("one_add_file2").innerHTML) {
                    if (document.getElementById("one_add_file3").innerHTML) {
                        document.getElementById("check_file_add").value = "checked";
                    }
                    document.getElementById("check_file_add").value = "checked";
                } else if (document.getElementById("one_add_file3").innerHTML) {
                    document.getElementById("check_file_add").value = "checked";
                } else {
                    document.getElementById("check_file_add").value = "";
                }
                document.getElementById("one_add_file1").innerHTML = "";
                document.getElementById("one_add_file1").style.display = "none";
                document.getElementById("delete1").style.display = "none";
                document.getElementById("load1").style.display = "none";
                document.getElementById("get_file_add1").style.display = "block";
                document.getElementById("get_file_add2").style.display = "none";
                document.getElementById("get_file_add3").style.display = "none";
                document.getElementById('inputfiles1').style.display = "none";
                if (document.getElementById("one_add_file1").innerHTML == "") {
                    if (document.getElementById("one_add_file2").innerHTML == "") {
                        if (document.getElementById("one_add_file3").innerHTML == "") {
                            document.getElementById("main_images").style.display = "none";
                            document.getElementById("inputfiles4").style.display = "none";
                        }
                    }
                }
                document.getElementById("add_file1").remove();
                document.getElementById('get_file_add4').style.display = "none";
            }

            function delete22(val) {
                if (document.getElementById("one_add_file1").innerHTML) {
                    if (document.getElementById("one_add_file3").innerHTML) {
                        document.getElementById("check_file_add").value = "checked";
                    }
                    document.getElementById("check_file_add").value = "checked";
                } else if (document.getElementById("one_add_file3").innerHTML) {
                    document.getElementById("check_file_add").value = "checked";
                } else {
                    document.getElementById("check_file_add").value = "";
                }
                document.getElementById("one_add_file2").innerHTML = "";
                document.getElementById("one_add_file2").style.display = "none";
                document.getElementById("delete2").style.display = "none";
                document.getElementById("load2").style.display = "none";
                document.getElementById("get_file_add2").style.display = "block";
                document.getElementById("get_file_add3").style.display = "none";
                document.getElementById('inputfiles2').style.display = "none";
                if (document.getElementById("one_add_file1").innerHTML == "") {
                    if (document.getElementById("one_add_file3").innerHTML == "") {
                        document.getElementById("get_file_add2").style.display = "none";
                    }
                }
                if (document.getElementById("one_add_file1").innerHTML) {
                    if (document.getElementById("one_add_file3").innerHTML) {
                        document.getElementById("get_file_add2").style.display = "block";
                        document.getElementById("get_file_add4").style.display = "none";
                    }
                    document.getElementById("get_file_add2").style.display = "block";
                }
                if (document.getElementById("one_add_file3").innerHTML) {
                    if (document.getElementById("one_add_file1").innerHTML == "") {
                        document.getElementById("get_file_add1").style.display = "block";
                        document.getElementById("get_file_add1").style.display = "none";
                    }
                }
                document.getElementById("add_file2").remove();
            }

            function delete33(val) {
                if (document.getElementById("one_add_file2").innerHTML) {
                    if (document.getElementById("one_add_file1").innerHTML) {
                        document.getElementById("check_file_add").value = "checked";
                    }
                    document.getElementById("check_file_add").value = "checked";
                } else if (document.getElementById("one_add_file1").innerHTML) {
                    document.getElementById("check_file_add").value = "checked";
                } else {
                    document.getElementById("check_file_add").value = "";
                }
                document.getElementById("one_add_file3").innerHTML = "";
                document.getElementById("one_add_file3").style.display = "none";
                document.getElementById("delete3").style.display = "none";
                document.getElementById("load3").style.display = "none";
                document.getElementById("get_file_add3").style.display = "block";
                document.getElementById("get_file_add4").style.display = "none";
                document.getElementById('inputfiles3').style.display = "none";
                if (document.getElementById("one_add_file3").innerHTML == "") {
                    document.getElementById("get_file_add2").style.display = "none";
                }
                if (document.getElementById("one_add_file1").innerHTML == "") {
                    if (document.getElementById("one_add_file2").innerHTML) {
                        document.getElementById("get_file_add3").style.display = "none";
                    }
                }
                if (document.getElementById("one_add_file1").innerHTML == "") {
                    if (document.getElementById("one_add_file2").innerHTML == "") {
                        document.getElementById("get_file_add3").style.display = "none";
                    }
                }
                if (document.getElementById("one_add_file1").innerHTML == "") {
                    if (document.getElementById("one_add_file2").innerHTML == "") {
                        if (document.getElementById("one_add_file2").innerHTML == "") {
                            document.getElementById("get_file_add1").style.display = "block";
                            document.getElementById("main_images").style.display = "none";
                        }
                    }
                }
                document.getElementById("add_file3").remove();
            }

           function Iload1(input) {
                console.log("inside Iload1()");

                jQuery('#inputfiles4').hide();
                jQuery('#error5').hide();
                var files = jQuery(input)[0].files;
                var baseurl = jQuery('#baseurl').val();
                //jQuery('#add_file1').val("asdgv");

                console.log("file length => " + files.length);
                console.log(files);

                /* Remove the unsupported file type error message */
                jQuery(".unsupported-file-type").hide();

                if (files.length == 1) {
                    console.log("inside file length == 1 ");

                    jQuery('#main_images').show();
                    jQuery('#error5').hide();
                    jQuery('#error1').hide();
                    var validExtensions = ['jpg', 'gif', 'jpeg', 'pdf', 'png', 'JPG', 'GIF', 'JPEG', 'PDF', 'PNG', 'doc', 'docx']; //array of valid extensions
                    var fileName = jQuery(input)[0].files[0].name;

                    // var fileNameExt2 = fileName2.substr(fileName2.lastIndexOf('.') + 1);
                    // if (jQuery.inArray(fileNameExt2, validExtensions) == -1) {
                    //     jQuery('#error5').show();
                    //     return false;
                    // }
                    console.log("fileName");
                    console.log(fileName);

                    var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                    
                    console.log("fileNameExt");
                    console.log(fileNameExt);

                    /* Check file extension */
                    if (jQuery.inArray(fileNameExt, validExtensions) == -1) {
                        jQuery('#error5').show();

                        console.log("inside : filename ext invalid. file 1");
                        /* hide the upload presction image section */
                        // jQuery('#main_images').hide();

                        /* Append unsupported file type error message */
                        jQuery(".unsupported-file-type").show();

                        return false;
                    }

                    console.log("outside : filename ext invalid. file 1");

                    var str = jQuery(input)[0].files[0].name;
                    var n = str.search("pdf");
                    jQuery('#inputfiles4').hide();

                    // if all the 3 file inputs is used than show error as maximum 3 images to be loaded.
                    if (jQuery('#one_add_file1').html()) {
                        if (jQuery('#one_add_file2').html()) {
                            if (jQuery('#one_add_file3').html()) {
                                jQuery('#inputfiles4').show();
                                return false;
                            }
                        }
                    }
                    if (jQuery('#one_add_file1').html()) {
                        jQuery('#get_file_add3').show();
                        jQuery('#get_file_add2').hide();
                        if (jQuery('#one_add_file2').html()) {
                            jQuery('#get_file_add4').show();
                            jQuery('#get_file_add3').hide();
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                if (n > 0) {
                                    var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                                } else {
                                    var i = e.target.result;
                                }
                                jQuery('#load3').attr('src', i).width(50).height(50);
                            };
                            reader.readAsDataURL(input.files[0]);
                            jQuery('#load1').show();
                            jQuery('#load2').show();
                            jQuery('#load3').show();
                            jQuery('#one_add_file1').show();
                            jQuery('#one_add_file2').show();
                            jQuery('#one_add_file3').show();
                            jQuery('#delete1').show();
                            jQuery('#delete2').show();
                            jQuery('#delete3').show();
                            //jQuery('#one_add_file3').val(jQuery(input)[0].files[0].name);
                            jQuery('#one_add_file3').html(jQuery(input)[0].files[0].name);
                        } else {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                if (n > 0) {
                                    var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                                } else {
                                    var i = e.target.result;
                                }
                                jQuery('#load2').attr('src', i).width(50).height(50);
                            };
                            reader.readAsDataURL(input.files[0]);
                            jQuery('#load1').show();
                            jQuery('#load2').show();
                            jQuery('#one_add_file1').show();
                            jQuery('#one_add_file2').show();
                            jQuery('#delete1').show();
                            jQuery('#delete2').show();
                            jQuery('#one_add_file2').html(jQuery(input)[0].files[0].name);
                        }
                    } else if (jQuery('#one_add_file2').html()) {
                        if (jQuery('#one_add_file3').html()) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                if (n > 0) {
                                    var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                                } else {
                                    var i = e.target.result;
                                }
                                jQuery('#load1').attr('src', i).width(50).height(50);
                            };
                            reader.readAsDataURL(input.files[0]);
                            jQuery('#load1').show();
                            jQuery('#delete1').show();
                            jQuery('#one_add_file1').show();
                            jQuery('#one_add_file1').html(jQuery(input)[0].files[0].name);
                        } else {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                if (n > 0) {
                                    var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                                } else {
                                    var i = e.target.result;
                                }
                                jQuery('#load1').attr('src', i).width(50).height(50);
                            };
                            reader.readAsDataURL(input.files[0]);
                            jQuery('#one_add_file1').html(jQuery(input)[0].files[0].name);
                            jQuery('#load1').show();
                            jQuery('#load2').show();
                            //jQuery('#load3').show();
                            jQuery('#one_add_file1').show();
                            jQuery('#one_add_file2').show();
                            //jQuery('#one_add_file3').show();
                            jQuery('#delete1').show();
                            jQuery('#delete2').show();
                            jQuery('#get_file_add3').show();
                            jQuery('#get_file_add2').hide();
                            // jQuery('#delete3').show();
                            // jQuery('#one_add_file3').html(jQuery(input)[0].files[0].name);
                        }
                    } else {
                        jQuery('#check_file_add').val("checked");
                        // document.getElementById('add_file1').value="checked";
                        jQuery('#get_file_add2').show();
                        jQuery('#get_file_add1').hide();
                        jQuery('#inputfiles2').hide();
                        jQuery('#inputfiles3').hide();
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            if (n > 0) {
                                var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                            } else {
                                var i = e.target.result;
                            }
                            jQuery('#load1').attr('src', i).width(50).height(50);
                        };
                        reader.readAsDataURL(input.files[0]);
                        jQuery('#load1').show();
                        jQuery('#delete1').show();
                        jQuery('#one_add_file1').show();
                        jQuery('#one_add_file1').html(jQuery(input)[0].files[0].name);
                    }
                } else if (files.length == 2) {
                    jQuery('#main_images').show();
                    jQuery('#inputfiles4').hide();
                    jQuery('#error5').hide();
                    jQuery('#error1').hide();
                    var validExtensions = ['jpg', 'gif', 'jpeg', 'pdf', 'png', 'JPG', 'GIF', 'JPEG', 'PDF', 'PNG','doc', 'docx']; //array of valid extensions
                    var fileName1 = jQuery(input)[0].files[0].name;
                    var fileName2 = jQuery(input)[0].files[1].name;
                    var fileNameExt1 = fileName1.substr(fileName1.lastIndexOf('.') + 1);
                    if (jQuery.inArray(fileNameExt1, validExtensions) == -1) {
                        jQuery('#error5').show();

                        /* Append unsupported file type error message */
                        jQuery(".unsupported-file-type").show();
                        return false;
                    }
                    var fileNameExt2 = fileName2.substr(fileName2.lastIndexOf('.') + 1);
                    if (jQuery.inArray(fileNameExt2, validExtensions) == -1) {
                        jQuery('#error5').show();
                        
                        /* Append unsupported file type error message */
                        jQuery(".unsupported-file-type").show();
                        return false;
                    }
                    var str1 = jQuery(input)[0].files[0].name;
                    var str2 = jQuery(input)[0].files[1].name;
                    var n1 = str1.search("pdf");
                    var n2 = str2.search("pdf");
                    if (jQuery('#one_add_file1').html()) {
                        if (jQuery('#one_add_file2').html()) {
                            if (jQuery('#one_add_file3').html()) {
                                jQuery('#inputfiles4').show();
                                return false;
                            }
                        }
                    }
                    if (jQuery('#one_add_file1').html()) {
                        if (jQuery('#one_add_file2').html()) {
                            jQuery('#inputfiles4').show();
                            return false;
                        }
                    }
                    jQuery('#check_file_add').val("checked");
                    // document.getElementById('add_file1').value="checked";
                    jQuery('#get_file_add2').show();
                    jQuery('#get_file_add1').hide();
                    if (jQuery('#one_add_file1').html()) {
                        if (jQuery('#one_add_file3').html()) {
                            jQuery('#inputfiles4').show();
                            jQuery('#inputfiles2').hide();
                        } else {
                            jQuery('#get_file_add3').show();
                            jQuery('#get_file_add2').hide();
                            jQuery('#inputfiles4').hide();
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                if (n1 > 0) {
                                    var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                                } else {
                                    var i = e.target.result;
                                }
                                jQuery('#load2').attr('src', i).width(50).height(50);
                            };
                            reader.readAsDataURL(input.files[0]);
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                if (n2 > 0) {
                                    var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                                } else {
                                    var i = e.target.result;
                                }
                                jQuery('#load3').attr('src', i).width(50).height(50);
                            };
                            reader.readAsDataURL(input.files[1]);
                            jQuery('#load2').show();
                            jQuery('#load3').show();
                            jQuery('#one_add_file2').show();
                            jQuery('#one_add_file3').show();
                            jQuery('#delete2').show();
                            jQuery('#delete3').show();
                            jQuery('#one_add_file2').html(jQuery(input)[0].files[0].name);
                            jQuery('#one_add_file3').html(jQuery(input)[0].files[1].name);
                        }
                    } else if (jQuery('#one_add_file2').html()) {
                        if (jQuery('#one_add_file3').html()) {
                            jQuery('#inputfiles4').show();
                        } else {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                if (n1 > 0) {
                                    var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                                } else {
                                    var i = e.target.result;
                                }
                                jQuery('#load1').attr('src', i).width(50).height(50);
                            };
                            reader.readAsDataURL(input.files[0]);
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                if (n2 > 0) {
                                    var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                                } else {
                                    var i = e.target.result;
                                }
                                jQuery('#load3').attr('src', i).width(50).height(50);
                            };
                            reader.readAsDataURL(input.files[1]);
                            jQuery('#load1').show();
                            jQuery('#load3').show();
                            jQuery('#one_add_file1').show();
                            jQuery('#one_add_file3').show();
                            jQuery('#delete1').show();
                            jQuery('#delete3').show();
                            jQuery('#one_add_file1').html(jQuery(input)[0].files[0].name);
                            jQuery('#one_add_file3').html(jQuery(input)[0].files[1].name);
                        }
                    } else if (jQuery('#one_add_file3').html()) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            if (n1 > 0) {
                                var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                            } else {
                                var i = e.target.result;
                            }
                            jQuery('#load1').attr('src', i).width(50).height(50);
                        };
                        reader.readAsDataURL(input.files[0]);
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            if (n2 > 0) {
                                var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                            } else {
                                var i = e.target.result;
                            }
                            jQuery('#load2').attr('src', i).width(50).height(50);
                        };
                        reader.readAsDataURL(input.files[1]);
                        jQuery('#load1').show();
                        jQuery('#load2').show();
                        jQuery('#one_add_file1').show();
                        jQuery('#one_add_file2').show();
                        jQuery('#delete1').show();
                        jQuery('#delete2').show();
                        jQuery('#one_add_file1').html(jQuery(input)[0].files[0].name);
                        jQuery('#one_add_file2').html(jQuery(input)[0].files[1].name);
                    } else {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            if (n1 > 0) {
                                var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                            } else {
                                var i = e.target.result;
                            }
                            jQuery('#load1').attr('src', i).width(50).height(50);
                        };
                        reader.readAsDataURL(input.files[0]);
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            if (n2 > 0) {
                                var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                            } else {
                                var i = e.target.result;
                            }
                            jQuery('#load2').attr('src', i).width(50).height(50);
                        };
                        reader.readAsDataURL(input.files[1]);
                        jQuery('#load1').show();
                        jQuery('#load2').show();
                        jQuery('#one_add_file1').show();
                        jQuery('#one_add_file2').show();
                        jQuery('#delete1').show();
                        jQuery('#delete2').show();
                        jQuery('#one_add_file1').html(jQuery(input)[0].files[0].name);
                        jQuery('#one_add_file2').html(jQuery(input)[0].files[1].name);
                    }
                } else if (files.length == 3) {
                    jQuery('#main_images').show();
                    jQuery('#error5').hide();
                    jQuery('#inputfiles4').hide();
                    jQuery('#error1').hide();
                    var validExtensions = ['jpg', 'gif', 'jpeg', 'pdf', 'png', 'JPG', 'GIF', 'JPEG', 'PDF', 'PNG','doc', 'docx']; //array of valid extensions
                    var fileName1 = jQuery(input)[0].files[0].name;
                    var fileName2 = jQuery(input)[0].files[1].name;
                    var fileName3 = jQuery(input)[0].files[2].name;
                    var fileNameExt1 = fileName1.substr(fileName1.lastIndexOf('.') + 1);
                    if (jQuery.inArray(fileNameExt1, validExtensions) == -1) {
                        jQuery('#error5').show();
                        /* Append unsupported file type error message */
                        jQuery(".unsupported-file-type").show();

                        return false;
                    }
                    var fileNameExt2 = fileName2.substr(fileName2.lastIndexOf('.') + 1);
                    if (jQuery.inArray(fileNameExt2, validExtensions) == -1) {
                        jQuery('#error5').show();
                        /* Append unsupported file type error message */
                        jQuery(".unsupported-file-type").show();

                        return false;
                    }
                    var fileNameExt3 = fileName3.substr(fileName3.lastIndexOf('.') + 1);
                    if (jQuery.inArray(fileNameExt3, validExtensions) == -1) {
                        jQuery('#error5').show();
                        /* Append unsupported file type error message */
                        jQuery(".unsupported-file-type").show();

                        return false;
                    }
                    var str1 = jQuery(input)[0].files[0].name;
                    var str2 = jQuery(input)[0].files[1].name;
                    var str3 = jQuery(input)[0].files[2].name;
                    var n1 = str1.search("pdf");
                    var n2 = str2.search("pdf");
                    var n3 = str3.search("pdf");
                    if (jQuery('#one_add_file1').html()) {
                        if (jQuery('#one_add_file2').html()) {
                            if (jQuery('#one_add_file3').html()) {
                                jQuery('#inputfiles4').show();
                                return false;
                            }
                        }
                    }
                    jQuery('#check_file_add').val("checked");
                    // document.getElementById('add_file1').value="checked";
                    jQuery('#get_file_add2').show();
                    jQuery('#get_file_add1').hide();
                    if (jQuery('#one_add_file1').html()) {
                        jQuery('#inputfiles4').show();
                    } else if (jQuery('#one_add_file3').html()) {
                        jQuery('#inputfiles4').show();
                    } else {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            if (n1 > 0) {
                                var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                            } else {
                                var i = e.target.result;
                            }
                            jQuery('#load1').attr('src', i).width(50).height(50);
                        };
                        reader.readAsDataURL(input.files[0]);
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            if (n2 > 0) {
                                var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                            } else {
                                var i = e.target.result;
                            }
                            jQuery('#load2').attr('src', i).width(50).height(50);
                        };
                        reader.readAsDataURL(input.files[1]);
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            if (n3 > 0) {
                                var i = baseurl + 'pub/media/favicon/pdf.jpeg';
                            } else {
                                var i = e.target.result;
                            }
                            jQuery('#load3').attr('src', i).width(50).height(50);
                        };
                        reader.readAsDataURL(input.files[2]);
                        jQuery('#load1, #load2, #load3, #one_add_file1, #one_add_file2, #one_add_file3, #delete1, #delete2, #delete3').show();
                        /*jQuery('#load2').show();
                        jQuery('#load3').show();
                        jQuery('#one_add_file1').show();
                        jQuery('#one_add_file2').show();
                        jQuery('#one_add_file3').show();
                        jQuery('#delete1').show();
                        jQuery('#delete2').show();
                        jQuery('#delete3').show();*/
                        jQuery('#one_add_file1').html(jQuery(input)[0].files[0].name);
                        jQuery('#one_add_file2').html(jQuery(input)[0].files[1].name);
                        jQuery('#one_add_file3').html(jQuery(input)[0].files[2].name);
                    }
                } else {
                    jQuery('#inputfiles4').show();
                    jQuery('#get_file_add1').show();
                    jQuery('#get_file_add2').hide();
                }
            }
        </script>
        <script>
            function validemail() {
                var x = document.getElementById("oemail");
                var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{2,4}/.test(x.value);
                /* commented the code for email validation during onchange */
                if (!re) {
                    document.getElementById("error7").style.display = "block";
                    // x.value = "";
                } else {
                    document.getElementById("error7").style.display = "none";
                }
            }
        </script>
        <script>
        require(['jquery'], function($) {
            /* validation for Name fields */
            $('#oname, #ocity, #ostate').on('keypress', function (event) {
               var regex = new RegExp("^[a-zA-Z]+$");
               var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
               var a = event.charCode;
                   if(a==0 || a==32){
                       return true;
                    }
                   else if (!regex.test(key)) {
                      event.preventDefault();
                      return false;
                   }
            });

            /* validation for Pincode fields */
            $('#opincode, #storpickup_pincode').on('keypress', function (event) {
               var regex = new RegExp("^[0-9]+$");
               var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
               var a = event.charCode;
                   if(a==0){
                       return true;
                    }
                   else if (!regex.test(key)) {
                      event.preventDefault();
                      return false;
                   }
            });

            /* validation for Mobile fields */
            $('#ocontact').on('keypress', function (event) {
               var regex = new RegExp("^[0-9]+$");
               var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
               var a = event.charCode;
                   if(a==0){
                       return true;
                    }
                   else if (!regex.test(key)) {
                      event.preventDefault();
                      return false;
                   }
            });

        });


        function validName() {
            var name = jQuery("#oname").val();
            var result = isNameValid(name);
            if (!result) {
                jQuery("#error-name").show();
            }
            else {
                jQuery("#error-name").hide();   
            }
        }

        function validCity() {
            console.log("valid city");
            var city = jQuery("#ocity").val();
            var result = isNameValid(city);
            if (!result) {
                jQuery("#error-city").show();
            }
            else {
                jQuery("#error-city").hide();   
            }
        }

        function validState() {
            console.log("valid State");
            var state = jQuery("#ostate").val();
            var result = isNameValid(state);
            if (!result) {
                jQuery("#error-state").show();
            }
            else {
                jQuery("#error-state").hide();   
            }
        }

        function validAddress() {
            console.log("valid address");
            var address = jQuery("#oaddress").val();
            if (address == '') {
                jQuery("#error-address").show();
            }
            else {
                jQuery("#error-address").hide();   
            }
        }

        /**
         * @return {Boolean}
         */
        function isPostcodeServiceable(postcode) {

            var flag = true;
            console.log('isPostcodeServiceable');
            console.log(postcode);
                            
            jQuery.ajax({
                url: window.location.origin+'/ordermedicine/medicine/localitypincodes?term='+postcode,
                // showLoader: true,
                async: false,
                complete: function (response) {
                    // body...
                    console.log(response);
                    console.log(response.responseText);
                    if (response.responseText !== '') {
                        console.log("response has pincode");
                        flag = true;
                    }
                    else
                    {
                        console.log("response do not has pincode");
                        flag = false;
                    }
                },
                error: function (xhr, status, errorThrown) {
                    // body...
                }
            });


            return flag;
        }

        // Email validation
        function isEmailValid(email) 
        {
            var email = email;
            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return (!filter.test(email)) ? false : true ;
        }

        // Name Check
        function isNameValid(name) {
            var name = name;
            // var filter = /^[a-zA-Z ]+$/;
            // var filter = /^[a-zA-Z]+[ a-zA-Z ]+[a-zA-Z]+$/;
            var filter = /^[a-zA-Z]+(\s+[a-zA-Z]+)*$/;
            return (!filter.test(name)) ? false : true ;
        }

        // Mobile number 
        function isMobileValid(alter_number)
        {   
            var mobile = alter_number;
            //var filter = /^[0-9]{10}$/;
            var filter = /^[6-9][0-9]{9}$/;
            return (!filter.test(mobile)) ? false : true ;
        }

        function isPincodeValid(pincode) {
            var pincode = pincode;
            var filter = /^[0-9]{6}$/;
            return (!filter.test(pincode)) ? false : true ;
        }
        </script> 
    </body>
</html>