<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
          <a href="javascript:window.history.back();">
            <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>" />
          </a>
          <div class="heading-text">
            <?php /* @escapeNotVerified */ echo __('Change Location'); ?>
          </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="search-field-sec">
            <div class="form-group">
                <div class="serach-bar margin_bottom10 setlocation-search">
                    <input id="search_location" type="text" class="form-control box-shadow" placeholder="Enter Locality/Pincode">
                </div>
                <!-- <div class="example-text">Eg: Aundh</div> -->
            </div>
        </div>
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('service-locator-box')->toHtml();?>
        <div class="action-btn-group">
            <div class="location-box mb-20">
                <button class="btn btn-primary btn-block location-btn use-my-location-btn"><span></span> Use my current location</button>
            </div>
            <div class="location-box mb-20">
                <button class="btn btn-primary btn-block location-btn add-new-address-btn"><span></span>Add New Address</button>
            </div>
        </div>
    </div>
    <?php 
    	/*Customer saved addresses*/
		echo $this->getLayout()
		->createBlock('Apollo\Medicine\Block\Specifydetails')
		->setTemplate('Apollo_Medicine::setlocationaddress.phtml')
		->toHtml();
    ?>
    <div class="fix-button-sec padding_lr_15">
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" id="confirm_store" class="btn btn-primary btn-block green-button">Confirm</button>
            </div>
        </div>
    </div>
</section>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyC_4rL2sy9ilQVRafcrtcKY8K5xxwimoGA"></script>


<script>
    (function  () {
        require(['jquery', 'magestore/flexslider'], function($) {
            var selected_store = {};

            var executePosition = function(position){

                console.log(position);
                var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                geocoder = new google.maps.Geocoder();
                geocoder.geocode({'latLng': latlng}, processRevGeocode);

            }

            var  processRevGeocode = function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                   var result;
                   if (results.length > 1)
                      result = results[1];
                   else
                      result = results[0];
                   
                   displayPostcode(results[0].address_components);
             
                } else {
                  alert('Geocoder failed due to: ' + status);
                }
            }

            var displayPostcode = function(address) {
              for (p = address.length-1; p >= 0; p--) {
                if (address[p].types.indexOf("postal_code") != -1) {
                   console.log(address[p].long_name);
                   var val = address[p].long_name;
                   $.ajax({
                            url: "<?php echo $this->getUrl('ordermedicine/medicine/localitypincodes') ?>?term="+val,
                            type: 'GET',
                            dataType: 'json'
                        }).done(function (response) {
                          console.log(response);
                            
                              var data = {};
                                data["pincodesession_req_val"] = response[0].id;
                                data["pcasession_req_val"] = response[0].value;
                                data["popupcity_req_val"] = response[0].city;
                                data["selected_storename"] = response[0].storename;
                                try {
                                    jQuery.ajax({
                                        url: "<?php echo $this->getUrl('ordermedicine/medicine/pincodesession') ?>",
                                        data: data,
                                        type: "POST",
                                        showLoader: true,
                                        success: function (result) {
                                           console.log(result);
                                           window.location = '<?php echo $this->getRefererUrl(); ?>';
                                        }
                                    });
                                } catch (e) {
                                    showLoader: false
                                }

                              
                        }).fail(function () {
                           console.log("Error");
                        });


                }
              }
            }

            $(document).ready(function($) {
                 $('.jq_customer_address').flexslider({
                    animation: 'slide',
                    animationLoop: true,
                    itemWidth: 280,
                    slideshow: false,
                    controlNav: false,
                    itemMargin: 10,
                    minItems: 1,
                    directionNav:false,
                });

                 $(".add-new-address-btn").on('click', function(){
                    window.location='<?php /* @escapeNotVerified */ echo $block->getUrl('customer/address/new/') ?>';
                 });

                 $(".use-my-location-btn").on('click', function(){
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(executePosition);
                    } else {
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                 });

                 $("#confirm_store").on('click', function(){
                    if(selected_store){
                        var data = {};
                        data["pincodesession_req_val"] = selected_store.id;
                        data["pcasession_req_val"] = selected_store.value;
                        data["popupcity_req_val"] = selected_store.city;
                        data["selected_storename"] = selected_store.storename;
                        try {
                            jQuery.ajax({
                                url: "<?php echo $this->getUrl('ordermedicine/medicine/pincodesession') ?>",
                                data: data,
                                type: "POST",
                                showLoader: true,
                                success: function (result) {
                                   console.log(result);
                                   window.location = '<?php echo $this->getRefererUrl(); ?>';
                                }
                            });
                        } catch (e) {
                            showLoader: false
                        }
                    }
                 });
            });

            var options = {
                source: ["ActionScript", "AppleScript"],
                minLength: 2,
                select: function( event, ui ) {
                    console.log( "Selected: " + ui.item.value + " aka " + ui.item.id );
                    selected_store = ui.item;
                  }
                };
            var selector = 'input#search_location';
            $(document).on('keydown.autocomplete', selector, function() {
                    var that = this;
                setTimeout(function(){
                    var val = $("#search_location").val();
                    var saurces = [];
                    $.ajax({
                            url: "<?php echo $this->getUrl('ordermedicine/medicine/localitypincodes') ?>?term="+val,
                            type: 'GET',
                            dataType: 'json'
                        }).done(function (response) {
                          console.log(response);
                            $.each(response, function( index, value ) {
                              saurces.push(value.value + " " + value.id );
                            });
                            options.source = response;
                            console.log(options);
                            $(that).autocomplete(options);    
                        }).fail(function () {
                           console.log("Error");
                        });
                    }, 100);
                //$(this).autocomplete(options);
            });
        });
    })();
</script>