<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
          <a href="javascript:window.history.back();">
            <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>" />
          </a>
          <div class="heading-text">
            <?php /* @escapeNotVerified */ echo __('Specify Details'); ?>
          </div>
        </div>
    </div>
    <div class="specify-detail-sec">
        <div class="main-heading"><?php /* @escapeNotVerified */ echo __('Specify Details'); ?></div>
        <div class="white-box specify-detail-box">
        <input type="hidden" name="save_url" id="save_url" value="<?php echo $this->getUrl('ordermedicine/medicine/specifydetailssave') ?>">
        <input type="hidden" name="requestconfirmation_url" id="requestconfirmation_url" value="<?php echo $this->getUrl('ordermedicine/medicine/requestconfirmation') ?>">
            <div class="row">
                <div class="col-12">
                    <div class="radio custom-radio radio-inline">
                        <input type="radio" name="selectDetails" id="selectDetails1" class="px" checked="">
                        <label><?php /* @escapeNotVerified */ echo __('All from Prescription'); ?></label>
                    </div>
                    <div class="radio custom-radio radio-inline">
                        <input type="radio" name="selectDetails" id="selectDetails2" class="px">
                        <label><?php /* @escapeNotVerified */ echo __('Others'); ?></label>
                    </div>
                </div>
            </div>
            <div class="row other-details-textarea" style="display: none;">
                <div class="col-12">
                    <textarea id="other-comments" class="form-control" placeholder="<?php /* @escapeNotVerified */ echo __('Specify Details'); ?>"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="delivery-option-sec">
        <div class="main-heading">
            <?php /* @escapeNotVerified */ echo __('Select Delivery Option'); ?>

            <?php //echo $this->selectedStore(); ?>
        </div>
        <div class="white-box delivery-option-box">
            <div class="row">
                <div class="col-6">
                    <div class="radio custom-radio radio-inline">
                        <input type="radio" value="homeDelivery" name="selectDeliveryOption" id="homeDeliveryOption" class="px" <?php if(!$this->selectedStore()){ echo 'checked="checked"'; } ?> >
                        <label><?php /* @escapeNotVerified */ echo __('Home Delivery'); ?></label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="radio custom-radio radio-inline">
                        <input type="radio" value="storeDelivery" name="selectDeliveryOption" id="storeDeliveryOption" <?php if($this->selectedStore()){ echo 'checked="checked"'; } ?> class="px">
                        <label><?php /* @escapeNotVerified */ echo __('Store Pickup'); ?></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="upload-ps-summry-sec store-selected padding_lr20" style="display: none;">
        <div class="main-heading no-padding margin_bottom10"><?php /* @escapeNotVerified */ echo __('Store Address'); ?> </div> 
        <div class="white-box pickup-confirmation-box">
            <div class="row">
                <?php 
                    if($this->selectedStore()){
                    $storeData =  $this->getStoreDetailsAccordingId($this->selectedStore());
                    foreach ($storeData as $value) {
                    
                ?>
                <div class="col-8">
                    <div class="request-title">Store Address</div>
                    <input type="hidden" name="store_available" id="store_available" value="<?php echo $value['storeid'];?>">
                    <div class="request-dtl"><?php echo $value['baddress'].', '.$value['storename'].'<br/>'.$value['phno'].'<br/>'.$value['pincode'];?></div>
                    <a href="<?php echo $this->getUrl('ordermedicine/medicine/storepickupmobile') ?>" class="edit edit-icss store-edit store-edit">Change</a>
                </div>
                <div class="col-4">
                    <div class="pull-right padding_r15">
                        <div class="request-title">Store ID</div>
                        <div class="request-dtl"><?php echo $value['storeid'];?></div>
                    </div>
                </div>
                <?php } } else { ?>
                <div class="rows padding_lr20 margin_top7">
                    <div class="text-center">No store address available.</div>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>

    <?php 
    echo $this->getLayout()
    ->createBlock('Apollo\Medicine\Block\Specifydetails')
    ->setTemplate('Apollo_Medicine::customeraddress.phtml')
    ->toHtml();
    ?>

    <div class="rows">
        <div class="col-12">
            <span id="selectStoreError" class="alert alert-danger fix-alert-danger" style="display: none;" >Please select/add your Delivery Store. </span>
            <span id="selectAddressError" class="alert alert-danger fix-alert-danger" style="display: none;">Please select/add your Delivery Address. </span>
        </div>
    </div>

    <div class="fix-button-sec padding_lr_15">
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" id="specify-detail-button" class="btn btn-primary btn-block green-button"><?php /* @escapeNotVerified */ echo __('Continue') ?></button>
            </div>
        </div>
    </div>
	<script>
	    (function  () {
	        require(['jquery', 'magestore/flexslider'], function($) {

	            $(document).ready(function($) {
	                 $('.jq_customer_address').flexslider({
	                    animation: 'slide',
	                    animationLoop: true,
	                    itemWidth: 280,
	                    slideshow: false,
	                    controlNav: false,
	                    itemMargin: 10,
	                    minItems: 1,
	                    directionNav:false,
	                });

	            });

                $("#selectDetails1").on("click", function(){
                    $(".other-details-textarea").hide();
                });

                $("#selectDetails2").on("click", function(){
                    $(".other-details-textarea").show();
                });

                if($("#selectDetails2").prop("checked") == true){
                    $(".other-details-textarea").show();
                }

                $("#storeDeliveryOption").on("click", function(){
                    <?php if(!$this->selectedStore()){ ?>
                        window.location = '<?php echo $this->getUrl('ordermedicine/medicine/storepickupmobile') ?>';
                    <?php } ?>
                    $(".home-selected").hide();
                    $(".store-selected").show();
                });

                $("#homeDeliveryOption").on("click", function(){
                    $(".store-selected").hide();
                    $(".home-selected").show();
                    $('.flexslider').resize();
                });

                if($("#storeDeliveryOption").prop("checked") == true){
                    $(".home-selected").hide();
                    $(".store-selected").show();
                }

               <?php if($this->selectedStore()){ ?>
                    $(".home-selected").hide();
                    $(".store-selected").show();
                    $('.flexslider').resize();
                <?php } ?>
	        });
	    })();
	</script>
</section>
<script type="text/x-magento-init">
    {"*": {"Apollo_Medicine/js/mobile": {}}}
</script>