<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
            <a href="javascript:window.history.back();">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                Store Pickup Confirmation
                <?php $post = $this->getRequest()->getParams();?>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="store-pickup-confirm-sec">
            <div class="white-box pickup-confirmation-box">
                <div class="request-dtl-heading">Request Details</div>
                <div class="row">
                        <?php 
                            if( isset($post['store_id']) && !empty( $post['store_id'])) { 
                            $storeData =  $this->getStoreDetailsAccordingId($post['store_id']);
                            foreach ($storeData as $value) {
                            
                        ?>
                        <div class="col-8">
                            <div class="request-title">Store Address</div>
                            <div class="request-dtl"><?php echo $value['baddress'].', '.$value['storename'].'<br/>'.$value['phno'].'<br/>'.$value['pincode'];?></div>
                        </div>
                        <div class="col-4">
                            <div class="pull-right padding_r15">
                                <div class="request-title">Store ID</div>
                                <div class="request-dtl"><?php echo $value['storeid'];?></div>
                            </div>
                        </div>
                    <?php } } ?>
                </div>
            </div>
        </div>
    </div>
    <div class="fix-button-sec">
        <button class="btn btn-primary btn-block green-button" id="confirmStore">Confirm</button>
    </div>
</section>

<script>
        (function  () {
            require(['jquery'], function($) {
                $(document).ready(function($) {
                    
                    
                    $('#confirmStore').click(function(){

                         var stor_pickup_pincode = jQuery("#storpickup_pincode").val();
                         var data = {};

                         data["store_id"] = "<?php echo $post['store_id']; ?>";
                         data["pincode"] = "<?php echo $value['pincode']; ?>";
                         data["delivery_method"] = "Store";
                        
                         
                        try {
                            jQuery.ajax({
                                url : '<?php echo $this->getUrl('ordermedicine/medicine/selectstore'); ?>',
                                data: data,
                                type: "POST",
                                showLoader: true,
                                success: function (result) {
                                    console.log(result);
                                    if(result.success){
                                        window.location = '<?php
                                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                            $ses = $objectManager->get('Magento\Framework\Session\SessionManagerInterface');
                                        $ses->start();
                                        if($ses->getMessage() == 'specifydetails'){

                                         echo $this->getUrl('ordermedicine/medicine/specifydetails');

                                         }else{
                                            echo $this->getUrl('checkout/cart');
                                         } ?>';
                                    } else {
                                        window.location = '<?php echo $this->getUrl('ordermedicine/medicine/storepickupmobile'); ?>';

                                    }
                                }
                            });
                        } catch (e) {
                            showLoader: false
                        }
                        
                    });
                });
            });
        })();
    </script>