<?php $data_array = $this->getData(); ?>
<style>
  .custom-tabs ul li {
    display: inline-block;
  }
</style>

<section class="common-you-wrap health-tips-wrap">
    <div class="main-heading padding_lr20 margin_bottom5"><img src="<?php echo $this->getViewFileUrl('images/jiyo.png'); ?>" /> Health Tips <a href="<?php echo $this->getBaseUrl();?>jiyo/health/tips/" class="pull-right">VIEW ALL</a></div>
    <div id="tabs">
        <ul>
            <li><a href="#exercise-tab">Exercise</a></li>
            <li><a href="#nourish-tab">Nourish</a></li>
            <li><a href="#meditate-tab">Meditate</a></li>
            <li><a href="#love-tab">Love</a></li>
            <li><a href="#grow-tab">Grow</a></li>
        </ul>
        <div id="exercise-tab">
            <div id="health-tips-box-slider1" class="flexslider thumbnail-tab">
              <ul class="slides">
                <?php if(count($data_array['exercise_res'])) {
                foreach ($data_array['exercise_res'] as $key => $value) { ?>
                <li>
                  <div class="item">
                    <div class="health-tips-box-inner">
                      <a href="<?php echo $data_array['base_url'] ?>jiyo/health/details/?id=<?php echo $value->id;?>">
                          <?php
                            $_url = $value->teaser_image->preview;
                            $path  = stristr($_url, 'jpg', true);
                            if($path!= "") {
                          ?>
                          <figure>
                            <img src="<?php echo $_url; ?>" alt="">
                          </figure>
                          <?php  } else { ?>
                            <div class="video-box">
                              <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                            </div>
                          <?php } ?>
                          <div class="health-tip-detail">
                              <span><?php echo ucfirst($value->title); ?></span>
                              <div class="health-tip-time">
                                  <?php 
                                    foreach ($value->labels as $key => $lvalue) {
                                       if($lvalue->type == 'label_duration'){
                                           echo $lvalue->name.' read';
                                       }
                                    }
                                ?>
                              </div>
                              <div class="health-tip-date">
                                  27 Oct ‘18
                              </div>
                          </div>
                      </a>
                    </div>
                  </div>
                </li>
                <?php } } ?>
              </ul>
            </div>
        </div>
        <div id="nourish-tab">
            <div id="health-tips-box-slider2" class="flexslider thumbnail-tab">
              <ul class="slides">
                <?php if(count($data_array['nourish_res'])){
                    foreach ($data_array['nourish_res'] as $key => $value) {
                ?>
                <li>
                  <div class="item">
                    <div class="health-tips-box-inner">
                      <a href="<?php echo $data_array['base_url'] ?>jiyo/health/details/?id=<?php echo $value->id;?>">
                          <?php
                            $_url = $value->teaser_image->preview;
                            $path  = stristr($_url, 'jpg', true);
                            if($path!= "") {
                          ?>
                          <figure>
                            <img src="<?php echo $_url; ?>" alt="">
                          </figure>
                          <?php  } else { ?>
                            <div class="video-box">
                              <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                            </div>
                          <?php } ?>
                          <div class="health-tip-detail">
                              <span><?php echo ucfirst($value->title); ?></span>
                              <div class="health-tip-time">
                                  <?php 
                                    foreach ($value->labels as $key => $lvalue) {
                                       if($lvalue->type == 'label_duration'){
                                           echo $lvalue->name.' read';
                                       }
                                    }
                                    ?>
                              </div>
                              <div class="health-tip-date">
                                  27 Oct ‘18
                              </div>
                          </div>
                      </a>
                    </div>
                  </div>
                </li>
                <?php } } ?>
              </ul>
            </div>
        </div>
        <div id="meditate-tab">
            <div id="health-tips-box-slider3" class="flexslider thumbnail-tab">
              <ul class="slides">
                <?php if(count($data_array['meditate_res'])){
                    foreach ($data_array['meditate_res'] as $key => $value) {
                ?>
                <li>
                  <div class="item">
                    <div class="health-tips-box-inner">
                      <a href="<?php echo $data_array['base_url'] ?>jiyo/health/details/?id=<?php echo $value->id;?>">
                          <?php
                            $_url = $value->teaser_image->preview;
                            $path  = stristr($_url, 'jpg', true);
                            if($path!= "") {
                          ?>
                          <figure>
                            <img src="<?php echo $_url; ?>" alt="">
                          </figure>
                          <?php  } else { ?>
                            <div class="video-box">
                              <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                            </div>
                          <?php } ?>
                          <div class="health-tip-detail">
                              <span><?php echo ucfirst($value->title); ?></span>
                              <div class="health-tip-time">
                                  <?php 
                                    foreach ($value->labels as $key => $lvalue) {
                                       if($lvalue->type == 'label_duration'){
                                           echo $lvalue->name.' read';
                                       }
                                    }
                                    ?>
                              </div>
                              <div class="health-tip-date">
                                  27 Oct ‘18
                              </div>
                          </div>
                      </a>
                    </div>
                  </div>
                </li>
                <?php } } ?>
              </ul>
            </div>
        </div>
        <div id="love-tab">
            <div id="health-tips-box-slider4" class="flexslider thumbnail-tab">
              <ul class="slides">
                <?php if(count($data_array['love_res'])){
                    foreach ($data_array['love_res'] as $key => $value) {
                ?>
                <li>
                  <div class="item">
                    <div class="health-tips-box-inner">
                      <a href="<?php echo $data_array['base_url'] ?>jiyo/health/details/?id=<?php echo $value->id;?>">
                          <?php
                            $_url = $value->teaser_image->preview;
                            $path  = stristr($_url, 'jpg', true);
                            if($path!= "") {
                          ?>
                          <figure>
                            <img src="<?php echo $_url; ?>" alt="">
                          </figure>
                          <?php  } else { ?>
                            <div class="video-box">
                              <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                            </div>
                          <?php } ?>
                          <div class="health-tip-detail">
                              <span><?php echo ucfirst($value->title); ?></span>
                              <div class="health-tip-time">
                                  <?php 
                                    foreach ($value->labels as $key => $lvalue) {
                                       if($lvalue->type == 'label_duration'){
                                           echo $lvalue->name.' read';
                                       }
                                    }
                                ?> 
                              </div>
                              <div class="health-tip-date">
                                  27 Oct ‘18
                              </div>
                          </div>
                      </a>
                    </div>
                  </div>
                </li>
                <?php } } ?>
              </ul>
            </div>
        </div>
        <div id="grow-tab">
            <div id="health-tips-box-slider5" class="flexslider thumbnail-tab">
              <ul class="slides">
                <?php if(count($data_array['grow_res'])){
                    foreach ($data_array['grow_res'] as $key => $value) {
                ?>
                <li>
                  <div class="item">
                    <div class="health-tips-box-inner">
                      <a href="<?php echo $data_array['base_url'] ?>jiyo/health/details/?id=<?php echo $value->id;?>">
                          <?php
                            $_url = $value->teaser_image->preview;
                            $path  = stristr($_url, 'jpg', true);
                            if($path!= "") {
                          ?>
                          <figure>
                            <img src="<?php echo $_url; ?>" alt="">
                          </figure>
                          <?php  } else { ?>
                            <div class="video-box">
                              <iframe width="100%" height="118" src="<?php echo $_url; ?>" frameborder="0"></iframe>
                            </div>
                          <?php } ?>
                          <div class="health-tip-detail">
                              <span><?php echo ucfirst($value->title); ?></span>
                              <div class="rows">
                                  <div class="health-tip-time">
                                      <?php 
                                        foreach ($value->labels as $key => $lvalue) {
                                           if($lvalue->type == 'label_duration'){
                                               echo $lvalue->name.' read';
                                           }
                                        }
                                    ?>
                                  </div>
                                  <div class="health-tip-date">
                                      27 Oct ‘18
                                  </div>
                              </div>
                          </div>
                      </a>
                    </div>
                  </div>
                </li>
                <?php } } ?>
              </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    require(['jquery','jquery/ui','magestore/flexslider'], function($, ui){
         var slider2_initialized = false;
         var slider3_initialized = false;
         var slider4_initialized = false;
         var slider5_initialized = false;
         
           $( "#tabs" ).tabs({
             cache: false,
             activate: function( event, ui ) {
                var tab_id = $(ui.newPanel).attr('id');
                if(tab_id == "nourish-tab" && slider2_initialized == false) {    
                    $('#health-tips-box-slider2').flexslider({
                      animation: 'slide',
                      animationLoop: true,
                      itemWidth: 280,
                      slideshow: false,
                      controlNav: false,
                      itemMargin: 10,
                      minItems: 2,
                      directionNav:false
                    });  
                    slider2_initialized = true;
                } else if(tab_id == "meditate-tab" && slider3_initialized == false) {      
                    $('#health-tips-box-slider3').flexslider({
                      animation: 'slide',
                      animationLoop: true,
                      itemWidth: 280,
                      slideshow: false,
                      controlNav: false,
                      itemMargin: 10,
                      minItems: 2,
                      directionNav:false
                    }); 
                    slider3_initialized = true;
                } else if(tab_id == "love-tab" && slider4_initialized == false) {      
                    $('#health-tips-box-slider4').flexslider({
                      animation: 'slide',
                      animationLoop: true,
                      itemWidth: 280,
                      slideshow: false,
                      controlNav: false,
                      itemMargin: 10,
                      minItems: 2,
                      directionNav:false
                    }); 
                    slider4_initialized = true;
                } else if(tab_id == "grow-tab" && slider5_initialized == false) {      
                    $('#health-tips-box-slider5').flexslider({
                      animation: 'slide',
                      animationLoop: true,
                      itemWidth: 280,
                      slideshow: false,
                      controlNav: false,
                      itemMargin: 10,
                      minItems: 2,
                      directionNav:false
                    }); 
                    slider5_initialized = true;
                }
             }
          });

       
        $(document).ready(function($) {
            $('#health-tips-box-slider1').flexslider({
              animation: 'slide',
              animationLoop: true,
              itemWidth: 280,
              slideshow: false,
              controlNav: false,
              itemMargin: 10,
              minItems: 2,
              directionNav:false
            });  
        });
    });
    </script>
</section>