<?php 
	$faqs = $block->getCollection();
?>
<section class="main-sec">
    <div class="header-part">
        <div class="heading-top">
            <a href="<?php echo $block->getBaseUrl();?>">
                <img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>">
            </a>
            <div class="heading-text">
                <?php /* @escapeNotVerified */ echo __('FAQ') ?>
            </div>
        </div>
    </div>
    <div class="faq-accordion-sec">
    	<?php if(!count($faqs)): ?>
    		<div><?php /* @noEscape */ echo __('No FAQ available'); ?></div>
    	<?php else: ?>
	        <div class="faq-content">
	    		<div class="">
                    <?php $i=1; foreach($faqs as $faq): ?>
                        <div id="faq<?php echo $i; ?>" class="collapsable collapsable-accordion faq-accordion">
                            <h4 class="ca-control"><a href="#faq<?php echo $i; ?>"><?php echo $faq->getTitle(); ?></a></h4>
                            <div class="ca-box">
                                <p><?php echo $faq->getContent(); ?></p>
                            </div>
                        </div>
                    <?php $i++; endforeach; ?>
                </div>
	        </div>
        <?php endif; ?>
    </div>
</section>
<script type="text/javascript">
	require (["jquery","jquery/ui"], function($){
        $('.collapsable-accordion').collapsable({
            accordion: true,
            fx: 'slide',
            fxDuration: 300
        });
	});
</script>
<style type="text/css">
.faq-accordion .ui-accordion-content {
    max-height: 2600px;
}
</style>