/*------------------------------*/
/*	VC Modules
/*------------------------------*/
.section-title-wrapper {
    padding-bottom: 30px;
    position: relative;
    text-align: center
}
.section-title-wrapper:before {
    color: $color__primary;
    content: '*';
    display: block;
    font-size: 48px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center
}
.section-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase
}
.section-sub-title {
    color: #777;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    margin: 0 0 15px;
    position: relative
}
.section-sub-title:before,
.section-sub-title:after {
    background: #d9d9d9;
    height: 1px;
    width: 65px;
    left: -90px;
    top: 50%;
    content: '';
    display: block;
    position: absolute
}
.section-sub-title:after {
    left: auto;
    right: -90px
}
.stat {
    color: #999;
    font-size: 16px;
    padding-bottom: 50px;
    padding-top: 70px;
    text-align: center
}
.stat-icon {
    color: $color__primary;
    font-size: 20px;
}
.stat-title {
    font-size: 35px;
}
.stat-sub-title {
    font-style: italic
}
.member {
    text-align: center
}
.member-image {
    margin-bottom: 20px
}
.member-title {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase
}
.member-sub-title {
    margin-bottom: 25px;
    position: relative
}
.member-sub-title:before {
    @include position(absolute, null, null, -12px, 50%);
    background: $color__primary;
    margin-left: -24px;
    height: 2px;
    width: 48px;
}