<style>

#refill-qty {

    width: 85px;

	margin-top: 3px;

}



#refill-fre {

    margin-top: 3px;

    width: 90px;

    -webkit-appearance: menulist;

    padding-right: 0px;

}





.refill-submit {

	box-shadow: none !important;

	background: #1979c3 !important;

    border: 1px solid #1979c3;

    color: #fff !important;

}



#succ-qty {

    margin-top: 5px;

	margin-right: 5px;

}



table.cart-table {

	width: 300px;

	max-width: 100%;

    box-shadow: lightgrey 0px 3px 5px 5px;

}

.down {

	font-size: 17px;

    border: solid #1979c3;

    border-width: 0 2px 2px 0;

    display: inline-block;

    padding: 3px;

    margin-left: 6px;

    margin-bottom: 2px;

}

.down {

    transform: rotate(45deg);

    -webkit-transform: rotate(45deg);

}

.active .down {

    border-width: 2px 0 0 2px;

    margin-bottom: 0;

}



.cart-table td{width: 200px; max-width: 100%;}

	.cart-table tr:first-child{border-bottom: 2px solid;}

	

.product-item-details .cart-table tbody td:first-child {

    border-right: 2px solid;

}

.dis-ib{display:inline-block;}



.cart.table-wrapper tbody td {

    padding-top: 8px;

}

</style>



<?php

$_item = $block->getItem();

$product = $_item->getProduct(); // Get cart product details

$additional_data = $block->getAdditionalData($product->getId());

$pd=$block->getProd($product->getId());

if($block->isCustLoggedin()){ 

if($pd->getResource()->getAttribute('refill_reminder')->getFrontend()->getValue($pd)=="Yes"){

?>

<?php if(!empty($additional_data)){ ?>

<a href="javascript:void(0);" id="show<?php echo $product->getId();?>" class="show" style="font-size:17px">Refill Reminder<i class="down"></i></a>

<table class="cart-table" border="2" style="display:none;" id="refill_reminder<?php echo $product->getId();?>">

	<span id="succ-qty" style="display:none;color:green;">Reminder Set Successfully</span>



	<tr>

		<td>

			

			<p><div><b>

  Quantity</b></div><input type="text" name="refill-qty" id="refill-qty" value="<?php echo $additional_data[0]['quantity'];?>">

				<span id="error-qty" style="color: red;display: none;font-size: 13px; margin-top: 5px;">Enter Valid Quantity</span>

		</p>

	</td>

	<td>

		<p><p><div><b>

  Frequency</b></div>

			<select name="frequency" id="refill-fre">

				<option value="7" <?php echo ($additional_data[0]['frequency'] == 7)?"selected":"" ?> >7 days</option>
				<option value="8" <?php echo ($additional_data[0]['frequency'] == 8)?"selected":"" ?> >8 days</option>
				<option value="9" <?php echo ($additional_data[0]['frequency'] == 9)?"selected":"" ?> >9 days</option>
                <option value="10" <?php echo ($additional_data[0]['frequency'] == 10)?"selected":"" ?> >10 days</option>
				<option value="11" <?php echo ($additional_data[0]['frequency'] == 11)?"selected":"" ?> >11 days</option>
				<option value="12" <?php echo ($additional_data[0]['frequency'] == 12)?"selected":"" ?> >12 days</option>
				<option value="13" <?php echo ($additional_data[0]['frequency'] == 13)?"selected":"" ?> >13 days</option>
				<option value="14" <?php echo ($additional_data[0]['frequency'] == 14)?"selected":"" ?> >14 days</option>
				<option value="15" <?php echo ($additional_data[0]['frequency'] == 15)?"selected":"" ?> >15 days</option>
				<option value="16" <?php echo ($additional_data[0]['frequency'] == 16)?"selected":"" ?> >16 days</option>
				<option value="17" <?php echo ($additional_data[0]['frequency'] == 17)?"selected":"" ?> >17 days</option>
				<option value="18" <?php echo ($additional_data[0]['frequency'] == 18)?"selected":"" ?> >18 days</option>
				<option value="19" <?php echo ($additional_data[0]['frequency'] == 19)?"selected":"" ?> >19 days</option>
				<option value="20" <?php echo ($additional_data[0]['frequency'] == 20)?"selected":"" ?> >20 days</option>
				<option value="21" <?php echo ($additional_data[0]['frequency'] == 21)?"selected":"" ?> >21 days</option>
				<option value="22" <?php echo ($additional_data[0]['frequency'] == 22)?"selected":"" ?> >22 days</option>
				<option value="23" <?php echo ($additional_data[0]['frequency'] == 23)?"selected":"" ?> >23 days</option>
				<option value="24" <?php echo ($additional_data[0]['frequency'] == 24)?"selected":"" ?> >24 days</option>
				<option value="25" <?php echo ($additional_data[0]['frequency'] == 25)?"selected":"" ?> >25 days</option>
				<option value="26" <?php echo ($additional_data[0]['frequency'] == 26)?"selected":"" ?> >26 days</option>
				<option value="27" <?php echo ($additional_data[0]['frequency'] == 27)?"selected":"" ?> >27 days</option>
				<option value="28" <?php echo ($additional_data[0]['frequency'] == 28)?"selected":"" ?> >28 days</option>
				<option value="29" <?php echo ($additional_data[0]['frequency'] == 29)?"selected":"" ?> >29 days</option>
				<option value="30" <?php echo ($additional_data[0]['frequency'] == 30)?"selected":"" ?> >30 days</option>
				<option value="31" <?php echo ($additional_data[0]['frequency'] == 31)?"selected":"" ?> >31 days</option>
			</select>

		</p></td>

	</tr>

	

	<tr>

		<td  class="padzv" colspan="2">

			<input type="hidden" name="product_id" id="refill-pid" value="<?php echo $product->getId();?>">

			<button type="button" class="refill-submit" id="refill-submit<?php echo $product->getId();?>">Submit</button>

			<span class="dis-ib"><span id="succ-qty" style="display:none;color:green; padding-top:10px;">Reminder Set Successfully</span></span>

		</td>

	</tr>

</table>	

<?php }

else{ ?>

<table class="cart-table" border="2" id="refill_reminder<?php echo $product->getId();?>">

<a href="javascript:void(0);" id="show<?php echo $product->getId();?>" class="show" style="font-size:17px">Refill Reminder<i class="down"></i></a>

<span id="succ-qty" style="display:none;color:green; padding-top:10px;">Reminder Set Successfully</span>

<tr>

	<td><p><div><b>

  Quantity</b></div>

		<input type="text" name="refill-qty" id="refill-qty" value="">

		<span id="error-qty" style="color: red;display: none;font-size: 13px; margin-top: 5px;">Enter Valid Quantity</span>

		</p>

	</td>

	<td>

	<p><div><b>

  Frequency</b></div>

		<select name="frequency" id="refill-fre">

			<option value="7">7 days</option>
       <option value="8">8 days</option>
       <option value="9">9 days</option>
       <option value="10">10 days</option>
       <option value="11">11 days</option>
       <option value="12">12 days</option>
       <option value="13">13 days</option>
       <option value="14">14 days</option>
       <option value="15">15 days</option>
       <option value="16">16 days</option>
       <option value="17">17 days</option>
       <option value="18">18 days</option>
       <option value="19">19 days</option>
       <option value="20">20 days</option>
       <option value="21">21 days</option>
       <option value="22">22 days</option>
       <option value="23">23 days</option>
       <option value="24">24 days</option>
       <option value="25">25 days</option>
       <option value="26">26 days</option>
       <option value="27">27 days</option>
       <option value="28">28 days</option>
       <option value="29">29 days</option>
       <option value="30">30 days</option>
       <option value="31">31 days</option>

		</select>

		</p>

	</td>

</tr>



<tr>

	<td class="padzv" colspan=2>

		<input type="hidden" name="product_id" id="refill-pid" value="<?php echo $product->getId();?>">

		<button type="button" class="refill-submit" id="refill-submit<?php echo $product->getId();?>">Submit</button>

		<span class="dis-ib"><span id="succ-qty" style="display:none;color:green; float:right;">Reminder Set Successfully</span></span>

	</td>

</tr>

</table>



<?php }	
 }
}
?>



