$color__background-body: #fff;

$color__text-screen: #020202;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #222222;
$color__link-hover: #222222;
$color__text-main: #404040;

$color__primary: #f58d88;
$color__meta: #777;
$color__post-title: #000;
$color__post-border: rgba(0, 0, 0, 0.07);
