// Theme Information
//--------------------------------------------//
$theme_name: "Base Theme";
$theme_uri: "https://themespie.com/";
$theme_description: "Base Theme for ThemesPie";
$theme_version: "1.0";
$theme_author: "ThemesPie";
$theme_author_uri: "https://themespie.com/";
$theme_license: "GPL";
$theme_tags: "responsive-layout, post-formats";