$font__main: 'Droid Serif';
$font__headings: 'PT Serif', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__meta: 'Montserrat';
$font__menu: 'Source Sans Pro';
$font__post-content: 'PT Sans';
$font__widget: 'PT Serif';
$font__widget-title: 'PT Serif';
$font__widget-meta: 'Open Sans';