<?php
$_brandCollection = $block->getBrandCollection();
$_helper = $this->helper('Ves\Brand\Helper\Data');
if ( $_brandCollection->count() ){
?>
<section class="top-brand-sec featured-brand-sec">
   <div class="main-heading"><?php /* @escapeNotVerified */ echo __('Featured Brands'); ?> <!-- <a href="#" class="pull-right"><?php /* @escapeNotVerified */ //echo __('VIEW ALL'); ?></a> --></div>
   <div class="featured-brand-slider flexslider thumbnail-tab">
    <ul class="slides">
      <?php foreach ($_brandCollection as $_brand ) { ?>
        <li>
            <a href="<?php echo $_brand->getBrandUrl(); ?>">
              <div class="white-box">
                <img src="<?php echo $_brand->getThumbnailUrl(); ?>"/>
              </div>
            </a>
        </li>
     <?php } ?>
    </ul>
  </div>
</section>
<script>
    (function(){
        require(['jquery', 'magestore/flexslider'], function($) {
            $(document).ready(function($) {
                $('.featured-brand-slider').flexslider({
                  animation: "slide",
                  animationLoop: false,
                  itemWidth: 210,
                  itemMargin: 0,
                  minItems: 3,
                  maxItems: 3,
                  controlNav: false,
                  directionNav: false,
                  start: function(slider){
                    $('body').removeClass('loading');
                  }
                });
            });
        });
    })();
</script>
<?php } ?>