/*-----------------------*/
/*	11.1. Contact Form 7
/*-----------------------*/
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="date"],
.wpcf7 input[type="number"],
.wpcf7 textarea {
  background: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 10px;
}
.wpcf7-submit {
  background: #262626;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 16px;
  text-transform: uppercase;
}
.wpcf7-submit:hover {
  background: #000000;
}