/*---[ JetPack Infinite Scroll ]---*/
/* Hides navigation links and site footer when infinite scroll is active */
.infinite-scroll .navigation,
.infinite-scroll.neverending #footer {
  display: none;
}
/* Shows the footer again in case all posts have been loaded */
.infinity-end.neverending #footer {
  display: block;
}
#infinite-handle {
  margin-bottom: 30px;
  text-align: center;
}
#infinite-handle span {
  display: inline-block;
}
.infinite-loader {
  margin-bottom: 30px !important;
}
.infinite-loader .spinner {
  left: 50% !important;
}
.infinite-scroll .content {
  margin-bottom: 3px;
}

/*---[ JetPack Related Styles ]---*/
.post .sd-content ul li:before {
  content: '';
}
#infinite-footer .container {
    max-width: 100%;
    width: 1170px
}
#disqus_thread {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  padding: 20px;
}