<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->

<div id="searchsuite_autocomplete" class="searchsuite-autocomplete" data-bind="visible: showPopup()">

    <div data-bind="visible: anyResultCount()">
        <div class="suggested" data-bind="visible: result.suggested.data().length > 0">
            <div class="title"><!-- ko i18n: 'Suggested'--><!-- /ko --></div>
            <ul id="suggested" role="listbox" data-bind="foreach: result.suggested.data">
                <li >
                    <a data-bind="attr: { href: url, title: title }">
                        <span data-bind="text: title"></span> (<span data-bind="text: num_results"></span>)
                    </a>
                </li>
            </ul>
        </div>

        <div class="products" data-bind="visible: result.products.data().length > 0">
            <div class="title">
                <!-- ko i18n: 'Products'--><!-- /ko -->
                <a class="see-all" data-bind="attr: {href: result.products.url}">
                    <!-- ko i18n: 'See All' --><!-- /ko -->
                    <span data-bind="text: result.products.size"></span>
                </a>
            </div>
            <ul id="products" role="listbox" data-bind="foreach: result.products.data">
                <li>
                    <div class="qs-option-image" data-bind="visible: image">
                        <a data-bind="attr: { href: url, title: name }">
                            <img data-bind="attr: { src: image, title: name }" />
                        </a>
                    </div>
                    <div class="qs-option-info" data-bind="css: {noimage: !image}">
                        <div class="qs-option-title" data-bind="visible: name">
                            <a data-bind="attr: { href: url, title: name }, text: name"></a>
                        </div>
                        <div class="qs-option-reviews" data-bind="html: reviews_rating, visible: reviews_rating"></div>
                        <div class="qs-option-sku" data-bind="visible: sku"><!-- ko i18n: 'SKU'--><!-- /ko -->: <span data-bind="text: sku"></span></div>
                        <div class="qs-option-shortdescription" data-bind="text: short_description, visible: short_description"></div>
                        <div class="qs-option-description" data-bind="text: description, visible: description"></div>
                        <div class="qs-option-price" data-bind="html: price, visible: price"></div>
                        <div class="qs-option-addtocart" data-bind="with: add_to_cart, visible: add_to_cart">
                            <form data-role="searchsuiteautocomplete-tocart-form" method="post" data-bind="attr: { action: formUrl}">
                                <input type="hidden" name="product" value="<?php echo $block->getProductId() ?>" data-bind="attr: { value: productId}">
                                <input type="hidden" data-bind="attr: { name: paramNameUrlEncoded, value: urlEncoded}">
                                <input name="form_key" type="hidden" data-bind="attr: { value: formKey}">
                                <button type="submit" title="Add to Cart" class="action tocart primary">
                                    <span> Add to Cart </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="no-result" data-bind="visible: !anyResultCount()"><!-- ko i18n: 'No Result'--><!-- /ko --></div>

</div>