<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php 
    $current_url = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
    $parsed_url_array = parse_url($current_url);
    $url_path = $parsed_url_array['path'];
    $isHealingCardRelodflag = false;
    if (in_array('53923', explode('/', $url_path))) {
        $isHealingCardRelodflag = true;
    }
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Update Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart update">
        <fieldset class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
            <div class="field qty">
                <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
                <div class="control">
                    <input type="number" 
                        name="qty" 
                        id="qty"
                        <?php if ($isHealingCardRelodflag): ?>
                            min="500"
                            max="45000"
                        <?php endif; ?> 
                        maxlength="12"
                        value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" 
                        title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" 
                        class="input-text qty"
                        isHealingCard="<?php echo ($isHealingCardRelodflag) ? 'true' : 'false'; ?>"  
                        data-validate="{'required-number':true,digits:true}"/>
                        <span class="error-quantity"></span>
                        <span class="qty-per-discount-apply-update" style="padding-left: 20px; font-size: 13px; color: red;"></span>
                </div>
            </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                        title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                        class="action primary tocart"
                        id="product-updatecart-button">
                    <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                </button>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </fieldset>
    </div>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "validation": {},
                "addToCart": {
                    "cartButtonId": "#product-updatecart-button",
                    "cartForm": "#product_addtocart_form"
                }
            }
        }
    </script>
<?php endif; ?>
<!-- Quantity per discount code added here. -->
<script>
require(['jquery'],function($){
    
    var product_id = $('#prod_id').val();
    var product_qty = '';
    var discount_applied_msg;
    var symbol_inr = "₹";

    $('#qty').on('keyup', function(){

        // healing card product
        if(product_id=="53923"){
            return false;
        }

        // clear the message
        $('.qty-per-discount-apply-update').html("");

        // if qty is 0 than do not send the request
        if($(this).val()=='' || $(this).val() <= 0){
            return false;
        }
        
        $.ajax({
            showLoader: true,
            url: window.location.origin+'/subscribe/discount/calculate',
            data: {
                "product_id": <?php echo $_product->getId();?>,
                "product_qty": $(this).val(),
                "product_sku": ''
            }
        }).done(function(data) {
           
            if(data.discounterPrice !== '') {

                discount_applied_msg = new String('You save '+data.appliedDiscount+' % on this product with '+data.qty+' quantity.');

                if($('.special-price').find('.price').is(':visible')) {
                    $('.special-price').find('.price').html("₹"+data.discounterPrice);
                    $('.qty-per-discount-apply-update').html(discount_applied_msg);
                }
                else {
                    $('.price').html("₹"+data.discounterPrice);
                    $('.qty-per-discount-apply-update').html(discount_applied_msg);
                }
            }
        });

    });
});
</script>
