<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<section class="main-sec">
    <div class="header-part no-margin-b">
        <div class="heading-top">
          <a href="<?php echo $block->getBaseUrl();?>">
          	<img src="<?php echo $this->getViewFileUrl('images/left-arrow.png'); ?>" />
          </a>
          <div class="heading-text">
            Cart
          </div>
        </div>
    </div>
    <div class="wishlist-empty-sec cart-empty-sec">
        <div class="wishlist-empty-icon">
            <img src="<?php echo $this->getViewFileUrl('images/empty-cart.png'); ?>" />
        </div>
        <div class="main-heading"><?php /* @escapeNotVerified */ echo __('Oops... Your Cart is empty!') ?></div>
        <div class="main-subheading"><?php /* @escapeNotVerified */ echo __('Let’s start shopping') ?></div>
        <div class="rows text-center">
            <?php /* @escapeNotVerified */ echo __('<a href="%1" class="btn green-btn green-shop-now-btn">Shop Now</a>',
            $block->escapeUrl($block->getContinueShoppingUrl()));?>
        </div>
    </div>
</section>
