html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, hgroup, mark, menu, meter, nav,
output, progress, section, summary, time, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}
article, aside, dialog, figure, footer, header, 
hgroup, nav, section, blockquote { 
	display: block;
}
nav ul {
	list-style: none;
}
ol {
	list-style: decimal;
}
ul {
	list-style: disc;
}
ul ul {
	list-style: circle;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: underline;
}
del {
	text-decoration: line-through;
}
mark {
	background: none;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;	
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
input[type="submit"], input[type="button"], button {
    padding: 0 !important;
    margin: 0 !important;
}
input, select, a img {
	vertical-align: middle;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px
}
a {
	color: #ff4444;
	text-decoration: none
}
a:hover { color: #111 }
p { margin-bottom: 20px }
ol,
ul {
	margin-left: 20px
}
li {
	padding: 5px 0 0
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-bottom: 30px
}
pre {
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 10px;
}
.conatainer {
	margin: 0 auto;
	width: 940px
}
.header {
	background: #1d1d1d;
	width: 100%
}
.header a:hover {
	color: #ff4444;
	text-decoration: underline
}
.top-bar {
	color: #fff;
	padding: 10px 0;
	text-align: center
}
.title-bar {
	background: #fff;
	color: #111;
	font-size: 36px;
	line-height: 42px;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase
}
.main-header {
	overflow: hidden
}
.header-left {
	border-right: 1px solid #272727;
	color: #fff;
	float: left;
	margin-right: 2%;
	padding: 10px 0;
	padding-right: 2%;
	width: 46%
}
.header-right {
	color: #fff;
	float: left;
	padding: 20px 0;
	width: 45%;
}
.main-content {
	margin: 0 auto;
	width: 940px
}
.sidebar {
	float: left;
	font-size: 13px;
	margin: 0 20px 0 0;
	width: 220px
}
.table-content {
	border: 1px solid #111;
	margin-top: 30px;
	width: 220px
}
.table-content h4 {
	background: #111;
	color: #fff;
	font-size: 14px;
	margin-bottom: 0;
	padding: 10px;
	text-transform: uppercase
}
.table-content ol {
	padding: 15px 15px 0
}
.content {
	float: right;
	margin-top: 30px;
	width: 700px
}
.main-title {
	border: 1px solid #111;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 20px;
	padding: 10px;
	text-transform: uppercase
}
section {
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
	padding-bottom: 20px
}
.content h4 {
	border-bottom: 1px solid #eee;
	font-size: 18px;
	line-height: 26px;
	padding-bottom: 15px
}
.content ul,
.content ol { margin-bottom: 30px }
.content img {
	border: 1px solid #eee;
	margin-bottom: 20px;
	padding: 5px
}
.sticky {
	position: fixed;
	top: 0;
	z-index: 100;
	border-top: 0;
}