<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer\Actions\Edit */
?>
<?php if ($block->isProductVisibleInSiteVisibility()): ?>
	<?php if ($this->getItem()->getProduct()->getId() !== '53923'): ?>
		<a class="action action-edit" 
			href="<?php /* @escapeNotVerified */ echo $block->getConfigureUrl() ?>" 
			title="<?php echo $block->escapeHtml(__('Edit item parameters')); ?>">
	        <span>
	            <?php /* @escapeNotVerified */ echo __('Edit') ?>
	        </span>
	   </a>
	<?php endif; ?>
<?php endif ?>