<?php

/**

 * Copyright © 2013-2017 Magento, Inc. All rights reserved.

 * See COPYING.txt for license details.

 */

use Magento\Framework\App\Action\Action;



// @codingStandardsIgnoreFile



?>

<?php

/**

 * Product list template

 *

 * @var $block \Magento\Catalog\Block\Product\ListProduct

 */

?>
<style>
.custom-discount-new-percent {
    float: left;
    width: 32%;
    text-align: center;
    background-color: #0084b4 !important;
    height: 45px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 100%;
    font-size: 13px;
}
.custom-discount-new-price {
    float: right;
    line-height: 40px;
    font-weight: 1000;
	background-color:none !important;
    width: 60%;
    text-align: center;
    opacity: 0.5;
    color: #0081b4 !important;
    text-align: center;
}
</style>
<?php

$_productCollection = $block->getLoadedProductCollection();

$_helper = $this->helper('Magento\Catalog\Helper\Output');

?>

<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');

?>

<?php if (!$_productCollection->count()): ?>

    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>

<?php else: ?>

    <?php echo $block->getToolbarHtml() ?>

    <?php echo $block->getAdditionalHtml() ?>

    <?php

    if ($block->getMode() == 'grid') {

        $viewMode = 'grid';

        $image = 'category_page_grid';

        $showDescription = false;

        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;

    } else {

        $viewMode = 'list';

        $image = 'category_page_list';

        $showDescription = true;

        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;

    }

    /**

     * Position for actions regarding image size changing in vde if needed

     */

    $pos = $block->getPositioned();

    ?>



    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">

        <?php $iterator = 1; ?>

        <ol class="products list items product-items">

            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>

            <?php foreach ($_productCollection as $_product): ?>

                <?php

                // code added start for offer price

                $productPrice = $_product->getPrice();

                $productSpecialPrice = $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getBaseAmount();

                $save = $productPrice-$productSpecialPrice;

                $formattedPrice = $priceHelper->currency($save, true, false);

                $offer = round((($productPrice-$productSpecialPrice)/$productPrice)*100);

                $discountpercent = 0; ?>



                <?php if(isset($productSpecialPrice) && !empty($productSpecialPrice)){

                    $discount = $productPrice - $productSpecialPrice;

                    $discountpercent = round(($discount/$productPrice) * 100);

                }

                ?>



                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li>

                <li class="item product product-item">' ?>

                <div class="product-item-info" data-container="product-grid">

                  <div id="demo"></div>



                                           <?php  $block->getProductDiscount($_product->getId()); ?>

                      

                    <?php

                    $productImage = $block->getImage($_product, $image);

                    if ($pos != null) {

                        $position = ' style="left:' . $productImage->getWidth() . 'px;'

                            . 'top:' . $productImage->getHeight() . 'px;"';

                    }

                    ?>

                    <?php // Product Image ?>

                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">

                        <?php if($offer > 0){?>

                            <div class="offer_detailss"><span class="save_prices"><?php echo "Save $formattedPrice";?></span></div>

                        <?php } ?>
<!-- 
                        <?php //if($discountpercent && $discountpercent>0): ?>

                            <div class="discount_offers"><span class="percentages custom-discount"><?php //echo $discountpercent."%OFF";?></span></div>

                        <?php // endif; ?> -->

                        <?php echo $productImage->toHtml(); ?>

                    </a>

                    <div class="product details product-item-details">

                        <?php

                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);

                        ?>

                        <strong class="product name product-item-name">

                            <a class="product-item-link"

                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">

                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>

                            </a>

                        </strong>

                        <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>

                        <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>

                        <?php echo $block->getProductDetailsHtml($_product); ?>

                        <div class="product-item-inner">

                            <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>

                                <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>

                                    <?php if ($_product->isSaleable()): ?>

                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>



                         

                                        

                                        <div class="popup" onclick="myFunction('myPopup<?php echo $_product->getId();?>')">

                                            <button type="button"

                                                    title="<?php echo $block->escapeHtml(__('Get Coupon Code')); ?>"

                                                    class="action tocart primary">

                                                <span><?php /* @escapeNotVerified */ echo __('Get Coupon Code') ?></span>

                                            </button>

                          <span class="popuptext" id="myPopup<?php echo $_product->getId();?>">

                               

                         <?php if ($_product->isSaleable()): ?>

                

                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>

                                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
<!-- 
                                            <button type="button" class="close cust_amaz_sty" aria-label="Close" style="float:right;" onclick="closepopup('myPopup<?php //echo $_product->getId();?>')">

                                                  <span aria-hidden="true">&times;</span>

                                                </button> -->

                                            <div class="coupon_collected">

                                                <span>Coupon Collected</span>

                                                <?php $block->getProductCouponPrice($_product->getId());  ?>

                                            </div>

                                            <div>

                                                <div>

                                                    <img style="width:150px;height:150px;float:left;" src="<?php echo $block->getBaseUrl()."pub/media/catalog/product".$_product->getData('image'); ?>">

                                                </div>

                                                <div class="coupon_prd_name">

                                                    <p class="coupon_product_name"><?php 
                                                    
                                                    echo substr($_productNameStripped,0,30).'...'; ?></p>

                                                    <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">

                                                    <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">

                                                    <?php echo $block->getBlockHtml('formkey')?>

                                                    <div class="coupon_price_final">

                                                        <?php $block->getCouponFinalPrice($_product->getId());  ?>

                                                    </div>

                                                    <button type="submit"

                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"

                                                    class="action tocart tocartreal primary">

                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>

                                                    </button> 

                                                </div> 

                                            </div>  

                                        </form>

                                    <?php else: ?>

                                        <?php if ($_product->getIsSalable()): ?>

                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>

                                        <?php else: ?>

                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>

                                        <?php endif; ?>

                                    <?php endif; ?>

                          </span>

                        </div>

                                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>

                                            <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>

                                        <?php endif; ?>

                                    <?php else: ?>

                                        <?php if ($_product->getIsSalable()): ?>

                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>

                                        <?php else: ?>

                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>

                                        <?php endif; ?>

                                    <?php endif; ?>

                                </div>

                                <div data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>

                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>

                                        <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>

                                    <?php endif; ?>

                                </div>

                            </div>

                            <?php if ($showDescription):?>

                                <div class="product description product-item-description">

                                    <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>

                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"

                                       class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>

                                </div>

                            <?php endif; ?>

                        </div>

                    </div>

                </div>

                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>

            <?php endforeach; ?>

        </ol>

    </div>

    <?php echo $block->getToolbarHtml() ?>

    <?php if (!$block->isRedirectToCartEnabled()) : ?>

        <script type="text/x-magento-init">

        {

            "[data-role=tocart-form], .form.map.checkout": {

                "catalogAddToCart": {}

            }

        }

        </script>

    <?php endif; ?>

<?php endif; ?>
<style>

    .coupon_collected {

        margin: 15px 15px 0px 15px;

        padding: 10px 10px 10px 30px;

        text-align: left;

        border: 2px solid darkseagreen;

    }

    .cust_amaz_sty{

        display: block;

        background-color: #fff;

        border: 0;

        padding: 3px;

        position: absolute;

        top: 0px;

        right: 10px;

    }

    .coupon_prd_name{

        position: absolute;

        top: 110px;

        right: 0;

        width: 40%;

        padding-right: 12px;

        text-align: justify;

    }

    .coupon_price_final{

        padding: 0 0 10px 0;

    }

    .display-offer-list {

   float: left;

       position: relative;

    z-index: 1;

   width: 100%;

   left: 0px;

}

.custom-discount-new-percent {

   float: left;

   width: 32%;

   text-align: center;

   background-color: #0084b4 !important;

   height: 45px;

   line-height: 20px;

   color: #fff;

   font-weight: bold;

   border-radius: 100%;

   font-size: 13px;

}

.custom-discount-new-price {

   float: right;

   line-height: 40px;

   font-weight: bold;

   width: 62%;

   text-align: center;

   background-color: white !important;

   opacity: 0.5;

   color: #0081b4 !important;

   text-align: center;

}


</style>
