<?php if(!empty($block->getProductBySku()) && count($block->getProductBySku()) > 0 ) { ?>
<section class="hot-seller-sec">
  <div class="main-heading"><?php echo __('Hot Sellers'); ?></div>
  <div class="hot-seller-slider flexslider thumbnail-tab">
    <ul class="slides">
        <?php foreach ($block->getProductBySku() as $_item) { ?>
        <li>
          <div class="item">
              <div class="white-box">
                  <!-- <div class="offer-tag small-tag">Save<br/>10%</div> -->
                  <div class="cat-icon">
                    <?php 
                        $imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\ListProduct');
                        $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
                        $productImage = $imageBlock->getImage($_item, 'category_page_grid');
                    ?>
                    <a href="<?php echo $_item->getProductUrl(); ?>"><?php echo $productImage->toHtml()  ?></a>
                  </div>
                  <div class="product-name"><a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl(); ?>"><?php echo $_item->getName();?></a></div>
                  <div class="product-price"><?php echo $abstractProductBlock->getProductPrice($_item) ?></div>
                  <div class="rows">
                      <?php 
                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                        $listBlock = $objectManager->get('\Magento\Catalog\Block\Product\ListProduct');
                        $addToCartUrl =  $listBlock->getAddToCartUrl($_item);
                      ?>
                      <form data-role="tocart-form" action="<?php echo $addToCartUrl; ?>" method="post"> 
                         <?php echo $block->getBlockHtml('formkey')?>
                         <button type="submit" title="Add to Cart" class="tocart add-cart-btn">
                           <span>Add to Cart</span>
                         </button>
                      </form>
                  </div>
              </div>
          </div>
        </li>
        <?php } ?>
    </ul>
  </div>
  <style type="text/css">
    .hot-seller-sec{float: unset;}
  </style>
  <script>
        (function(){
            require(['jquery', 'magestore/flexslider'], function($) {
                $(document).ready(function($) {
                    $('.hot-seller-slider').flexslider({
                        animation: 'slide',
                        animationLoop: true,
                        itemWidth: 280,
                        slideshow: false,
                        controlNav: false,
                        itemMargin: 10,
                        minItems: 2,
                        directionNav:false,
                    });
                });
            });
        })();
  </script>
</section>
<?php  } ?>